.border{
    border: 1px solid #ccc;
}
.menu-desc{
    font-weight: 600; 
    font-size: 15px;
}
.margin-right-30{
    margin-right: 30px;
}
.font-style{
    font-size: 11px;
    font-style: oblique;
}
.filter-text{ 
    border: 1px solid #ccc;
}

.ik-box1 {
    margin-left: 0px !important;
    width: 100.1%;
    height: 33px;
    float: left;
    border-bottom: 1px solid #cccccc;
    /*background: #ffffff;*/
    /*background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);*/
    /*background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);*/
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}
.ik-title {
    float: left;
    padding-bottom: 5px;
    position: relative;
    font-size: 12px;
    cursor: pointer;
    padding: 7px 10px;
	font-size: 14px;
    font-weight: 600;
}
.chrometab-box1 {
    border: 1px solid #bcbbd0;
}
.tab-list-view-wrapper {
    position: relative;
}
.order-item {
    position: relative;
    padding: 7px 10px;
    vertical-align: top;
    border-bottom: 1px solid #e5e5e5;
}
 .item-more-icon {
    position: absolute;
    right: -10px;
    top: calc(50% - 13px);
    width: 25px;
    height: 25px;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid #fff;
    vertical-align: middle;
    color: #fb6e52 !important;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
}

.item-more-icon i {
    font-size: 17px;
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.item-more-icon i:before {
    content: "";
}
.order-item:before{
	background-color: #fb6e52 !important;
}

/*menu icon*/

.notification-icon {
    float: left;
}
.notification-icon i {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 32px;
    margin-right: 10px;
    margin-left: 6px;
    font-size: 24px;
    border-radius: 50%;
}
.white {
    color: #fff !important;
}

/* Panel css */
.databox.radius-bordered {
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
}

.dashboard-databox {
    display: inline-block;
    width: 90%;
    height: 65px;
    padding: 0;
    font-size: 0;
    margin-bottom: 30px;
    vertical-align: top;
    min-width: 130px;
}

.bg-white {
    background-color: #fff !important;
}

.databox.radius-bordered .databox-left {
    -webkit-border-radius: 3px 0 0 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px 0 0 3px;
    -moz-background-clip: padding;
    border-radius: 3px 0 0 3px;
    background-clip: padding-box;
}

.dashboard-databox .databox-left[class*="bg-"] {
    color: #fff;
}

.dashboard-databox .databox-left {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 0;
    width: 65px;
    height: 65px;
    padding: 10px;
    color: #f96c50;
}

.bg-themeprimary {
    background-color:#f96c50 !important;
}

.dashboard-databox .databox-piechart {
    padding-top: 0;
    margin: 0 auto;
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.dashboard-setting-edit.address>.modal-dialog {
    width: 95% !important;
}

.dashboard-setting-edit-details.address>.modal-dialog {
    width: 30% !important;
}
.dashboard-setting-component-details.address>.modal-dialog {
    width: 50% !important;
}

.modalheader {
    font-size: 15px;
    font-weight: 700;
}

.dashboard-databox .databox-right {
    border: 1px solid #eee;
    border-radius: 0 3px 3px 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    -lh-property: 0;
    width: -webkit-calc(100% - 65px);
    width: -moz-calc(100% - 65px);
    width: calc(100% - 65px);
    height: 65px;
    color: #555;
    padding: 5px 10px;
}

.dashboard-databox .databox-stat {
    display: inline-block;
    position: absolute;
    right: 0px;
    /* top: 7px; */
    /* padding: 2px 5px; */
}

.dashboard-databox .databox-text {
    display: block;
    font-size: 11px;
    font-weight: 600;
    margin: 4px 0 2px;
    position: relative;
}
.dashboard-databox .databox-title {
    display: block;
    font-size: 15px;
    font-weight: 600;
    margin: 4px 0 2px;
    position: relative;
    color: #555555cf;
}
.dashboard-databox .databox-stat .stat-icon.icon-lg {
    font-size: 16px;
}

.dashboard-databox .databox-stat .stat-icon {
    display: inline-block;
    font-size: 13px;
}

.dashboard-setting-icon {
    padding: 4px 10px;
    font-size: 13px;
    cursor: pointer;
    color: rgb(170, 170, 170);
}
