<div class="clearfix tc-menu-groups">
    <!-- Breadcrumb -->
    <div class="clearfix tc-breadcrumb" data-ng-if="MenuGroupsCtrl.ePage.Masters.ActiveApplication == 'TC'">
        <i class="fa fa-home home-icon"></i>
        <div class="breadcrumb-list-wrapper">
            <ol class="breadcrumb">
                <li data-ng-repeat="x in MenuGroupsCtrl.ePage.Masters.Breadcrumb.ListSource" data-ng-if="!x.IsActive">
                    <a href="javascript:void(0);" data-ng-bind="x.Description" data-ng-click="MenuGroupsCtrl.ePage.Masters.Breadcrumb.OnBreadcrumbClick(x)"></a>
                </li>
                <li data-ng-repeat="x in MenuGroupsCtrl.ePage.Masters.Breadcrumb.ListSource" data-ng-if="x.IsActive" data-ng-bind="x.Description"
                    class="active"></li>
            </ol>
        </div>
        <span class="tc-breadcrumb-app-name" data-ng-if="MenuGroupsCtrl.ePage.Masters.QueryString.AppName" data-ng-bind="MenuGroupsCtrl.ePage.Masters.QueryString.AppName"></span>
    </div>
    <!-- Header -->
    <div class="clearfix tc-header-container">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-0">
            <div class="tc-header with-drop-down">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-0">
                    <select chosen class="form-control" data-ng-model="MenuGroupsCtrl.ePage.Masters.MenuGroupType.ActiveMenuGroupType.Key" data-ng-options="x.Key as x.Value for x  in MenuGroupsCtrl.ePage.Masters.MenuGroupType.Listsource"
                        data-ng-change="MenuGroupsCtrl.ePage.Masters.MenuGroupType.OnMenuGroupTypeChange((MenuGroupsCtrl.ePage.Masters.MenuGroupType.Listsource | filter: {'Key': MenuGroupsCtrl.ePage.Masters.MenuGroupType.ActiveMenuGroupType.Key})[0])"></select>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-5 pt-4 text-right">
                    <button class="btn btn-xs btn-info" data-ng-click="MenuGroupsCtrl.ePage.Masters.MenuGroups.AddNew()" data-ng-disabled="!MenuGroupsCtrl.ePage.Masters.MenuGroupType.ActiveMenuGroupType.Key">New</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 p-0">
            <div class="tc-header edit-view">
                <span data-ng-bind="'Details'"></span>
                <button class="btn btn-default tc-btn-edit btn-xs pull-right ml-10" data-ng-click="MenuGroupsCtrl.ePage.Masters.MenuGroups.Edit()"
                    data-ng-disabled="!MenuGroupsCtrl.ePage.Masters.MenuGroups.ActiveMenuGroups">Edit</button>
                <button class="btn btn-default tc-btn-delete btn-xs pull-right ml-10" data-ng-click="MenuGroupsCtrl.ePage.Masters.MenuGroups.DeleteConfirmation()"
                    data-ng-bind="MenuGroupsCtrl.ePage.Masters.MenuGroups.DeleteBtnText" data-ng-disabled="MenuGroupsCtrl.ePage.Masters.MenuGroups.IsDisableDeleteBtn || !MenuGroupsCtrl.ePage.Masters.MenuGroups.ActiveMenuGroups"></button>
            </div>
        </div>
    </div>
    <!-- Body -->
    <div class="clearfix">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-0 tc-page-height-fixed">
            <div class="tc-list-container">
                <div class="tc-list-search">
                    <input type="text" placeholder="Search..." class="form-control input-sm" data-ng-model="MenuGroupsCtrl.ePage.Masters.Search">
                </div>
                <ul class="tc-list-ul">
                    <div class="p-15 text-center tc-loading" data-ng-if="!MenuGroupsCtrl.ePage.Masters.MenuGroups.MenuGroupsList">
                        <i class="fa fa-spin fa-spinner"></i>
                    </div>
                    <div data-ng-if="MenuGroupsCtrl.ePage.Masters.MenuGroups.MenuGroupsList && (MenuGroupsCtrl.ePage.Masters.MenuGroups.MenuGroupsList | filter: MenuGroupsCtrl.ePage.Masters.Search).length===0"
                        class="p-15 text-center">
                        <i>No Records...</i>
                    </div>
                    <li data-ng-if="MenuGroupsCtrl.ePage.Masters.MenuGroups.MenuGroupsList && (MenuGroupsCtrl.ePage.Masters.MenuGroups.MenuGroupsList | filter: MenuGroupsCtrl.ePage.Masters.Search).length > 0"
                        data-ng-repeat="x in MenuGroupsCtrl.ePage.Masters.MenuGroups.MenuGroupsList | filter: MenuGroupsCtrl.ePage.Masters.Search"
                        data-ng-click="MenuGroupsCtrl.ePage.Masters.MenuGroups.ActiveMenuGroups.PK != x.PK && MenuGroupsCtrl.ePage.Masters.MenuGroups.OnMenuGroupsClick(x)"
                        data-ng-class="{'active': MenuGroupsCtrl.ePage.Masters.MenuGroups.ActiveMenuGroups.PK == x.PK}">
                        <div class="clearfix tc-list">
                            <div class="tc-list-name">
                                <i class="fa fa-circle-o mr-10"></i>
                                <span class="text-single-line" data-ng-bind="x.Description"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 p-0 tc-page-height-fixed">
            <div class="pt-10 pb-10 tc-details-view clearfix">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="clearfix form-group">
                        <label class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">GroupName</label>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                            <label data-ng-bind="MenuGroupsCtrl.ePage.Masters.MenuGroups.ActiveMenuGroups.GroupName || MenuGroupsCtrl.ePage.Masters.emptyText"></label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="clearfix form-group">
                        <label class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">Description</label>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                            <label data-ng-bind="MenuGroupsCtrl.ePage.Masters.MenuGroups.ActiveMenuGroups.Description || MenuGroupsCtrl.ePage.Masters.emptyText"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tc-section-divider"></div>
            <div class="tc-list-container tc-list-container-inner-redirect clearfix" data-ng-if="MenuGroupsCtrl.ePage.Masters.MenuGroups.ActiveMenuGroups.PK">
                <ul class="tc-list-ul">
                    <li data-ng-click="MenuGroupsCtrl.ePage.Masters.MenuGroups.OnRedirectListClick(x)" data-ng-repeat="x in MenuGroupsCtrl.ePage.Masters.MenuGroups.RedirectPagetList | filter: {GroupType: MenuGroupsCtrl.ePage.Masters.MenuGroupType.ActiveMenuGroupType.Key}">
                        <div class="clearfix tc-list">
                            <div class="tc-list-name">
                                <i class="fa {{x.Icon}} mr-10" data-ng-style="{'color': x.Color}"></i>
                                <span class="text-single-line" data-ng-bind="x.Description"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Edit Template -->
<script type="text/ng-template" id="menuGroupEdit">
    <div class="modal-header">
        <button type="button" class="close" ng-click="MenuGroupsCtrl.ePage.Masters.MenuGroups.Cancel()">&times;</button>
        <h5 class="modal-title" id="modal-title">
            <strong>Edit</strong>
        </h5>
    </div>
    <div class="modal-body pt-10" id="modal-body">
        <div class="clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-5 pb-5">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">GroupName</label>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                            <input type="text" class="form-control input-sm" placeholder="Group Name" data-ng-model="MenuGroupsCtrl.ePage.Masters.MenuGroups.ActiveMenuGroups.GroupName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">Description</label>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                            <input type="text" class="form-control input-sm" placeholder="Description" data-ng-model="MenuGroupsCtrl.ePage.Masters.MenuGroups.ActiveMenuGroups.Description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">GroupType</label>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                            <select chosen class="form-control" data-ng-model="MenuGroupsCtrl.ePage.Masters.MenuGroups.ActiveMenuGroups.GroupType" data-ng-options="x.Key as x.Key for x in  MenuGroupsCtrl.ePage.Masters.MenuGroupType.Listsource">
                                <option value="">--Select--</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="tc-section-divider-small"></div>
        <div class="clearfix p-10">
            <button class="btn btn-default tc-btn-save btn-xs pull-right ml-10" data-ng-click="MenuGroupsCtrl.ePage.Masters.MenuGroups.Save()"
                data-ng-bind="MenuGroupsCtrl.ePage.Masters.MenuGroups.SaveBtnText" data-ng-disabled="MenuGroupsCtrl.ePage.Masters.MenuGroups.IsDisableSaveBtn"></button>
            <button class="btn btn-default tc-btn-cancel btn-xs pull-right ml-10" data-ng-click="MenuGroupsCtrl.ePage.Masters.MenuGroups.Cancel()">Cancel</button>
        </div>
        <div class="tc-section-divider-small mb-20"></div>
    </div>
</script>
