.mb-20 {
    margin-bottom: 20px;
     margin-left: 0px !important; 
}
.edit{
	float: right;
	margin-bottom: 5px;
}
.jba-brndtl-wraper label {
    color: gray;
    font-weight: 600;
    font-size: 12px;
  }