.sfu-action {
    width: 100%;
    float: left;
    padding: 0;
    border: 1px solid #eee;
}

.sfu-action li {
    width: 100%;
    float: left;
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.sfu-action .border-bottom {
    border-bottom: 2px solid #fbbc05 !important;
}

.alignment {
    margin-top: 8px !important;
}

.alignment-size {
    height: 35px !important;
}

.sfu-action .sfu-top-title {
    width: 100%;
    float: left;
    font-weight: bold;
    padding: 8px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sfu-action .sfu-title {
    width: 100%;
    float: left;
    font-weight: bold;
}

.sfu-action.sfu-label {
    float: left;
    font-size: 11px;
    color: #999;
}

.sfu-action .sfu-label span {
    padding: 0px 5px;
    border-radius: 2px;
}

.sfu-action .sfu-date {
    width: 100%;
    float: left;
    padding: 14px 0 0;
    font-size: 12px;
}

.sfu-action .label-follow {
    color: #5c3a81;
    font-size: 18px;
    font-weight: bold;
}

.set-br-yellow {
    border: 1px solid #fbbc05;
}

.set-bg-fbfbfb {
    background: #fbfbfb;
}

