<div class="sm-email-container clearfix">
    <!-- List View -->
    <div class="clearfix list-view" data-ng-if="EmailCtrl.ePage.Masters.Email.ViewMode == 'List'">
        <!-- Section Top -->
        <div class="clearfix sm-section-top sm-email pt-10 pb-10">
            <div class="clearfix">
                <div class="col-sm-3">
                    <button class="btn btn-primary btn-sm mt-2" data-ng-click="EmailCtrl.ePage.Masters.Email.ListView.Compose()">Compose</button>
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                    <button class="btn btn-default btn-sm pull-right mt-2" data-ng-click="EmailCtrl.ePage.Masters.Email.ListView.Refresh()">Refresh</button>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control input-sm" placeholder="Search" data-ng-model="EmailCtrl.ePage.Masters.Email.ListView.Search">
                </div>
            </div>
        </div>
        <!-- Section Body -->
        <div class="clearfix sm-section-body">
            <div class="clearfix heading pt-10 pb-10 bold">
                <div class="col-sm-2">From</div>
                <div class="col-sm-3">Subject</div>
                <div class="col-sm-4">Message</div>
                <div class="col-sm-2">Created On</div>
                <div class="col-sm-1"></div>
            </div>
            <div class="cleafix list-wrapper sm-email-list-wrapper">
                <div class="clearfix p-20 text-center font-120" data-ng-if="!EmailCtrl.ePage.Masters.Email.ListView.ListSource">
                    <i class="fa fa-spin fa-spinner"></i>
                </div>
                <div class="clearfix p-20 text-center" data-ng-if="EmailCtrl.ePage.Masters.Email.ListView.ListSource && (EmailCtrl.ePage.Masters.Email.ListView.ListSource | fieldFilter: ['Subject', 'FROM', 'TypeCode', 'Body']: EmailCtrl.ePage.Masters.Email.ListView.Search).length === 0">
                    <i>No Record...!</i>
                </div>
                <div class="clearfix list" data-ng-if="EmailCtrl.ePage.Masters.Email.ListView.ListSource && (EmailCtrl.ePage.Masters.Email.ListView.ListSource | fieldFilter: ['Subject', 'FROM', 'TypeCode', 'Body']: EmailCtrl.ePage.Masters.Email.ListView.Search).length > 0"
                    data-ng-repeat="x in EmailCtrl.ePage.Masters.Email.ListView.ListSource | orderBy: 'CreatedDateTime': true | fieldFilter: ['Subject', 'FROM', 'TypeCode', 'Body']: EmailCtrl.ePage.Masters.Email.ListView.Search">
                    <div class="col-sm-2 pt-10 pb-10 cursor-pointer" data-ng-click="EmailCtrl.ePage.Masters.Email.ListView.OnEmailClick(x)">
                        <div class="text-single-line" title="{{x.FROM}}">{{(x.FROM ==
                            EmailCtrl.ePage.Masters.Email.UserId) ? 'Me' : x.FROM}}</div>
                    </div>
                    <div class="col-sm-3 pt-10 pb-10 cursor-pointer" data-ng-click="EmailCtrl.ePage.Masters.Email.ListView.OnEmailClick(x)">
                        <div class="text-single-line" title="{{x.Subject}}">{{x.Subject}}</div>
                    </div>
                    <div class="col-sm-4 pt-10 pb-10 cursor-pointer" data-ng-click="EmailCtrl.ePage.Masters.Email.ListView.OnEmailClick(x)">
                        <div class="text-single-line">{{x.Body |
                            convertHtmlToText}}</div>
                    </div>
                    <div class="col-sm-2 pt-10 pb-10 cursor-pointer" data-ng-click="EmailCtrl.ePage.Masters.Email.ListView.OnEmailClick(x)">
                        <div class="text-single-line" title="{{x.CreatedDateTime | date:'dd-MMM-yy: h:mm a'}}">{{x.CreatedDateTime
                            | date:'dd-MMM-yy h:mm a'}}</div>
                    </div>
                    <div class="col-sm-1 pt-10 pb-10">
                        <!-- Access -->
                        <div class="pull-right dropdown email-access-dropdown-menu" data-ng-if="x.GroupMapping && (x.CreatedBy ==  EmailCtrl.ePage.Masters.Email.UserId || (x.CreatedBy != EmailCtrl.ePage.Masters.Email.UserId && !x.IsResticted && x.IsShared)) && EmailCtrl.mode == '1'"
                            one-level-mapping input="x.GroupMapping" object="x" icon="'fa fa-user-plus'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Read View -->
    <div class="clearfix read-view" data-ng-if="EmailCtrl.ePage.Masters.Email.ViewMode == 'Read'">
        <div class="clearfix sm-section-top pt-10 pb-10">
            <div class="col-sm-1">
                <button class="btn btn-default btn-sm mr-20 pull-left" data-ng-click="EmailCtrl.ePage.Masters.Email.ReadView.GoToListView()"
                    title="Back">
                    <i class="fa fa-arrow-left mr-5"></i> Back
                </button>
            </div>
            <div class="col-sm-8">
                <div class="pull-left bold font-120 text-single-line mt-2" data-ng-bind="EmailCtrl.ePage.Masters.Email.ActiveEmail.Subject"></div>
            </div>
            <div class="col-sm-3">
                <!-- <button class="btn btn-default btn-sm ml-15 pull-right" data-ng-click="EmailCtrl.ePage.Masters.Email.ReadView.Reply()"
                    title="Reply">
                    <i class="fa fa-reply mr-5"></i> Reply
                </button>
                <button class="btn btn-default btn-sm ml-15 pull-right" data-ng-click="EmailCtrl.ePage.Masters.Email.ReadView.Forward()"
                    title="Forward">
                    <i class="fa fa-share mr-5"></i> Forward
                </button> -->
                <div class="pull-right mt-5" data-ng-bind="EmailCtrl.ePage.Masters.Email.ActiveEmail.CreatedDateTime | date:'dd MMM yy'"></div>
            </div>
        </div>
        <div class="clearfix p-15">
            <div class="clearfix email-body mb-50">
                <div class="clearfix " data-ng-bind-html="EmailCtrl.ePage.Masters.Email.ActiveEmail.Body | convertToTrustHtml"></div>
            </div>
            <!-- Attachment -->
            <div class="clearfix attachment-wrapper mt-10 mb-10" data-ng-if="EmailCtrl.ePage.Masters.Email.Attachment.ListSource && EmailCtrl.ePage.Masters.Email.Attachment.ListSource.length > 0">
                <div class="clearfix attachment-container">
                    <div class="clearfix  attachment-list m-5 pull-left" data-ng-repeat="x in EmailCtrl.ePage.Masters.Email.Attachment.ListSource | orderBy: 'CreatedDateTime': true">
                        <div class="clearfix position-relative p-10 pl-30">
                            <img class="pull-left" data-ng-src="assets/img/file-types/{{x.FileName | getFileExtension}}.png"
                                alt="{{x.FileName}}" style="position: absolute; left: 5px;">
                            <a class="pull-left text-single-line" href="javascript:void(0);" data-ng-bind="x.FileName"
                                title="{{x.FileName}}" data-ng-click="x.PK && EmailCtrl.ePage.Masters.Email.Attachment.DownloadAttachment(x)"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit View -->
    <div class="clearfix edit-view" data-ng-if="EmailCtrl.ePage.Masters.Email.ViewMode == 'Edit'">
        <div class="clearfix sm-section-top pt-10 pb-10">
            <div class="col-sm-12">
                <button class="btn btn-primary btn-sm ml-20 pull-right" data-ng-click="EmailCtrl.ePage.Masters.Email.EditView.Send()"
                    data-ng-bind="EmailCtrl.ePage.Masters.Email.EditView.SendBtnText" data-ng-disabled="EmailCtrl.ePage.Masters.Email.EditView.IsDisableSendBtn || !EmailCtrl.ePage.Masters.Email.ActiveEmail.PK"></button>
                <button class="btn btn-default btn-sm pull-right" data-ng-click="EmailCtrl.ePage.Masters.Email.EditView.Discard()">Discard</button>
            </div>
        </div>
        <div class="clearfix sm-email-edit-body pt-15">
            <div class="clearfix">
                <!-- To -->
                <div class="col-sm-3">
                    <div class="form-group clearfix">
                        <input type="text" class="form-control input-sm" data-ng-model="EmailCtrl.ePage.Masters.Email.ActiveEmail.TO"
                            placeholder="To" />
                    </div>
                </div>
                <!-- CC -->
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" class="form-control input-sm" data-ng-model="EmailCtrl.ePage.Masters.Email.ActiveEmail.CC"
                            placeholder="Cc" />
                    </div>
                </div>
                <!-- Subject -->
                <div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" class="form-control input-sm" data-ng-model="EmailCtrl.ePage.Masters.Email.ActiveEmail.Subject"
                            placeholder="Subject" />
                    </div>
                </div>
                <!-- Template -->
                <div class="col-sm-3">
                    <div class="form-group">
                        <select chosen data-ng-model="EmailCtrl.ePage.Masters.Email.ActiveEmail.TypeCode"
                            data-ng-options="x.Key as x.Description for x in EmailCtrl.ePage.Masters.Email.EditView.TemplateList"
                            data-ng-change="EmailCtrl.ePage.Masters.Email.EditView.OnTemplateChange((EmailCtrl.ePage.Masters.Email.EditView.TemplateList | filter: {'Key': EmailCtrl.ePage.Masters.Email.ActiveEmail.TypeCode})[0])">
                            <option value="">---Select Template---</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <div class="col-sm-8">
                    <div class="clearfix email-edit-container">
                        <summernote config="EmailCtrl.ePage.Masters.SummernoteOptions" data-ng-model="EmailCtrl.ePage.Masters.Email.ActiveEmail.Body"></summernote>
                        <prepare-email-template data-ng-if="EmailCtrl.ePage.Masters.Email.ActiveEmail.TypeCode"
                            temp-html="EmailCtrl.ePage.Masters.Email.ActiveEmail.Body" template-name="EmailCtrl.ePage.Masters.Email.ActiveEmail.TypeCode"
                            obj="EmailCtrl.ePage.Entities"></prepare-email-template>
                    </div>
                </div>
                <div class="col-sm-4">
                    <!-- Attachment -->
                    <div class="clearfix attachment-wrapper">
                        <div class="clearfix header pb-5 border-bottom bold font-120 mb-10">
                            <span>Attachments</span>
                            <file-upload-custom class="file-upload-directive pull-right" data-ng-model="EmailCtrl.ePage.Masters.Email.Attachment.fileDetails"
                                size="{{EmailCtrl.ePage.Masters.Email.Attachment.fileSize}}" auth="{{EmailCtrl.ePage.Masters.Email.Attachment.Autherization}}"
                                additional-value="{{EmailCtrl.ePage.Masters.Email.Attachment.AdditionalValue}}" url="{{EmailCtrl.ePage.Masters.Email.Attachment.UploadUrl}}"
                                doc-type="*" multiple-file="true" is-disabled="!EmailCtrl.ePage.Masters.Email.ActiveEmail.PK"
                                fu-class="left" get-uploaded-files="EmailCtrl.ePage.Masters.Email.Attachment.GetUploadedFiles($item)"
                                get-selected-files="EmailCtrl.ePage.Masters.Email.Attachment.GetSelectedFiles($item)">
                                <button class="btn btn-primary btn-sm" data-ng-disabled="!EmailCtrl.ePage.Masters.Email.ActiveEmail.PK">Attach</button>
                            </file-upload-custom>
                        </div>
                        <div class="clearfix">
                            <div class="clearfix mb-10" data-ng-if="EmailCtrl.ePage.Masters.Email.Attachment.TempListSource && EmailCtrl.ePage.Masters.Email.Attachment.TempListSource.length > 0">
                                <div class="clearfix p-10 upload-loading-section" data-ng-if="x.IsNew" data-ng-repeat="x in EmailCtrl.ePage.Masters.Email.Attachment.TempListSource">
                                    <div class="file-name email-attach" title="{{x.name}}" data-ng-bind="x.name"></div>
                                    <div class="meter">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix attachment-container">
                                <div class="clearfix  attachment-list m-5 pull-left" data-ng-if="EmailCtrl.ePage.Masters.Email.Attachment.ListSource && EmailCtrl.ePage.Masters.Email.Attachment.ListSource.length > 0"
                                    data-ng-repeat="x in EmailCtrl.ePage.Masters.Email.Attachment.ListSource | orderBy: 'CreatedDateTime': true">
                                    <div class="clearfix position-relative pt-10 pb-10 pl-30 pr-50">
                                        <img class="pull-left" data-ng-src="assets/img/file-types/{{x.FileName | getFileExtension}}.png"
                                            alt="{{x.FileName}}" style="position: absolute; left: 5px;">
                                        <a class="pull-left text-single-line" href="javascript:void(0);" data-ng-bind="x.FileName"
                                            title="{{x.FileName}}" data-ng-click="x.PK && EmailCtrl.ePage.Masters.Email.Attachment.DownloadAttachment(x)"></a>
                                        <i class="fa fa-times-circle-o danger cursor-pointer font-140 pull-left" style="position: absolute; right: 5px;"
                                            data-ng-click="EmailCtrl.ePage.Masters.Email.Attachment.DeleteAttachment(x, $index)"
                                            title="Remove"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
