<div class="clearfix padding-top-10" data-ng-if="!ConsolActivityDetailsCtrl.readOnly">
    <div class="clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <div class="form-group ship-font">
                <label class="control-label">Consol No</label>
                <input disabled="true" type="text" maxlength="30" ng-disabled="ConsolActivityDetailsCtrl.readOnly" ng-model="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader.ConsolNo"
                    class="form-control input-sm" placeholder="ConsolNo">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <span class="error-warning-container">
                <error-warning-directive data-ng-if="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.ContainerMode.IsWarning && !ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.ContainerMode.IsError"
                    list="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.ContainerMode.WARNING" type="'warning'"
                    icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                <error-warning-directive data-ng-if="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.ContainerMode.IsError"
                    list="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.ContainerMode.ERROR" type="'error'"
                    icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
            </span>
            <div class="form-group ship-font">
                <label class="control-label text-single-line"> Mode</label>
                <select chosen class="form-control" ng-disabled="ConsolActivityDetailsCtrl.readOnly" data-ng-model="ConsolActivityDetailsCtrl.ePage.Masters.conSelectedMode"
                    ng-options="term as (term.Key+'-'+term.PARENT_Value + '(' + term.Key+')') for term in ConsolActivityDetailsCtrl.ePage.Masters.CfxTypesList.CntType"
                    search-contains="true" ng-change="ConsolActivityDetailsCtrl.ePage.Masters.ModeChange(ConsolActivityDetailsCtrl.ePage.Masters.conSelectedMode)">
                    <option value="">--Select--</option>
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <div class="form-group ship-font">
                <label class="control-label">BOL</label>
                <input type="text" maxlength="30" ng-disabled="ConsolActivityDetailsCtrl.readOnly" ng-model="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader.MasterBillNo"
                    class="form-control input-sm" placeholder="BOL">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <span class="error-warning-container">
                <error-warning-directive data-ng-if="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.FirstLoadPort.IsWarning && !ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.FirstLoadPort.IsError"
                    list="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.FirstLoadPort.WARNING" type="'warning'"
                    icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                <error-warning-directive data-ng-if="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.FirstLoadPort.IsError"
                    list="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.FirstLoadPort.ERROR" type="'error'"
                    icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
            </span>
            <div class="form-group ship-font">
                <div class="error-warning-container">
                    <error-warning-directive data-ng-if="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.FirstLoadPort.IsWarning && !ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.FirstLoadPort.IsError"
                        list="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.FirstLoadPort.WARNING"
                        type="'warning'" icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                    <error-warning-directive data-ng-if="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.FirstLoadPort.IsError"
                        list="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.FirstLoadPort.ERROR"
                        type="'error'" icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                </div>
                <label class="control-label">First Load</label>
                <div class="input-group input-group-sm">
                    <div dynamic-lookup is-disabled="ConsolActivityDetailsCtrl.readOnly" my-ng-model="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader.FirstLoadPort"
                        obj="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader" prefix-data="'MstUNLOCO'"
                        config="'ConGeneralFirstLoadPort'" auto-complete-on-select="ConsolActivityDetailsCtrl.ePage.Masters.SelectedDataPorts(ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader.FirstLoadPort,ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader.LastDischargePort);ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.OnFieldValueChange('Consol', ConsolActivityDetailsCtrl.currentConsol.code, ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader.FirstLoadPort, 'E0003', false);"></div>
                    <span class="input-group-btn">
                        <button dynamic-list-modal ng-disabled="ConsolActivityDetailsCtrl.readOnly" obj="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader"
                            prefix-data="'MstUNLOCO'" field-name="'ConGeneralFirstLoadPort'" mode="2" grid-refresh-fun-name=""
                            grid-refresh-fun="" selected-data="ConsolActivityDetailsCtrl.ePage.Masters.SelectedDataPorts(ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader.FirstLoadPort,ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader.LastDischargePort);ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.OnFieldValueChange('Consol', ConsolActivityDetailsCtrl.currentConsol.code, ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader.FirstLoadPort, 'E0003', false);"
                            class="btn btn-default shiny" type="button">
                            <i class="fa fa-ellipsis-h"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <span class="error-warning-container">
                <error-warning-directive data-ng-if="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.LastDischargePort.IsWarning && !ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.LastDischargePort.IsError"
                    list="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.LastDischargePort.WARNING"
                    type="'warning'" icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                <error-warning-directive data-ng-if="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.LastDischargePort.IsError"
                    list="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.LastDischargePort.ERROR"
                    type="'error'" icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
            </span>
            <div class="form-group ship-font">
                <label class="control-label">Last Discharge</label>
                <div class="input-group input-group-sm">
                    <dynamic-lookup is-disabled="ConsolActivityDetailsCtrl.readOnly" my-ng-model="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader.LastDischargePort"
                        obj="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader" prefix-data="'MstUNLOCO'"
                        config="'ConGeneralLastDischargePort'" auto-complete-on-select="ConsolActivityDetailsCtrl.ePage.Masters.SelectedDataPorts(ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader.FirstLoadPort,ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader.LastDischargePort);ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.OnFieldValueChange('Consol', ConsolActivityDetailsCtrl.currentConsol.code, ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader.LastDischargePort, 'E0004', false);"></dynamic-lookup>
                    <span class="input-group-btn">
                        <button dynamic-list-modal ng-disabled="ConsolActivityDetailsCtrl.readOnly" obj="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader"
                            prefix-data="'MstUNLOCO'" field-name="'ConGeneralLastDischargePort'" mode="2" grid-refresh-fun-name=""
                            grid-refresh-fun="" selected-data="ConsolActivityDetailsCtrl.ePage.Masters.SelectedDataPorts(ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader.FirstLoadPort,ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader.LastDischargePort);ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.OnFieldValueChange('Consol', ConsolActivityDetailsCtrl.currentConsol.code, ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader.LastDischargePort, 'E0004', false);"
                            class="btn btn-default shiny" type="button">
                            <i class="fa fa-ellipsis-h"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <!-- Payment -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <div class="form-group ship-font">
                <label class="control-label">Payment</label>
                <select chosen ng-disabled="ConsolActivityDetailsCtrl.readOnly" ng-options="x.Key as x.Description for x in ConsolActivityDetailsCtrl.ePage.Masters.DropDownMasterList.CON_PAYMENT.ListSource"
                    ng-model="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader.PrepaidCollect" class="form-control">
                    <option value="">--Select--</option>
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <div class="form-group ship-font">
                <label class="control-label">Agent Ref</label>
                <input type="text" ng-disabled="ConsolActivityDetailsCtrl.readOnly" max-length="70" ng-model="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader.AgentReference"
                    class="form-control input-sm" placeholder="Agent Ref">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <div class="form-group ship-font">
                <label class="control-label">Carrier Bkg. Ref</label>
                <input type="text" ng-disabled="ConsolActivityDetailsCtrl.readOnly" ng-model="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader.BookingReference"
                    max-length="70" class="form-control input-sm" placeholder="Carrier Bkg. Ref">
            </div>
        </div>
    </div>
    <div class="clearfix">
        <!-- SIFiling Reference -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <div>
                <label class="control-label">SI Reference Number</label>
                <span class="error-warning-container">
                    <error-warning-directive data-ng-if="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.SIFilingRefNo.IsWarning && !ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.SIFilingRefNo.IsError"
                        list="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.SIFilingRefNo.WARNING"
                        type="'warning'" icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                    <error-warning-directive data-ng-if="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.SIFilingRefNo.IsError"
                        list="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.SIFilingRefNo.ERROR"
                        type="'error'" icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                </span>
            </div>
            <div class="form-group">
                <input type="text" maxlength="30" ng-model="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConsolExtendedInfo.SIFilingRefNo"
                    maxlength="12" class="form-control input-sm" placeholder="SI Ref. #" data-ng-change="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.OnFieldValueChange('MyTask', ConsolActivityDetailsCtrl.ePage.Masters.TaskObj.PSI_InstanceNo, ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConsolExtendedInfo.SIFilingRefNo, 'E0010', false, undefined)">
            </div>
        </div>
        <!-- SIFilingDate -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label">SI Filing Date</label>
                <div>
                    <div>
                        <div class="input-group input-group-sm con-dt-value">
                            <input type="text" class="form-control" placeholder="{{ConsolActivityDetailsCtrl.ePage.Masters.DatePicker.Options.dateFormat}}"
                                data-ng-model="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConsolExtendedInfo.SIFilingDate"
                                datetime-picker="{{ConsolActivityDetailsCtrl.ePage.Masters.DatePicker.Options.dateFormat}}" datepicker-options="ConsolActivityDetailsCtrl.ePage.Masters.DatePicker.Options"
                                datepicker-append-to-body="false" close-on-selection="false" enable-time="false" enable-date="true"
                                default-date="" default-time="" save-as="ConsolActivityDetailsCtrl.ePage.Masters.DatePicker.Options.saveFormat"
                                is-open="ConsolActivityDetailsCtrl.ePage.Masters.DatePicker.isOpen['isSIFilingDate']" when-closed=""
                                data-ng-click="" data-ng-change="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.OnFieldValueChange('MyTask',ConsolActivityDetailsCtrl.taskObj.PSI_InstanceNo,ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConsolExtendedInfo,'E11072',false)"
                                custom-date-time-format />
                            <span class="input-group-btn">
                                <button class="btn btn-default shiny" data-ng-click="ConsolActivityDetailsCtrl.ePage.Masters.DatePicker.OpenDatePicker($event, 'isSIFilingDate')">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SIFilingType -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label">SI Filing Type</label>
                <div class="con-dt-value">
                    <select chosen ng-options="x.Key as x.Description for x in ConsolActivityDetailsCtrl.ePage.Masters.DropDownMasterList.CON_SI_FILING_TYPE.ListSource"
                        ng-model="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConsolExtendedInfo.SIFilingType" class="form-control">
                        <option value="">--Select--</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- HBL Approval -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Is HBL Approval Required</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-ng-model="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConsolExtendedInfo.IsHBLRequired"
                            data-ng-checked="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConsolExtendedInfo.IsHBLRequired"
                            class="colored-blue">
                        <span class="text"></span>
                    </label>
                </div>
            </div>
        </div>
        <!-- MBL Approval -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Is MBL Approval Required</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-ng-model="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConsolExtendedInfo.IsMBLRequired"
                            data-ng-checked="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConsolExtendedInfo.IsMBLRequired"
                            class="colored-blue">
                        <span class="text"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix padding-top-10" data-ng-if="ConsolActivityDetailsCtrl.readOnly">
    <fieldset disabled>
        <div class="clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="form-group ship-font">
                    <label class="control-label">Consol No</label>
                    <input disabled="true" type="text" maxlength="30" ng-disabled="ConsolActivityDetailsCtrl.readOnly" ng-model="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader.ConsolNo"
                        class="form-control input-sm" placeholder="ConsolNo">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <span class="error-warning-container">
                    <error-warning-directive data-ng-if="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.ContainerMode.IsWarning && !ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.ContainerMode.IsError"
                        list="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.ContainerMode.WARNING"
                        type="'warning'" icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                    <error-warning-directive data-ng-if="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.ContainerMode.IsError"
                        list="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.ContainerMode.ERROR"
                        type="'error'" icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                </span>
                <div class="form-group ship-font">
                    <label class="control-label text-single-line"> Mode</label>
                    <select chosen class="form-control" ng-disabled="ConsolActivityDetailsCtrl.readOnly" data-ng-model="ConsolActivityDetailsCtrl.ePage.Masters.conSelectedMode"
                        ng-options="term as (term.Key+'-'+term.PARENT_Value + '(' + term.Key+')') for term in ConsolActivityDetailsCtrl.ePage.Masters.CfxTypesList.CntType"
                        search-contains="true" ng-change="ConsolActivityDetailsCtrl.ePage.Masters.ModeChange(ConsolActivityDetailsCtrl.ePage.Masters.conSelectedMode)">
                        <option value="">--Select--</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="form-group ship-font">
                    <label class="control-label">BOL</label>
                    <input type="text" maxlength="30" ng-disabled="ConsolActivityDetailsCtrl.readOnly" ng-model="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader.MasterBillNo"
                        class="form-control input-sm" placeholder="BOL">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <span class="error-warning-container">
                    <error-warning-directive data-ng-if="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.FirstLoadPort.IsWarning && !ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.FirstLoadPort.IsError"
                        list="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.FirstLoadPort.WARNING"
                        type="'warning'" icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                    <error-warning-directive data-ng-if="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.FirstLoadPort.IsError"
                        list="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.ErrorWarningObj.FirstLoadPort.ERROR"
                        type="'error'" icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                </span>
                <div class="form-group ship-font">
                    <label class="control-label">First Load</label>
                    <div class="input-group input-group-sm">
                        <div dynamic-lookup is-disabled="ConsolActivityDetailsCtrl.readOnly" my-ng-model="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader.FirstLoadPort"
                            obj="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader" prefix-data="'MstUNLOCO'"
                            config="'ConGeneralFirstLoadPort'" auto-complete-on-select="ConsolActivityDetailsCtrl.ePage.Masters.SelectedDataPorts(ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader.FirstLoadPort,ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader.LastDischargePort);ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.OnFieldValueChange('Consol', ConsolActivityDetailsCtrl.currentConsol.code, ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader.FirstLoadPort, 'E0003', false);"></div>
                        <span class="input-group-btn">
                            <button dynamic-list-modal ng-disabled="ConsolActivityDetailsCtrl.readOnly" obj="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader"
                                prefix-data="'MstUNLOCO'" field-name="'ConGeneralFirstLoadPort'" mode="2" grid-refresh-fun-name=""
                                grid-refresh-fun="" selected-data="ConsolActivityDetailsCtrl.ePage.Masters.SelectedDataPorts(ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader.FirstLoadPort,ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader.LastDischargePort);ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.OnFieldValueChange('Consol', ConsolActivityDetailsCtrl.currentConsol.code, ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConConsolHeader.FirstLoadPort, 'E0003', false);"
                                class="btn btn-default shiny" type="button">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="form-group ship-font">
                    <label class="control-label">SI Reference Number</label>
                    <input type="text" ng-disabled="ConsolActivityDetailsCtrl.readOnly" maxlength="30" ng-model="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConsolExtendedInfo.SIFilingRefNo"
                        class="form-control input-sm" placeholder="SI Ref. #">
                </div>
            </div>
            <!-- SIFilingDate -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="form-group ship-font">
                    <label class="control-label">SI Filing Date</label>
                    <div>
                        <div>
                            <div class="input-group input-group-sm con-dt-value">
                                <input type="text" ng-disabled="ConsolActivityDetailsCtrl.readOnly" class="form-control" placeholder="{{ConsolActivityDetailsCtrl.ePage.Masters.DatePicker.Options.dateFormat}}"
                                    data-ng-model="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConsolExtendedInfo.SIFilingDate"
                                    datetime-picker="{{ConsolActivityDetailsCtrl.ePage.Masters.DatePicker.Options.dateFormat}}"
                                    datepicker-options="ConsolActivityDetailsCtrl.ePage.Masters.DatePicker.Options" datepicker-append-to-body="false"
                                    close-on-selection="false" enable-time="false" enable-date="true" default-date="" default-time=""
                                    save-as="ConsolActivityDetailsCtrl.ePage.Masters.DatePicker.Options.saveFormat" is-open="ConsolActivityDetailsCtrl.ePage.Masters.DatePicker.isOpen['isSIFilingDate']"
                                    when-closed="" data-ng-click="" data-ng-change="ConsolActivityDetailsCtrl.ePage.Masters.ErrorWarningConfig.OnFieldValueChange('MyTask',ConsolActivityDetailsCtrl.taskObj.PSI_InstanceNo,ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConsolExtendedInfo,'E11072',false)"
                                    custom-date-time-format />
                                <span class="input-group-btn">
                                    <button ng-disabled="ConsolActivityDetailsCtrl.readOnly" class="btn btn-default shiny" data-ng-click="ConsolActivityDetailsCtrl.ePage.Masters.DatePicker.OpenDatePicker($event, 'isSIFilingDate')">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SIFilingType -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="form-group ship-font">
                    <label class="control-label">SI Filing Type</label>
                    <div class="con-dt-value">
                        <select ng-disabled="ConsolActivityDetailsCtrl.readOnly" chosen ng-options="x.Key as x.Description for x in ConsolActivityDetailsCtrl.ePage.Masters.DropDownMasterList.CON_SI_FILING_TYPE.ListSource"
                            ng-model="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConsolExtendedInfo.SIFilingType"
                            class="form-control">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- HBL Approval -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="form-group ship-font">
                    <label class="control-label text-single-line">Is HBL Approval Required</label>
                    <div class="checkbox">
                        <label>
                            <input ng-disabled="ConsolActivityDetailsCtrl.readOnly" type="checkbox" data-ng-model="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConsolExtendedInfo.IsHBLRequired"
                                data-ng-checked="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConsolExtendedInfo.IsHBLRequired"
                                class="colored-blue">
                            <span class="text"></span>
                        </label>
                    </div>
                </div>
            </div>
            <!-- MBL Approval -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="form-group ship-font">
                    <label class="control-label text-single-line">Is MBL Approval Required</label>
                    <div class="checkbox">
                        <label>
                            <input ng-disabled="ConsolActivityDetailsCtrl.readOnly" type="checkbox" data-ng-model="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConsolExtendedInfo.IsMBLRequired"
                                data-ng-checked="ConsolActivityDetailsCtrl.ePage.Entities.Header.Data.UIConsolExtendedInfo.IsMBLRequired"
                                class="colored-blue">
                            <span class="text"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
</div>