<div class="sm-exception-container clearfix">
    <div class="clearfix text-center text-danger p-20" data-ng-if="ExceptionCtrl.mode == '2' && !ExceptionCtrl.type">
        <i class="font-160">Exception Type Not Found...!</i>
    </div>
    <div class="clearfix" data-ng-if="(ExceptionCtrl.mode == '2' && ExceptionCtrl.type) || ExceptionCtrl.mode != '2'">
        <!-- List View -->
        <div class="clearfix list-view" data-ng-if="ExceptionCtrl.ePage.Masters.Exception.ViewMode == 'List'">
            <!-- Section Top -->
            <div class="clearfix sm-section-top sm-exception pt-10 pb-10">
                <div class="clearfix">
                    <div class="col-sm-3">
                        <select chosen class="form-control" data-ng-model="ExceptionCtrl.ePage.Masters.Exception.ListView.ActiveExceptionType.TypeCode"
                            data-ng-options="x.TypeCode as x.Value for x in ExceptionCtrl.ePage.Masters.Exception.ListView.ExceptionTypeList"
                            data-ng-change="ExceptionCtrl.ePage.Masters.Exception.ListView.OnExceptionTypeChange((ExceptionCtrl.ePage.Masters.Exception.ListView.ExceptionTypeList | filter: {'TypeCode': ExceptionCtrl.ePage.Masters.Exception.ListView.ActiveExceptionType.TypeCode})[0])"
                            search-contains="true"></select>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-primary btn-sm mt-2" data-ng-click="ExceptionCtrl.ePage.Masters.Exception.ListView.AddNewException()"
                            data-ng-disabled="!ExceptionCtrl.ePage.Masters.Exception.ListView.ActiveExceptionType.TypeCode || ExceptionCtrl.ePage.Masters.Exception.ListView.ActiveExceptionType.TypeCode == 'ALL' ">Add
                            Exception</button>
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-default btn-sm pull-right mt-2" data-ng-click="ExceptionCtrl.ePage.Masters.Exception.ListView.Refresh()">Refresh</button>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control input-sm" placeholder="Search" data-ng-model="ExceptionCtrl.ePage.Masters.Exception.ListView.Search">
                    </div>
                </div>
            </div>
            <!-- Section Body -->
            <div class="clearfix sm-section-body">
                <div class="clearfix heading pt-10 pb-10 bold">
                    <div class="col-sm-2">Exception Type</div>
                    <div class="col-sm-4">Title</div>
                    <div class="col-sm-3">Owner</div>
                    <div class="col-sm-2">Created On</div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="cleafix list-wrapper sm-exception-list-wrapper">
                    <div class="clearfix p-20 text-center font-120" data-ng-if="!ExceptionCtrl.ePage.Masters.Exception.ListView.ListSource">
                        <i class="fa fa-spin fa-spinner"></i>
                    </div>
                    <div class="clearfix p-20 text-center" data-ng-if="ExceptionCtrl.ePage.Masters.Exception.ListView.ListSource && (ExceptionCtrl.ePage.Masters.Exception.ListView.ListSource | fieldFilter: ['Description', 'ProcessCode', 'ReferenceNo', 'Type']: ExceptionCtrl.ePage.Masters.Exception.ListView.Search).length === 0">
                        <i>No Record...!</i>
                    </div>
                    <div class="clearfix list" data-ng-if="ExceptionCtrl.ePage.Masters.Exception.ListView.ListSource && (ExceptionCtrl.ePage.Masters.Exception.ListView.ListSource | fieldFilter: ['Description', 'ProcessCode', 'ReferenceNo', 'Type']: ExceptionCtrl.ePage.Masters.Exception.ListView.Search).length > 0"
                        data-ng-repeat="x in ExceptionCtrl.ePage.Masters.Exception.ListView.ListSource | orderBy: 'CreatedDateTime': true | fieldFilter: ['Description', 'ProcessCode', 'ReferenceNo', 'Type']: ExceptionCtrl.ePage.Masters.Exception.ListView.Search">
                        <div class="col-sm-2 pt-10 pb-10 cursor-pointer" data-ng-click="ExceptionCtrl.ePage.Masters.Exception.ListView.OnExceptionClick(x)">
                            <div class="text-single-line" title="{{x.Type}}">{{x.Type}}</div>
                        </div>
                        <div class="col-sm-4 pt-10 pb-10 cursor-pointer" data-ng-click="ExceptionCtrl.ePage.Masters.Exception.ListView.OnExceptionClick(x)">
                            <div class="text-single-line" title="{{x.Title}}">{{x.Title}}</div>
                        </div>
                        <div class="col-sm-3 pt-10 pb-10 cursor-pointer" data-ng-click="ExceptionCtrl.ePage.Masters.Exception.ListView.OnExceptionClick(x)">
                            <div class="text-single-line" title="{{x.CreatedBy}}">{{(x.CreatedBy ==
                                ExceptionCtrl.ePage.Masters.Exception.UserId) ? 'Me' : x.CreatedBy}}</div>
                        </div>
                        <div class="col-sm-2 pt-10 pb-10 cursor-pointer" data-ng-click="ExceptionCtrl.ePage.Masters.Exception.ListView.OnExceptionClick(x)">
                            <div class="text-single-line" title="{{x.CreatedDateTime | date:'dd-MMM-yy: h:mm a'}}">{{x.CreatedDateTime
                                | date:'dd-MMM-yy h:mm a'}}</div>
                        </div>
                        <div class="col-sm-1 pt-10 pb-10">
                            <!-- Access -->
                            <div class="pull-right dropdown exception-access-dropdown-menu" data-ng-if="x.GroupMapping && (x.CreatedBy ==  ExceptionCtrl.ePage.Masters.Exception.UserId || (x.CreatedBy != ExceptionCtrl.ePage.Masters.Exception.UserId && !x.IsResticted && x.IsShared)) && ExceptionCtrl.mode == '1'"
                                one-level-mapping input="x.GroupMapping" object="x" icon="'fa fa-user-plus'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Edit View -->
        <div class="clearfix edit-view" data-ng-if="ExceptionCtrl.ePage.Masters.Exception.ViewMode == 'Edit'">
            <div class="clearfix pt-10 pb-10">
                <!-- Title -->
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Title</label>
                        <div class="clearfix">
                            <input type="text" class="form-control input-sm" data-ng-model="ExceptionCtrl.ePage.Masters.Exception.ActiveException.Title"
                                placeholder="Title" />
                        </div>
                    </div>
                </div>
                <!-- Description -->
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <div class="clearfix">
                            <input type="text" class="form-control input-sm" data-ng-model="ExceptionCtrl.ePage.Masters.Exception.ActiveException.Description"
                                placeholder="Description" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix" data-ng-if="ExceptionCtrl.ePage.Masters.Exception.ActiveException.DataConfig">
                <dynamic-control input="ExceptionCtrl.ePage.Masters.Exception.ActiveException.DataConfig" mode="D"
                    view-type="'2'"></dynamic-control>
            </div>
            <div class="clearfix">
                <div class="col-sm-12 pt-10 pb-10">
                    <button class="btn btn-primary btn-sm pull-right ml-15" data-ng-click="ExceptionCtrl.ePage.Masters.Exception.EditView.CreateException()"
                        data-ng-bind="ExceptionCtrl.ePage.Masters.Exception.EditView.CreateBtnText" data-ng-disabled="ExceptionCtrl.ePage.Masters.Exception.EditView.IsDisableCreateBtn"></button>
                    <button class="btn btn-default btn-sm pull-right ml-15" data-ng-click="ExceptionCtrl.ePage.Masters.Exception.EditView.Discard()">Discard</button>
                </div>
            </div>
        </div>
        <!-- Read View -->
        <div class="clearfix read-view" data-ng-if="ExceptionCtrl.ePage.Masters.Exception.ViewMode == 'Read'">
            <div class="clearfix sm-section-top pt-10 pb-10">
                <div class="col-sm-1">
                    <button class="btn btn-default btn-sm mr-20 pull-left" data-ng-click="ExceptionCtrl.ePage.Masters.Exception.ReadView.GoToListView()"
                        title="Back">
                        <i class="fa fa-arrow-left mr-5"></i> Back
                    </button>
                </div>
                <div class="col-sm-9">
                    <div class="pull-left bold font-120 text-single-line mt-2" data-ng-bind="ExceptionCtrl.ePage.Masters.Exception.ActiveException.Title"></div>
                </div>
                <div class="col-sm-2">
                    <div class="pull-right mt-5" data-ng-bind="ExceptionCtrl.ePage.Masters.Exception.ActiveException.CreatedDateTime | date:'dd MMM yy'"></div>
                </div>
            </div>
            <div class="clearfix p-15">
                <div class="clearfix exception-message">
                    <div class="clearfix mb-10" data-ng-bind-html="ExceptionCtrl.ePage.Masters.Exception.ActiveException.Description"></div>

                    <div class="clearfix position-relative text-center" data-ng-if="ExceptionCtrl.ePage.Masters.Exception.ActiveException.DataConfig">
                        <div class="more-items-line-middle"></div>
                        <button class="btn btn-more-items" data-ng-click="ExceptionCtrl.ePage.Masters.Exception.ReadView.IsShowDynamicForm = !ExceptionCtrl.ePage.Masters.Exception.ReadView.IsShowDynamicForm">Show
                            {{ExceptionCtrl.ePage.Masters.Exception.ReadView.IsShowDynamicForm ? 'less' : 'more'}}</button>
                    </div>

                    <!-- Dynamic Control -->
                    <div class="clearfix" data-ng-show="ExceptionCtrl.ePage.Masters.Exception.ReadView.IsShowDynamicForm">
                        <div class="clearfix position-relative" data-ng-if="ExceptionCtrl.ePage.Masters.Exception.ActiveException.DataConfig">
                            <dynamic-control input="ExceptionCtrl.ePage.Masters.Exception.ActiveException.DataConfig"
                                mode="D" view-type="'2'"></dynamic-control>
                            <div class="dynamic-control-overlay"></div>
                        </div>
                    </div>
                </div>
                <!-- Attachment -->
                <div class="clearfix attachment-wrapper mt-10 mb-10">
                    <div class="clearfix header pt-10 pb-10 border-bottom bold font-120 mb-10">
                        <span>Attachments</span>
                        <file-upload-custom class="file-upload-directive pull-right" data-ng-model="ExceptionCtrl.ePage.Masters.Exception.Attachment.fileDetails"
                            size="{{ExceptionCtrl.ePage.Masters.Exception.Attachment.fileSize}}" auth="{{ExceptionCtrl.ePage.Masters.Exception.Attachment.Autherization}}"
                            additional-value="{{ExceptionCtrl.ePage.Masters.Exception.Attachment.AdditionalValue}}" url="{{ExceptionCtrl.ePage.Masters.Exception.Attachment.UploadUrl}}"
                            doc-type="*" multiple-file="true" is-disabled="false" fu-class="left" get-uploaded-files="ExceptionCtrl.ePage.Masters.Exception.Attachment.GetUploadedFiles($item)"
                            get-selected-files="ExceptionCtrl.ePage.Masters.Exception.Attachment.GetSelectedFiles($item)">
                            <button class="btn btn-primary btn-sm">Attach</button>
                        </file-upload-custom>
                    </div>
                    <div class="clearfix">
                        <div class="clearfix mb-10" data-ng-if="ExceptionCtrl.ePage.Masters.Exception.Attachment.TempListSource && ExceptionCtrl.ePage.Masters.Exception.Attachment.TempListSource.length > 0">
                            <div class="clearfix p-10 upload-loading-section" data-ng-if="x.IsNew" data-ng-repeat="x in ExceptionCtrl.ePage.Masters.Exception.Attachment.TempListSource">
                                <div class="file-name" title="{{x.name}}" data-ng-bind="x.name"></div>
                                <div class="meter">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix text-center p-20" data-ng-if="!ExceptionCtrl.ePage.Masters.Exception.Attachment.ListSource">
                            <i class="fa fa-spin fa-spinner font-120"></i>
                        </div>
                        <div class="clearfix text-center p-20" data-ng-if="ExceptionCtrl.ePage.Masters.Exception.Attachment.ListSource && ExceptionCtrl.ePage.Masters.Exception.Attachment.ListSource.length == 0">
                            <i>No Records...!</i>
                        </div>
                        <div class="clearfix attachment-container">
                            <div class="clearfix  attachment-list m-5 pull-left" data-ng-if="ExceptionCtrl.ePage.Masters.Exception.Attachment.ListSource && ExceptionCtrl.ePage.Masters.Exception.Attachment.ListSource.length > 0"
                                data-ng-repeat="x in ExceptionCtrl.ePage.Masters.Exception.Attachment.ListSource | orderBy: 'CreatedDateTime': true">
                                <div class="clearfix position-relative pt-10 pb-10 pl-30 pr-50">
                                    <img class="pull-left" data-ng-src="assets/img/file-types/{{x.FileName | getFileExtension}}.png"
                                        alt="{{x.FileName}}" style="position: absolute; left: 5px;">
                                    <a class="pull-left text-single-line" href="javascript:void(0);" data-ng-bind="x.FileName"
                                        title="{{x.FileName}}" data-ng-click="x.PK && ExceptionCtrl.ePage.Masters.Exception.Attachment.DownloadAttachment(x)"></a>
                                    <i class="fa fa-times-circle-o danger cursor-pointer font-140 pull-left" style="position: absolute; right: 5px;"
                                        data-ng-click="ExceptionCtrl.ePage.Masters.Exception.Attachment.DeleteAttachment(x, $index)"
                                        title="Remove" data-ng-if="ExceptionCtrl.mode == '1'"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Remarks -->
                <div class="clearfix remarks-wrapper mt-10 mb-10">
                    <div class="header pt-10 pb-10 border-bottom bold font-120 mb-10">Remarks</div>
                    <comment input="ExceptionCtrl.ePage.Masters.Exception.ActiveException.CommentInput" mode="'2'" type="'Exception General'"></comment>
                </div>
            </div>
        </div>
    </div>
</div>
