.email-action-container .heading {
    padding: 10px;
    background-color: #f7f7f7;
    font-weight: 600;
}

.org-email-action-modal .modal-dialog {
    width: 600px !important;
}

.org-email-action-modal .modal-dialog .modal-body .form-group .control-label {
    font-weight: 600;
    text-align: left !important;
}
