<div class="clearfix work-item-status-count">
    <div class="clearfix control-tower">
        <div class="clearfix p-20 text-center font-160" data-ng-if="!WorkItemStatusCountCtrl.ePage.Masters.WorkItemList">
            <i class="fa fa-spin fa-spinner"></i>
        </div>
        <div class="clearfix p-20 text-center" data-ng-if="WorkItemStatusCountCtrl.ePage.Masters.WorkItemList && WorkItemStatusCountCtrl.ePage.Masters.WorkItemList.length == 0">
            <i>No Records...!</i>
        </div>
        <!-- Header -->
        <div class="clearfix work-item-status-count-header" data-ng-if="WorkItemStatusCountCtrl.ePage.Masters.WorkItemList && WorkItemStatusCountCtrl.ePage.Masters.WorkItemList.length > 0">
            <div class="col-sm-5 p-0 ">
                <div class="col-sm-8 p-0">
                    <div class="clearfix section-split-space"></div>
                </div>
                <div class="col-sm-4 text-center p-0">
                    <!-- General Total -->
                    <div class="clearfix section-split-space p-0 set-bg-color-1" data-ng-if="WorkItemStatusCountCtrl.code == 'General'">
                        <div class="clearfix top text-single-line">Total</div>
                        <div class="clearfix bottom">
                            <div class="col-sm-4 p-0">Tot</div>
                            <div class="col-sm-4 p-0">Aval</div>
                            <div class="col-sm-4 p-0">Asgn</div>
                        </div>
                    </div>
                    <!-- Within 2 Hrs -->
                    <div class="clearfix section-split-space p-0 set-bg-color-2" data-ng-if="WorkItemStatusCountCtrl.code == 'Overdue'">
                        <div class="clearfix top text-single-line">Within 2 Hrs </div>
                        <div class="clearfix bottom">
                            <div class="col-sm-4 p-0">Tot</div>
                            <div class="col-sm-4 p-0">Aval</div>
                            <div class="col-sm-4 p-0">Asgn</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 p-0">
                <!-- Within KPI -->
                <div class="col-sm-3 p-0 text-center" data-ng-if="WorkItemStatusCountCtrl.code == 'General'">
                    <div class="clearfix section-split-space p-0 set-bg-color-4">
                        <div class="clearfix top text-single-line">Within KPI</div>
                        <div class="clearfix bottom">
                            <div class="col-sm-4 p-0">Tot</div>
                            <div class="col-sm-4 p-0">Aval</div>
                            <div class="col-sm-4 p-0">Asgn</div>
                        </div>
                    </div>
                </div>
                <!-- Overdue -->
                <div class="col-sm-3 p-0 text-center" data-ng-if="WorkItemStatusCountCtrl.code == 'General'">
                    <div class="clearfix section-split-space p-0 set-bg-color-3">
                        <div class="clearfix top text-single-line">Overdue</div>
                        <div class="clearfix bottom">
                            <div class="col-sm-4 p-0">Tot</div>
                            <div class="col-sm-4 p-0">Aval</div>
                            <div class="col-sm-4 p-0">Asgn</div>
                        </div>
                    </div>
                </div>
                <!-- 2 Hrs - 8 Hrs -->
                <div class="col-sm-3 p-0 text-center" data-ng-if="WorkItemStatusCountCtrl.code == 'Overdue'">
                    <div class="clearfix section-split-space p-0 set-bg-color-5">
                        <div class="clearfix top text-single-line">2 Hrs - 8 Hrs</div>
                        <div class="clearfix bottom">
                            <div class="col-sm-4 p-0">Tot</div>
                            <div class="col-sm-4 p-0">Aval</div>
                            <div class="col-sm-4 p-0">Asgn</div>
                        </div>
                    </div>
                </div>
                <!-- 1 Day - 7 Days -->
                <div class="col-sm-3 p-0 text-center" data-ng-if="WorkItemStatusCountCtrl.code == 'Overdue'">
                    <div class="clearfix section-split-space p-0 set-bg-color-6">
                        <div class="clearfix top text-single-line">1 Day - 7 Days</div>
                        <div class="clearfix bottom">
                            <div class="col-sm-4 p-0">Tot</div>
                            <div class="col-sm-4 p-0">Aval</div>
                            <div class="col-sm-4 p-0">Asgn</div>
                        </div>
                    </div>
                </div>
                <!-- 7 Days - 30 Days -->
                <div class="col-sm-3 p-0 text-center" data-ng-if="WorkItemStatusCountCtrl.code == 'Overdue'">
                    <div class="clearfix section-split-space p-0 set-bg-color-7">
                        <div class="clearfix top text-single-line">7 Days - 30 Days</div>
                        <div class="clearfix bottom">
                            <div class="col-sm-4 p-0">Tot</div>
                            <div class="col-sm-4 p-0">Aval</div>
                            <div class="col-sm-4 p-0">Asgn</div>
                        </div>
                    </div>
                </div>
                <!-- More then Month -->
                <div class="col-sm-3 p-0 text-center" data-ng-if="WorkItemStatusCountCtrl.code == 'Overdue'">
                    <div class="clearfix section-split-space p-0 set-bg-color-8">
                        <div class="clearfix top text-single-line">More then Month</div>
                        <div class="clearfix bottom">
                            <div class="col-sm-4 p-0">Tot</div>
                            <div class="col-sm-4 p-0">Aval</div>
                            <div class="col-sm-4 p-0">Asgn</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content -->
        <div class="clearfix work-item-list" data-ng-repeat="x in WorkItemStatusCountCtrl.ePage.Masters.WorkItemList" data-ng-if="WorkItemStatusCountCtrl.ePage.Masters.WorkItemList && WorkItemStatusCountCtrl.ePage.Masters.WorkItemList.length > 0">
            <div class="col-sm-5 p-0 ">
                <div class="col-sm-8 p-0">
                    <div class="clearfix section-split-space">
                        <div class="control-title text-single-line" title="{{x.WSI_StepName}}">{{x.WSI_StepName}}</div>
                        <div class="control-title-2 text-single-line" title="{{x.KPIDescription}} | {{x.ProcessName}}">{{x.KPIDescription}} | {{x.ProcessName}}</div>
                    </div>
                </div>
                <div class="col-sm-4 text-center p-0">
                    <!-- General Total -->
                    <div class="clearfix section-split-space set-bg-color-1" data-ng-if="WorkItemStatusCountCtrl.code == 'General'">
                        <div class="col-sm-4 p-0">
                            <a href="javascript:void(0);" data-ng-bind="x.OVERDUE_TOTAL + x.WITHIN_KPI_TOTAL" title="Total" class="work-item-count txt-color-black"
                                data-ng-click="WorkItemStatusCountCtrl.ePage.Masters.OnWorkItemClick(x, (x.OVERDUE_TOTAL + x.WITHIN_KPI_TOTAL), undefined, 'General', 'AVAILABLE,ASSIGNED')"></a>
                        </div>
                        <div class="col-sm-4 p-0">
                            <a href="javascript:void(0);" data-ng-bind="x.WITHIN_KPI_AVAILABLE + x.OVERDUE_AVAILABLE" title="Within KPI Available Total"
                                class="work-item-count txt-color-blue" data-ng-click="WorkItemStatusCountCtrl.ePage.Masters.OnWorkItemClick(x, (x.WITHIN_KPI_AVAILABLE + x.OVERDUE_AVAILABLE), undefined, 'General', 'AVAILABLE')"></a>
                        </div>
                        <div class="col-sm-4 p-0">
                            <a href="javascript:void(0);" data-ng-bind="x.WITHIN_KPI_ASSIGNED + x.OVERDUE_ASSIGNED" title="Within KPI Assigned Total"
                                class="work-item-count txt-color-green" data-ng-click="WorkItemStatusCountCtrl.ePage.Masters.OnWorkItemClick(x, (x.WITHIN_KPI_ASSIGNED + x.OVERDUE_ASSIGNED), undefined, 'General', 'ASSIGNED')"></a>
                        </div>
                    </div>
                    <!-- Within 2 Hrs -->
                    <div class="clearfix section-split-space set-bg-color-2" data-ng-if="WorkItemStatusCountCtrl.code == 'Overdue'">
                        <div class="col-sm-4 p-0">
                            <a href="javascript:void(0);" data-ng-bind="x.OVERDUE_DRILLDOWN_1_AVAILABLE + x.OVERDUE_DRILLDOWN_1_ASSIGNED" title="Total"
                                class="work-item-count txt-color-black" data-ng-click="WorkItemStatusCountCtrl.ePage.Masters.OnWorkItemClick(x, (x.OVERDUE_DRILLDOWN_1_AVAILABLE + x.OVERDUE_DRILLDOWN_1_ASSIGNED), undefined, 'Overdue', 'AVAILABLE,ASSIGNED')"></a>
                        </div>
                        <div class="col-sm-4 p-0">
                            <a href="javascript:void(0);" data-ng-bind="x.OVERDUE_DRILLDOWN_1_AVAILABLE" title="Within KPI Available Total" class="work-item-count txt-color-blue"
                                data-ng-click="WorkItemStatusCountCtrl.ePage.Masters.OnWorkItemClick(x, x.OVERDUE_DRILLDOWN_1_AVAILABLE, undefined, 'Overdue', 'AVAILABLE')"></a>
                        </div>
                        <div class="col-sm-4 p-0">
                            <a href="javascript:void(0);" data-ng-bind="x.OVERDUE_DRILLDOWN_1_ASSIGNED" title="Within KPI Assigned Total" class="work-item-count txt-color-green"
                                data-ng-click="WorkItemStatusCountCtrl.ePage.Masters.OnWorkItemClick(x, x.OVERDUE_DRILLDOWN_1_ASSIGNED, undefined, 'Overdue', 'ASSIGNED')"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 p-0">
                <!-- Within KPI -->
                <div class="col-sm-3 p-0 text-center" data-ng-if="WorkItemStatusCountCtrl.code == 'General'">
                    <div class="clearfix section-split-space set-bg-color-4">
                        <div class="col-sm-4 p-0">
                            <a href="javascript:void(0);" data-ng-bind="x.WITHIN_KPI_TOTAL" title="Within KPI Total" class="work-item-count txt-color-black"
                                data-ng-click="WorkItemStatusCountCtrl.ePage.Masters.OnWorkItemClick(x, x.WITHIN_KPI_TOTAL, 'WITHIN_KPI_TOTAL', 'General', undefined)"></a>
                        </div>
                        <div class="col-sm-4 p-0">
                            <a href="javascript:void(0);" data-ng-bind="x.WITHIN_KPI_AVAILABLE" title="Within KPI Available" class="work-item-count txt-color-blue"
                                data-ng-click="WorkItemStatusCountCtrl.ePage.Masters.OnWorkItemClick(x, x.WITHIN_KPI_AVAILABLE, 'WITHIN_KPI_AVAILABLE', 'General', undefined)"></a>
                        </div>
                        <div class="col-sm-4 p-0">
                            <a href="javascript:void(0);" data-ng-bind="x.WITHIN_KPI_ASSIGNED" title="Within KPI Assigned" class="work-item-count txt-color-green"
                                data-ng-click="WorkItemStatusCountCtrl.ePage.Masters.OnWorkItemClick(x, x.WITHIN_KPI_ASSIGNED, 'WITHIN_KPI_ASSIGNED', 'General', undefined)"></a>
                        </div>
                    </div>
                </div>
                <!-- Overdue -->
                <div class="col-sm-3 p-0 text-center" data-ng-if="WorkItemStatusCountCtrl.code == 'General'">
                    <div class="clearfix section-split-space set-bg-color-3">
                        <div class="col-sm-4 p-0">
                            <a href="javascript:void(0);" data-ng-bind="x.OVERDUE_TOTAL" title="Overdue Total" class="work-item-count txt-color-black"
                                data-ng-click="WorkItemStatusCountCtrl.ePage.Masters.OnWorkItemClick(x, x.OVERDUE_TOTAL, 'OVERDUE_TOTAL', 'General', undefined)"></a>
                        </div>
                        <div class="col-sm-4 p-0">
                            <a href="javascript:void(0);" data-ng-bind="x.OVERDUE_AVAILABLE" title="Overdue Available" class="work-item-count txt-color-blue"
                                data-ng-click="WorkItemStatusCountCtrl.ePage.Masters.OnWorkItemClick(x, x.OVERDUE_AVAILABLE, 'OVERDUE_AVAILABLE', 'General', undefined)"></a>
                        </div>
                        <div class="col-sm-4 p-0">
                            <a href="javascript:void(0);" data-ng-bind="x.OVERDUE_ASSIGNED" title="Overdue Assigned" class="work-item-count txt-color-green"
                                data-ng-click="WorkItemStatusCountCtrl.ePage.Masters.OnWorkItemClick(x, x.OVERDUE_ASSIGNED, 'OVERDUE_ASSIGNED', 'General', undefined)"></a>
                        </div>
                    </div>
                </div>
                <!-- 2 Hrs - 8 Hrs -->
                <div class="col-sm-3 p-0 text-center" data-ng-if="WorkItemStatusCountCtrl.code == 'Overdue'">
                    <div class="clearfix section-split-space set-bg-color-5">
                        <div class="col-sm-4 p-0">
                            <a href="javascript:void(0);" data-ng-bind="x.OVERDUE_DRILLDOWN_2_AVAILABLE + x.OVERDUE_DRILLDOWN_2_ASSIGNED" title="Within KPI Assigned"
                                class="work-item-count txt-color-black" data-ng-click="WorkItemStatusCountCtrl.ePage.Masters.OnWorkItemClick(x, (x.OVERDUE_DRILLDOWN_2_AVAILABLE + x.OVERDUE_DRILLDOWN_2_ASSIGNED), 'OVERDUE_DRILLDOWN_2_AVAILABLE,OVERDUE_DRILLDOWN_2_ASSIGNED', 'Overdue', undefined)"></a>
                        </div>
                        <div class="col-sm-4 p-0">
                            <a href="javascript:void(0);" data-ng-bind="x.OVERDUE_DRILLDOWN_2_AVAILABLE" title="Within KPI Assigned" class="work-item-count txt-color-blue"
                                data-ng-click="WorkItemStatusCountCtrl.ePage.Masters.OnWorkItemClick(x, x.OVERDUE_DRILLDOWN_2_AVAILABLE, 'OVERDUE_DRILLDOWN_2_AVAILABLE', 'Overdue', undefined)"></a>
                        </div>
                        <div class="col-sm-4 p-0">
                            <a href="javascript:void(0);" data-ng-bind="x.OVERDUE_DRILLDOWN_2_ASSIGNED" title="Within KPI Assigned" class="work-item-count txt-color-green"
                                data-ng-click="WorkItemStatusCountCtrl.ePage.Masters.OnWorkItemClick(x, x.OVERDUE_DRILLDOWN_2_ASSIGNED, 'OVERDUE_DRILLDOWN_2_ASSIGNED', 'Overdue', undefined)"></a>
                        </div>
                    </div>
                </div>
                <!-- 1 Day - 7 Days -->
                <div class="col-sm-3 p-0 text-center" data-ng-if="WorkItemStatusCountCtrl.code == 'Overdue'">
                    <div class="clearfix section-split-space set-bg-color-6">
                        <div class="col-sm-4 p-0">
                            <a href="javascript:void(0);" data-ng-bind="x.OVERDUE_DRILLDOWN_3_AVAILABLE + x.OVERDUE_DRILLDOWN_3_ASSIGNED" title="Within KPI Assigned"
                                class="work-item-count txt-color-black" data-ng-click="WorkItemStatusCountCtrl.ePage.Masters.OnWorkItemClick(x, (x.OVERDUE_DRILLDOWN_3_AVAILABLE + x.OVERDUE_DRILLDOWN_3_ASSIGNED), 'OVERDUE_DRILLDOWN_3_AVAILABLE,OVERDUE_DRILLDOWN_3_ASSIGNED', 'Overdue', undefined)"></a>
                        </div>
                        <div class="col-sm-4 p-0">
                            <a href="javascript:void(0);" data-ng-bind="x.OVERDUE_DRILLDOWN_3_AVAILABLE" title="Within KPI Assigned" class="work-item-count txt-color-blue"
                                data-ng-click="WorkItemStatusCountCtrl.ePage.Masters.OnWorkItemClick(x, x.OVERDUE_DRILLDOWN_3_AVAILABLE, 'OVERDUE_DRILLDOWN_3_AVAILABLE', 'Overdue', undefined)"></a>
                        </div>
                        <div class="col-sm-4 p-0">
                            <a href="javascript:void(0);" data-ng-bind="x.OVERDUE_DRILLDOWN_3_ASSIGNED" title="Within KPI Assigned" class="work-item-count txt-color-green"
                                data-ng-click="WorkItemStatusCountCtrl.ePage.Masters.OnWorkItemClick(x, x.OVERDUE_DRILLDOWN_3_ASSIGNED, 'OVERDUE_DRILLDOWN_3_ASSIGNED', 'Overdue', undefined)"></a>
                        </div>
                    </div>
                </div>
                <!-- 7 Days - 30 Days -->
                <div class="col-sm-3 p-0 text-center" data-ng-if="WorkItemStatusCountCtrl.code == 'Overdue'">
                    <div class="clearfix section-split-space set-bg-color-7">
                        <div class="col-sm-4 p-0">
                            <a href="javascript:void(0);" data-ng-bind="x.OVERDUE_DRILLDOWN_4_AVAILABLE + x.OVERDUE_DRILLDOWN_4_ASSIGNED" title="Within KPI Assigned"
                                class="work-item-count txt-color-black" data-ng-click="WorkItemStatusCountCtrl.ePage.Masters.OnWorkItemClick(x, 'WITHIN_KPI_ASSIGNED')"></a>
                        </div>
                        <div class="col-sm-4 p-0">
                            <a href="javascript:void(0);" data-ng-bind="x.OVERDUE_DRILLDOWN_4_AVAILABLE" title="Within KPI Assigned" class="work-item-count txt-color-blue"
                                data-ng-click="WorkItemStatusCountCtrl.ePage.Masters.OnWorkItemClick(x, 'WITHIN_KPI_ASSIGNED')"></a>
                        </div>
                        <div class="col-sm-4 p-0">
                            <a href="javascript:void(0);" data-ng-bind="x.OVERDUE_DRILLDOWN_4_ASSIGNED" title="Within KPI Assigned" class="work-item-count txt-color-green"
                                data-ng-click="WorkItemStatusCountCtrl.ePage.Masters.OnWorkItemClick(x, 'WITHIN_KPI_ASSIGNED')"></a>
                        </div>
                    </div>
                </div>
                <!-- More then Month -->
                <div class="col-sm-3 p-0 text-center" data-ng-if="WorkItemStatusCountCtrl.code == 'Overdue'">
                    <div class="clearfix section-split-space set-bg-color-8">
                        <div class="col-sm-4 p-0">
                            <a href="javascript:void(0);" data-ng-bind="x.OVERDUE_DRILLDOWN_5_AVAILABLE + x.OVERDUE_DRILLDOWN_5_ASSIGNED" title="Within KPI Assigned"
                                class="work-item-count txt-color-black" data-ng-click="WorkItemStatusCountCtrl.ePage.Masters.OnWorkItemClick(x, 'WITHIN_KPI_ASSIGNED')"></a>
                        </div>
                        <div class="col-sm-4 p-0">
                            <a href="javascript:void(0);" data-ng-bind="x.OVERDUE_DRILLDOWN_5_AVAILABLE" title="Within KPI Assigned" class="work-item-count txt-color-blue"
                                data-ng-click="WorkItemStatusCountCtrl.ePage.Masters.OnWorkItemClick(x, 'WITHIN_KPI_ASSIGNED')"></a>
                        </div>
                        <div class="col-sm-4 p-0">
                            <a href="javascript:void(0);" data-ng-bind="x.OVERDUE_DRILLDOWN_5_ASSIGNED" title="Within KPI Assigned" class="work-item-count txt-color-green"
                                data-ng-click="WorkItemStatusCountCtrl.ePage.Masters.OnWorkItemClick(x, 'WITHIN_KPI_ASSIGNED')"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
