.order-activity-page-warpper .order-activity-header-wrapper {
    background-color: #cbd9de;
    border-bottom: 1px solid #91a1a7;
    display: table;
    width: 100%;
}

.order-activity-page-warpper .order-activity-header {
    display: table-row;
}

.order-activity-page-warpper .order-activity-header .title {
    font-weight: bold;
    font-size: 14px;
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
}

.order-activity-page-warpper .order-activity-header .buttons {
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
}

.order-activity-page-warpper .order-activity-header .buttons .close-icon {
    font-size: 15px;
    opacity: 0.5;
}

.order-activity-page-warpper .order-activity-header .buttons .close-icon:hover {
    opacity: 1;
}

.order-activity-page-warpper .order-activity-header .go-back-icon {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 5px;
}