/*scroll*/
.nextlineless
{    
    height: 23px;
}
.enableScrollbar
{
    width: 1203px;
    overflow-x: auto;
    white-space: nowrap;
}
.nextlinegreater
{   
    height: 23px;
}
/*---- table ----*/
.additional-messages {
    background: #cbd9de;
    padding: 5px 25px;
    width: 100%;
    color: #666;
    font-size: 11px;
    max-height: 120px;
    overflow: hidden;
    line-height: 30px;
}
 .container-location {
    zoom: 1;
    background: #fff;
    margin-right: 140px;
    padding: 0 0 15px;
    position: relative;
    min-height: 350px;
}

.table-text{
	font-size: 14px;
    font-weight: 600;
    text-align: center;
}
table .seatR {
    margin-right: 6px;
    margin-top: 4px;
    font-size: 14px;
    color: #666;
}
.seatI {
    margin: 1px 0px;
    float: left;
    width: 145px;
}

.oval {
    font-size: 9px;
    padding: 3px;
    top:5px;
    width:40px;
    height:21px;
    border-radius:.35em;
    border: 1px solid;
    text-align:center;
    text-decoration: none;
   }

/*====================*/
.btn-rounded, .select-rounded{
	border-radius:20px;
	font-size:12px;
}
.mt-15{
    margin-top: 15px;
}
.select-rounded{
	border:1px solid #eee;
	padding:9px 10px;
}

.btn-black {
    color: #fff;
    background-color: #545454;
    border-color: #545454;
}

.inner-dashboard-box, .dashboard-inward-icon-box{
	border-radius:3px;
}

.inner-dashboard-box{
	width:60%;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	padding:7px;
	position:relative;
}

.dashboard-inward-icon-box{
	width:50px;
	height:50px;
	position:absolute;
	top:-10px;
	left:10px;
	background: linear-gradient(#666, #333);
	color:#fff;
	font-size:30px;
    box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}

.inner-dashboard-inward-txt{
	font-size:14px;
	color:#666;
}

.open-inward-orders{
	color:#999;
}

.open-inward-orders-count{
	font-size:24px;
	color:#7d7d7d;
}

.inner-dashboard-stats-list ul{
	padding:0;
}

.inner-dashboard-stats-list li{
	width:18.7%;
	float:left;
	margin-left:1%;
	list-style:none;
}

.inner-dashboard-stats-list li a{
	width:100%;
	float:left;
	padding:20px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	position:relative;
	border-radius:5px;
	text-decoration:none;
}
/*tooltip*/
.popover-width{
   max-width: 400px;
}
.popover-content{
    padding: 5px 10px;
}
.popover-title{
    font-weight: 600 !important;
}

.emptyLoc
{
border-color:#3276b1d9;
background:white;
color:#3276b1d9;
}    

.fullLoc
{
border-color:#984701;
background:#ff760059;
color:#984701;
}    



