.org-address-type {
    border: 1px solid #ddd;
}

.org-address-type .heading {
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
}

.org-address-type .border-bottom {
    border-bottom: 1px solid #ddd;
}

.org-address-type .is-mapped {
    padding: 10px 5px 8px 10px;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
}

.org-address-type .is-main-address {
    padding: 7px 10px 7px 10px;
    background-color: #f4f4f4;
    border-left: 1px solid #ddd;
}

.org-address-type .is-main-address input[type="checkbox"] {
    position: relative;
}

.org-address-type .is-main-address input[type="checkbox"]~.text:before {
    content: "\2606";
    position: absolute;
    visibility: visible;
    border: 0;
    font-size: 24px;
    background-color: transparent;
    box-shadow: none;
    color: #ccc;
    left: 0;
    top: 0;
    opacity: 1;
}

.org-address-type .is-main-address input[type="checkbox"][disabled]~.text {
    cursor: default;
}

.org-address-type .is-main-address input[type="checkbox"][disabled]~.text:before {
    opacity: 0.5;
}

.org-address-type .is-main-address input[type="checkbox"]:checked~.text:before {
    content: "\2605";
    position: absolute;
    visibility: visible;
    border: 0;
    font-size: 24px;
    background-color: transparent;
    box-shadow: none;
    color: #ccc;
    left: 0;
    top: 0;
    color: #f6c12a;
    opacity: 1;
}

.org-address-type .is-main-address input[type="checkbox"][disabled]:checked~.text:before {
    opacity: 0.5;
}

.org-address-type .address-type-desc {
    width: 400px;
}
