<!-- Saving Your Data -->
<div class="grid-loading-norecord-container ng-scope" style='z-index: 4;'
    data-ng-if="ManifestOrdersCtrl.ePage.Masters.IsLoadingToSave">
    <div class="text-no-record">Saving your Data...</div>
</div>
<div class="col-lg-12 mt-5">
    <div class="rows border-box border-radius-2 bg-fbfbfb">
        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-xl-2 pt-10 pb-10">
            <div class="tab-profile-title text-single-line fs-16"
                data-ng-bind="ManifestOrdersCtrl.ePage.Entities.Header.Data.TmsManifestHeader.ManifestNumber"></div>
        </div>

        <!--Sender-->
        <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 col-xl-8 border-left border-right pt-10 pb-10">
            <div class="fs-14">
                <span>
                    {{ManifestOrdersCtrl.ePage.Entities.Header.Data.TmsManifestHeader.SenderName}}
                </span>
                <span class="ml-15 mr-15">
                    <i class="fa fa-arrow-circle-right"></i>
                </span>
                <span>
                    {{ManifestOrdersCtrl.ePage.Entities.Header.Data.TmsManifestHeader.ReceiverName}}
                </span>
            </div>
        </div>
        <div class="col-lg-2 mt-10">
            <div class="tab-profile-sub-title text-single-line fs-14"
                title="{{ManifestOrdersCtrl.ePage.Entities.Header.Data.TmsManifestHeader.ManifestStatus}} - {{ManifestOrdersCtrl.ePage.Entities.Header.Data.TmsManifestHeader.ManifestStatusDesc}}"
                data-ng-bind="ManifestOrdersCtrl.ePage.Entities.Header.Data.TmsManifestHeader.ManifestStatusDesc"></div>
        </div>
    </div>
</div>
<!--Order Details-->

<!--Radio Button Details-->
<div class="col-lg-12 mt-5" style="margin-bottom: 5px;">
    <div class="rows border-box border-radius-2 bg-fbfbfb">
        <div class="radio">
            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 pt-10 pb-10">
                <label>
                    <input type="radio" value="SalesOrder" ng-model="ManifestOrdersCtrl.ePage.Masters.SelectRadioBtn"
                        data-ng-change="ManifestOrdersCtrl.ePage.Masters.RadioButton(ManifestOrdersCtrl.ePage.Masters.SelectRadioBtn)">
                    <span class="text">WMS Consignment</span>
                </label>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 col-xl-3 pt-10 pb-10">
                <label>
                    <input type="radio" value="Consignment" ng-model="ManifestOrdersCtrl.ePage.Masters.SelectRadioBtn"
                        data-ng-change="ManifestOrdersCtrl.ePage.Masters.RadioButton(ManifestOrdersCtrl.ePage.Masters.SelectRadioBtn)">
                    <span class="text">Non-WMS Consignment</span>
                </label>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-6 col-lg-6 col-xl-6 pt-10 pb-10"></div>
            <!-- <label>
            <input type="radio" value="ASNLine" ng-model="ManifestOrdersCtrl.ePage.Masters.SelectRadioBtn"
                data-ng-change="ManifestOrdersCtrl.ePage.Masters.RadioButton(ManifestOrdersCtrl.ePage.Masters.SelectRadioBtn)">
            <span class="text">ASN</span>
        </label> -->
        </div>
    </div>
</div>
<!-- Buttons -->
<div class="clearfix col-lg-12 mt-10">
    <div>
        <!-- Sales Order Attach Button -->
        <span data-ng-if="ManifestOrdersCtrl.ePage.Masters.SalesOrder">
            <button dynamic-list-modal obj="ManifestOrdersCtrl.ePage.Entities.Header.Data.TmsManifestHeader"
                default-filter="ManifestOrdersCtrl.ePage.Masters.AttachDefaultFilter"
                selected-data="ManifestOrdersCtrl.ePage.Masters.Attach($item)" page-name="'WorkOrder'" mode="3"
                grid-refresh-fun-name="" grid-refresh-fun="" class="btn btn-sm btn-outline-primary" type="button">
                <i class="fa fa-plus-circle"></i> Attach</button>
        </span>
        <!-- Consignment Attach Button -->
        <span data-ng-if="ManifestOrdersCtrl.ePage.Masters.Consignment">
            <button dynamic-list-modal obj="ManifestOrdersCtrl.ePage.Entities.Header.Data.TmsManifestHeader"
                default-filter="ManifestOrdersCtrl.ePage.Masters.AttachCONDefaultFilter"
                selected-data="ManifestOrdersCtrl.ePage.Masters.AttachConsignment($item)"
                page-name="'DistributionConsignment'" mode="3" grid-refresh-fun-name="" grid-refresh-fun=""
                class="btn btn-sm btn-outline-primary" type="button">
                <i class="fa fa-plus-circle"></i> Attach</button>
        </span>
        <!-- ASN Line Attach Button -->
        <span data-ng-if="ManifestOrdersCtrl.ePage.Masters.ASNLine">
            <button dynamic-list-modal obj="ManifestOrdersCtrl.ePage.Entities.Header.Data.TmsManifestHeader"
                default-filter="ManifestOrdersCtrl.ePage.Masters.AttachDefaultFilterASN"
                selected-data="ManifestOrdersCtrl.ePage.Masters.AttachASN($item)" page-name="'WarehouseInward'" mode="3"
                grid-refresh-fun-name="" grid-refresh-fun="" class="btn btn-sm btn-outline-primary" type="button">
                <i class="fa fa-plus-circle"></i> Attach</button>
        </span>
        <!-- Remove Button -->
        <span ng-hide='ManifestOrdersCtrl.ePage.Masters.selectedRow==-1'>
            <button type="button" class="btn btn-sm btn-outline-primary" style="font-size:11px" title="Delete"
                data-ng-click="ManifestOrdersCtrl.ePage.Masters.RemoveRow(ManifestOrdersCtrl.ePage.Entities.Header.Data.TmsManifestConsignment[ManifestOrdersCtrl.ePage.Masters.selectedRow])">
                <i class="fa fa-minus-circle"></i> Detach</button>
        </span>
    </div>
    <div class="dmstable_scroll" id='ManifestOrdersCtrl.ePage.Masters.your_div' style="height:170px; padding-top: 2px;">
        <div class="table" id="results">
            <div class='theader'>
                <div class='table_header'>Consignment Number</div>

                <div class='table_header'>Sender</div>
                <div class='table_header'>Receiver</div>
                <div class='table_header'>Client</div>
                <div class='table_header'>Service Type</div>
                <div class='table_header'>Status</div>
                <div class='table_header'>Sender Reference / Invoice No</div>
                <div class='table_header'>Receiver Reference / Docket No</div>
                <div class='table_header'>Expected Pickup Date Time</div>
                <div class='table_header'>Expected Delivery Date Time</div>
            </div>

            <!-- List Empty Response -->
            <div data-ng-if="ManifestOrdersCtrl.ePage.Entities.Header.Data.TmsManifestConsignment.length==0">
                <div class="text-no-record grid-width" style="bottom:6px">No Record Found</div>
            </div>

            <div class='table_row'
                ng-repeat="x in ManifestOrdersCtrl.ePage.Entities.Header.Data.TmsManifestConsignment track by $index"
                ng-click="ManifestOrdersCtrl.ePage.Masters.setSelectedRow($index)"
                ng-class="{row_active: ManifestOrdersCtrl.ePage.Masters.selectedRow==$index}" style="font-size: 11px;">
                <div class='table_small'>
                    <div class='table_cell'>Consignment Number</div>
                    <div class='table_cell'>
                        <!-- <a href="" ng-click="ManifestOrdersCtrl.ePage.Masters.getOutwardDetails(x)">{{x.TMC_ConsignmentNumber
                            || ManifestOrdersCtrl.ePage.Masters.emptyText}}</a> -->
                        {{x.TMC_ConsignmentNumber || ManifestOrdersCtrl.ePage.Masters.emptyText}}
                    </div>
                </div>

                <div class='table_small'>
                    <div class='table_cell'>Sender</div>
                    <div class='table_cell'>{{x.TMC_SenderCode || ManifestOrdersCtrl.ePage.Masters.emptyText}} -
                        {{x.TMC_SenderName || ManifestOrdersCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Receiver</div>
                    <div class='table_cell'>{{x.TMC_ReceiverCode || ManifestOrdersCtrl.ePage.Masters.emptyText}} -
                        {{x.TMC_ReceiverName || ManifestOrdersCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Client</div>
                    <div class='table_cell'>{{x.TMC_ClientId || ManifestOrdersCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Service Type</div>
                    <div class='table_cell'>{{x.TMC_ServiceType || ManifestOrdersCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Status</div>
                    <div class='table_cell'>{{x.TMC_Status || ManifestOrdersCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Sender Reference / Invoice No</div>
                    <div class='table_cell'>{{x.TMC_SenderRef || ManifestOrdersCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Receiver Reference / Docket No</div>
                    <div class='table_cell'>{{x.TMC_ReceiverRef || ManifestOrdersCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Expected Pickup Date Time</div>
                    <div class="input-group input-group-sm p-5">
                        <input type="text" class="form-control"
                            placeholder="{{ManifestOrdersCtrl.ePage.Masters.DatePicker.Options.dateTimeFormat}}"
                            datetime-picker="{{ManifestOrdersCtrl.ePage.Masters.DatePicker.Options.dateTimeFormat}}"
                            ng-model="x.TMC_ExpectedPickupDateTime"
                            is-open="ManifestOrdersCtrl.ePage.Masters.DatePicker.isOpen['isTMC_ExpectedPickupDateTime'+[$index]]"
                            datepicker-options="ManifestOrdersCtrl.ePage.Masters.DatePicker.Options"
                            datepicker-append-to-body="false" close-on-selection="false" enable-time="true"
                            enable-date="true" default-date="" default-time="" when-closed=""
                            save-as="ManifestOrdersCtrl.ePage.Masters.DatePicker.Options.saveFormat" data-ng-click=""
                            data-ng-change="" custom-date-time-format />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                data-ng-click="ManifestOrdersCtrl.ePage.Masters.DatePicker.OpenDatePicker($event, 'isTMC_ExpectedPickupDateTime'+[$index])">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Expected Delivery Date Time</div>
                    <div class="input-group input-group-sm p-5">
                        <input type="text" class="form-control"
                            placeholder="{{ManifestOrdersCtrl.ePage.Masters.DatePicker.Options.dateTimeFormat}}"
                            datetime-picker="{{ManifestOrdersCtrl.ePage.Masters.DatePicker.Options.dateTimeFormat}}"
                            ng-model="x.TMC_ExpectedDeliveryDateTime"
                            is-open="ManifestOrdersCtrl.ePage.Masters.DatePicker.isOpen['isTMC_ExpectedDeliveryDateTime'+[$index]]"
                            datepicker-options="ManifestOrdersCtrl.ePage.Masters.DatePicker.Options"
                            datepicker-append-to-body="false" close-on-selection="false" enable-time="true"
                            enable-date="true" default-date="" default-time="" when-closed=""
                            save-as="ManifestOrdersCtrl.ePage.Masters.DatePicker.Options.saveFormat" data-ng-click=""
                            data-ng-change="" custom-date-time-format />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                data-ng-click="ManifestOrdersCtrl.ePage.Masters.DatePicker.OpenDatePicker($event, 'isTMC_ExpectedDeliveryDateTime'+[$index])">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix col-lg-12">
    <div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 custompadding">
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 p-0">
                <!-- Sales ADD to Line -->
                <span data-ng-if="ManifestOrdersCtrl.ePage.Masters.SalesOrder">
                    <button type="button" class="btn btn-sm btn-outline-primary font-10" title="Add To Line"
                        data-ng-click="ManifestOrdersCtrl.ePage.Masters.AddToLine()"
                        ng-disabled="ManifestOrdersCtrl.ePage.Entities.Header.GlobalVariables.Finalized">
                        <span class="fa fa-plus"></span>&nbsp;&nbsp;Add To Line</button>
                </span>
                <!-- Consignment ADD to Line -->
                <span data-ng-if="ManifestOrdersCtrl.ePage.Masters.Consignment">
                    <button type="button" class="btn btn-sm btn-outline-primary font-10" title="Add To Line"
                        data-ng-click="ManifestOrdersCtrl.ePage.Masters.AddConsignment()"
                        ng-disabled="ManifestOrdersCtrl.ePage.Entities.Header.GlobalVariables.Finalized">
                        <span class="fa fa-plus"></span>&nbsp;&nbsp;Add To Line</button>
                </span>
                <!-- ASN ADD to Line -->
                <span data-ng-if="ManifestOrdersCtrl.ePage.Masters.ASNLine">
                    <button type="button" class="btn btn-sm btn-outline-primary font-10" title="Add To Line"
                        data-ng-click="ManifestOrdersCtrl.ePage.Masters.AddASN()"
                        ng-disabled="ManifestOrdersCtrl.ePage.Entities.Header.GlobalVariables.Finalized">
                        <span class="fa fa-plus"></span>&nbsp;&nbsp;Add To Line</button>
                </span>
                <span>
                    <button type="button" class="btn btn-sm btn-outline-primary font-10" title="Customize"
                        data-ng-click="ManifestOrdersCtrl.ePage.Masters.EditTableColumnsInventory = true">
                        <span class="fa fa-filter"></span>&nbsp;&nbsp;Customize</button>
                </span>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 custom_label"
                data-ng-if="ManifestOrdersCtrl.ePage.Masters.SalesOrder">
                Order Details
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 custom_label"
                data-ng-if="ManifestOrdersCtrl.ePage.Masters.Consignment">
                Consignment Details
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 custom_label"
                data-ng-if="ManifestOrdersCtrl.ePage.Masters.ASNLine">
                ASN Details
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">

            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 pr-0">
                <button class="btn btn-primary btn-xs filter-sidebar-setting ml-5 dl-filter-btn pull-right"
                    ng-click="ManifestOrdersCtrl.ePage.Masters.GetFilterList()">
                    <i class="fa fa-filter txt-color-blueDark"></i> Filter</button>
            </div>
        </div>
        <!-- Sales Order -->
        <div data-ng-if="ManifestOrdersCtrl.ePage.Masters.SalesOrder" class="dmstable_scroll"
            style="height:200px; padding-top: 2px;margin-bottom:30px">
            <div class="" style="position: relative;">
                <div class="table" id="results">
                    <div class='theader'>
                        <div class='table_header'>
                            <label>
                                <input type="checkbox" ng-change="ManifestOrdersCtrl.ePage.Masters.SelectAllCheckBox()"
                                    ng-checked="ManifestOrdersCtrl.ePage.Masters.SelectAll"
                                    ng-model="ManifestOrdersCtrl.ePage.Masters.SelectAll">
                                <span class="text"></span>
                            </label>
                        </div>
                        <div class='table_header'>Reference No</div>
                        <div class='table_header'>Client</div>
                        <div class='table_header'>Consignee</div>
                        <div class='table_header'>Order Type</div>
                        <div class='table_header'>Status</div>
                        <div class='table_header'>Pick Number</div>
                        <div class='table_header'>Warehouse</div>
                        <div class='table_header'>Supplier</div>
                    </div>


                    <div data-ng-if="ManifestOrdersCtrl.ePage.Masters.OrderDetails.length==0">
                        <div class="text-no-record" style="top:120px;">No records found...</div>
                    </div>
                    <div class="grid-loading-norecord-container"
                        data-ng-show="ManifestOrdersCtrl.ePage.Masters.IsLoading">
                        <div class="grid-loading">Loading...</div>
                    </div>
                    <div data-ng-if="ManifestOrdersCtrl.ePage.Masters.OrderDetails == undefind"
                        data-ng-show="!ManifestOrdersCtrl.ePage.Masters.IsLoading">
                        <div class="text-no-record" style="width: 203px;top:100px">Please filter the Order List</div>
                    </div>
                    <div class='table_row' ng-repeat="x in ManifestOrdersCtrl.ePage.Masters.OrderDetails"
                        style="font-size: 11px;">
                        <div class='table_small'>
                            <div class='table_cell'></div>
                            <div class='table_cell pt-0 pb-0'>
                                <label class="mb-0">
                                    <input type="checkbox" ng-checked="x.SingleSelect"
                                        ng-change="ManifestOrdersCtrl.ePage.Masters.SingleSelectCheckBox()"
                                        ng-model="x.SingleSelect"> </input>
                                    <span class="text"></span>
                                </label>
                            </div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Reference No</div>
                            <div class='table_cell'>{{x.WorkOrderID || ManifestOrdersCtrl.ePage.Masters.emptyText}}
                            </div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Client</div>
                            <div class='table_cell'>{{x.ClientCode ||
                                ManifestOrdersCtrl.ePage.Masters.emptyText}}-{{x.ClientName ||
                                ManifestOrdersCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Consignee</div>
                            <div class='table_cell'>{{x.ConsigneeCode ||
                                ManifestOrdersCtrl.ePage.Masters.emptyText}}-{{x.ConsigneeName ||
                                ManifestOrdersCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Order Type</div>
                            <div class='table_cell'>{{x.WorkOrderTypeDesc ||
                                ManifestOrdersCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Status</div>
                            <div class='table_cell'>{{x.WorkOrderStatusDesc ||
                                ManifestOrdersCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Pick Number</div>
                            <div class='table_cell'>{{x.PickNo || ManifestOrdersCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Warehouse</div>
                            <div class='table_cell'>{{x.WarehouseCode ||
                                ManifestOrdersCtrl.ePage.Masters.emptyText}}-{{x.WarehouseName ||
                                ManifestOrdersCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Supplier</div>
                            <div class='table_cell'>{{x.SupplierCode ||
                                ManifestOrdersCtrl.ePage.Masters.emptyText}}-{{x.SupplierName ||
                                ManifestOrdersCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-40"></div>
        </div>
        <!-- Consignment -->
        <div data-ng-if="ManifestOrdersCtrl.ePage.Masters.Consignment" class="dmstable_scroll"
            style="height:200px; padding-top: 2px;margin-bottom:30px">
            <div class="" style="position: relative;">
                <div class="table" id="results">
                    <div class='theader'>
                        <div class='table_header'>
                            <label>
                                <input type="checkbox" ng-change="ManifestOrdersCtrl.ePage.Masters.SelectAllCheckBox()"
                                    ng-checked="ManifestOrdersCtrl.ePage.Masters.SelectAll"
                                    ng-model="ManifestOrdersCtrl.ePage.Masters.SelectAll">
                                <span class="text"></span>
                            </label>
                        </div>
                        <div class='table_header'>Consignment Number</div>
                        <div class='table_header'>Sender</div>
                        <div class='table_header'>Receiver</div>
                        <div class='table_header'>Service Type</div>
                        <div class='table_header'>Status</div>
                        <div class='table_header'>Estimated Pickup Date</div>
                        <div class='table_header'>Estimated Delivery Date</div>
                    </div>


                    <div data-ng-if="ManifestOrdersCtrl.ePage.Masters.OrderDetails.length==0">
                        <div class="text-no-record" style="top:120px;">No records found...</div>
                    </div>
                    <div class="grid-loading-norecord-container"
                        data-ng-show="ManifestOrdersCtrl.ePage.Masters.IsLoading">
                        <div class="grid-loading">Loading...</div>
                    </div>
                    <div data-ng-if="ManifestOrdersCtrl.ePage.Masters.OrderDetails == undefind"
                        data-ng-show="!ManifestOrdersCtrl.ePage.Masters.IsLoading">
                        <div class="text-no-record" style="width: 203px;top:100px">Please filter the Consignment List
                        </div>
                    </div>
                    <div class='table_row' ng-repeat="x in ManifestOrdersCtrl.ePage.Masters.OrderDetails"
                        style="font-size: 11px;">
                        <div class='table_small'>
                            <div class='table_cell'></div>
                            <div class='table_cell pt-0 pb-0'>
                                <label class="mb-0">
                                    <input type="checkbox" ng-checked="x.SingleSelect"
                                        ng-change="ManifestOrdersCtrl.ePage.Masters.SingleSelectCheckBox()"
                                        ng-model="x.SingleSelect"> </input>
                                    <span class="text"></span>
                                </label>
                            </div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Consignment Number</div>
                            <div class='table_cell'>{{x.ConsignmentNumber ||
                                ManifestOrdersCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Sender</div>
                            <div class='table_cell'>{{x.SenderCode ||
                                ManifestOrdersCtrl.ePage.Masters.emptyText}}-{{x.SenderName ||
                                ManifestOrdersCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Receiver</div>
                            <div class='table_cell'>{{x.ReceiverCode ||
                                ManifestOrdersCtrl.ePage.Masters.emptyText}}-{{x.ReceiverName ||
                                ManifestOrdersCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Service Type</div>
                            <div class='table_cell'>{{x.ServiceType ||
                                ManifestOrdersCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Status</div>
                            <div class='table_cell'>{{x.Status ||
                                ManifestOrdersCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Estimated Pickup Date</div>
                            <div class='table_cell'>{{x.ExpectedPickupDateTime | date:'dd-MM-yyyy' ||
                                ManifestOrdersCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Estimated Delivery Date</div>
                            <div class='table_cell'>{{x.ExpectedDeliveryDateTime | date:'dd-MM-yyyy' ||
                                ManifestOrdersCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-40"></div>
        </div>
        <!-- ASN Line -->
        <div data-ng-if="ManifestOrdersCtrl.ePage.Masters.ASNLine" class="dmstable_scroll"
            style="height:200px; padding-top: 2px;margin-bottom:30px">
            <div class="" style="position: relative;">
                <div class="table" id="results">
                    <div class='theader'>
                        <div class='table_header'>
                            <label>
                                <input type="checkbox" ng-change="ManifestOrdersCtrl.ePage.Masters.SelectAllCheckBox()"
                                    ng-checked="ManifestOrdersCtrl.ePage.Masters.SelectAll"
                                    ng-model="ManifestOrdersCtrl.ePage.Masters.SelectAll">
                                <span class="text"></span>
                            </label>
                        </div>
                        <div class='table_header'>Inward No</div>
                        <div class='table_header'>Supplier</div>
                        <div class='table_header'>Client</div>
                        <div class='table_header'>Warehouse</div>
                        <div class='table_header'>Status</div>
                        <div class='table_header'>Inward Type</div>
                        <div class='table_header'>Order Type</div>
                    </div>


                    <div data-ng-if="ManifestOrdersCtrl.ePage.Masters.OrderDetails.length==0">
                        <div class="text-no-record" style="top:120px;">No records found...</div>
                    </div>
                    <div class="grid-loading-norecord-container"
                        data-ng-show="ManifestOrdersCtrl.ePage.Masters.IsLoading">
                        <div class="grid-loading">Loading...</div>
                    </div>
                    <div data-ng-if="ManifestOrdersCtrl.ePage.Masters.OrderDetails == undefind"
                        data-ng-show="!ManifestOrdersCtrl.ePage.Masters.IsLoading">
                        <div class="text-no-record" style="width: 203px;top:100px">Please filter the Order List</div>
                    </div>
                    <div class='table_row' ng-repeat="x in ManifestOrdersCtrl.ePage.Masters.OrderDetails"
                        style="font-size: 11px;">
                        <div class='table_small'>
                            <div class='table_cell'></div>
                            <div class='table_cell pt-0 pb-0'>
                                <label class="mb-0">
                                    <input type="checkbox" ng-checked="x.SingleSelect"
                                        ng-change="ManifestOrdersCtrl.ePage.Masters.SingleSelectCheckBox()"
                                        ng-model="x.SingleSelect"> </input>
                                    <span class="text"></span>
                                </label>
                            </div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Inward No</div>
                            <div class='table_cell'>{{x.WorkOrderID || ManifestOrdersCtrl.ePage.Masters.emptyText}}
                            </div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Supplier</div>
                            <div class='table_cell'>{{x.SupplierCode ||
                                ManifestOrdersCtrl.ePage.Masters.emptyText}}-{{x.SupplierName ||
                                ManifestOrdersCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Client</div>
                            <div class='table_cell'>{{x.ClientCode ||
                                ManifestOrdersCtrl.ePage.Masters.emptyText}}-{{x.ClientName ||
                                ManifestOrdersCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Warehouse</div>
                            <div class='table_cell'>{{x.WarehouseCode ||
                                ManifestOrdersCtrl.ePage.Masters.emptyText}}-{{x.WarehouseName ||
                                ManifestOrdersCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Status</div>
                            <div class='table_cell'>{{x.WorkOrderStatusDesc ||
                                ManifestOrdersCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Inward Type</div>
                            <div class='table_cell'>{{x.WorkOrderSubType ||
                                ManifestOrdersCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Order Type</div>
                            <div class='table_cell'>{{x.WorkOrderTypeDesc ||
                                ManifestOrdersCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-40"></div>
        </div>
    </div>
</div>

<!--FIlter Bar  -->
<div id="filterSideBar{{ManifestOrdersCtrl.ePage.Masters.DynamicControl.DataEntryName}}{{ManifestOrdersCtrl.currentManifest.label}}"
    data-ng-if="ManifestOrdersCtrl.ePage.Masters.DynamicControl"
    class="dynamic-filter-sidebar-wrapper  clearfix filter-text" style="top: 295px; height: 200px; overflow-y: overlay;"
    data-ng-class="ManifestOrdersCtrl.ePage.Masters.ViewType == 1 ? 'one-column' : 'two-column'">
    <form name="filterSidebar" novalidate>
        <div class="header clearfix">
            <div class="title pull-left">
                <i class="fa fa-filter"></i>
                <span>Filter</span>
            </div>
            <div class="btn-wrapper">
                <ul class="clearfix">
                    <li style="margin-left: 50px;">
                        <div class="filter-save-icon filter-save-icon-toggle"
                            ng-if="ManifestOrdersCtrl.ePage.Masters.DataEntryMaster.OtherConfig.IsFavorite"
                            data-ng-disabled="!ManifestOrdersCtrl.ePage.Masters.DataEntryMaster"
                            data-ng-click="ManifestOrdersCtrl.ePage.Masters.DataEntryMaster.IsShowSaveSettingsTxtBox = !ManifestOrdersCtrl.ePage.Masters.DataEntryMaster.IsShowSaveSettingsTxtBox ">
                            <i class=""
                                data-ng-class="ManifestOrdersCtrl.ePage.Masters.DataEntryMaster.IsShowSaveSettingsTxtBox ? 'fa fa-star' : 'fa fa-star-o'"></i>
                        </div>
                    </li>
                    <li>
                        <span style="font-size: 24px;" class="cursor-pointer"
                            data-ng-class="ManifestOrdersCtrl.ePage.Masters.IsDynamicControlAccess ? 'fa fa-toggle-on' : 'fa fa-toggle-off'"
                            data-ng-click="ManifestOrdersCtrl.ePage.Masters.IsDynamicControlAccess = !ManifestOrdersCtrl.ePage.Masters.IsDynamicControlAccess"></span>
                    </li>
                    <li>
                        <button class="filter-title-btn"
                            ng-click="ManifestOrdersCtrl.ePage.Masters.Clear()">Clear</button>
                    </li>
                    <li>
                        <input type="submit" class="filter-title-btn"
                            ng-click="ManifestOrdersCtrl.ePage.Masters.Filter();" value="Apply">
                    </li>
                    <li>
                        <span class="filter-toggle-icon" ng-click="ManifestOrdersCtrl.ePage.Masters.CloseFilterList()">
                            <i class="fa fa-arrow-right"></i>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="filter-list clearfix">
            <div class="clearfix" data-ng-if="ManifestOrdersCtrl.ePage.Masters.DynamicControl">
                <dynamic-control input="ManifestOrdersCtrl.ePage.Masters.DynamicControl" mode="S" control-style=""
                    default-filter="ManifestOrdersCtrl.ePage.Masters.defaultFilter"
                    toggle="ManifestOrdersCtrl.ePage.Masters.IsDynamicControlAccess"
                    view-type="ManifestOrdersCtrl.ePage.Masters.ViewType"></dynamic-control>
            </div>
        </div>
    </form>
</div>