.custom-widget .tickets-container {
    padding: 15px;
}

.custom-widget .widget {
    margin: 0 0 15px 0;
}

.custom-widget .widget-header {
    min-height: 45px;
}

.custom-widget .user-mine {
    font-size: 14px;
    font-weight: 600;
    color: #171515;
}

.custom-widget .user-at{
    color: #ccc;
}

.custom-widget .widget-header>.widget-caption {
    line-height: 45px;
    padding: 0;
    margin: 0;
    float: left;
    text-align: left;
    font-weight: 500 !important;
    font-size: 16px;
}

.custom-widget .widget-header.bordered-bottom {
    border-bottom: 2px solid #eee;
}

.custom-widget .tickets-container .tickets-list .ticket-item {
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    box-shadow: 0 0 0px rgba(0, 0, 0, .2);
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
    margin-bottom: 8px;
    vertical-align: top;
}

.custom-widget .border-bottom-eee{
border-bottom: 1px solid #eee;
}

.custom-widget .scrollarea {
    height: 240px;
    overflow: hidden;
}

.custom-widget .tickets-list {
    overflow-y: auto;
}

#style-1::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#style-1::-webkit-scrollbar {
    width: 6px;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.custom-widget .tickets-list li:hover {
    cursor: pointer;
    background-color: #fbfbfb !important;
}

.custom-widget .tickets-list li {
    padding: 10px;
}

.custom-widget .tickets-list li span{
    float: left;
}

.custom-widget .mycircle {
    background: #4385d5;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
    padding-top: 10px;
}

.custom-widget .widget-header, .custom-widget .widget-body {
    box-shadow: none;
}

.custom-widget .badge{
    height: auto;
    padding: 5px 10px;
}

.dashboard-dms-icon-box,
.open-dms-orders-count,
.dashboard-dms-title {
    float: left;
}
.btn-rounded,
.select-rounded {
    border-radius: 20px;
    font-size: 12px;
}

.select-rounded {
    width: 250px;
    border: 1px solid #eee;
}

.margin-3 {
    margin: 3px;
}


polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}
svg {
	width: 100%;
	height: 100%;
}

path.slice{
	stroke-width:2px;
}