<div class="clearfix pull-right fs-25 mb-10 mr-10">
    <button class="btn btn-default set-br-blue set-bg-blue-light fs-12" data-ng-click="SfuCRDUpdateEditDirectiveCtrl.ePage.Masters.CRDUpdate()" data-ng-disabled="SfuCRDUpdateEditDirectiveCtrl.ePage.Masters.SelectedOrder.length == 0" >
        Update Cargo Ready Date
    </button>
</div>
<div class="clearfix wmstable_scroll mt-20 ml-10 mr-10" ng-if="SfuCRDUpdateEditDirectiveCtrl.ePage.Masters.GridLoad">
    <sfu-update-grid-directive input="SfuCRDUpdateEditDirectiveCtrl.ePage.Masters.SfuOrderList" grid-change="SfuCRDUpdateEditDirectiveCtrl.ePage.Masters.DataChanges({ item: item })"></sfu-update-grid-directive>
</div>
<div class="clearfix mt-10 pull-right fs-25 mr-10">
    <button class="btn btn-default set-br-yellow set-bg-yellow-light fs-12" data-ng-click="SfuCRDUpdateEditDirectiveCtrl.ePage.Masters.Complete()">
        Complete
    </button>
</div>