.address-edit-modal.address>.modal-dialog {
    width: 900px !important;
}

.org-header {
    font-size: 20px;
    position: relative;
    padding: 5px;
    font-weight: 600;
    color: #1f497d;
    border-bottom: 1px solid #ddd;
}

/* Address Modal */
.org-address-type {
    border: 1px solid #ddd;
}

.org-address-type .heading {
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
}

.org-address-type .border-bottom {
    border-bottom: 1px solid #ddd;
}

.org-address-type .is-mapped {
    padding: 10px 5px 8px 10px;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
}

.org-address-type .is-main-address {
    padding: 7px 10px 7px 10px;
    background-color: #f4f4f4;
    border-left: 1px solid #ddd;
}

.org-address-type .is-main-address input[type="checkbox"] {
    position: relative;
}

.org-address-type .is-main-address input[type="checkbox"]~.text:before {
    content: "\2606";
    position: absolute;
    visibility: visible;
    border: 0;
    font-size: 24px;
    background-color: transparent;
    box-shadow: none;
    color: #ccc;
    left: 0;
    top: 0;
    opacity: 1;
}

.org-address-type .is-main-address input[type="checkbox"][disabled]~.text {
    cursor: default;
}

.org-address-type .is-main-address input[type="checkbox"][disabled]~.text:before {
    opacity: 0.5;
}

.org-address-type .is-main-address input[type="checkbox"]:checked~.text:before {
    content: "\2605";
    position: absolute;
    visibility: visible;
    border: 0;
    font-size: 24px;
    background-color: transparent;
    box-shadow: none;
    color: #ccc;
    left: 0;
    top: 0;
    color: #f6c12a;
    opacity: 1;
}

.org-address-type .is-main-address input[type="checkbox"][disabled]:checked~.text:before {
    opacity: 0.5;
}

.org-address-type .address-type-desc {
    width: 400px;
}

/* =========================================== */
.org-address-contact-box {
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 0 10px 0 10px;
}

.org-address-contact-box.active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.org-address-contact-box .rtl .text-single-line {
    direction: rtl;
}

.org-address-contact-box .org-address-icon {
    width: 20px;
    color: #ccc;
}

.org-address-contact-box .org-address-contact-edit-delete {
    position: absolute;
    top: 5px;
    right: 5px;
}

.org-address-contact-box .org-address-contact-edit-delete i {
    color: #aaa;
    font-size: 16px;
    cursor: pointer;
}
