<button class="popover-{{type}}" uib-popover-template="'errorWarningTemplate'" popover-trigger="'focus'" popover-animation="true"
    popover-append-to-body="false" popover-class="popover-{{type}}" popover-is-open="false" popover-placement="auto">
    <i class="{{icon}}"></i>
</button>

<script type="text/ng-template" id="errorWarningTemplate">
    <div data-ng-if="parentType == 'Parent'" data-ng-repeat="x in list | filter:{'ParentRef': parentRef}">
        <span data-ng-bind="x.Code + ' - ' + x.Message"></span>
    </div>
    <div data-ng-if="parentType == 'GParent'" data-ng-repeat="x in list | filter:{'GParentRef': gParentRef}">
        <span data-ng-bind="x.Code + ' - ' + x.Message"></span>
    </div>
    <div data-ng-if="parentType == 'null'" data-ng-repeat="x in list">
        <span data-ng-bind="x.Code + ' - ' + x.Message"></span>
    </div>
    <div data-ng-if="parentType == 'arrayObjectRow'" data-ng-repeat="x in list | filter:{'RowIndex': rowIndex}">
        <span data-ng-bind="x.Code + ' - ' + x.Message"></span>
    </div>
    <div data-ng-if="parentType == 'arrayObjectCol'" data-ng-repeat="x in list | filter:{'RowIndex': rowIndex, 'ColIndex': colIndex}">
        <span data-ng-bind="x.Code + ' - ' + x.Message"></span>
    </div>
</script>