<div class="clearfix tc-sec-app-sec-tenant">
    <!-- Breadcrumb -->
    <div class="clearfix tc-breadcrumb" data-ng-if="TCSecAppSecTenantCtrl.ePage.Masters.ActiveApplication == 'TC'">
        <i class="fa fa-home home-icon"></i>
        <div class="breadcrumb-list-wrapper">
            <ol class="breadcrumb">
                <li data-ng-repeat="x in TCSecAppSecTenantCtrl.ePage.Masters.Breadcrumb.ListSource" data-ng-if="!x.IsActive">
                    <a href="javascript:void(0);" data-ng-bind="x.Description" data-ng-click="TCSecAppSecTenantCtrl.ePage.Masters.Breadcrumb.OnBreadcrumbClick(x)"></a>
                </li>
                <li data-ng-repeat="x in TCSecAppSecTenantCtrl.ePage.Masters.Breadcrumb.ListSource" data-ng-if="x.IsActive"
                    data-ng-bind="x.Description" class="active"></li>
            </ol>
        </div>
        <span class="tc-breadcrumb-app-name" data-ng-if="TCSecAppSecTenantCtrl.ePage.Masters.QueryString.AppName"
            data-ng-bind="TCSecAppSecTenantCtrl.ePage.Masters.QueryString.AppName"></span>
    </div>
    <!-- Header -->
    <div class="clearfix tc-header-container">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-0">
            <div class="tc-header with-add-new">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 p-5">
                    <div class="text-single-line" data-ng-bind="'Sec App Sec Tenant'"></div>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 p-5 pt-4 text-right">
                    <button class="btn btn-xs btn-info" data-ng-click="TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.AddNew()">New</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 p-0">
            <div class="tc-header edit-view">
                <span data-ng-bind="'Details'"></span>
                <button class="btn btn-default tc-btn-edit btn-xs pull-right ml-10" data-ng-click="TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.Edit()"
                    data-ng-disabled="!TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.ActiveSecAppSecTenant.PK">Edit</button>
                <button class="btn btn-default tc-btn-delete btn-xs pull-right ml-10" data-ng-click="TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.DeleteConfirmation()"
                    data-ng-bind="TCSecAppSecTenantCtrl.ePage.Masters.DeleteBtnText" data-ng-disabled="TCSecAppSecTenantCtrl.ePage.Masters.IsDisableDeleteBtn || !TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.ActiveSecAppSecTenant.PK"
                    data-ng-if="TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.UIControlList && TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.UIControlList.length > 0 && TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.CheckUIControl('TC_MAP_DEL')"></button>
            </div>
        </div>
    </div>
    <!-- Body -->
    <div class="clearfix">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-0">
            <div class="tc-list-search">
                <input type="text" class="form-control input-sm" placeholder="Search..." data-ng-model="TCSecAppSecTenantCtrl.ePage.Masters.Search">
            </div>
            <div class="tc-list-container tc-page-height-fixed left">
                <ul class="tc-list-ul">
                    <div class="p-15 text-center tc-loading" data-ng-if="!TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.SecAppSecTenantList">
                        <i class="fa fa-spin fa-spinner"></i>
                    </div>
                    <div data-ng-if="TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.SecAppSecTenantList && (TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.SecAppSecTenantList | filter: TCSecAppSecTenantCtrl.ePage.Masters.Search).length===0"
                        class="p-15 text-center">
                        <i>No Records...</i>
                    </div>
                    <li data-ng-if="TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.SecAppSecTenantList && (TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.SecAppSecTenantList | filter: TCSecAppSecTenantCtrl.ePage.Masters.Search).length > 0"
                        data-ng-repeat="x in TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.SecAppSecTenantList | filter: TCSecAppSecTenantCtrl.ePage.Masters.Search"
                        data-ng-click="TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.ActiveSecAppSecTenant.PK != x.PK &&  TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.OnSecAppSecTenantClick(x)"
                        data-ng-class="{'active': TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.ActiveSecAppSecTenant.PK == x.PK}">
                        <div class="clearfix tc-list">
                            <div class="tc-list-name">
                                <i class="fa fa-circle-o mr-10"></i>
                                <span class="text-single-line" data-ng-bind="x.TenantCode + ' - ' + x.TenantName"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 p-0 tc-page-height-fixed">
            <div class="pt-10 pb-10 tc-details-view clearfix">
                <div class="clearfix form-group">
                    <label class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">Code</label>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                        <div data-ng-bind="TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.ActiveSecAppSecTenant.TenantCode || TCSecAppSecTenantCtrl.ePage.Masters.emptyText"></div>
                    </div>
                </div>
                <div class="clearfix form-group">
                    <label class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">Name</label>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                        <div data-ng-bind="TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.ActiveSecAppSecTenant.TenantName || TCSecAppSecTenantCtrl.ePage.Masters.emptyText"></div>
                    </div>
                </div>
                <div class="clearfix form-group">
                    <label class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">Application</label>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                        <div data-ng-bind="TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.ActiveSecAppSecTenant.SAP_Code || TCSecAppSecTenantCtrl.ePage.Masters.emptyText"></div>
                    </div>
                </div>
            </div>
            <div class="tc-section-divider" data-ng-if="TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.ActiveSecAppSecTenant.PK"></div>
        </div>
    </div>

    <!-- Edit Template -->
    <script type="text/ng-template" id="secAppSecTenantEdit">
        <div class="modal-header">
                <button type="button" class="close" ng-click="TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.Cancel()">&times;</button>
                <h5 class="modal-title" id="modal-title">
                    <strong>Edit</strong>
                </h5>
            </div>
            <div class="modal-body pt-10" id="modal-body">
                <div class="clearfix">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-5 pb-5">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">Tenant</label>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                                    <input type="text" placeholder="Tenant" class="form-control input-sm" data-ng-model="TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.ActiveSecAppSecTenant.TenantCode"
                                        uib-typeahead="x.TenantCode as x.TenantCode + ' - ' + x.TenantName  for x in TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.GetTenantList($viewValue)"
                                        typeahead-loading="TCSecAppSecTenantCtrl.ePage.Masters.IsSecRoleNoResults"
                                        typeahead-no-results="TCSecAppSecTenantCtrl.ePage.Masters.IsSecRoleLoading"
                                        typeahead-editable="false" typeahead-append-to-body='true' typeahead-on-select="  TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.OnSelectAutoCompleteList($item, $model, $label, $event)"
                                        ng-blur="TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.OnBlurAutoCompleteList($event)"
                                        typeahead-min-length="TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.ActiveSecAppSecTenant.AccessCode.MinLength">
                                    <div class="clearfix dropdown-menu" ng-if="TCSecAppSecTenantCtrl.ePage.Masters.IsSecTenantNoResults">
                                        <div class="auto-complete-no-result">No Results Found!</div>
                                    </div>
                                    <div class="clearfix dropdown-menu" ng-if="TCSecAppSecTenantCtrl.ePage.Masters.IsSecTenantLoading">
                                        <div class="auto-complete-no-result">
                                            <i class="fa fa-spin fa-spinner"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            
                <div class="tc-section-divider-small"></div>
                <div class="clearfix p-10">
                    <button class="btn btn-default tc-btn-save btn-xs pull-right ml-10" data-ng-click="TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.Save()"
                        data-ng-bind="TCSecAppSecTenantCtrl.ePage.Masters.SaveBtnText" data-ng-disabled="TCSecAppSecTenantCtrl.ePage.Masters.IsDisableSaveBtn"></button>
                    <button class="btn btn-default tc-btn-cancel btn-xs pull-right ml-10" data-ng-click="TCSecAppSecTenantCtrl.ePage.Masters.SecAppSecTenant.Cancel()">Cancel</button>
                </div>
                <div class="tc-section-divider-small mb-20"></div>
            </div>
    </script>
</div>
