

<uib-tabset id="chromeTab" active="VehicleCtrl.ePage.Masters.activeTabIndex" class="tab-container chrometab-box">

    <uib-tab>
        <uib-tab-heading title="Vehicle">
            <span data-ng-bind="'Vehicle'"></span>
            <i class="fa fa-thumb-tack pinned-tab"></i>
        </uib-tab-heading>

        <div class="no-padding tab-list-view-wrapper">
            <!--Areas Grid Page-->
            <dynamic-list dataentry-name="VehicleCtrl.ePage.Masters.dataentryName" task-name="VehicleCtrl.ePage.Masters.taskName"
                grid-config-type="0" default-filter="VehicleCtrl.ePage.Masters.defaultFilter" selected-grid-row="VehicleCtrl.ePage.Masters.SelectedGridRow($item)" dataentry-object="VehicleCtrl.ePage.Masters.DataEntryObject"
                mode="1"></dynamic-list>

            <div class="tab-loading" data-ng-show="VehicleCtrl.ePage.Masters.IsTabClick"></div>
        </div>
    </uib-tab>

    <uib-tab active="VehicleCtrl.ePage.Masters.activeTabIndex == $index" ng-repeat="tab in VehicleCtrl.ePage.Masters.TabList"
        ng-click="VehicleCtrl.ePage.Masters.CurrentActiveTab(tab.label)">
        <uib-tab-heading title="{{tab.label}}">
            <span data-ng-bind="tab.label"></span>
            <i class="glyphicon glyphicon-remove" ng-click="VehicleCtrl.ePage.Masters.RemoveTab($event, $index, tab)"></i>
            <span class="error-warning-container-common" data-ng-if="tab[tab.label].ePage.Entities.Header.Meta.ErrorWarning.GlobalErrorWarningList.length > 0">
                <span class="custom-warning-container" data-ng-if="(tab[tab.label].ePage.Entities.Header.Meta.ErrorWarning.GlobalErrorWarningList | listCount: 'MessageType': 'W') > 0 && (tab[tab.label].ePage.Entities.Header.Meta.ErrorWarning.GlobalErrorWarningList | listCount: 'MessageType': 'E') == 0">
                    <button class="btn-warning" data-ng-click="VehicleCtrl.ePage.Masters.Config.ShowErrorWarningModal(tab)">
                        <i class="fa fa-warning"></i>
                    </button>
                    <span class="custom-warning-count">{{tab[tab.label].ePage.Entities.Header.Meta.ErrorWarning.GlobalErrorWarningList | listCount:
                        'MessageType': 'W'}}</span>
                </span>
                <span class="custom-error-container" data-ng-if="(tab[tab.label].ePage.Entities.Header.Meta.ErrorWarning.GlobalErrorWarningList | listCount: 'MessageType': 'E') > 0">
                    <button class="btn-error" data-ng-click="VehicleCtrl.ePage.Masters.Config.ShowErrorWarningModal(tab)">
                        <i class="fa fa-warning"></i>
                    </button>
                    <span class="custom-error-count">{{tab[tab.label].ePage.Entities.Header.Meta.ErrorWarning.GlobalErrorWarningList | listCount:
                        'MessageType': 'E'}}</span>
                </span>
            </span>
        </uib-tab-heading>
        <div class="padding-5 padding-bottom-10 clearfix">

            <!--Warehouse Menu Directive-->
            <vehicle-menu current-vehicle="tab" dataentry-object="VehicleCtrl.ePage.Masters.DataEntryObject"></vehicle-menu>

            <div class="horizontal-space"></div>
        </div>
        <span ng-if="VehicleCtrl.ePage.Masters.Config.SaveAndClose" ng-init="VehicleCtrl.ePage.Masters.SaveandClose(VehicleCtrl.ePage.Masters.activeTabIndex, tab)"></span>
    </uib-tab>
    <button class="btn btn-default" ng-click="VehicleCtrl.ePage.Masters.CreateNewVehicle()" data-ng-disabled="VehicleCtrl.ePage.Masters.IsNewVehicleClicked">+</button>
</uib-tabset>


