<div class="modal-header">
	<h4 class="modal-title pull-left"> Close Order?</h4>
</div>
<div class="modal-body">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-lg-12">
				 <h5> Do you want to save your details </h5>
			</div>
		</div>		
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-xs pull-right margin-left-5" ng-click="CancelPopUpModalCtrl.ePage.Masters.Cancel()">Close</button>
    <button type="button" class="btn btn-primary btn-xs pull-right margin-left-5" ng-click="CancelPopUpModalCtrl.ePage.Masters.Ok()" data-ng-disabled="CancelPopUpModalCtrl.ePage.Masters.IsDisableSave" data-ng-bind="CancelPopUpModalCtrl.ePage.Masters.CancelButtonText"> </button>
</div>