 <div class="clearfix margin-top-10">
     <div class="col-lg-3">
        <div class="form-group">
            <label class="control-label text-single-line">Client</label>
            <div class="">
                <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched" value="{{InventoryGeneralCtrl.ePage.Entities.Header.Data[0].ClientCode + ' - '  + InventoryGeneralCtrl.ePage.Entities.Header.Data[0].ClientName}}" readonly="">
            </div>
        </div>
     </div> 
     <div class="col-lg-3">
        <div class="form-group">
            <label class="control-label text-single-line">Warehouse</label>
            <div class="">
                <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched" value="{{InventoryGeneralCtrl.ePage.Entities.Header.Data[0].WAR_WarehouseCode + ' - '  + InventoryGeneralCtrl.ePage.Entities.Header.Data[0].WAR_WarehouseName}}" readonly="">
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label class="control-label text-single-line">Product</label>
            <div class="">
                <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched" value="{{InventoryGeneralCtrl.ePage.Entities.Header.Data[0].ProductCode + ' - '  + InventoryGeneralCtrl.ePage.Entities.Header.Data[0].ProductName}}" readonly="">
            </div>
        </div>
    </div>
    <div class="col-lg-3" ng-show="InventoryGeneralCtrl.ePage.Entities.Header.CheckPoints.DataEntryName =='InventoryByAttribute'">
        <div class="form-group">
            <label class="control-label text-single-line">Part Attribute1</label>
            <div class="">
                <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched" data-ng-model="InventoryGeneralCtrl.ePage.Entities.Header.Data[0].PartAttrib1" readonly="">
            </div>
        </div>
    </div>
    <div class="col-lg-3" ng-show="InventoryGeneralCtrl.ePage.Entities.Header.CheckPoints.DataEntryName =='InventoryByAttribute'">
        <div class="form-group">
            <label class="control-label text-single-line">Part Attribute2</label>
            <div class="">
                <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched" data-ng-model="InventoryGeneralCtrl.ePage.Entities.Header.Data[0].PartAttrib2" readonly="">
            </div>
        </div>
    </div>
    <div class="col-lg-3" ng-show="InventoryGeneralCtrl.ePage.Entities.Header.CheckPoints.DataEntryName =='InventoryByAttribute'">
        <div class="form-group">
            <label class="control-label text-single-line">Part Attribute3</label>
            <div class="">
                <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched" data-ng-model="InventoryGeneralCtrl.ePage.Entities.Header.Data[0].PartAttrib3" readonly="">
            </div>
        </div>
    </div>
    <div class="col-lg-3" ng-show="InventoryGeneralCtrl.ePage.Entities.Header.CheckPoints.DataEntryName =='InventoryByAttribute'">
        <div class="form-group">
            <label class="control-label text-single-line">Packing Date</label>
            <div class="">
                <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched" data-ng-model="InventoryGeneralCtrl.ePage.Entities.Header.Data[0].PackingDate" readonly="">
            </div>
        </div>
    </div>
    <div class="col-lg-3" ng-show="InventoryGeneralCtrl.ePage.Entities.Header.CheckPoints.DataEntryName =='InventoryByAttribute'">
        <div class="form-group">
            <label class="control-label text-single-line">Expiry Date</label>
            <div class="">
                <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched" data-ng-model="InventoryGeneralCtrl.ePage.Entities.Header.Data[0].ExpiryDate" readonly="">
            </div>
        </div>
    </div>
    <div class="col-lg-3" ng-show="InventoryGeneralCtrl.ePage.Entities.Header.CheckPoints.DataEntryName =='InventoryByLocation'">
        <div class="form-group">
            <label class="control-label text-single-line">Location</label>
            <div class="">
                <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched" data-ng-model="InventoryGeneralCtrl.ePage.Entities.Header.Data[0].Location" readonly="">
            </div>
        </div>
    </div>
 </div>
    
    
<div class="p-15">
    <div class="mt-15"><label class="control-label text-single-line" style="font-size:14px">Inventory Details</label></div>
    <div class="wmstable_scroll" style="height:300px;">
        <div class="table" id="results">
            <div class='theader'>
                <div class='table_header'>Receipt Reference</div>
                <div class='table_header'>Client</div>
                <div class='table_header'>Warehouse</div>
                <div class='table_header'>Product</div>
                <div class='table_header'>Part Attribute1</div>
                <div class='table_header'>Part Attribute2</div>
                <div class='table_header'>Part Attribute3</div>
                <div class='table_header'>Packing Date</div>
                <div class='table_header'>Expiry Date</div>
                <div class='table_header'>Location</div>
                <div class='table_header'>Inventory Status</div>
                <div class='table_header'>Total Qty</div>
                <div class='table_header'>In-Location Qty</div>
                <div class='table_header'>Commited Qty</div>
                <div class='table_header'>In-Transit Qty</div>
                <div class='table_header'>Reserved Qty</div>
                <div class='table_header'>Available To Pic</div>
                <div class='table_header'>Arrival Date</div>
                <div class='table_header'>Pallet ID</div>
                <div class='table_header'>Area Name</div>
            </div>

            <!-- List Empty Response -->
            <div data-ng-if="InventoryGeneralCtrl.ePage.Entities.Header.Data.length==0">
                <div class="infotext" style="bottom:275px">No Record...</div>
            </div>

            <div class='table_row' ng-repeat="x in InventoryGeneralCtrl.ePage.Entities.Header.Data"
                style="font-size: 11px;">
                <div class='table_small'>
                    <div class='table_cell'>Receipt Reference</div>
                    <div class='table_cell'>{{x.ExternalReference || InventoryGeneralCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Client</div>
                    <div class='table_cell'>{{x.ClientCode}} - {{x.ClientName || InventoryGeneralCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Warehouse</div>
                    <div class='table_cell'>{{x.WAR_WarehouseCode}} - {{x.WAR_WarehouseName || InventoryGeneralCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Product</div>
                    <div class='table_cell'>{{x.ProductCode}} - {{x.ProductName || InventoryGeneralCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Part Attribute1</div>
                    <div class='table_cell'>{{x.PartAttrib1 || InventoryGeneralCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Part Attribute2</div>
                    <div class='table_cell'>{{x.PartAttrib2 || InventoryGeneralCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Part Attribute3</div>
                    <div class='table_cell'>{{x.PartAttrib3 || InventoryGeneralCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Packing Date</div>
                    <div class='table_cell'>{{x.PackingDate || InventoryGeneralCtrl.ePage.Masters.emptyText | dateFormat}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Expiry Date</div>
                    <div class='table_cell'>{{x.ExpiryDate || InventoryGeneralCtrl.ePage.Masters.emptyText | dateFormat}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Location</div>
                    <div class='table_cell'>{{x.Location || InventoryGeneralCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Inventory Status</div>
                    <div class='table_cell'>{{x.CurrentInventoryStatus || InventoryGeneralCtrl.ePage.Masters.emptyText}} - {{x.CurrentInventoryStatusDesc}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Total Qty</div>
                    <div class='table_cell'>{{x.TotalUnits || InventoryGeneralCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>In-Location Qty</div>
                    <div class='table_cell'>{{x.InLocationQty || InventoryGeneralCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Commited Qty</div>
                    <div class='table_cell'>{{x.CommitedUnit || InventoryGeneralCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>In-Transit Qty</div>
                    <div class='table_cell'>{{x.InTransitUnit || InventoryGeneralCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Reserved Qty</div>
                    <div class='table_cell'>{{x.ReservedUnit || InventoryGeneralCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Available to Pick</div>
                    <div class='table_cell'>{{x.availableToPick || InventoryGeneralCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Arrival Date</div>
                    <div class='table_cell'>{{x.AdjustmentArrivalDate || InventoryGeneralCtrl.ePage.Masters.emptyText | dateFormat}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Pallet Id</div>
                    <div class='table_cell'>{{x.PalletID || InventoryGeneralCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Area Name</div>
                    <div class='table_cell'>{{x.AreaName || InventoryGeneralCtrl.ePage.Masters.emptyText}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

    
      