<div data-ng-if="DeliveryOrdersCtrl.ePage.Masters.Config.CallOutwardFunction" ng-init="DeliveryOrdersCtrl.ePage.Masters.getOutwardList()"></div>
<div class="clearfix mt-10 col-lg-12">
    <div id="DeliveryOrdersTable{{DeliveryOrdersCtrl.ePage.Entities.Header.Data.UIWmsDelivery.WorkOrderID}}" class="fixedheader mb-0"
        key-events table-object='DeliveryOrdersCtrl.ePage.Masters.DeliveryOrders' enable='DeliveryOrdersCtrl.ePage.Masters.Enable'
        selected-row='DeliveryOrdersCtrl.ePage.Masters.selectedRow' unique-id='DeliveryOrdersTable{{DeliveryOrdersCtrl.ePage.Entities.Header.Data.UIWmsDelivery.WorkOrderID}}'>
        <table style="height: 400px">
            <thead>
                <tr id="tableHeader">
                    <th ng-style="{ 'width':  '40px' }" title="S.No">S.No</th>
                    <th ng-style="{ 'width':  '150px' }" title="Outward No">Outward No</th>
                    <th ng-style="{ 'width':  '100px' }" title="Status">Status</th>
                    <th ng-style="{ 'width':  '150px' }" title="Work Order Type">Work Order Type</th>
                    <th ng-style="{ 'width':  '150px' }" title="Work Order Sub Type">Work Order Sub Type</th>
                    <th ng-style="{ 'width':  '150px' }" title="Client Code">Client Code</th>
                    <th ng-style="{ 'width':  '250px' }" title="Client Name">Client Name</th>
                    <th ng-style="{ 'width':  '150px' }" title="Warehouse Code">Warehouse Code</th>
                    <th ng-style="{ 'width':  '250px' }" title="Warehouse Name">Warehouse Name</th>
                    <th ng-style="{ 'width':  '150px' }" title="Consignee Code">Consignee Code</th>
                    <th ng-style="{ 'width':  '250px' }" title="Consignee Name">Consignee Name</th>
                </tr>
            </thead>
            <tbody id="DeliveryOrdersCustTable{{DeliveryOrdersCtrl.ePage.Entities.Header.Data.UIWmsDelivery.WorkOrderID}}">
                <tr id="tableBody" ng-repeat="x in DeliveryOrdersCtrl.ePage.Masters.DeliveryOrders" ng-click="DeliveryOrdersCtrl.ePage.Masters.setSelectedRow($index);"
                    ng-class="{row_active: (DeliveryOrdersCtrl.ePage.Masters.selectedRow==$index),copy_row_active :(x.IsCopied==true)}">
                    <td ng-style="{ 'width':  '40px' }" class="overflow-text">{{$index +1}}</td>
                    <td ng-style="{ 'width':  '150px' }" class="overflow-text">{{x.WorkOrderID}}</td>
                    <td ng-style="{ 'width':  '100px' }" class="overflow-text">{{x.WorkOrderStatusDesc}}</td>
                    <td ng-style="{ 'width':  '150px' }" class="overflow-text">{{x.WorkOrderTypeDesc}}</td>
                    <td ng-style="{ 'width':  '150px' }" class="overflow-text">{{x.WorkOrderSubType}}</td>
                    <td ng-style="{ 'width':  '150px' }" class="overflow-text">{{x.ClientCode}}</td>
                    <td ng-style="{ 'width':  '250px' }" class="overflow-text">{{x.ClientName}}</td>
                    <td ng-style="{ 'width':  '150px' }" class="overflow-text">{{x.WarehouseCode}}</td>
                    <td ng-style="{ 'width':  '250px' }" class="overflow-text">{{x.WarehouseName}}</td>
                    <td ng-style="{ 'width':  '150px' }" class="overflow-text">{{x.ConsigneeCode}}</td>
                    <td ng-style="{ 'width':  '250px' }" class="overflow-text">{{x.ConsigneeName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>