
.top-48{
    top:48px;
}
.height-40{
    height: 40px;
}

.height-103{
    height: 103px;
}

.font-12{
    font-size: 12px;
}

.inner-dashboard-box, .dashboard-stock-icon-box{
 border-radius:3px;
}


.inner-dashboard-box{
    width:100%;
    float: left;
 border:1px solid #f5f5f5;
 position:relative;
}

.dashboard-stock-icon-box i{
 font-size:16px;
}

.dashboard-stock-icon-box span{
 font-size:12px;
}

  .general-edit.address>.modal-dialog {
    width: 30% !important;
}
.inner-dashboard-stock-txt{
 font-size:18px;
 color:#666;
}



