<div class="clearfix mt-10 tc-edit-page-lookup-config">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <button class="btn btn-primary input-xs mb-10" ng-click="EditPageCtrl.ePage.Masters.EditPage.LookupPage.ChangeJsonView()">Change View</button>
        <div class="tc-json-editor" ng-jsoneditor="EditPageCtrl.ePage.Masters.EditPage.LookupPage.OnLookupConfigLoad" ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.LookupConfig"
            options="EditPageCtrl.ePage.Masters.EditPage.LookupPage.JsonEditiorOptions"></div>
    </div>
</div>
