<div class="clearfix tc-edit-page-serach-config mt-10">
    <div class="clearfix mb-10">
        <form class="form-horizontal" role="form">
            <div class="col-xs-12 xol-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 control-label">Filter ID</label>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                        <input type="text" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.FilterID"
                            class="form-control input-sm" placeholder="Filter ID">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 control-label">Search API URL</label>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                        <input type="text" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.FilterAPI"
                            class="form-control input-sm" placeholder="Search API URL">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 control-label">Redirect URL (Row
                        Click)</label>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                        <input type="text" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.GridConfig.DetailURL"
                            class="form-control input-sm" placeholder="Redirect URL (Row Click)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 control-label">Parameter Column</label>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                        <input type="text" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.GridConfig.DetailKey"
                            class="form-control input-sm" placeholder="Parameter Column">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 control-label">Starred Key Field</label>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                        <input type="text" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.GridConfig.StarredKeyField"
                            class="form-control input-sm" placeholder="Starred Key Field">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 control-label">Starred Value Field</label>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                        <input type="text" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.GridConfig.StarredValueField"
                            class="form-control input-sm" placeholder="Starred Value Field">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 xol-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="set-title mb-10">
                    <span>Filter Config</span>
                </div>
                <form class="form-horizontal " role="form">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 control-label">No Of Column</label>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                            <select chosen class="form-control input-sm" data-ng-options="x for x in ['1', '2']"
                                data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.FilterConfig.NoOfColumn"
                                search-contains="true">
                                <option value="">--Select--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 control-label">Entity Source</label>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                            <input type="text" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.FilterConfig.EntitySource"
                                class="form-control input-sm" placeholder="Entity Source">
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 control-label">No Of Filter Item</label>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                            <input type="text" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.FilterConfig.NoOfFilterItem"
                                class="form-control input-sm" placeholder="No Of Filter Item">
                        </div>
                    </div> -->
                </form>
            </div>
        </form>
    </div>
    <div class="clearfix mb-10">
        <!-- Default Query Input - Pagination-->
        <div class="col-xs-12 xol-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="set-title mb-10">
                <span>Default Query Input</span>
            </div>
            <form class="form-horizontal " role="form">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 control-label">Default Sort Column</label>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                        <input type="text" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.Pagination.SortColumn"
                            class="form-control input-sm" placeholder="Default Sort Column">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 control-label">Sort Type</label>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                        <input type="text" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.Pagination.SortType"
                            class="form-control input-sm" placeholder="Sort Type">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 control-label">Page Number</label>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                        <input type="text" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.Pagination.PageNumber"
                            class="form-control input-sm" placeholder="Page Number">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 control-label">Page Size</label>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                        <input type="text" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.Pagination.PageSize"
                            class="form-control input-sm" placeholder="Page Size">
                    </div>
                </div>
            </form>
        </div>
        <!-- Other Config -->
        <div class="col-xs-12 xol-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="set-title mb-10">
                <span>Style</span>
                <i data-ng-click="EditPageCtrl.ePage.Masters.EditPage.SearchPage.OpenJsonModal('otherConfig',EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig)"
                    class="glyphicon glyphicon-pencil cursor-pointer ml-5"></i>
                </a>
            </div>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 control-label">Is Auto Listing</label>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                        <div class="checkbox m-0">
                            <label>
                                <input type="checkbox" class="colored-blue" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.CSS.IsAutoListing">
                                <span class="text"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 control-label">Background Color</label>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                        <input type="text" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.CSS['bg-color']"
                            class="form-control input-sm" placeholder="Bg Color">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 control-label">Text Color</label>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                        <input type="text" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.CSS['fg-color']"
                            class="form-control input-sm" placeholder="Fg Color">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 control-label">Icon</label>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                        <input type="text" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.CSS.icon"
                            class="form-control input-sm" placeholder="Icon">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 control-label">Align</label>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                        <input type="text" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.CSS.Align"
                            class="form-control input-sm" placeholder="Align">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Sort Column -->
    <div class="clearfix mb-10">
        <div class="col-xs-12 xol-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="set-title mb-10">
                <span>Sort Column</span>
            </div>
            <table class="set-table table table-bordered">
                <thead>
                    <tr>
                        <th>Column Name</th>
                        <th>Db Field Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-if="!EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.GridConfig.SortObjects">
                        <td colspan="2">
                            <div class="text-center p-10" style="font-size: 18px;">
                                <i class="fa fa-spin fa-spinner"></i>
                            </div>
                        </td>
                    </tr>
                    <tr data-ng-if="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.GridConfig.SortObjects && EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.GridConfig.SortObjects.length == 0">
                        <td colspan="20">
                            <div class="text-center p-10">
                                <i>No Records...</i>
                            </div>
                        </td>
                    </tr>
                    <tr data-ng-if="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.GridConfig.SortObjects && EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.GridConfig.SortObjects.length > 0"
                        data-ng-repeat="item in EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.GridConfig.SortObjects">
                        <td>
                            <input class="set-tabel-text" data-ng-model="item.FieldName" type="text" placeholder="Name">
                        </td>
                        <td>
                            <input class="set-tabel-text" data-ng-model="item.value" type="text" placeholder="Db Field Name">
                        </td>
                        <td class="text-center p-4 action-remove">
                            <span data-ng-click="EditPageCtrl.ePage.Masters.EditPage.SearchPage.RemoveSortColumn($index)">
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="20">
                            <a class="padding-10 pull-left" href="javascript:(0);" data-ng-click="EditPageCtrl.ePage.Masters.EditPage.SearchPage.AddNewSortColumn()">Add
                                new…</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 xol-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="set-title mb-10">
                <span>Listing Page Configuration</span>
                <i data-ng-click="EditPageCtrl.ePage.Masters.EditPage.SearchPage.OpenJsonModal('listingPageConfig',EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.ListingPageConfig)"
                    class="glyphicon glyphicon-pencil cursor-pointer ml-5"></i>
            </div>
            <form class="form-horizontal " role="form">
                <div class="clearfix">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="colored-blue" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.ListingPageConfig.EnableCustomizeGridColumnButton">
                                    <span class="text text-single-line">Enable Customize Grid Column Button</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="colored-blue" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.ListingPageConfig.EnableCustomizeFilterFieldsButton">
                                    <span class="text text-single-line">Enable Customize Filter Field Button</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="colored-blue" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.ListingPageConfig.EnableNewButton">
                                    <span class="text text-single-line">Enable New Button</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="colored-blue" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.ListingPageConfig.EnableResetButton">
                                    <span class="text text-single-line">Enable Reset Button</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="colored-blue" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.ListingPageConfig.EnableAttachButton">
                                    <span class="text text-single-line">Enable Attach Button</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="colored-blue" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.ListingPageConfig.EnableFilterButton">
                                    <span class="text text-single-line">Enable Filter Button</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="colored-blue" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.ListingPageConfig.EnableClearButton">
                                    <span class="text text-single-line">Enable Clear Button</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="colored-blue" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.ListingPageConfig.EnableUserFavoriteButton">
                                    <span class="text text-single-line">Enable User Favorite Button</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="colored-blue" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.ListingPageConfig.EnableSearch">
                                    <span class="text text-single-line">Enable Search</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="colored-blue" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.ListingPageConfig.EnableRefreshBtn">
                                    <span class="text text-single-line">Enable Refresh</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tc-section-divider-small mb-10"></div>
                <div class="clearfix">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 control-label">Default Filter</label>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                            <select chosen class="form-control input-sm " data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.DefaultFilter"
                                search-contains="true" data-ng-options="x.PK as x.Key for x in EditPageCtrl.ePage.Masters.EditPage.SearchPage.DefaultFilterList"
                                data-ng-change="EditPageCtrl.ePage.Masters.EditPage.OnSourceListChange(EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.Source)">
                                <option value="">--Select--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="colored-blue" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.ListingPageConfig.EnableFavoriteShortcutFilter">
                                    <span class="text text-single-line">Enable Favorite Shortcut Filter</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="colored-blue" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.ListingPageConfig.EnableSystemDefaultFilter">
                                    <span class="text text-single-line">Enable System Default Filter</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="colored-blue" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.ListingPageConfig.EnableUserDefaultFilter">
                                    <span class="text text-single-line">Enable User Default Filter</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="colored-blue" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.ListingPageConfig.EnableSavedFiltersInSingleMenu">
                                    <span class="text text-single-line">Enable Saved Filters in Single Menu</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="colored-blue" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.ListingPageConfig.EnableExport">
                                    <span class="text text-single-line">Enable Export</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="colored-blue" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.ListingPageConfig.EnableRecentFilter">
                                    <span class="text text-single-line">Enable Recent Filter</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tc-section-divider-small mb-10"></div>
                <div class="clearfix">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="colored-blue" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.ListingPageConfig.EnableCustomToolbar">
                                    <span class="text text-single-line">Enable Custom Toolbar</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 control-label">Custom Toolbar Name</label>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                            <input type="text" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.ListingPageConfig.CustomToolbarName"
                                class="form-control input-sm" placeholder="Custom Toolbar Name">
                        </div>
                    </div>
                </div>
                <div class="tc-section-divider-small mb-10"></div>
                <div class="clearfix">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="colored-blue" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.ListingPageConfig.EnableStandardToolbar"
                                        data-ng-click="EditPageCtrl.ePage.Masters.EditPage.SearchPage.OnStandaredToolbarChange($event)">
                                    <span class="text text-single-line">Enable Standard Toolbar</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col-lg-4" data-ng-repeat="x in EditPageCtrl.ePage.Masters.EditPage.SearchPage.StandardMenuList">
                            <div class="form-group mb-5">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="colored-blue" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.ListingPageConfig.StandardToolbar.ToolList[x.Code]">
                                        <span class="text text-single-line" data-ng-bind="x.Desc"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tc-section-divider-small mb-10"></div>
                    <div class="clearfix">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 control-label">Code Field Name</label>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                                <input type="text" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.ListingPageConfig.CodeFieldName"
                                    class="form-control input-sm" placeholder="Field Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 control-label">Entity Config Name</label>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                                <input type="text" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.ListingPageConfig.EntityConfigName"
                                    class="form-control input-sm" placeholder="Config Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 control-label">Entity Name</label>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                                <input type="text" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.ListingPageConfig.EntityName"
                                    class="form-control input-sm" placeholder="Entity Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 control-label">Entity Source</label>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                                <input type="text" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.ListingPageConfig.EntitySource"
                                    class="form-control input-sm" placeholder="Entity Source">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="tc-section-divider-small mt-10 mb-10"></div>
            <!-- Parties Config -->
            <!-- <div class="clearfix">
                <div class="set-title mb-10">
                    <span>Parties Config</span>
                </div>
                <form class="form-horizontal " role="form">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 control-label">Enable Party List</label>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                            <div class="checkbox m-0">
                                <label>
                                    <input type="checkbox" class="colored-blue" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.Parties.IsEnableParties">
                                    <span class="text"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 control-label">Party Type FK Field</label>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                            <input type="text" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.Parties.FKField"
                                class="form-control input-sm" placeholder="Field Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 control-label">Party Type Code
                            Field</label>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
                            <input type="text" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.Parties.CodeField"
                                class="form-control input-sm" placeholder="Field Name">
                        </div>
                    </div>
                </form>
            </div> -->
        </div>
    </div>
    <!-- Grid Configuration -->
    <div class="clearfix mb-10">
        <div class="col-xs-12 xol-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="set-title mb-10">
                <span>Grid Configuration</span>
                <i data-ng-click="EditPageCtrl.ePage.Masters.EditPage.SearchPage.OpenJsonModal('GridConfigHeader',EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.GridConfig.Header)"
                    class="glyphicon glyphicon-pencil cursor-pointer ml-5"></i>
            </div>
            <table class="set-table table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Column Name</th>
                        <th>Column Heading</th>
                        <th>Width</th>
                        <th>Template</th>
                        <th>Is Visible</th>
                        <th>Is Manatory</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody dnd-list="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.GridConfig.Header">
                    <tr data-ng-if="!EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.GridConfig.Header">
                        <td colspan="20">
                            <div class="text-center p-10" style="font-size: 18px;">
                                <i class="fa fa-spin fa-spinner"></i>
                            </div>
                        </td>
                    </tr>
                    <tr data-ng-if="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.GridConfig.Header && EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.GridConfig.Header.length == 0">
                        <td colspan="20">
                            <div class="text-center p-10">
                                <i>No Records...</i>
                            </div>
                        </td>
                    </tr>
                    <tr data-ng-if="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.GridConfig.Header && EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.GridConfig.Header.length > 0"
                        data-ng-repeat="item in EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.GridConfig.Header"
                        dnd-draggable="item" dnd-moved="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.GridConfig.Header.splice($index, 1)"
                        dnd-effect-allowed="move">
                        <td class="text-center cursor-pointer" style="width: 51px; font-size: 23px;">
                            <span class="drag-icon" title="Change Order">:::</span>
                        </td>
                        <td>
                            <input class="set-tabel-text" type="text" data-ng-model="item.field" placeholder="Name">
                        </td>
                        <td>
                            <input class="set-tabel-text" type="text" data-ng-model="item.displayName" placeholder="Display Name">
                        </td>
                        <td>
                            <input class="set-tabel-text" type="text" data-ng-model="item.width" placeholder="Width">
                        </td>
                        <td>
                            <input class="set-tabel-text" type="text" data-ng-model="item.cellTemplate" placeholder="Cell Template">
                        </td>
                        <td class="text-center p-5">
                            <div class="checkbox m-0">
                                <label>
                                    <input type="checkbox" class="colored-blue" data-ng-model="item.IsVisible"
                                        data-ng-disabled="item.IsMandatory">
                                    <span class="text"></span>
                                </label>
                            </div>
                        </td>
                        <td class="text-center p-5">
                            <div class="checkbox m-0">
                                <label>
                                    <input type="checkbox" class="colored-blue" data-ng-model="item.IsMandatory"
                                        data-ng-change="item.IsMandatory ? (item.IsVisible = true) : item.IsVisible = item.IsVisible">
                                    <span class="text"></span>
                                </label>
                            </div>
                        </td>
                        <td class="text-center p-4 action-remove">
                            <span data-ng-click="EditPageCtrl.ePage.Masters.EditPage.SearchPage.RemoveGridConfig($index)">
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>
                    </tr>
                    <tr class="dndPlaceholder">
                        <td colspan="8" class=""></td>
                    </tr>
                    <tr>
                        <td colspan="20">
                            <a class="padding-10 pull-left" href="javascript:(0);" data-ng-click="EditPageCtrl.ePage.Masters.EditPage.SearchPage.AddNewGridConfig()">Add
                                new…</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Grid Options -->
    <div class="clearfix mb-10">
        <div class="col-xs-12 xol-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="set-title mb-10">
                <span>Grid Options</span>
                <i data-ng-click="EditPageCtrl.ePage.Masters.EditPage.SearchPage.OpenJsonModal('gridOptions',EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.GridOptions)"
                    class="glyphicon glyphicon-pencil cursor-pointer ml-5"></i>
            </div>
            <div class="clearfix">
                <div class="clearfix">
                    <div class="col-lg-3" data-ng-repeat="x in EditPageCtrl.ePage.Masters.EditPage.SearchPage.GridOptions | filter: {'Type': 'boolean'}:true">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="colored-blue" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.GridOptions[x.Field]">
                                    <span class="text text-single-line" data-ng-bind="x.Label"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tc-section-divider-small mt-5 mb-10"></div>
                <div class="clearfix">
                    <div class="col-lg-3" data-ng-repeat="x in EditPageCtrl.ePage.Masters.EditPage.SearchPage.GridOptions | filter: {'Type': 'text'}:true">
                        <div class="form-group">
                            <label class="control-label">
                                <span class="text-single-line" data-ng-bind="x.Label"></span>
                            </label>
                            <div class="clearfix">
                                <input type="text" data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.GridOptions[x.Field]"
                                    class="form-control input-sm" placeholder="{{x.Label}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tc-section-divider-small mt-5 mb-10"></div>
                <div class="clearfix">
                    <div class="col-lg-4" data-ng-repeat="x in EditPageCtrl.ePage.Masters.EditPage.SearchPage.GridOptions | filter: {'Type': 'textArea'}:true">
                        <div class="form-group">
                            <label class="control-label">
                                <span class="text-single-line" data-ng-bind="x.Label"></span>
                            </label>
                            <div class="clearfix">
                                <textarea data-ng-model="EditPageCtrl.ePage.Masters.EditPage.DataEntryDetails.OtherConfig.GridOptions[x.Field]"
                                    class="form-control input-sm no-resize" placeholder="{{x.Label}}" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
