.package-link {
    font-size: 16px;
    text-decoration: underline;
}

.packing .modal-dialog {
    width: 70% !important;
}

.dropdownWrapLeft, .dropdownWrapMiddle, .dropdownWrapLast {
    position: absolute;
    z-index: 999999;
    width: 998px;
    background: #f0f0f0;
    box-shadow: 1px 1px 5px #999;
    top: 41px;
}

.dropdownWrapLeft{
    left: 0px;
}

.dropdownWrapMiddle {
    right: -342px;
}

.dropdownWrapLast {
    right: 0px;
}

.address-panel {
    background-color: #f9f9f9;
    border: 1px solid #eee;
}

.address-design,
.address-consignee {
    border-right: 1px solid #eee;
}

.packing-total {
    background: #fbfbfb;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.ship-font label {
    color: gray;
    font-weight: 600;
    font-size: 12px;
}


 .title-message {
    font-size: 30px;
    text-align: center;
    color:#4385f5;
    font-weight : bold;
}