<div class="clearfix mt-10">
    <div class="clearfix mt-10 mb-20 col-lg-12">
        <!-- Pickup Line No -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">PickUp Line No</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="PickUp Line No" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.PickupLineRefNo">
                </div>
            </div>
        </div>
        <!-- PickUp Line Status -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">PickUp Line Status</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="PickUp Line Status" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.PickupLineStatus">
                </div>
            </div>
        </div>
        <!-- Pickup Request No -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Pickup Request No</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Pickup Request No" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.PickupRequestNo">
                </div>
            </div>
        </div>
        <!--Pickup Warehouse -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Pickup Warehouse</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Pickup Warehouse" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.Warehouse">
                </div>
            </div>
        </div>
        <!-- Consignee -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Consignee</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Consignee " data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.Consignee">
                </div>
            </div>
        </div>
        <!-- Service Provider -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Service Provider</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Service Provider" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.Client">
                </div>
            </div>
        </div>
        <!-- Pickup Request Mode -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Pickup Request Mode</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Request Mode" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.RequestMode">
                </div>
            </div>
        </div>
        <!-- Response Type -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Response Type</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Response Type" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.ResponseType">
                </div>
            </div>
        </div>
        <!-- Requester Name -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Requester Name</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Requester Name" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.RequesterName">
                </div>
            </div>
        </div>
        <!--Requester Contact Number  -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Requester Contact Number</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Requester Contact Number" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.RequesterContactNumber">
                </div>
            </div>
        </div>
        <!-- CSR Receiver -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">CSR Receiver</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="CSR Receiver" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.CSRReceiver">
                </div>
            </div>
        </div>
        <!-- Pickup Point -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Pickup Point</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Pickup Point" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.PickupPoint">
                </div>
            </div>
        </div>
        <!-- Acknowledged Person -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Acknowledged Person</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Acknowledged Person" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.AcknowledgedPerson">
                </div>
            </div>
        </div>
        <!-- Acknowledged Date Time -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Acknowledged Date Time</label>
                <div class="input-group input-group-sm">
                    <input type="text" disabled class="form-control" placeholder="{{TrackDamageGeneralCtrl.ePage.Masters.DatePicker.Options.dateTimeFormat}}"
                        datetime-picker="{{TrackDamageGeneralCtrl.ePage.Masters.DatePicker.Options.dateTimeFormat}}"
                        ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.AcknowledgedDateTime" is-open="TrackDamageGeneralCtrl.ePage.Masters.DatePicker.isOpen['isAcknowledgedDateTime']"
                        datepicker-options="TrackDamageGeneralCtrl.ePage.Masters.DatePicker.Options"
                        datepicker-append-to-body="false" close-on-selection="false" enable-time="true" enable-date="true"
                        default-date="" default-time="" when-closed="" save-as="TrackDamageGeneralCtrl.ePage.Masters.DatePicker.Options.saveFormat"
                        custom-date-time-format />
                    <span class="input-group-btn">
                        <button disabled type="button" class="btn btn-default" data-ng-click="TrackDamageGeneralCtrl.ePage.Masters.DatePicker.OpenDatePicker($event, 'isAcknowledgedDateTime')">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <!-- Receiver Name -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Receiver Name</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Receiver Name" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.ReceiverName">
                </div>
            </div>
        </div>
        <!-- Receiver Contact No -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Receiver Contact No</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Receiver Contact No" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.ReceiverContactNo">
                </div>
            </div>
        </div>
        <!-- HandOver Person -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">HandOver Person</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="HandOver Person" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.HandOverPerson">
                </div>
            </div>
        </div>
        <!-- HandOver person Contact No -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">HandOver Person ContactNo</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="HandOver Person ContactNo" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.HandOverPersonContactNo">
                </div>
            </div>
        </div>
        <!-- Pickup Requested Date Time -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Pickup Requested Date Time</label>
                <div class="input-group input-group-sm">
                    <input type="text" disabled class="form-control" placeholder="{{TrackDamageGeneralCtrl.ePage.Masters.DatePicker.Options.dateTimeFormat}}"
                        datetime-picker="{{TrackDamageGeneralCtrl.ePage.Masters.DatePicker.Options.dateTimeFormat}}"
                        ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.RequestedDateTime" is-open="TrackDamageGeneralCtrl.ePage.Masters.DatePicker.isOpen['isRequestedDateTime']"
                        datepicker-options="TrackDamageGeneralCtrl.ePage.Masters.DatePicker.Options"
                        datepicker-append-to-body="false" close-on-selection="false" enable-time="true" enable-date="true"
                        default-date="" default-time="" when-closed="" save-as="TrackDamageGeneralCtrl.ePage.Masters.DatePicker.Options.saveFormat"
                        custom-date-time-format />
                    <span class="input-group-btn">
                        <button disabled type="button" class="btn btn-default" data-ng-click="TrackDamageGeneralCtrl.ePage.Masters.DatePicker.OpenDatePicker($event, 'isRequestedDateTime')">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <!-- Requested Product-->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Requested Product</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Requested Product" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.RequestedProduct">
                </div>
            </div>
        </div>
        <!-- Requested Serial Number -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Requested Serial Number</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Requested Serial Number" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.UDF1">
                </div>
            </div>
        </div>
        <!-- Requested Revision State -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Requested Revision State</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Requested Revision State" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.UDF1">
                </div>
            </div>
        </div>
        <!-- Delivered product -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Delivered Product</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Delivered Product" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.DeliveredProduct">
                </div>
            </div>
        </div>
        <!-- Delivered Serial No -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Delivered Serial No</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Delivered Serial No" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.PIL_UDF1">
                </div>
            </div>
        </div>
        <!-- Delivered Revision State -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Delivered Revision State</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Delivered Revision State" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.PIL_UDF2">
                </div>
            </div>
        </div>
        <!-- Pack Type -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Pack Type</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Pack Type" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.PackType">
                </div>
            </div>
        </div>
        <!-- No of Packs -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">No of Packs</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="No of Packs" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.Packs">
                </div>
            </div>
        </div>
        <!-- Pickup Product Status-->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Pickup Product Status</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Pickup Product Status" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.PickupProductStatus">
                </div>
            </div>
        </div>
        <!-- Product Condition -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Product Condition</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Product Condition" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.ProductCondition">
                </div>
            </div>
        </div>
        <!-- Pick Inward No -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Inward No</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Inward Number" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.PIW_RefNo">
                </div>
            </div>
        </div>
        <!-- Pick Inward Customer Reference -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Inward Customer Reference</label>
                <div class="">
                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Inward Customer Reference" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.PIW_CustomerReference">
                </div>
            </div>
        </div>
        <!-- Pick Inward External Reference -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Inward External RefNo</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Inward External RefNo" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.PIW_ExternalRefNo">
                </div>
            </div>
        </div>
        <!-- Central To Repair (or) Scrap Outward No -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Central To Repair (or) Scrap Outward No</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Central To Repair (or) Scrap Outward No" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.CTR_OUT_RefNo">
                </div>
            </div>
        </div>
        <!-- CTR Outward External Reference -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">CTR Outward External Reference</label>
                <div class="">
                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="External Reference" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.CTR_OUT_ExternalRefNumber">
                </div>
            </div>
        </div>
        <!-- CTR Outward Customer Reference -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">CTR Outward Customer Reference</label>
                <div class="">
                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Customer Reference" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.CTR_CustomerReference">
                </div>
            </div>
        </div>
        <!-- Central To Repair (or) Scrap Outward Warehouse -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Central To Repair (or) Scrap Outward From Warehouse</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Central To Repair (or) Scrap Outward Warehouse" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.CTR_FromWH_Code">
                </div>
            </div>
        </div>
        <!-- Central To Repair (or) Scrap Outward To Warehouse-->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Central To Repair (or) Scrap Outward To Warehouse</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Central To Repair (or) Scrap Outward To Warehouse" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.CTR_ToWH_Code">
                </div>
            </div>
        </div>
        <!--Central To Repair (or) Scrap Inward No  -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Central To Repair (or) Scrap Inward No</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Central To Repair (or) Scrap Inward No" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.CTR_INW_RefNo">
                </div>
            </div>
        </div>
        <!-- CTR Inward Customer Reference -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">CTR Inward Customer Reference</label>
                <div class="">
                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Customer Reference" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.CTR_INW_CustomerReference">
                </div>
            </div>
        </div>
        <!-- CTR Inward External Reference -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">CTR Inward External Reference</label>
                <div class="">
                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="External Reference" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.CTR_INW_ExternalRefNumber">
                </div>
            </div>
        </div>
        <!--Central To Testing Outward No  -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Central To Testing Outward No</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Central To Testing Outward No" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.CTT_OUT_RefNo">
                </div>
            </div>
        </div>
        <!-- CTT Outward Customer Reference -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">CTT Outward Customer Reference</label>
                <div class="">
                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Customer Reference" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.CTT_OUT_CustomerReference">
                </div>
            </div>
        </div>
        <!-- CTT Outward External Reference -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">CTT Outward External Reference</label>
                <div class="">
                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="External Reference" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.CTT_OUT_ExternalRefNumber">
                </div>
            </div>
        </div>
        <!--Central To Testing Outward Warehouse-->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Central To Testing Outward From Warehouse</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Central To Testing Outward Warehouse" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.CTT_FromWH_Code">
                </div>
            </div>
        </div>
        <!--Central To Testing Outward To Warehouse  -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Central To Testing Outward To Warehouse</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Central To Testing Outward To Warehouse" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.CTT_ToWH_Code">
                </div>
            </div>
        </div>
        <!--Central To Testing Inward No-->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Central To Testing Inward No</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Central To Testing Inward No" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.CTT_INW_RefNo">
                </div>
            </div>
        </div>
        <!-- CTT Inward Customer Reference -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">CTT Inward Customer Reference</label>
                <div class="">
                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Customer Reference" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.CTT_INW_CustomerReference">
                </div>
            </div>
        </div>
        <!-- CTT Inward External Reference -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">CTT Inward External Reference</label>
                <div class="">
                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="External Reference" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.CTT_INW_ExternalRefNumber">
                </div>
            </div>
        </div>
        <!-- Testing Reference No -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Testing Reference No</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Testing Reference No" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.TestingRefNo">
                </div>
            </div>
        </div>
        <!-- Site To Central Outward No -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Site To Central Outward No</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Site To Central Outward No" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.STC_OUT_RefNo">
                </div>
            </div>
        </div>
        <!-- STC Outward Customer Reference-->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">STC Outward Customer Reference</label>
                <div class="">
                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="STC Outward Customer Reference" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.STC_OUT_CustomerReference">
                </div>
            </div>
        </div>
        <!-- STC Outward External Reference-->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">STC Outward External Reference</label>
                <div class="">
                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="STC Outward External Reference" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.STC_OUT_ExternalRefNumber">
                </div>
            </div>
        </div>
        <!--  Site To Central Outward from Warehouse-->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Site To Central Outward From Warehouse</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Site To Central Outward Warehouse" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.SiteFromWarehouse">
                </div>
            </div>
        </div>
        <!-- Site To Central Outward To Warehouse -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Site To Central Outward To Warehouse</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Site To Central Outward To Warehouse" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.SiteToWarehouse">
                </div>
            </div>
        </div>
        <!-- Site To Central Inward No -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Site To Central Inward No</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Site To Central Inward No" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.STC_INW_RefNo">
                </div>
            </div>
        </div>
        <!-- STC Inward Customer Reference-->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">STC Inward Customer Reference</label>
                <div class="">
                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="STC Inward Customer Reference" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.STC_INW_CustomerReference">
                </div>
            </div>
        </div>
        <!-- STC Inward External Reference-->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">STC Inward External Reference</label>
                <div class="">
                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="STC Inward External Reference" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.STC_INW_ExternalRefNumber">
                </div>
            </div>
        </div>
        <!--Testing To Central Outward No -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Testing To Central Outward No</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Testing To Central Outward No" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.TTC_OUT_RefNo">
                </div>
            </div>
        </div>
        <!-- TTC Outward Customer Reference -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">TTC Outward Customer Reference</label>
                <div class="">
                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="TTC Outward Customer Reference" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.TTC_OUT_CustomerReference">
                </div>
            </div>
        </div>
        <!-- TTC Outward External Reference -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">TTC Outward External Reference</label>
                <div class="">
                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="TTC Outward External Reference" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.TTC_OUT_ExternalRefNumber">
                </div>
            </div>
        </div>
        <!--Testing To Central Outward Warehouse  -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Testing To Central Outward Warehouse</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Testing To Central Outward Warehouse" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.TestingFromWarehouse">
                </div>
            </div>
        </div>
        <!--Testing To Central Outward To Warehouse  -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Testing To Central Outward To Warehouse</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Testing To Central Outward To Warehouse" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.TestingToWarehouse">
                </div>
            </div>
        </div>
        <!-- Testing To Central Inward No -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Testing To Central Inward No</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Testing To Central Inward No" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.TTC_INW_RefNo">
                </div>
            </div>
        </div>
        <!-- TTC Inward Customer Reference -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">TTC Inward Customer Reference</label>
                <div class="">
                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="TTC Inward Customer Reference" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.TTC_INW_CustomerReference">
                </div>
            </div>
        </div>
        <!-- TTC Inward External Reference -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">TTC Inward External Reference</label>
                <div class="">
                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="TTC Inward External Reference" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.TTC_INW_ExternalRefNumber">
                </div>
            </div>
        </div>
        <!--Repair To Central Outward No  -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Repair To Central Outward No</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Repair To Central Outward No" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.RTC_OUT_RefNo">
                </div>
            </div>
        </div>
        <!-- RTC Outward External Reference -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">RTC Outward External Reference</label>
                <div class="">
                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="RTC Outward External Reference" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.RTC_OUT_ExternalRefNumber">
                </div>
            </div>
        </div>
        <!--Repair To Central Outward Warehouse  -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Repair To Central Outward Warehouse</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Repair To Central Outward Warehouse" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.RepairFromWarehouse">
                </div>
            </div>
        </div>
        <!-- Repair To Central Outward To Warehouse -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Repair To Central Outward To Warehouse</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Repair To Central Outward To Warehouse" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.RepairToWarehouse">
                </div>
            </div>
        </div>
        <!-- Repair To Central Customer Reference -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Repair To Central Customer Reference</label>
                <div class="">
                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Repair To Central Customer Reference" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.RTC_CustomerReference">
                </div>
            </div>
        </div>
        <!--RTC Inward No-->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">RTC Inward No</label>
                <div class="">
                    <input type="text" disabled class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="RTC Inward No" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.RTC_INW_RefNo">
                </div>
            </div>
        </div>
        <!-- RTC Inward Customer Reference -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">RTC Inward Customer Reference</label>
                <div class="">
                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="RTC Inward Customer Reference" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.RTC_INW_CustomerReference">
                </div>
            </div>
        </div>
        <!-- RTC Inward External Reference -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">RTC Inward External Reference</label>
                <div class="">
                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="RTC Inward External Reference" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.RTC_INW_ExternalRefNumber">
                </div>
            </div>
        </div>
        <!-- Faulty Category -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Faulty Category</label>
                <div class="">
                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Faulty Category" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.FaultCategory">
                </div>
            </div>
        </div>
        <!-- Unit Failure -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Unit Failure</label>
                <div class="">
                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Unit Failure" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.UnitFailure">
                </div>
            </div>
        </div>
        <!-- LED Status -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">LED Status</label>
                <div class="">
                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="LED Status" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.LEDStatus">
                </div>
            </div>
        </div>
        <!-- Dead On Arrival Fault Descriptions -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Dead On Arrival Fault Descriptions</label>
                <div class="">
                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Dead On Arrival Fault Descriptions" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.DeadOnArrivalFaultDescriptions">
                </div>
            </div>
        </div>
        <!-- MINI_LINK Fault Descriptions -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">MINI_LINK Fault Descriptions</label>
                <div class="">
                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="MINI_LINK Fault Descriptions" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.MINI_LINKFaultDescriptions">
                </div>
            </div>
        </div>
        <!-- Radio_RBS2000 Fault Descriptions -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Radio_RBS2000 Fault Descriptions</label>
                <div class="">
                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Radio_RBS2000 Fault Descriptions" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.Radio_RBS2000FaultDescriptions">
                </div>
            </div>
        </div>
        <!-- Other Products Fault Descriptions -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Other Products Fault Descriptions</label>
                <div class="">
                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Other Products Fault Descriptions" data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.OtherProductsFaultDescriptions">
                </div>
            </div>
        </div>
    </div>
</div>