<div class="clearfix mt-10">
    <div class="clearfix mt-10 mb-20 col-lg-12">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">PickUp Request No</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="PickUp Request No"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.PickupLineRefNo">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">PickUp Line Status</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="PickUp Line Status"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.PickupLineStatus">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Requested Product</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Requested Product"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.RequestedProduct">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Product Condition</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Product Condition"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.ProductCondition">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">STC Number</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="STC Number"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.TestingRefNo">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">CSR Receiver</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="CSR Receiver"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.CSRReceiver">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Warehouse</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Warehouse"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.Warehouse">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Consignee</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Consignee "
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.Consignee">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Service Provider</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Service Provider"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.Client">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Response Type</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Response Type"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.ResponseType">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Request Mode</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Request Mode"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.RequestMode">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Requester Name</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Requester Name"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.RequesterName">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Requester Contact Number</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Requester Contact Number"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.RequesterContactNumber">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Requested Serial Number</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Requested Serial Number"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.UDF1">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Requested Revision State</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Requested Revision State"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.UDF1">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Acknowledged Date Time</label>
                <div class="input-group input-group-sm">
                    <input type="text" disabled class="form-control"
                        placeholder="{{TrackDamageGeneralCtrl.ePage.Masters.DatePicker.Options.dateTimeFormat}}"
                        datetime-picker="{{TrackDamageGeneralCtrl.ePage.Masters.DatePicker.Options.dateTimeFormat}}"
                        ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.AcknowledgedDateTime"
                        is-open="TrackDamageGeneralCtrl.ePage.Masters.DatePicker.isOpen['isAcknowledgedDateTime']"
                        datepicker-options="TrackDamageGeneralCtrl.ePage.Masters.DatePicker.Options"
                        datepicker-append-to-body="false" close-on-selection="false" enable-time="true"
                        enable-date="true" default-date="" default-time="" when-closed=""
                        save-as="TrackDamageGeneralCtrl.ePage.Masters.DatePicker.Options.saveFormat"
                        custom-date-time-format />
                    <span class="input-group-btn">
                        <button disabled type="button" class="btn btn-default"
                            data-ng-click="TrackDamageGeneralCtrl.ePage.Masters.DatePicker.OpenDatePicker($event, 'isAcknowledgedDateTime')">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Requested Date Time</label>
                <div class="input-group input-group-sm">
                    <input type="text" disabled class="form-control"
                        placeholder="{{TrackDamageGeneralCtrl.ePage.Masters.DatePicker.Options.dateTimeFormat}}"
                        datetime-picker="{{TrackDamageGeneralCtrl.ePage.Masters.DatePicker.Options.dateTimeFormat}}"
                        ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.RequestedDateTime"
                        is-open="TrackDamageGeneralCtrl.ePage.Masters.DatePicker.isOpen['isRequestedDateTime']"
                        datepicker-options="TrackDamageGeneralCtrl.ePage.Masters.DatePicker.Options"
                        datepicker-append-to-body="false" close-on-selection="false" enable-time="true"
                        enable-date="true" default-date="" default-time="" when-closed=""
                        save-as="TrackDamageGeneralCtrl.ePage.Masters.DatePicker.Options.saveFormat"
                        custom-date-time-format />
                    <span class="input-group-btn">
                        <button disabled type="button" class="btn btn-default"
                            data-ng-click="TrackDamageGeneralCtrl.ePage.Masters.DatePicker.OpenDatePicker($event, 'isRequestedDateTime')">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Delivered Product</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Delivered Product"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.DeliveredProduct">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Delivered Serial No</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Delivered Serial No"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.PIL_UDF1">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Delivered Revision State</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Delivered Revision State"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.PIL_UDF2">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Inward No</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Inward Number"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.PIW_RefNo">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Site To Central Outward No</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Site To Central Outward No"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.STC_OUT_RefNo">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Site To Central Outward Warehouse</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Site To Central Outward Warehouse"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.STC_FromWH_Code">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Site To Central Outward To Warehouse</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Site To Central Outward To Warehouse"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.STC_ToWH_Code">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Site To Central Inward No</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Site To Central Inward No"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.STC_INW_RefNo">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Central To Testing Outward No</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Central To Testing Outward No"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.CTT_OUT_RefNo">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Central To Testing Outward Warehouse</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Central To Testing Outward Warehouse"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.CTT_FromWH_Code">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Central To Testing Outward To Warehouse</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Central To Testing Outward To Warehouse"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.CTT_ToWH_Code">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Central To Testing Inward No</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Central To Testing Inward No"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.CTT_INW_RefNo">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Testing To Central Outward No</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Testing To Central Outward No"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.TTC_OUT_RefNo">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Testing To Central Outward Warehouse</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Testing To Central Outward Warehouse"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.TTC_FromWH_Code">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Testing To Central Outward To Warehouse</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Testing To Central Outward To Warehouse"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.TTC_ToWH_Code">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Testing To Central Inward No</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Testing To Central Inward No"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.TTC_INW_RefNo">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Central To Repair (or) Scrap Outward No</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Central To Repair (or) Scrap Outward No"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.CTR_OUT_RefNo">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Central To Repair (or) Scrap Outward Warehouse</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Central To Repair (or) Scrap Outward Warehouse"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.CTR_FromWH_Code">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Central To Repair (or) Scrap Outward To Warehouse</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Central To Repair (or) Scrap Outward To Warehouse"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.CTR_ToWH_Code">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Central To Repair (or) Scrap Inward No</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Central To Repair (or) Scrap Inward No"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.CTR_INW_RefNo">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Repair To Central Outward No</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Repair To Central Outward No"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.RTC_OUT_RefNo">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Repair To Central Outward Warehouse</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Repair To Central Outward Warehouse"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.RTC_FromWH_Code">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Repair To Central Outward To Warehouse</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Repair To Central Outward To Warehouse"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.RTC_ToWH_Code">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Repair To Central Inward No</label>
                <div class="">
                    <input type="text" disabled
                        class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                        placeholder="Repair To Central Inward No"
                        data-ng-model="TrackDamageGeneralCtrl.ePage.Entities.Header.Data.RTC_INW_RefNo">
                </div>
            </div>
        </div>
    </div>
</div>