<div style="height: 250px;">
        <div class="modal-header">
            <button type="button" class="close" ng-click="CreatePickupChallanCtrl.ePage.Masters.CloseEditActivityModal()">&times;</button>
            <h5 class="modal-title" id="modal-title">
                <strong>Select the Inward which you want to add the Pickup Line</strong>
            </h5>
        </div>
        <div class="modal-body">
            <div id="PickupOrdersLineTable{{CreatePickupChallanCtrl.ePage.Entities.Header.Data.UIWmsPickup.WorkOrderID}}" class="fixedheader mb-0"
            key-events table-object='CreatePickupChallanCtrl.ePage.Masters.UnFinalizedOrders' enable='CreatePickupChallanCtrl.ePage.Masters.Enable'
            selected-row='CreatePickupChallanCtrl.ePage.Masters.selectedInwardRow' unique-id='PickupOrdersLineTable{{CreatePickupChallanCtrl.ePage.Entities.Header.Data.UIWmsPickup.WorkOrderID}}'>
            <table style="height: 130px">
                <thead>
                    <tr id="tableHeader">
                        <th ng-style="{ 'width':  '40px' }" title="S.No">S.No</th>
                        <th ng-style="{ 'width':  '150px' }" title="Inward No">Inward No</th>
                        <th ng-style="{ 'width':  '100px' }" title="Status">Status</th>
                        <th ng-style="{ 'width':  '150px' }" title="Work Order Type">Work Order Type</th>
                        <th ng-style="{ 'width':  '150px' }" title="Work Order Sub Type">Work Order Sub Type</th>
                        <th ng-style="{ 'width':  '150px' }" title="Client Code">Client Code</th>
                        <th ng-style="{ 'width':  '250px' }" title="Client Name">Client Name</th>
                        <th ng-style="{ 'width':  '150px' }" title="Warehouse Code">Warehouse Code</th>
                        <th ng-style="{ 'width':  '250px' }" title="Warehouse Name">Warehouse Name</th>
                        <th ng-style="{ 'width':  '150px' }" title="Consignee Code">Consignee Code</th>
                        <th ng-style="{ 'width':  '250px' }" title="Consignee Name">Consignee Name</th>
                    </tr>
                </thead>
                <tbody id="PickupOrdersLineTableCustTable{{CreatePickupChallanCtrl.ePage.Entities.Header.Data.UIWmsPickup.WorkOrderID}}">
                    <tr id="tableBody" ng-repeat="x in CreatePickupChallanCtrl.ePage.Masters.UnFinalizedOrders" ng-click="CreatePickupChallanCtrl.ePage.Masters.setSelectedInwardRow($index);"
                        ng-class="{row_active: (CreatePickupChallanCtrl.ePage.Masters.selectedInwardRow==$index),copy_row_active :(x.IsCopied==true)}">
                        <td ng-style="{ 'width':  '40px' }" class="overflow-text">{{$index +1}}</td>
                        <td ng-style="{ 'width':  '150px' }" class="overflow-text">{{x.WorkOrderID}}</td>
                        <td ng-style="{ 'width':  '100px' }" class="overflow-text">{{x.WorkOrderStatusDesc}}</td>
                        <td ng-style="{ 'width':  '150px' }" class="overflow-text">{{x.WorkOrderTypeDesc}}</td>
                        <td ng-style="{ 'width':  '150px' }" class="overflow-text">{{x.WorkOrderSubType}}</td>
                        <td ng-style="{ 'width':  '150px' }" class="overflow-text">{{x.ClientCode}}</td>
                        <td ng-style="{ 'width':  '250px' }" class="overflow-text">{{x.ClientName}}</td>
                        <td ng-style="{ 'width':  '150px' }" class="overflow-text">{{x.WarehouseCode}}</td>
                        <td ng-style="{ 'width':  '250px' }" class="overflow-text">{{x.WarehouseName}}</td>
                        <td ng-style="{ 'width':  '150px' }" class="overflow-text">{{x.ConsigneeCode}}</td>
                        <td ng-style="{ 'width':  '250px' }" class="overflow-text">{{x.ConsigneeName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
            <div class="col-lg-12 mt-10">
                <button data-ng-click="CreatePickupChallanCtrl.ePage.Masters.AddPickupLineToInward()" class="btn btn-primary btn-sm">Add</button>
            </div>
        </div>
    </div>