.border {
    border: 1px solid #ccc;
}

.menu-desc {
    font-weight: 600;
    font-size: 15px;
}

.margin-right-30 {
    margin-right: 30px;
}

.font-style {
    font-size: 11px;
    font-style: oblique;
}

.filter-text {
    border: 1px solid #ccc;
}

.ik-box1 {
    margin-left: 0px !important;
    width: 100.1%;
    height: 33px;
    float: left;
    border-bottom: 1px solid #cccccc;
    /*background: #ffffff;*/
    /*background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);*/
    /*background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);*/
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

.ik-title {
    float: left;
    padding-bottom: 5px;
    position: relative;
    font-size: 12px;
    cursor: pointer;
    padding: 7px 10px;
    font-size: 14px;
    font-weight: 600;
}

.tab-list-view-wrapper {
    position: relative;
}

.order-item {
    position: relative;
    padding: 7px 10px;
    vertical-align: top;
    border-bottom: 1px solid #e5e5e5;
}

.item-more-icon {
    position: absolute;
    right: -10px;
    top: calc(50% - 13px);
    width: 25px;
    height: 25px;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid #fff;
    vertical-align: middle;
    color: #fb6e52 !important;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}

.item-more-icon i {
    font-size: 17px;
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.item-more-icon i:before {
    content: "";
}

.order-item:before {
    background-color: #fb6e52 !important;
}

/*menu icon*/

.notification-icon {
    float: left;
}

.notification-icon i {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 32px;
    margin-right: 10px;
    font-size: 15px;
    border-radius: 50%;
}

.bg-darkorange {
    background-color: #ed4e2a !important;
}

.white {
    color: #fff !important;
}

/*filter*/

.filter-sidebar .nav-tabs.nav-justified>.active>a,
.filter-sidebar .nav-tabs.nav-justified>.active>a:hover,
.filter-sidebar .nav-tabs.nav-justified>.active>a:focus {
    /*background-color: #fff !important;*/
    border: 0;
    border-bottom: 2px solid #FF8F32;
    box-shadow: none;
    padding: 6px;
    color: #262626 !important;
}

.filter-sidebar .nav-tabs>li>a {
    background-color: #fff !important;
    border: 0;
    padding: 8px;
    margin-bottom: -2px;
    font-size: 12px;
    color: #777 !important;
    display: table;
    width: 100%;
}

.filter-sidebar .nav-tabs.nav-justified>li>a:hover {
    background-color: #fff;
    color: #262626 !important;
}

.filter-sidebar ul {
    box-shadow: 1px 0 10px 1px rgba(0, 0, 0, .3);
}


.filter-sidebar .tab-content {
    padding: 0;
}

.filter-list {
    /* min-height: 500px;
    overflow-y: auto; */
    padding: 5px;
    /* background-color: #f7f7f7; */
}

.active_list {
    background: #dfe9f9e3 !important;
}

.report-fix {
    z-index: 9999px;
}

.test {
    min-height: 500px;
}