<table style="width:100%; background:#f4f4f4; padding:15px 0;">
    <tr>
        <td>

            <table width="640" cellspacing="0" cellpadding="0" style="font:12px/16px Arial,sans-serif;color:#333;background-color:#fff;margin:0 auto">
                <tbody>
                    <tr>
                        <td style="text-align:left;padding:0px 20px">
                            <table cellspacing="0" cellpadding="0" style="font:12px/16px Arial,sans-serif;color:#333;margin:0 auto;border-collapse:collapse">
                                <tbody>
                                    <tr>
                                        <td style="text-align:left;padding:7px 20px 5px 0px;border-bottom:1px solid rgb(204,204,204);width:490px">
                                            <span style="font:20px Arial,san-serif;">Departure Confirmation</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="text-align:left;padding:5px 20px 5px 0px;width:490px">
                                            <table cellspacing="0" align="left" style="border-collapse:collapse">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <span style="font-size:12px">
                                                                Order #
                                                                <a target="_blank" style="text-decoration:none;color:#006699" href="#">171-5615254-0926757</a>
                                                            </span>
                                                        </td>
                                                        <td style="padding:0px 5px;vertical-align:middle;font:12px/16px Arial,sans-serif">
                                                            <span style="text-decoration:none;color:#ccc;font:13px Arial,san-serif"> | </span>
                                                        </td>
                                                        <td>
                                                            <span style="font-size:12px">
                                                                Shipment #
                                                                <a target="_blank" style="text-decoration:none;color:#006699" href="#">{{obj.RowObj.ShipmentNo}}</a>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td valign="top" style="padding:24px 20px 10px 0px;width:100px;border-collapse:collapse">
                            <a target="_blank" title="" href="">
                                <img border="0" src="http://20cube.com/images/logo.jpg" width="126" alt="">
                            </a>

                        </td>
                    </tr>
                    <tr>
                        <td style="width:640px" colspan="2">
                            <p style="font:18px Arial,sans-serif;color:#da2128;margin:15px 20px 0 20px">Hello Polynesian International Inc.,</p>
                            <p style="margin:4px 20px 18px 20px;width:640px">
                                We would like to inform you about your shipment's current status. To know more information about your shipment, please login
                                to our customer portal
                                <a target="_blank" style="color:#006699;text-decoration:none" href="#">MyHub</a>.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:0 20px;width:640px" colspan="2">
                            <table cellspacing="0" cellpadding="0" style="border-top:3px solid #999;width:640px">
                                <tbody>
                                    <tr>
                                        <td valign="top" style="font:14px Arial,san-serif;padding:11px 10px 14px 18px;width:240px;background-color:#f4f4f4">
                                            <span style="color:#666;font-weight:bold;">Departure Confirmation</span>
                                            <br>
                                            <p style="margin:2px 0 0 0; font-size:11px;">Your shipment is departed from the Origin Port.</p>

                                            <p style="color:#009900; margin:5px 0 0 0; padding:0;">
                                                <strong>
                                                    {{obj.RowObj.BookedDate | date: 'dd-MMM-yyyy'}}
                                                </strong>

                                            </p>
                                            <p style="margin:40px 0 0px 0;">
                                                <a style="padding:5px 10px; background:#008aff; border-radius:3px; color:#fff; text-decoration:none;" target="_blank" href="#">
                                                    Track Shipment
                                                    <!--<img border="0" src="btn.png">-->
                                                </a>
                                            </p>
                                        </td>
                                        <td valign="top" style="font:14px Arial,san-serif;padding:11px 20px 14px 18px;width:340px;background-color:#f4f4f4">
                                            <table cellspacing="0" cellpadding="0" width="340px">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <p style="width:100%; margin:0; color:#666;font-weight:bold; text-transform:uppercase;">{{obj.RowObj.ORG_Shipper_Code}}</p>

                                                            <p style="width:100%; margin:2px 0 0 0; font-size:11px;">Origin : {{obj.RowObj.Origin}}</p>

                                                            <p style="width:100%; color:#666; font-weight:bold; margin:10px 0 0 0; text-transform:uppercase;">{{obj.RowObj.ORG_Consignee_Code}}</p>

                                                            <p style="width:100%; margin:2px 0 0 0; font-size:11px; border-bottom:1px solid #ddd; padding-bottom:10px;">Destination : {{obj.RowObj.Destination}} </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <table cellspacing="0" cellpadding="0" width="340px" style="font-size:10px; margin-top:10px; float:left; text-align:center;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <span style="width:40px; padding:2px 0 2px 0; float:left; border-radius:3px; border:1px solid #ccc;">{{obj.RowObj.TransportMode}}</span>
                                                                            <span style="width:40px; padding:2px 0 2px 0; margin-left:30px; float:left; border-radius:3px; border:1px solid #ccc;">{{obj.RowObj.IncoTerm}}</span>
                                                                            <span style="width:40px; padding:2px 0 2px 0; margin-left:30px; float:left; border-radius:3px; border:1px solid #ccc;">{{obj.RowObj.ShipmentType}}</span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:640px" colspan="2">
                            <p style="font:18px Arial,sans-serif;color:#da2128;border-bottom:1px solid #ccc;margin:10px 20px 3px 20px;padding:0 0 3px 0">
                                Shipment Details </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px 0px 0px 20px;width:640px; font-size:11px;" colspan="2">
                            <table width="640" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td colspan="3">
                                            <table width="640" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <tr>
                                                        <td width="25%">
                                                            <p style="margin:0; color:#999;">HBL</p>
                                                            <p style="margin:0; font-weight:bold; margin-bottom:10px;">{{obj.RowObj.HouseBill}}</p>
                                                        </td>
                                                        <td width="25%">
                                                            <p style="margin:0; color:#999;">MBL</p>
                                                            <p style="margin:0; font-weight:bold; margin-bottom:10px;">{{obj.RowObj.MasterBillno}}</p>
                                                        </td>
                                                        <td width="25%">
                                                            <p style="margin:0; color:#999;">Volume</p>
                                                            <p style="margin:0; font-weight:bold; margin-bottom:10px;">{{obj.RowObj.Volume}} {{obj.RowObj.UnitOfVolume}}</p>
                                                        </td>
                                                        <td width="25%">
                                                            <p style="margin:0; color:#999;">Weight</p>
                                                            <p style="margin:0; font-weight:bold; margin-bottom:10px;">{{obj.RowObj.Weight}} {{obj.RowObj.UnitOfWeight}}</p>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td width="25%">
                                                            <p style="margin:0; color:#999;">POL</p>
                                                            <p style="margin:0; font-weight:bold; margin-bottom:10px;">{{obj.RowObj.Origin}}</p>
                                                        </td>
                                                        <td width="25%">
                                                            <p style="margin:0; color:#999;">POD</p>
                                                            <p style="margin:0; font-weight:bold; margin-bottom:10px;">{{obj.RowObj.Destination}}</p>
                                                        </td>
                                                        <td width="25%">
                                                            <p style="margin:0; color:#999;">Carrier</p>
                                                            <p style="margin:0; font-weight:bold; margin-bottom:10px;">{{obj.RowObj.TransportMode}}</p>
                                                        </td>
                                                        <td width="25%">
                                                            <p style="margin:0; color:#999;">Vessel</p>
                                                            <p style="margin:0; font-weight:bold; margin-bottom:10px;">{{obj.RowObj.Vessel}}</p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="25%">
                                                            <p style="margin:0; color:#999;">ETD</p>
                                                            <p style="margin:0; font-weight:bold; margin-bottom:10px;">{{obj.RowObj.ETD | date: 'dd-MMM-yyyy'}} </p>
                                                        </td>
                                                        <td width="25%">
                                                            <p style="margin:0; color:#999;">ATD</p>
                                                            <p style="margin:0; font-weight:bold; margin-bottom:10px;">{{obj.RowObj.ATD | date: 'dd-MMM-yyyy'}} </p>
                                                        </td>
                                                        <td width="25%">
                                                            <p style="margin:0; color:#999;">ETA</p>
                                                            <p style="margin:0; font-weight:bold; margin-bottom:10px;">{{obj.RowObj.ETA | date: 'dd-MMM-yyyy'}} </p>
                                                        </td>
                                                        <td width="25%">
                                                            <p style="margin:0; color:#999;">ATA</p>
                                                            <p style="margin:0; font-weight:bold; margin-bottom:10px;">{{obj.RowObj.ATA | date: 'dd-MMM-yyyy'}}</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td style="border-top:1px solid rgb(234,234,234);padding:0px 0px 10px;width:560px;" colspan="3"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <table width="640" cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <tr>
                                                        <td colspan="4">
                                                            <table width="640" cellspacing="0" cellpadding="0">
                                                                <tbody>
                                                                    <tr>
                                                                        <td width="640" style="float:left; margin-top:10px; margin-bottom:20px;">
                                                                            <table width="640" cellspacing="0" cellpadding="0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td style="font-size:10px;">
                                                                                            <span style="width:106px; float:left; font-weight:bold;">Order Received</span>
                                                                                            <span style="width:106px; float:left; font-weight:bold;">Shipment Booking</span>
                                                                                            <span style="width:80px; float:left; margin-left:15px; font-weight:bold;">Cargo Receipt</span>
                                                                                            <span style="width:50px; float:left; margin-left:42px; font-weight:bold;">Departure</span>
                                                                                            <span style="width:50px; float:left; margin-left:69px; font-weight:bold;">Arrival</span>
                                                                                            <span style="width:50px; float:left; margin-left:57px; font-weight:bold;">Delivery</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <span style="width:15px; height:15px; float:left; text-align:center; background:#090; color:#fff; border-radius:20px; margin-left:30px;"></span>
                                                                                            <span style="width:96px; height:2px; float:left; background:#090; margin-top:7px;"></span>
                                                                                            <span style="width:15px; height:15px; float:left; text-align:center; background:#090; color:#fff; border-radius:20px; margin-left:0px;"></span>
                                                                                            <span style="width:96px; height:2px; float:left; background:#090; margin-top:7px;"></span>
                                                                                            <span style="width:15px; height:15px; float:left; text-align:center; background:#ccc; color:#fff; border-radius:20px;"></span>
                                                                                            <span style="width:96px; height:2px; float:left; background:#090; margin-top:7px;"></span>
                                                                                            <span style="width:15px; height:15px; float:left; text-align:center; background:#090; color:#fff; border-radius:20px;"></span>
                                                                                            <span style="width:96px; height:2px; float:left; background:#ccc; margin-top:7px;"></span>
                                                                                            <span style="width:15px; height:15px; float:left; text-align:center; background:#ccc; color:#fff; border-radius:20px;"></span>
                                                                                            <span style="width:96px; height:2px; float:left; background:#ccc; margin-top:7px;"></span>
                                                                                            <span style="width:15px; height:15px; float:left; text-align:center; background:#ccc; color:#fff; border-radius:20px;"></span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="font-size:10px;">
                                                                                            <span style="width:70px; float:left; margin-left:5px;">25 Aug 2016</span>
                                                                                            <span style="width:70px; float:left; margin-left:44px;">25 Aug 2016</span>
                                                                                            <span style="width:70px; float:left; margin-left:41px; text-align:center;">-</span>
                                                                                            <span style="width:70px; float:left; margin-left:42px;">03 Sep 2016</span>
                                                                                            <span style="width:70px; float:left; margin-left:42px;"></span>
                                                                                            <span style="width:70px; float:left; margin-left:42px;"></span>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="border-top:1px solid rgb(234,234,234);padding:10px 0px 10px;width:560px;" colspan="3"></td>
                                    </tr>

                                    <tr>
                                        <td align="center" style="width:640px; padding:0 0px 20px;" colspan="2">
                                            <table width="640" cellspacing="0" cellpadding="5" style="border:1px solid #f4f4f4;border-collapse:collapse;background:#fdfcfc; font-size:11px;">
                                                <tbody>
                                                    <tr style="background:#f6f5f5; text-align:left;">
                                                        <th width="30%" style="border:1px solid #f4f4f4;">Load / Disc Port</th>
                                                        <th width="30%" style="border:1px solid #f4f4f4;">Vessel / Voyage</th>
                                                        <th width="20%" style="border:1px solid #f4f4f4;">ETD / ATD</th>
                                                        <th width="20%" style="border:1px solid #f4f4f4;">ETA / ATA</th>
                                                    </tr>
                                                    <tr style="border:1px solid #f4f4f4;">
                                                        <td style="border:1px solid #f4f4f4;">
                                                            <p style="margin:0;">CNHUA - Huangpu pt </p>
                                                            <p style="margin:0;">HKHKG - Hong Kong</p>
                                                        </td>
                                                        <td style="border:1px solid #f4f4f4;">
                                                            <p style="margin:0;">SUI FU KANG</p>
                                                            <p style="margin:0;">881705</p>
                                                        </td>
                                                        <td style="border:1px solid #f4f4f4;">
                                                            <p style="margin:0;">7
                                                                <sup>th</sup> Sep 2016</p>
                                                            <p style="margin:0;">
                                                                <B>8
                                                                    <sup>th</sup> Sep 2016</B>
                                                            </p>
                                                        </td>
                                                        <td style="border:1px solid #f4f4f4;">
                                                            <p style="margin:0;">8
                                                                <sup>th</sup> Sep 2016</p>
                                                            <p style="margin:0;">
                                                                <b>9
                                                                    <sup>th</sup> Sep 2016</b>
                                                            </p>
                                                        </td>
                                                    </tr>

                                                    <tr style="border:1px solid #f4f4f4;">
                                                        <td style="border:1px solid #f4f4f4;">
                                                            <p style="margin:0;">HKHKG - Hong Kong</p>
                                                            <p style="margin:0;">AUBNE - Brisbane</p>
                                                        </td>
                                                        <td style="border:1px solid #f4f4f4;">
                                                            <p style="margin:0;">OOCL DUBM</p>
                                                            <p style="margin:0;">TBA</p>
                                                        </td>
                                                        <td style="border:1px solid #f4f4f4;">
                                                            <p style="margin:0;">10
                                                                <sup>th</sup> Sep 2016</p>
                                                            <p style="margin:0;">
                                                                <b>16
                                                                    <sup>th</sup> Sep 2016</b>
                                                            </p>
                                                        </td>
                                                        <td valign="top" style="border:1px solid #f4f4f4;">
                                                            <p style="margin:0;">14
                                                                <sup>th</sup> Sep 2016</p>
                                                            <p style="margin:0;">
                                                                <b>----------</b>
                                                            </p>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td style="width:640px" colspan="2">
                            <p style="font:18px Arial,sans-serif;color:#da2128;border-bottom:0px solid #ccc;margin:0px 20px 0px 20px;padding:0 0 3px 0">
                                Additional Details</p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="width:640px; padding:0 10px 20px;" colspan="2">
                            <table width="640" cellspacing="0" cellpadding="10" style="border:1px solid #f4f4f4;border-collapse:collapse;background:#fdfcfc; font-size:11px;">
                                <tbody>
                                    <tr style="border:1px solid #f4f4f4;">
                                        <td style="border:1px solid #f4f4f4;" width="33%">
                                            <p style="margin:0; color:#999;">CFS Name</p>
                                            <p style="margin:0; font-weight:bold;">Kailash CFS</p>
                                        </td>
                                        <td style="border:1px solid #f4f4f4;" width="33%">
                                            <p style="margin:0; color:#999;">MBL</p>
                                            <p style="margin:0; font-weight:bold;">ONL</p>
                                        </td>
                                        <td style="border:1px solid #f4f4f4;" width="33%">
                                            <p style="margin:0; color:#999;">Vessel</p>
                                            <p style="margin:0; font-weight:bold;">HANJIN MONACO</p>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </td>
                    </tr>



                    <tr>
                        <td valign="top" colspan="2" style="padding:0 20px 20px 20px;width:640px">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="#" style="float:left; color:#006699; font-weight:bold; text-decoration:none; margin-top:8px;">Purchase Order</a>
                                            <span style="width:15px; height:3px; float:left; font-size:9px; font-weight:bold; text-align:center; background:#008aff; color:#fff; line-height:2px; padding:6px 0; border-radius:20px;">2</span>
                                            <a href="#" style="float:left; color:#006699; font-weight:bold;text-decoration:none; margin:8px 0 0 100px;">Container</a>
                                            <span style="width:15px; height:3px; float:left; font-size:9px; font-weight:bold; text-align:center; background:#008aff; color:#fff; line-height:2px; padding:6px 0; border-radius:20px;">1</span>
                                            <a href="#" style="float:left; color:#006699; font-weight:bold;text-decoration:none; margin:8px 0 0 100px;">Documents</a>
                                            <span style="width:15px; height:3px; float:left; font-size:9px; font-weight:bold; text-align:center; background:#008aff; color:#fff; line-height:2px; padding:6px 0; border-radius:20px;">7</span>
                                            <a href="#" style="float:left; color:#006699; font-weight:bold;text-decoration:none; margin:8px 0 0 95px;">Comments</a>
                                            <span style="width:15px; height:3px; float:left; font-size:9px; font-weight:bold; text-align:center; background:#008aff; color:#fff; line-height:2px; padding:6px 0; border-radius:20px;">3</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border-bottom:1px solid rgb(234,234,234);padding:0px 0px 10px;width:560px;" colspan="3"> </td>
                                    </tr>

                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size:10px;color:#666;padding:0 20px 20px 20px;line-height:16px;width:640px" colspan="2">
                            <table width="640" cellspacing="0" cellpadding="0" border="0" align="left" style="border-top:1px dashed #ccc; border-left:solid 1px #e6e6e6; border-right:solid 1px #e6e6e6; background:#f9f9f9;">
                                <tbody>
                                    <tr>
                                        <td valign="top" align="left" style="padding:15px 10px 15px 20px;margin:0; text-align:center;">
                                            <p style="padding:0;margin:0 0 7px 0;font-size:16px;color:#565656">Questions?</p>
                                            <p style="padding:0;margin:0;font-size:11px;color:#565656;line-height:20px">
                                                Please reply to this email or get in touch with your key account manager
                                                <a target="_blank" style="color:#006699;text-decoration:none" href="#">sjohnpaul@20cube.com</a>
                                            </p>

                                        </td>
                                    </tr>
                                    <tr>
                                        <table width="100%" cellspacing="0" cellpadding="0" style="max-width:640px;border-left:solid 1px #e6e6e6;border-right:solid 1px #e6e6e6;border-bottom:solid 1px #e6e6e6;">
                                            <tbody>
                                                <tr>
                                                    <td valign="top" bgcolor="" align="center" style="text-align:center;background-color:#f9f9f9;display:block;margin:0 auto;clear:both;padding:0px 40px 15px 40px">

                                                        <p style="padding:10px 0 0 0;margin:0;border-top:solid 1px #cccccc;font-size:11px;color:#565656">
                                                            <a target="_blank" style="color:#006699;text-decoration:none" href="#">20Cube</a> |
                                                            <a target="_blank" style="color:#006699;text-decoration:none" href="#">MyHub</a> |
                                                            <a target="_blank" style="color:#006699;text-decoration:none" href="#">MyHub Support</a> |
                                                            <a target="_blank" style="color:#006699;text-decoration:none" href="#">Term of Use</a> |
                                                            <a target="_blank" style="color:#006699;text-decoration:none" href="#">Privacy</a>
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
