<div class="clearfix margin-top-10">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pr-0 pl-0">
        <!--Weight-->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="form-group">
                <label class="control-label text-single-line">Weight </label>
                <div class="clearfix">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 no-padding">
                        <input type="text" class="form-control input-sm no-border-right" numbers-only sb-precision="3" placeholder="Weight" max-length="9" data-ng-model="GeneralCtrl.ePage.Entities.Header.Data.UIShipmentHeader.Weight" />
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 no-padding">
                        <select chosen name="category-group" class="form-control" ng-model="GeneralCtrl.ePage.Entities.Header.Data.UIShipmentHeader.UnitOfWeight"
                                ng-options="x.Key as x.Description for x in GeneralCtrl.ePage.Masters.DropDownMasterList.WEIGHTUNIT.ListSource" search-contains="true">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!--Volume-->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="form-group">
                <label class="control-label text-single-line">Volume </label>
                <div class="clearfix">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 no-padding">
                        <input type="text" class="form-control input-sm no-border-right" numbers-only sb-precision="3" placeholder="Volume" max-length="9" data-ng-model="GeneralCtrl.ePage.Entities.Header.Data.UIShipmentHeader.Volume" />
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 no-padding">
                        <select chosen name="category-group" class="form-control" ng-model="GeneralCtrl.ePage.Entities.Header.Data.UIShipmentHeader.UnitOfVolume"
                                ng-options="x.Key as x.Description for x in GeneralCtrl.ePage.Masters.DropDownMasterList.VOLUMEUNIT.ListSource" search-contains="true">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!--Chargeable-->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="form-group">
                <label class="control-label text-single-line">Chargeable </label>
                <div class="input-group input-group-sm">
                    <input type="text" max-length="9" numbers-only sb-precision="3" data-ng-model="GeneralCtrl.ePage.Entities.Header.Data.UIShipmentHeader.Chargeable" class="form-control"
                           placeholder="Chargeable">
                    <span class="input-group-addon">M3</span>
                </div>
            </div>
        </div>




    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pr-0 pl-0">
        <!--Outer Packs-->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="form-group">
                <label class="control-label text-single-line">Outer Packs </label>
                <div class="clearfix">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 no-padding">
                        <input type="text" class="form-control input-sm no-border-right" max-length="4" data-ng-model="GeneralCtrl.ePage.Entities.Header.Data.UIShipmentHeader.OuterPackCount"
                               placeholder="Packs" />
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 no-padding">
                        <select chosen class="form-control" ng-model="GeneralCtrl.ePage.Entities.Header.Data.UIShipmentHeader.OuterPackType" ng-options="x.Code as x.Value for x in GeneralCtrl.ePage.Masters.DropDownMasterList.PackType.ListSource" search-contains="true">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <!--Inner Packs-->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="form-group">
                <label class="control-label text-single-line">Inner Packs </label>
                <div class="clearfix">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 no-padding">
                        <input type="text" class="form-control input-sm no-border-right" max-length="4" data-ng-model="GeneralCtrl.ePage.Entities.Header.Data.UIShipmentHeader.InnerPackCount"
                               placeholder="Inner Packs" />
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 no-padding">
                        <select chosen class="form-control" ng-model="GeneralCtrl.ePage.Entities.Header.Data.UIShipmentHeader.InnerPackType" ng-options="x.Code as x.Value for x in GeneralCtrl.ePage.Masters.DropDownMasterList.PackType.ListSource" search-contains="true">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!--Goods Value-->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="form-group">
                <label class="control-label text-single-line">Goods Value </label>
                <div class="clearfix">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 no-padding">
                        <input type="text" class="form-control input-sm no-border-right" numbers-only sb-precision="2" max-length="8" data-ng-model="GeneralCtrl.ePage.Entities.Header.Data.UIShipmentHeader.GoodsValue"
                               placeholder="Goods Value" />
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 no-padding">
                        <select chosen name="category-group" class="form-control" ng-model="GeneralCtrl.ePage.Entities.Header.Data.UIShipmentHeader.RX_NKGoodsValueCur"
                                ng-options="x.Code as x.Code + '-' + x.Desc for x in GeneralCtrl.ePage.Masters.DropDownMasterList.Currency.ListSource" search-contains="true">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        

        <!--Good Description-->
        <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
            <div class="form-group">
                <label class="control-label text-single-line">Goods Description </label>
                <div class="">
                    <input type="text" class="form-control input-sm" max-length="70" data-ng-model="GeneralCtrl.ePage.Entities.Header.Data.UIShipmentHeader.GoodsDesc"
                           placeholder="Goods Description" />
                </div>
            </div>
        </div>-->





    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pr-0 pl-0">
        <!--Insurance Value-->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="form-group">
                <label class="control-label text-single-line">Insurance Value </label>
                <div class="clearfix">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 no-padding">
                        <input type="text" class="form-control input-sm no-border-right" numbers-only sb-precision="2" max-length="8" data-ng-model="GeneralCtrl.ePage.Entities.Header.Data.UIShipmentHeader.InsuranceValue"
                               placeholder="Insurance Value" />
                    </div>
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 no-padding">
                        <select chosen name="category-group" class="form-control" ng-model="GeneralCtrl.ePage.Entities.Header.Data.UIShipmentHeader.RX_NKInsuranceCur"
                                ng-options="x.Code as x.Code + '-' + x.Desc for x in GeneralCtrl.ePage.Masters.DropDownMasterList.Currency.ListSource" search-contains="true">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!--Detailed Goods Description-->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="form-group">
                <label class="control-label text-single-line">Goods Description </label>
                <div class="">
                    <textarea class="form-control no-resize" data-ng-model="GeneralCtrl.ePage.Entities.Header.Data.UIShipmentHeader.GoodsDesc"
                              placeholder="Goods Description"></textarea>
                </div>
            </div>
        </div>
        <!--Marks & Numbers-->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="form-group">
                <label class="control-label text-single-line">Marks and Numbers </label>
                <div class="">
                    <textarea class="form-control no-resize" data-ng-model="GeneralCtrl.ePage.Entities.Header.Data.UIShipmentHeader.MarksAndNums"
                              placeholder="Marks and Numbers"></textarea>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 pull-right">
            <!--<div class="form-group">
                <div class="package-link btn btn-link pull-right" data-ng-click="GeneralCtrl.ePage.Masters.Package.PackageModal();">Package Details <i class="fa fa-angle-double-right"></i></div>
            </div>-->
            <div class="input-group-sm">
                <button data-ng-click="GeneralCtrl.ePage.Masters.Package.PackageModal();" class="btn btn-primary pull-right padding-10"
                        type="button">
                    <b><i class="fa fa-suitcase"></i> Standard Package Details</b> <i class="fa fa-angle-double-right"></i>
                </button>

            </div>
        </div>
    </div>
</div>
