<div class="modal-header">
    <button type="button" class="close" ng-click="ControlTowerTaskListCtrl.ePage.Masters.ControlTowerTaskList.CloseModal()">&times;</button>
    <h5 class="modal-title" id="modal-title">
        <strong>Task List</strong>
    </h5>
</div>
<div class="modal-body" id="modal-body">
    <div class="clearfix" data-ng-if="ControlTowerTaskListCtrl.ePage.Masters.ControlTowerTaskList.IsLoadDynamicList">
        <dynamic-list dataentry-name="ControlTowerTaskListCtrl.ePage.Masters.ControlTowerTaskList.dataentryName" selected-grid-row="ControlTowerTaskListCtrl.ePage.Masters.ControlTowerTaskList.SelectedGridRow($item)"
            mode="1" default-filter="ControlTowerTaskListCtrl.ePage.Masters.ControlTowerTaskList.DefaultFilter" dataentry-object="ControlTowerTaskListCtrl.ePage.Masters.ControlTowerTaskList.DataEntryObject"></dynamic-list>
    </div>
</div>
