<div class="page-content"
    data-ng-style="(!DowntimeRequestGeneralCtrl.ePage.Masters.MenuVisibleType || DowntimeRequestGeneralCtrl.ePage.Masters.MenuVisibleType == 'Grid') && {'margin-left': '0'}">
    <!-- <div class="col-lg-12 container-fluid mt-20">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="panel panel-default">
                <div class="panel-heading" style="color: #073fc3; font-weight: bold;">SOH Item Delete</div>
                <div class="panel-body">
                    <div class="clearfix padding-top-10">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label><b>SSCC ID</b></label>
                                    <input type="text" class="form-control" placeholder="SSCC ID" ng-model="DowntimeRequestGeneralCtrl.ePage.Masters.ItemCode">
                                </div>
                                <div class="form-group col-md-6">
                                    <button class="btn btn-primary" data-ng-click="DowntimeRequestGeneralCtrl.ePage.Masters.Delete()"
                                        style="margin-top: 20px;">Delete</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="panel panel-default">
                <div class="panel-heading" style="color: #073fc3; font-weight: bold;">Add Current Location of Item</div>
                <div class="panel-body">
                    <div class="clearfix padding-top-10">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label><b>SSCC ID</b></label>
                                    <input type="text" class="form-control" placeholder="SSCC ID" ng-model="DowntimeRequestGeneralCtrl.ePage.Masters.SohItem">
                                </div>
                                    <div class="form-group col-md-5">
                                        <label><b>Depot</b>
                                        </label>
                                        <select chosen class="form-control" ng-model="DowntimeRequestGeneralCtrl.ePage.Masters.Depot" ng-options="x.Code as x.Code+' - '+ x.FullName for x in DowntimeRequestGeneralCtrl.ePage.Masters.DepotList"
                                            ng-change="DowntimeRequestGeneralCtrl.ePage.Masters.onchangedepot(DowntimeRequestGeneralCtrl.ePage.Masters.Depot)"
                                            search-contains="true">
                                            <option value="">--Select--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <button class="btn btn-primary" data-ng-click="DowntimeRequestGeneralCtrl.ePage.Masters.Add()"
                                        style="margin-top: 20px;">ADD</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="col-lg-12 container-fluid mt-20">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="panel panel-default">
                <div class="panel-heading" style="color: #073fc3; font-weight: bold;">Revert to Receive Manifest</div>
                <div class="panel-body">
                    <div class="clearfix padding-top-10">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label><b>Manifest #</b></label>
                                    <input type="text" class="form-control" placeholder="Manifest #" ng-model="DowntimeRequestGeneralCtrl.ePage.Masters.RecManifestNo">
                                </div>
                                <div class="form-group col-md-6">
                                    <button class="btn btn-primary" data-ng-click="DowntimeRequestGeneralCtrl.ePage.Masters.Receive()"
                                        style="margin-top: 20px;">Revert</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="panel panel-default">
                <div class="panel-heading" style="color: #073fc3; font-weight: bold;">Revert to Confirm Arrival</div>
                <div class="panel-body">
                    <div class="clearfix padding-top-10">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label><b>Manifest #</b></label>
                                    <input type="text" class="form-control" placeholder="Manifest #" ng-model="DowntimeRequestGeneralCtrl.ePage.Masters.ArrManifestNo">
                                </div>
                                <div class="form-group col-md-6">
                                    <button class="btn btn-primary" data-ng-click="DowntimeRequestGeneralCtrl.ePage.Masters.Arrive()"
                                        style="margin-top: 20px;">Revert</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <div class="col-lg-24 container-fluid mt-40">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="color: #073fc3; font-weight: bold;">Downtime Request</div>
                <div class="panel-body">
                    <div class="clearfix padding-top-10">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label class="control-label text-single-line">Application</label>
                                    <div class="">
                                        <select chosen class="form-control"
                                            ng-model="DowntimeRequestGeneralCtrl.ePage.Entities.Header.Data.Application"
                                            ng-options="x.Key as x.Key for x in DowntimeRequestGeneralCtrl.ePage.Masters.AppDrop"
                                            search-contains="true"
                                            data-ng-change="DowntimeRequestGeneralCtrl.ePage.Masters.AppChange(DowntimeRequestGeneralCtrl.ePage.Entities.Header.Data.Application)">
                                            <option value="">--Select--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="control-label text-single-line">Environment</label>
                                    <input type="text" class="form-control" placeholder="Environment"
                                        ng-model="DowntimeRequestGeneralCtrl.ePage.Entities.Header.Data.Environment">
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="control-label text-single-line">Application Contact Name</label>
                                    <input type="text" class="form-control" placeholder="Application Contact Name"
                                        readonly
                                        ng-model="DowntimeRequestGeneralCtrl.ePage.Entities.Header.Data.AppObj.ApplicationContactName">
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="control-label text-single-line">Application Contact Email</label>
                                    <input type="text" class="form-control" placeholder="Application Contact Email"
                                        readonly
                                        ng-model="DowntimeRequestGeneralCtrl.ePage.Entities.Header.Data.AppObj.ApplicationContactEmail">
                                </div>
                               
                                <div class="form-group col-md-2">
                                    <label class="control-label text-single-line">Time Zone</label>
                                    <div class="">
                                        <select chosen class="form-control"
                                            ng-model="DowntimeRequestGeneralCtrl.ePage.Entities.Header.Data.Timezone"
                                            ng-options="x.DisplayName as x.DisplayName  for x in DowntimeRequestGeneralCtrl.ePage.Masters.TimeZoneDrop"
                                            search-contains="true">
                                            <option value="">--Select--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="control-label text-single-line">Priority</label>
                                    <div class="">
                                        <select chosen class="form-control"
                                            ng-model="DowntimeRequestGeneralCtrl.ePage.Entities.Header.Data.Priority"
                                            search-contains="true">
                                            <option value="">--Select--</option>
                                            <option value="1">LOW</option>
                                            <option value="2">MEDIUM</option>
                                            <option value="3">HIGH</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="control-label text-single-line">Module</label>
                                    <input type="text" class="form-control" placeholder="Module"
                                        ng-model="DowntimeRequestGeneralCtrl.ePage.Entities.Header.Data.Module">
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="control-label text-single-line">Business Contact Name</label>
                                    <input type="text" class="form-control" placeholder="Business Contact Name" readonly
                                        ng-model="DowntimeRequestGeneralCtrl.ePage.Entities.Header.Data.AppObj.BusinessContactName">
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="control-label text-single-line">Business Contact Email</label>
                                    <input type="text" class="form-control" placeholder="Business Contact Email"
                                        readonly
                                        ng-model="DowntimeRequestGeneralCtrl.ePage.Entities.Header.Data.AppObj.BusinessContactEmail">
                                </div>
                            </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-24 container-fluid mt-0">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="clearfix padding-top-0">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-1">
                                    <label class="control-label text-single-line">Users Impacted</label>
                                </div>
                                <div ng-repeat="item in DowntimeRequestGeneralCtrl.ePage.Entities.Header.Data.AppObj.UserImpacted">
                                    <div class="form-group col-md-1">
                                        <label class="container">{{item.name}}
                                            <input type="checkbox" ng-model="item.isenabled">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <!-- <div class="form-group col-md-1">
                                    <label class="container">DC
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </div> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-24 container-fluid mt-0">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="clearfix padding-top-0">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label class="control-label text-single-line">Planned Start Date</label>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control"
                                            placeholder="{{DowntimeRequestGeneralCtrl.ePage.Masters.DatePicker.Options.dateTimeFormat}}"
                                            datetime-picker="{{DowntimeRequestGeneralCtrl.ePage.Masters.DatePicker.Options.dateTimeFormat}}"
                                            ng-model="DowntimeRequestGeneralCtrl.ePage.Entities.Header.Data.PlannedStartDateTime"
                                            is-open="DowntimeRequestGeneralCtrl.ePage.Masters.DatePicker.isOpen['isPlannedStartDateTime']"
                                            datepicker-options="DowntimeRequestGeneralCtrl.ePage.Masters.DatePicker.Options"
                                            datepicker-append-to-body="false" close-on-selection="false"
                                            enable-time="true" enable-date="true" default-date="" default-time=""
                                            when-closed=""
                                            save-as="DowntimeRequestGeneralCtrl.ePage.Masters.DatePicker.Options.saveFormat"
                                            data-ng-click="" data-ng-change="" custom-date-time-format />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"
                                                data-ng-click="DowntimeRequestGeneralCtrl.ePage.Masters.DatePicker.OpenDatePicker($event, 'isPlannedStartDateTime')">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <!-- <div class="form-group col-md-3">
                                    <label><b>Planned Start DateTime</b></label>
                                    <input type="datetime-local" class="form-control"
                                        placeholder="Planned Start DateTime"
                                        ng-model="DowntimeRequestGeneralCtrl.ePage.Masters.RecManifestNo11"
                                        custom-date-time-format>
                                </div> -->
                                <div class="form-group col-md-2">
                                    <label class="control-label text-single-line">Planned End Date</label>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control"
                                            placeholder="{{DowntimeRequestGeneralCtrl.ePage.Masters.DatePicker.Options.dateTimeFormat}}"
                                            datetime-picker="{{DowntimeRequestGeneralCtrl.ePage.Masters.DatePicker.Options.dateTimeFormat}}"
                                            ng-model="DowntimeRequestGeneralCtrl.ePage.Entities.Header.Data.PlannedEndDateTimeDate"
                                            is-open="DowntimeRequestGeneralCtrl.ePage.Masters.DatePicker.isOpen['isPlannedEndDateTimeDate']"
                                            datepicker-options="DowntimeRequestGeneralCtrl.ePage.Masters.DatePicker.Options"
                                            datepicker-append-to-body="false" close-on-selection="false"
                                            enable-time="true" enable-date="true" default-date="" default-time=""
                                            when-closed=""
                                            save-as="DowntimeRequestGeneralCtrl.ePage.Masters.DatePicker.Options.saveFormat"
                                            data-ng-click="" data-ng-change="" custom-date-time-format />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"
                                                data-ng-click="DowntimeRequestGeneralCtrl.ePage.Masters.DatePicker.OpenDatePicker($event, 'isPlannedEndDateTimeDate')">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="control-label text-single-line">Application Current Version</label>
                                    <input type="text" class="form-control" placeholder="Application Current Version"
                                        ng-model="DowntimeRequestGeneralCtrl.ePage.Entities.Header.Data.ApplicationCurrentVersion">
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="control-label text-single-line">Application Release Version</label>
                                    <input type="text" class="form-control" placeholder="Application Release Version"
                                        ng-model="DowntimeRequestGeneralCtrl.ePage.Entities.Header.Data.ApplicationReleaseVersion">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="clearfix padding-top-0">
                        <form>
                            <!-- <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label class="control-label text-single-line">Addtional Info</label>
                                    <input type="text" class="form-control" placeholder="Addtional Info"
                                        ng-model="DowntimeRequestGeneralCtrl.ePage.Masters.AddtionalInfoObj">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label><b>What is Being Done ?</b></label>
                                    <textarea class="form-control" ngModel="DowntimeRequestGeneralCtrl.ePage.Masters.RecManifestNo15"></textarea>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label><b>Remarks</b></label>
                                    <input type="text" class="form-control" placeholder="Remarks" ng-model="DowntimeRequestGeneralCtrl.ePage.Masters.RecManifestNo16">
                                </div>
                            </div> -->

                            <!-- Addtional Info -->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 custompadding">
                                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 p-0">
                                        <span><button type="button" class="btn btn-sm btn-outline-secondary font-10"
                                                title="Add New"
                                                data-ng-click="DowntimeRequestGeneralCtrl.ePage.Masters.AddNewRow()"
                                                data-ng-disabled="DowntimeRequestGeneralCtrl.ePage.Entities.Header.GlobalVariables.CannotEditDowntimeRequest"><span
                                                    class="fa fa-plus"></span>&nbsp;&nbsp;Add New</button></span>
                                        <span><button type="button" class="btn btn-sm btn-outline-primary font-10"
                                                title="Copy"
                                                data-ng-click="DowntimeRequestGeneralCtrl.ePage.Masters.CopyRow()"
                                                ng-disabled="!DowntimeRequestGeneralCtrl.ePage.Masters.EnableDeleteButton || DowntimeRequestGeneralCtrl.ePage.Entities.Header.GlobalVariables.CannotEditDowntimeRequest"><span
                                                    class="fa fa-copy"></span>&nbsp;&nbsp;Copy</button></span>
                                        <span><button type="button" class="btn btn-sm btn-outline-primary font-10"
                                                title="Delete"
                                                data-ng-click="DowntimeRequestGeneralCtrl.ePage.Masters.RemoveRow()"
                                                ng-disabled="!DowntimeRequestGeneralCtrl.ePage.Masters.EnableDeleteButton || DowntimeRequestGeneralCtrl.ePage.Entities.Header.GlobalVariables.CannotEditDowntimeRequest"><span
                                                    class="fa fa-trash"></span>&nbsp;&nbsp;Delete</button></span>
                                        <!-- <span><button type="button" class="btn btn-sm btn-outline-primary font-10"
                                                title="Customize"
                                                data-ng-click="DowntimeRequestGeneralCtrl.ePage.Masters.EditTableColumns = true"><span
                                                    class="fa fa-filter"></span>&nbsp;&nbsp;Customize</button></span> -->
                                    </div>
                                    <!-- <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 p-0">
                                        <div class="input-group">
                                            <div class="input-group-addon font-10"><i class="fa fa-search font-10"></i>
                                            </div>
                                            <input type="text" class="form-control height-25 font-10"
                                                placeholder="Search"
                                                ng-model="DowntimeRequestGeneralCtrl.ePage.Masters.SearchTable">
                                        </div>
                                    </div> -->
                                </div>
                                <div class="fixedheader"
                                    id="DowntimeRequestTable{{DowntimeRequestGeneralCtrl.ePage.Entities.Header.Data.PK}}"
                                    key-events
                                    table-object='DowntimeRequestGeneralCtrl.ePage.Entities.Header.Data.SrqArea'
                                    enable='DowntimeRequestGeneralCtrl.ePage.Masters.Enable'
                                    selected-row='DowntimeRequestGeneralCtrl.ePage.Masters.selectedRow'
                                    unique-id="DowntimeRequestTable{{DowntimeRequestGeneralCtrl.ePage.Entities.Header.Data.PK}}">
                                    <table id="DowntimeRequestGeneralCtrl.ePage.Masters.AddScroll"
                                        ng-style="{ 'height': DowntimeRequestGeneralCtrl.ePage.Masters.TableProperties.SrqArea.TableHeight.height + 'px' }">
                                        <thead>
                                            <tr id="tableHeader">
                                                <th id="checkbox"
                                                    data-ng-if="DowntimeRequestGeneralCtrl.ePage.Masters.TableProperties.SrqArea.checkbox.isenabled"
                                                    ng-style="{ 'width': DowntimeRequestGeneralCtrl.ePage.Masters.TableProperties.SrqArea.sno.width + 'px' }">
                                                    <label class="customcheckbox">
                                                        <input type="checkbox"
                                                            ng-change="DowntimeRequestGeneralCtrl.ePage.Masters.SelectAllCheckBox()"
                                                            ng-checked="DowntimeRequestGeneralCtrl.ePage.Masters.SelectAll"
                                                            ng-model="DowntimeRequestGeneralCtrl.ePage.Masters.SelectAll"
                                                            data-ng-disabled="DowntimeRequestGeneralCtrl.ePage.Entities.Header.GlobalVariables.CannotEditDowntimeRequest">
                                                        <span class="text"></span>
                                                    </label>
                                                </th>
                                                <th id="sno"
                                                    data-ng-if="DowntimeRequestGeneralCtrl.ePage.Masters.TableProperties.SrqArea.sno.isenabled"
                                                    ng-style="{ 'width': DowntimeRequestGeneralCtrl.ePage.Masters.TableProperties.SrqArea.sno.width + 'px' }"
                                                    title="S.No">S.No</th>
                                                <th id="purpose"
                                                    data-ng-if="DowntimeRequestGeneralCtrl.ePage.Masters.TableProperties.SrqArea.purpose.isenabled"
                                                    ng-style="{ 'width': DowntimeRequestGeneralCtrl.ePage.Masters.TableProperties.SrqArea.purpose.width + 'px' }"
                                                    title="Area Name">Purpose</th>
                                                <!-- <th id="areatype"
                                                    data-ng-if="DowntimeRequestGeneralCtrl.ePage.Masters.TableProperties.SrqArea.areatype.isenabled"
                                                    ng-style="{ 'width': DowntimeRequestGeneralCtrl.ePage.Masters.TableProperties.SrqArea.areatype.width + 'px' }"
                                                    title="Area Type">Area Type</th> -->
                                            </tr>
                                        </thead>
                                        <tbody
                                            id="DowntimeRequestCustomTable{{DowntimeRequestGeneralCtrl.ePage.Entities.Header.Data.PK}}">
                                            <tr id="tableBody"
                                                ng-repeat="x in DowntimeRequestGeneralCtrl.ePage.Entities.Header.Data.SrqArea | filter:DowntimeRequestGeneralCtrl.ePage.Masters.SearchTable"
                                                ng-click="DowntimeRequestGeneralCtrl.ePage.Masters.setSelectedRow($index);"
                                                ng-class="{row_active: (DowntimeRequestGeneralCtrl.ePage.Masters.selectedRow==$index),copy_row_active :(x.IsCopied==true)}"
                                                watch-table
                                                table-properties="DowntimeRequestGeneralCtrl.ePage.Masters.TableProperties.SrqArea"
                                                unique-id="DowntimeRequestCustomTable{{DowntimeRequestGeneralCtrl.ePage.Entities.Header.Data.PK}}"
                                                row-position="$index">
                                                <td id="checkbox"
                                                    data-ng-show='DowntimeRequestGeneralCtrl.ePage.Masters.TableProperties.SrqArea.checkbox.isenabled'
                                                    ng-style="{ 'width': DowntimeRequestGeneralCtrl.ePage.Masters.TableProperties.SrqArea.sno.width + 'px','padding-top':'0px' }"
                                                    ng-click="DowntimeRequestGeneralCtrl.ePage.Masters.Enable = true">
                                                    <label class="mb-0 customcheckbox">
                                                        <input type="checkbox" ng-checked="x.SingleSelect"
                                                            ng-change="DowntimeRequestGeneralCtrl.ePage.Masters.SingleSelectCheckBox()"
                                                            ng-model="x.SingleSelect" data-ng-disabled="x.isDisabled">
                                                        </input>
                                                        <span class="text"></span>
                                                    </label>
                                                    <span class="list-error-warning"
                                                        data-ng-if="DowntimeRequestGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.SrqArea.ERROR | listCount: 'RowIndex': $index">
                                                        <error-warning-directive
                                                            list="DowntimeRequestGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.SrqArea.ERROR"
                                                            type="'error'" icon="fa fa-warning"
                                                            parent-type="'arrayObjectRow'" parent-ref="" g-parent-ref=""
                                                            row-index="$index" col-index="">
                                                        </error-warning-directive>
                                                    </span>
                                                </td>
                                                <td id="sno"
                                                    data-ng-show='DowntimeRequestGeneralCtrl.ePage.Masters.TableProperties.SrqArea.sno.isenabled'
                                                    ng-style="{ 'width': DowntimeRequestGeneralCtrl.ePage.Masters.TableProperties.SrqArea.sno.width + 'px' }"
                                                    ng-click="DowntimeRequestGeneralCtrl.ePage.Masters.Enable = true">
                                                    {{$index+1}}
                                                </td>
                                                <td id="purpose"
                                                    data-ng-show='DowntimeRequestGeneralCtrl.ePage.Masters.TableProperties.SrqArea.purpose.isenabled'
                                                    ng-style="{ 'width': DowntimeRequestGeneralCtrl.ePage.Masters.TableProperties.SrqArea.purpose.width + 'px' }"
                                                    ng-click="DowntimeRequestGeneralCtrl.ePage.Masters.Enable = true">
                                                    <div data-ng-if="$index!=DowntimeRequestGeneralCtrl.ePage.Masters.selectedRow"
                                                        class="overflow-text">
                                                        {{ x.Name || DowntimeRequestGeneralCtrl.ePage.Masters.emptyText}}
                                                    </div>
                                                    <div
                                                        data-ng-if="$index==DowntimeRequestGeneralCtrl.ePage.Masters.selectedRow">
                                                        <div
                                                            class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 p-0">
                                                            <input type="text" maxlength="25" capitalize
                                                                class="height-22 form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                                                                placeholder="Purpose" data-ng-model="x.Name"
                                                                ng-change='DowntimeRequestGeneralCtrl.ePage.Masters.OnChangeValues(x.Name,"E4009",true,$index)'
                                                                data-ng-disabled="x.isDisabled">
                                                        </div>
                                                        <div class="list-error-warning col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 p-0 pl-5"
                                                            data-ng-if="DowntimeRequestGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.SrqArea.ERROR | filter:{RowIndex: $index}:true | listCount: 'ColIndex':1">
                                                            <error-warning-directive
                                                                list="DowntimeRequestGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.SrqArea.ERROR"
                                                                type="'error'" icon="fa fa-warning"
                                                                parent-type="'arrayObjectCol'" parent-ref=""
                                                                g-parent-ref=""
                                                                row-index="DowntimeRequestGeneralCtrl.ePage.Masters.selectedRow"
                                                                col-index="1">
                                                            </error-warning-directive>
                                                        </div>
                                                    </div>
                                                </td>
                                                <!-- <td id="areatype"
                                                    data-ng-show='DowntimeRequestGeneralCtrl.ePage.Masters.TableProperties.SrqArea.areatype.isenabled'
                                                    ng-style="{ 'width': DowntimeRequestGeneralCtrl.ePage.Masters.TableProperties.SrqArea.areatype.width + 'px' }">
                                                    <div data-ng-if="$index!=DowntimeRequestGeneralCtrl.ePage.Masters.selectedRow"
                                                        class="overflow-text">
                                                        {{ x.AreaType || DowntimeRequestGeneralCtrl.ePage.Masters.emptyText}}
                                                    </div>
                                                    <div
                                                        data-ng-if="$index==DowntimeRequestGeneralCtrl.ePage.Masters.selectedRow">
                                                        <div class="height-22 col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 p-0"
                                                            ng-click="DowntimeRequestGeneralCtrl.ePage.Masters.Enable = false">
                                                            <select chosen class="form-control" ng-model="x.AreaType"
                                                                ng-options="x.Key as x.Key + ' - '  + x.Value for x in DowntimeRequestGeneralCtrl.ePage.Masters.DropDownMasterList.AreaType.ListSource"
                                                                search-contains="true"
                                                                ng-change='DowntimeRequestGeneralCtrl.ePage.Masters.OnChangeValues(x.AreaType,"E4010",true,$index)'
                                                                data-ng-disabled="x.isDisabled">
                                                                <option value="">--Select--</option>
                                                            </select>
                                                            <descbind key="x.AreaType" get="x.AreaTypeDesc"
                                                                set="DowntimeRequestGeneralCtrl.ePage.Masters.DropDownMasterList.AreaType.ListSource">
                                                            </descbind>
                                                        </div>
                                                        <div class="list-error-warning col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 p-0 pl-5"
                                                            data-ng-if="DowntimeRequestGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.SrqArea.ERROR | filter:{RowIndex: $index}:true | listCount: 'ColIndex':2">
                                                            <error-warning-directive
                                                                list="DowntimeRequestGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.SrqArea.ERROR"
                                                                type="'error'" icon="fa fa-warning"
                                                                parent-type="'arrayObjectCol'" parent-ref=""
                                                                g-parent-ref=""
                                                                row-index="DowntimeRequestGeneralCtrl.ePage.Masters.selectedRow"
                                                                col-index="2">
                                                            </error-warning-directive>
                                                        </div>
                                                    </div>
                                                </td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 norecordfound"
                                    ng-if="DowntimeRequestGeneralCtrl.ePage.Entities.Header.Data.SrqArea.length==0">No
                                    Record Found...</div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="clearfix padding-top-0">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <button class="btn btn-primary"
                                        data-ng-click="DowntimeRequestGeneralCtrl.ePage.Masters.InsertData(DowntimeRequestGeneralCtrl.ePage.Entities.Header.Data)"
                                        style="margin-top: 20px;">Save</button>
                                </div>
                                <!-- <button class="btn btn-primary btn-sm pull-right margin-right-10 mt-6"
                                    data-ng-click="DowntimeRequestGeneralCtrl.ePage.Masters.Validation(DowntimeRequestGeneralCtrl.ePage.Entities.Header.Data)"
                                    data-ng-bind="DowntimeRequestGeneralCtrl.ePage.Masters.SaveButtonText"
                                    data-ng-disabled="DowntimeRequestGeneralCtrl.ePage.Masters.DisableSave"></button>
                                <button class="btn btn-primary btn-sm pull-right margin-right-10 mt-6"
                                    data-ng-click="DowntimeRequestGeneralCtrl.ePage.Masters.Validation(DowntimeRequestGeneralCtrl.ePage.Entities.Header.Data);DowntimeRequestGeneralCtrl.ePage.Masters.SaveAndClose = true"
                                    data-ng-disabled="DowntimeRequestGeneralCtrl.ePage.Masters.DisableSave">Save &
                                    Close</button> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>