<div class="clearfix pull-right fs-25 mb-10 pr-10">
    <email-modal input="three_three_PreAdviceCustomToolBarCtrl.ePage.Masters.Input" mode="2" type="three_three_PreAdviceCustomToolBarCtrl.ePage.Masters.MailObj"
        on-complete="three_three_PreAdviceCustomToolBarCtrl.ePage.Masters.OnComplete($item)">
        <button class="btn btn-default set-br-yellow set-bg-yellow-light fs-12" data-ng-disabled="!three_three_PreAdviceCustomToolBarCtrl.ePage.Masters.IsDisableSend">
            <!-- <i class="fa fa-envelope"></i> -->
            Shipment Pre-Advice Mail
        </button>
    </email-modal>
    <button class="btn btn-default set-br-blue set-bg-blue-light fs-12" data-ng-disabled="three_three_PreAdviceCustomToolBarCtrl.ePage.Masters.IsDisableSchedule"
        data-ng-click="three_three_PreAdviceCustomToolBarCtrl.ePage.Masters.AddSchedule(three_three_PreAdviceCustomToolBarCtrl.ePage.Entities.Header.Data.UISelectionList)">
        {{three_three_PreAdviceCustomToolBarCtrl.ePage.Masters.ScheduleBtn}}
    </button>
</div>
<div class="clearfix common_table_scroll mt-20 pl-10 pr-10 common_table_hgt" data-ng-if="three_three_PreAdviceCustomToolBarCtrl.ePage.Entities.Header.Data.UIOrder_Forwarder.length > 0">
    <three-three-pre-advice-inline current-object="three_three_PreAdviceCustomToolBarCtrl.ePage.Entities.Header.Data.UIOrder_Forwarder"
        btn-visible="{'AddNew':false,'Delete':false,'More':false}" read-only="false" table-properties="" grid-change="three_three_PreAdviceCustomToolBarCtrl.ePage.Masters.DataChanges({ item : item })"></three-three-pre-advice-inline>
</div>