<div class="clearfix wms-menu-wraper">
    <div id="wmsMenuWrapper{{TransportMenuCtrl.currentTransport.label}}" 
        class="col-sm-12 no-padding-left no-padding-right">          

        <uib-tabset class="wms-menu tabs-left tabbable">
            <div class="tab-profile">
                <div class="tab-profile-title text-single-line text-center" ng-if="TransportMenuCtrl.currentTransport.isNew">New</div>
                <div class="tab-profile-title text-single-line text-center" ng-if="!TransportMenuCtrl.currentTransport.isNew" data-ng-bind="TransportMenuCtrl.currentTransport.label"></div>
                <div class="wocstatus text-single-line text-center" title="{{TransportMenuCtrl.ePage.Entities.Header.Data.UIWmsTransportHeader.Status + ' - '+ TransportMenuCtrl.ePage.Masters.Status}}" data-ng-bind="TransportMenuCtrl.ePage.Masters.Status"></div> 

            </div>
            
            <uib-tab ng-repeat="x in TransportMenuCtrl.ePage.Masters.TransportMenu.ListSource">
                <uib-tab-heading title="{{x.DisplayName}}">
                    <i class="fa {{x.Icon}} margin-right-5"></i> <span class="text-single-line" data-ng-bind="x.DisplayName"></span>
                </uib-tab-heading>
                <div>
                    <div ng-switch="x.Value">

                        <!--Menu directives-->
                        <div ng-switch-when="General" transport-general current-transport="TransportMenuCtrl.currentTransport"></div>
                        <div ng-switch-when="Orders" transport-orders current-transport="TransportMenuCtrl.currentTransport"></div>
                                                                
                        <div ng-switch-when="Pickupanddelivery" transport-pickupanddelivery current-transport="TransportMenuCtrl.currentTransport"></div>         
                        <div ng-switch-when="Vehiclemovement" trans-vehiclemove
                        current-transport="TransportMenuCtrl.currentTransport"></div>
                        
                         

                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <!--Footer-->
     <div class="eaxis-footer-strip">
        <div class="col-lg-8">
            <standard-menu dataentry-object="TransportMenuCtrl.dataentryObject" input="TransportMenuCtrl.currentTransport" data-ng-if="!TransportMenuCtrl.currentTransport.isNew"></standard-menu>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-primary btn-sm pull-right margin-right-10 mt-6" data-ng-click="TransportMenuCtrl.ePage.Masters.Save(TransportMenuCtrl.currentTransport);TransportMenuCtrl.ePage.Masters.SaveAndClose = true"
             data-ng-disabled="TransportMenuCtrl.ePage.Entities.Header.CheckPoints.DisableSave"> Save and Close</button>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-primary btn-sm pull-right margin-right-10 mt-6" data-ng-click="TransportMenuCtrl.ePage.Masters.Save(TransportMenuCtrl.currentTransport)"
            data-ng-bind="TransportMenuCtrl.ePage.Masters.SaveButtonText" data-ng-disabled="TransportMenuCtrl.ePage.Masters.IsDisableSave"></button>
        </div>
    </div>
</div>