.container-alignment {
    background: #F6F6F6;
    border: 1px solid #dfdddd;
}

.routing-box {
    background: #F6F6F6;
    border: 1px solid #dfdddd;
    margin: 0px 15px 0px 15px;
}

.text-single-line-label1 {
    font-size: 17px;
}

.routing-box-line {
    margin: 0px 15px 0px 15px;
    border: 1px solid #dfdddd;
    border-top: none;
}

.center-alignment {
    text-align: center
}

.dropdownWrapLeft {
    position: absolute;
    z-index: 9999;
    width: 832px;
    background: #f0f0f0;
    box-shadow: 1px 1px 5px #999;
    right: 0px;
    top: 33px;
}

.dropdownWrapMiddle {
    position: absolute;
    z-index: 9999;
    width: 832px;
    background: #f0f0f0;
    box-shadow: 1px 1px 5px #999;
    right: -301px;
    top: 33px;
}

.dropdownWrapLast {
    position: absolute;
    z-index: 9999;
    width: 832px;
    background: #f0f0f0;
    box-shadow: 1px 1px 5px #999;
    right: 0px;
    top: 33px;
}

.address-panel {
    background-color: #f9f9f9;
    border: 1px solid #eee;
}

.address-design {
    border-right: 1px solid #eee;
}

.address-consignee {
    border-right: 1px solid #eee;
}

.dropping-cell .dropdown-menu {
    width: 100%;
}

.pack-alignment {
    border-top: 1px solid #cdcaca;
    position: relative;
    bottom: 0px;
    border-bottom: 1px solid #cdcaca;
    left: 0;
    width: 100%;
}