.rout-top-title {
    width: 100%;
    float: left;
    font-weight: bold;
    padding: 8px 0 0;
}

.rout-title {
    width: 100%;
    float: left;
    font-weight: bold;
}

.rout-label {
    float: left;
    font-size: 12px;
    color: #999;
}

.rout-label span {
    padding: 0px 5px;
    border-radius: 2px;
}

.rout-date {
    width: 100%;
    float: left;
    padding: 14px 0 0;
}

.rout-actions-label {
    width: 25%;
    float: left;
    color: #999;
}

.rout-action-label-value {
    width: 100%;
    float: left;
    margin-bottom: 1px;
}

.fontSizeColor {
    font-size: 16px;
    font-weight: bold;
    color: #4385f5;
}

.rout-actions-value {
    width: 75%;
    float: left;
}

.routing-header {
    width: 220px;
}

.comments-height {
    height: 35px;
}

.btn-gray {
    background-color: #a1a1a1 !important;
    color: #fff !important;
}

.label-follow {
    color: #5c3a81;
    font-size: 18px;
    font-weight: bold;
}

a:focus,
a:hover {
    /* cursor: pointer !important; */
}

.edit,
.delete {
    font-size: 13px;
    border: 1px solid gray;
    margin: 0px 10px 0px 10px;
}

.edit {
    color: green;
}

.delete {
    color: red;
}

.rout-line {
    border-top: 1px solid #eee;
}

.rout-box {
    background-color: #f9f9f9;
    border: 1px solid #eee;
}

.rout-box1 {
    border-left: 1px solid #eee;
}

.routing-popup .modal-dialog {
    width: 80% !important;
}

.grid-no-record {
    color: #aa3423;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 40%;
}