.tc-group-role-app-tenant .form-group .dropdown-menu {
    display: block !important;
    left: 15px;
}

.tc-group-role-app-tenant .dropdown-menu .auto-complete-no-result {
    padding: 0 10px;
    font-size: 12px;
}