.my-task-standard-bar {
    background-color: #f0f0f0;
    padding: 5px 0;
}

.except-approval-min-hgt {
    min-height: 500px;
}

#except-approval .panel {
    border-radius: 0;
}

#except-approval .panel-title {
    font-size: 13px;
    color: #1e2778;
}

.height-30 {
    height: 30px !important;
}

