.tc-validation .table {
    table-layout: fixed;
}

.tc-validation .table thead tr {
    background: #ccdadf;
}

.tc-validation .table>tbody>tr>td {
    padding: 0;
    vertical-align: middle;
}

.tc-validation .table>tbody>tr>td>.set-tabel-text {
    width: 100%;
    border: 0;
    padding: 8px 10px;
    box-shadow: none;
    outline: none;
}

.tc-validation .table thead tr th.th-text {
    width: 100%;
}

.tc-validation .table thead tr th.tc-table-width-70 {
    width: 70px;
}

.tc-validation .table thead tr th.tc-table-width-125 {
    width: 125px;
}

.tc-validation .table thead tr th.tc-table-width-150 {
    width: 150px;
}

.tc-validation-save-icon {
    font-size: 16px;
    color: green;
}
