<div class="modal-header">
    <span class="modal-title modalheader">{{InvoiceCtrl.ePage.Entities.Header.Data.OrgHeader.Code}}</span>
    <button class="btn btn-xs btn-warning pull-right ml-5" data-ng-bind="InvoiceCtrl.ePage.Masters.CloseButtonText" data-ng-click="InvoiceCtrl.ePage.Masters.Close()"></button>
    <button class="btn btn-xs btn-primary pull-right" data-ng-bind="InvoiceCtrl.ePage.Masters.SaveButtonText" data-ng-click="InvoiceCtrl.ePage.Masters.Validation()"></button>
</div>
<div class="modal-body pb-50">
</div>
<div class="modal-footer">
    <button class="btn btn-xs btn-primary mb-20" data-ng-bind="InvoiceCtrl.ePage.Masters.SaveButtonText" data-ng-click="InvoiceCtrl.ePage.Masters.Validation()"></button>
    <button class="btn btn-xs btn-warning mb-20" data-ng-bind="InvoiceCtrl.ePage.Masters.CloseButtonText" data-ng-click="InvoiceCtrl.ePage.Masters.Close()"></button>
</div>