<!--Confirm Transhipment  Edit Activity-->
<div class="clearfix">
    <div data-ng-if="ImportSeaConsolConfirmTranshipmentVltCtrl.ePage.Entities.Header.Data">
        <routing-grid data-ng-if="ImportSeaConsolConfirmTranshipmentVltCtrl.ePage.Entities.Header.Data" current-object="ImportSeaConsolConfirmTranshipmentVltCtrl.currentConsol"
            key-object-name="'CON'" fk-name="'PK'" pk-name="'EntityRefKey'" api-header-name="'UIConConsolHeader'"
            api-header-field-name="'PK'" api-header-value-name="'CON_FK'" btn-visible="{'AddNew':true,'Delete':true,'More':false}"
            table-properties="ImportSeaConsolConfirmTranshipmentVltCtrl.ePage.Masters.TableProperties"></routing-grid>
    </div>

</div>