<div class="clearfix padding-top-10">
    <div class="clearfix">
        <!-- From Currency-->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-5">
            <div class="inner-dashboard-box">
                <div class="rows">
                    <div class="col-xs-3 col-sm-3 col-md-4 col-lg-3 col-xl-3 height-40  pt-10 pb-10">
                        <label class="ml-5 control-label">From Currency</label>
                        <span class="error-warning-container">
                            <error-warning-directive
                                data-ng-if="ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.CurrencyCode.IsWarning && !ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.CurrencyCode.IsError"
                                list="ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.CurrencyCode.WARNING"
                                type="'warning'" icon="fa fa-warning" parent-type="'null'" parent-ref=""
                                g-parent-ref="">
                            </error-warning-directive>
                            <error-warning-directive
                                data-ng-if="ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.CurrencyCode.IsError"
                                list="ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.CurrencyCode.ERROR"
                                type="'error'" icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref="">
                            </error-warning-directive>
                        </span>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-8 col-lg-9 col-xl-9 height-40 p-5">
                        <!-- <input type="text" class="form-control input-sm" placeholder="Currency Code"
                                data-ng-model="ExchangeRateGeneralCtrl.ePage.Masters.UIExchangerateList.Code"
                                data-ng-change='ExchangeRateGeneralCtrl.ePage.Masters.OnChangeValues(ExchangeRateGeneralCtrl.ePage.Masters.UIExchangerateList.Code,"E1314")' /> -->
                        <div class="input-group input-group-sm">
                            <!-- Dynamic look up Search in textbox -->
                            <div dynamic-lookup placeholder="From Currency"
                                my-ng-model="ExchangeRateGeneralCtrl.ePage.Masters.UIExchangerateList.FromCurrency"
                                obj="ExchangeRateGeneralCtrl.ePage.Masters.UIExchangerateList"
                                page-name="'CurrencyMaster'" control-id="'FinanceAPCurrency'"
                                control-key="FinanceAPCurrency_3330"
                                auto-complete-on-select="ExchangeRateGeneralCtrl.ePage.Masters.SelectedLookupData($index, $item,'Local')">
                            </div>
                            <!-- Look Up page opens when button clicks -->
                            <span class="input-group-btn">
                                <button dynamic-list-modal class="btn btn-default" type="button" is-disabled="false"
                                    obj="ExchangeRateGeneralCtrl.ePage.Masters.UIExchangerateList.FromCurrency"
                                    page-name="'CurrencyMaster'" control-id="'FinanceAPCurrency'"
                                    control-key="FinanceAPCurrency_3330" mode="2" grid-refresh-fun-name=""
                                    grid-refresh-fun=""
                                    selected-data="ExchangeRateGeneralCtrl.ePage.Masters.SelectedLookupData($index, $item.data.entity,'Local')">
                                    <i class="fa fa-ellipsis-h"></i>
                                </button>
                            </span>
                            <span
                                data-ng-if='!ExchangeRateGeneralCtrl.ePage.Masters.UIExchangerateList && !ExchangeRateGeneralCtrl.ePage.Masters.UIExchangerateList'>
                                <div
                                    data-ng-init="ExchangeRateGeneralCtrl.ePage.Masters.OnChangeValues(ExchangeRateGeneralCtrl.ePage.Masters.UIExchangerateList,'E1300',false,undefined)">
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--To Currency-->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-5">
            <div class="inner-dashboard-box">
                <div class="rows">
                    <div class="col-xs-3 col-sm-3 col-md-4 col-lg-3 col-xl-3 height-40  pt-10 pb-10">
                        <span class="dashboard-inward-icon-box">
                            <!-- <i class="icomoon icon-supplier"></i> -->
                        </span>
                        <label class="ml-5 control-label">To Currency</label>
                        <span class="error-warning-container">
                            <error-warning-directive
                                data-ng-if="ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.RX_NKExCurrency.IsWarning && !ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.RX_NKExCurrency.IsError"
                                list="ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.RX_NKExCurrency.WARNING"
                                type="'warning'" icon="fa fa-warning" parent-type="'null'" parent-ref=""
                                g-parent-ref="">
                            </error-warning-directive>
                            <error-warning-directive
                                data-ng-if="ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.RX_NKExCurrency.IsError"
                                list="ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.RX_NKExCurrency.ERROR"
                                type="'error'" icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref="">
                            </error-warning-directive>
                        </span>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-8 col-lg-9 col-xl-9 height-40 p-5">
                        <div class="input-group input-group-sm">

                            <!-- Dynamic look up Search in textbox -->
                            <div dynamic-lookup placeholder="To Currency"
                                my-ng-model="ExchangeRateGeneralCtrl.ePage.Masters.UIExchangerateList.RX_NKExCurrency"
                                obj="ExchangeRateGeneralCtrl.ePage.Masters.UIExchangerateList"
                                page-name="'CurrencyMaster'" control-id="'FinanceAPCurrency'"
                                control-key="FinanceAPCurrency_3330"
                                auto-complete-on-select="ExchangeRateGeneralCtrl.ePage.Masters.SelectedLookupData($index, $item,'Local')">
                            </div>
                            <!-- Look Up page opens when button clicks -->
                            <span class="input-group-btn">
                                <button dynamic-list-modal class="btn btn-default" type="button" is-disabled="false"
                                    obj="ExchangeRateGeneralCtrl.ePage.Masters.UIExchangerateList"
                                    page-name="'CurrencyMaster'" control-id="'FinanceAPCurrency'"
                                    control-key="FinanceAPCurrency_3330" mode="2" grid-refresh-fun-name=""
                                    grid-refresh-fun=""
                                    selected-data="ExchangeRateGeneralCtrl.ePage.Masters.SelectedLookupData($index, $item.data.entity,'Local')"><i
                                        class="fa fa-ellipsis-h"></i>
                                </button>
                            </span>
                            <span
                                data-ng-if='!ExchangeRateGeneralCtrl.ePage.Masters.UIExchangerateList && !ExchangeRateGeneralCtrl.ePage.Masters.UIExchangerateList'>
                                <div
                                    data-ng-init="ExchangeRateGeneralCtrl.ePage.Masters.OnChangeValues(ExchangeRateGeneralCtrl.ePage.Masters.UIExchangerateList,'E1300',false,undefined)">
                                </div>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <!-- Rate Type -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-5">
            <div class="inner-dashboard-box">
                <div class="rows">
                    <div class="col-xs-3 col-sm-3 col-md-4 col-lg-3 col-xl-3 height-40  pt-10 pb-10">
                        <label class="ml-5 control-label">Rate type</label>
                        <span class="error-warning-container">
                            <error-warning-directive
                                data-ng-if="ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ExRateType.IsWarning && !ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ExRateType.IsError"
                                list="ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ExRateType.WARNING"
                                type="'warning'" icon="fa fa-warning" parent-type="'null'" parent-ref=""
                                g-parent-ref="">
                            </error-warning-directive>
                            <error-warning-directive
                                data-ng-if="ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ExRateType.IsError"
                                list="ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ExRateType.ERROR"
                                type="'error'" icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref="">
                            </error-warning-directive>
                        </span>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-8 col-lg-9 col-xl-9 height-40 p-5">
                        <div class="input-group input-group-sm">

                            <select chosen class="form-control"
                                data-ng-model="ExchangeRateGeneralCtrl.ePage.Entities.Header.Data.UIExchangerateList.ExRateType"
                                data-ng-options="x.Key as x.Description for x in ExchangeRateGeneralCtrl.ePage.Masters.DropDownMasterList.FinanceStatus.ListSource"
                                data-ng-change="ExchangeRateGeneralCtrl.ePage.Masters.OnChangeValues(ExchangeRateGeneralCtrl.ePage.Entities.Header.Data.UIExchangerateList.ExRateType,'E1304',false,undefined);">
                                <option value="">--Select--</option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-5">
            <div class="inner-dashboard-box">
                <div class="rows">
                    <div class="col-xs-3 col-sm-3 col-md-4 col-lg-3 col-xl-3 height-40  pt-10 pb-10">
                        <label class="ml-5 control-label">Rate Sub Type</label>
                        <span class="error-warning-container">
                            <error-warning-directive
                                data-ng-if="ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.RateSubType.IsWarning && !ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.RateSubType.IsError"
                                list="ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.RateSubType.WARNING"
                                type="'warning'" icon="fa fa-warning" parent-type="'null'" parent-ref=""
                                g-parent-ref="">
                            </error-warning-directive>
                            <error-warning-directive
                                data-ng-if="ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.RateSubType.IsError"
                                list="ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.RateSubType.ERROR"
                                type="'error'" icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref="">
                            </error-warning-directive>
                        </span>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-8 col-lg-9 col-xl-9 height-40 p-5">
                        <div class="input-group input-group-sm">
                            <select chosen class="form-control"
                                data-ng-model="ExchangeRateGeneralCtrl.ePage.Entities.Header.Data.UIExchangerateList.RateSubType"
                                data-ng-options="x.Key as x.Description for x in ExchangeRateGeneralCtrl.ePage.Masters.DropDownMasterList.FinanceStatus.ListSource"
                                data-ng-change="ExchangeRateGeneralCtrl.ePage.Masters.OnChangeValues(ExchangeRateGeneralCtrl.ePage.Entities.Header.Data.UIExchangerateList.RateSubType,'E1304',false,undefined);">
                                <option value="">--Select--</option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-5">
            <div class="inner-dashboard-box">
                <div class="rows">
                    <div class="col-xs-3 col-sm-3 col-md-4 col-lg-3 col-xl-3 height-40  pt-10 pb-10">
                        <label class="ml-5 control-label">Rate</label>
                        <span class="error-warning-container">
                            <error-warning-directive
                                data-ng-if="ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ExRateType.IsWarning && !ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ExRate.IsError"
                                list="ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ExRate.WARNING"
                                type="'warning'" icon="fa fa-warning" parent-type="'null'" parent-ref=""
                                g-parent-ref="">
                            </error-warning-directive>
                            <error-warning-directive
                                data-ng-if="ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ExRate.IsError"
                                list="ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ExRate.ERROR"
                                type="'error'" icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref="">
                            </error-warning-directive>
                        </span>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-8 col-lg-9 col-xl-9 height-40 p-5">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control input-sm" placeholder="Ex Rate"
                                data-ng-model="ExchangeRateGeneralCtrl.ePage.Masters.UIExchangerateList.Rate"
                                data-ng-change='ExchangeRateGeneralCtrl.ePage.Masters.OnChangeValues(ExchangeRateGeneralCtrl.ePage.Masters.UIExchangerateList.Rate,"E1314")' />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-5">
            <div class="inner-dashboard-box">
                <!-- <div class="rows">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 height-40 pt-10 pb-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                    data-ng-model="ExchangeRateGeneralCtrl.ePage.Masters.UIExchangerateList.IsActive">
                                <span class="text"></span>Is Active
                            </label>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-5">
            <div class="inner-dashboard-box">
                <div class="rows">
                    <div class="col-xs-3 col-sm-3 col-md-4 col-lg-3 col-xl-3 height-40  pt-10 pb-10">
                        <label class="ml-5 control-label">Conv. From A to B</label>
                        <!-- <span class="error-warning-container">
                                    <error-warning-directive
                                        data-ng-if="ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ConvFromAtoB.IsWarning && !ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ConvFromAtoB.IsError"
                                        list="ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ConvFromAtoB.WARNING"
                                        type="'warning'" icon="fa fa-warning" parent-type="'null'" parent-ref=""
                                        g-parent-ref="">
                                    </error-warning-directive>
                                    <error-warning-directive
                                        data-ng-if="ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ExRate.IsError"
                                        list="ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ExRate.ERROR"
                                        type="'error'" icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref="">
                                    </error-warning-directive>
                                </span> -->
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-8 col-lg-9 col-xl-9 height-40 p-5">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control input-sm" placeholder="Conversion From A to B"
                                data-ng-model="ExchangeRateGeneralCtrl.ePage.Masters.UIExchangerateList.ConvFromAtoB"
                                data-ng-change='ExchangeRateGeneralCtrl.ePage.Masters.OnChangeValues(ExchangeRateGeneralCtrl.ePage.Masters.UIExchangerateList.ConvFromAtoB,"E1314")' />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-5">
            <div class="inner-dashboard-box">
                <div class="rows">
                    <div class="col-xs-3 col-sm-3 col-md-4 col-lg-3 col-xl-3 height-40  pt-10 pb-10">
                        <label class="ml-5 control-label">Conv. From B to A</label>
                        <span class="error-warning-container">
                            <error-warning-directive
                                data-ng-if="ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ExRateType.IsWarning && !ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ExRate.IsError"
                                list="ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ExRate.WARNING"
                                type="'warning'" icon="fa fa-warning" parent-type="'null'" parent-ref=""
                                g-parent-ref="">
                            </error-warning-directive>
                            <error-warning-directive
                                data-ng-if="ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ExRate.IsError"
                                list="ExchangeRateGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ExRate.ERROR"
                                type="'error'" icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref="">
                            </error-warning-directive>
                        </span>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-8 col-lg-9 col-xl-9 height-40 p-5">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control input-sm" placeholder="Conversion From B to A"
                                data-ng-model="ExchangeRateGeneralCtrl.ePage.Masters.UIExchangerateList.ConvFromBtoA"
                                data-ng-change='ExchangeRateGeneralCtrl.ePage.Masters.OnChangeValues(ExchangeRateGeneralCtrl.ePage.Masters.UIExchangerateList.ExRate,"E1314")' />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>