.edit {
    float: right;
    margin-bottom: 5px;
}

.general-edit.general>.modal-dialog {
    width: 700px !important;
}

.org-address-wrapper:first-child .address-highlight {
    background-color: #f4f4f4;
    font-weight: bold;
}

.org-address-wrapper:first-child .address-highlight .eaxis-org-state-circle {
    background: orange;
}


/* ===================== */

.md-org-header {
    font-size: 16px;
    position: relative;
    padding: 9px 0px;
    color: #1f497d;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.label-container .label {
    margin: 10px 5px;
}
.fs-18 {
    font-size: 18px;
}

