<div class="clearfix login-wrapper pb-100 animated fadeInDown" data-ng-if="!LoginCtrl.ePage.Masters.IsShowTenantList">
    <div class="container">
        <div class="header clearfix">
            <div class="logo-left mt-10">
                <img src="app/login/template/default/img/product-logo.png" />
            </div>
        </div>
        <div class="login-body clearfix">
            <div class="row">
                <div class="col-md-8 col-sm-7">
                    <div class="mt-80 pr-200" style="color: #fff;">
                        <h1 style="font-size: 3.9em;">Welcome to Myhub Plus in 20Cube</h1>
                        <p class="form-banner-content pt-7">
                            MyHub Plus is real hub for all your logistics needs. It is the best information resource
                            provider for Clients, Suppliers and Business partners to conduct business ease. Explore and
                            discover the vast logistics world of Myhub Plus.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-5">
                    <div class="form-box">
                        <div class="form-login">
                            <login-form></login-form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="services-div">
                        <div class="col-md-3 col-sm-6 col-xs-12 text-center br service-hover">
                            <div class="service">
                                <div class="service-icon">
                                    <i class="fa fa-globe"></i>
                                </div>
                                <div class="service-desc">
                                    <h4 style="font-weight:bold !important;margin-top: 0px !important;" class="red oB">
                                        Global
                                        Forwarding</h4>
                                    <p class="light oR">
                                        Global freight management system helps to improve freight operations with
                                        optimized
                                        processes.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 text-center br b0 service-hover">
                            <div class="service" data-aos="zoom-in" data-aos-duration="1000">
                                <div class="service-icon">
                                    <i class="fa fa-home"></i>
                                </div>
                                <div class="service-desc">
                                    <h4 style="font-weight:bold !important;margin-top: 0px !important;" class="red oB">
                                        Warehousing</h4>
                                    <p class="light oR">
                                        Warehouse management system allows smooth management of stock inventories for
                                        product distribution.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 text-center br b0 service-hover">
                            <div class="service">
                                <div class="service-icon">
                                    <i class="fa fa-dollar"></i>
                                </div>
                                <div class="service-desc">
                                    <h4 style="font-weight:bold !important;margin-top: 0px !important;" class="red oB">
                                        Job
                                        Accounting</h4>
                                    <p class="light oR">
                                        Accounting platform helps to manage your invoicing, receivables, payables,
                                        cashbook, job costing, and general ledger data.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 text-center service-hover">
                            <div class="service">
                                <div class="service-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="service-desc">
                                    <h4 style="font-weight:bold !important;margin-top: 0px !important;" class="red oB">
                                        Smart
                                        Track</h4>
                                    <p class="light oR">
                                        Track your Shipments, Purchase Orders, Containers & Brokerage jobs online with
                                        33+
                                        milestones visibility.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-sm-12">
                    <div class="form-des">
                        <span>Supplier Followup Engine - MyHub Plus</span>
                        <h1>
                            Vendor Compliance
                            <strike style='color:red'>
                                <span style="color:#000">Simplified</span>
                            </strike> Automated
                        </h1>
                        <p>
                            Once an order is placed upon a vendor, both parties agree upon an estimated date for the
                            goods
                            to be ready, or depending on terms, shipped on board or arrived into store at destination.
                            Based on this expected date, the customer plans his forward inventory and estimated stock
                            quantity available for distribution. With many aspects of design, production and packaging
                            potentially impacting on the expected lead time, Myhub re-forecast the planned ready date
                            once
                            these variables have been identified. This system is known as Supplier Follow Up. Based on
                            agreed business rules with the customer, Myhub will generate an automated communication to
                            the
                            vendor with the revised information.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
