<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="my-task-content-shipper">

    <div class="clearfix mt-10">
        <div class="table" id="results">
            <div class="theader">
                <div class="table_header">Consignor</div>
                <div class="table_header">Consignee</div>
                <div class="table_header">Origin </div>
                <div class="table_header"> Destination </div>
                <div class="table_header">Transport Mode</div>
                <div class="table_header"> Container Mode</div>
                <div class="table_header"> IncoTerm</div>

            </div>
            <div class="table_row">
                <div class="table_small">
                    <div class='table_cell'>Consignor</div>
                    <div class="table_cell" data-ng-bind="BookingCancellationDirectiveCtrl.ePage.Masters.HeaderDetails.Response.UIShipmentHeader.CreatedBy"></div>
                </div>
                <div class="table_small">
                    <div class='table_cell'>Consignee</div>
                    <div class="table_cell" data-ng-bind="BookingCancellationDirectiveCtrl.ePage.Masters.HeaderDetails.Response.UIShipmentHeader.Description"></div>
                </div>
                <div class="table_small">
                    <div class='table_cell'>Origin</div>
                    <div class="table_cell" data-ng-bind="BookingCancellationDirectiveCtrl.ePage.Masters.HeaderDetails.Response.UIShipmentHeader.Origin"></div>
                </div>
                <div class="table_small">
                    <div class='table_cell'>Destination</div>
                    <div class="table_cell" data-ng-bind="BookingCancellationDirectiveCtrl.ePage.Masters.HeaderDetails.Response.UIShipmentHeader.Destination"></div>
                </div>

                <div class="table_small">
                    <div class='table_cell'>Transport Mode</div>
                    <div class="table_cell" data-ng-bind="BookingCancellationDirectiveCtrl.ePage.Masters.HeaderDetails.Response.UIShipmentHeader.TransportMode"></div>

                </div>
                <div class="table_small">
                    <div class='table_cell'> Container Mode</div>
                    <center>
                        <div class="table_cell" data-ng-if="!BookingCancellationDirectiveCtrl.ePage.Masters.HeaderDetails.Response.UIShipmentHeader.ContainerMode">-</div>
                        <div class="table_cell" data-ng-if="BookingCancellationDirectiveCtrl.ePage.Masters.HeaderDetails.Response.UIShipmentHeader.ContainerMode"
                            data-ng-bind="BookingCancellationDirectiveCtrl.ePage.Masters.HeaderDetails.Response.UIShipmentHeader.ContainerMode"></div>
                    </center>
                </div>
                <div class="table_small">
                    <div class='table_cell'>IncoTerm</div>
                    <div class="table_cell" data-ng-bind="BookingCancellationDirectiveCtrl.ePage.Masters.HeaderDetails.Response.UIShipmentHeader.IncoTerm"></div>
                </div>

            </div>
        </div>
    </div>

</div>