body:before {
    background: #fff;
}

.page-body {
    background: #fff;
}

.page-sidebar::before {
    background-color: #364150;
}

.page-sidebar .sidebar-header-wrapper .searchinput {
    background-color: #364150;
    color: #ddd;
    border: 1px solid #6b6667;
    z-index: 50;
}

.page-sidebar .sidebar-menu li.active>a {
    border-top: 1px solid;
    border-color: #2C3542;
    background-color: #2C3542;
    color: #ddd;
}

.page-sidebar .sidebar-menu li:before {
    background-color: #fbbc05;
}

.page-sidebar .sidebar-menu>li>a:hover {
    border-color: #2C3542;
    background-color: #3e4b5c;
}

.page-sidebar .sidebar-menu a {
    color: #aaa;
}

.page-sidebar .sidebar-menu>li>a {
    border-top: 1px solid #4e5a79;
}

.page-sidebar .sidebar-menu>li:last-child>a {
    border-bottom: 1px solid #524c4c;
}

.page-sidebar .sidebar-menu>li.open>a {
    background-color: #2C3542;
    color: #aaa;
}

.page-sidebar .sidebar-menu>li:last-child>a {
    border-bottom: 1px solid #4e5a79;
}

.page-sidebar .sidebar-menu>li>.submenu {
    background-color: #364150;
}

.page-sidebar .sidebar-menu a:hover {
    color: #ddd !important;
    background-color: #2C3542 !important;
}

.page-sidebar .sidebar-menu li:not(.open):hover:before {
    background-color: #fbbc05;
}

.page-sidebar .sidebar-menu .submenu li.active>a {
    color: #ddd;
    background-color: #2C3542;
}

/*Tab*/
#chromeTab>.nav-tabs {
    background-color: #cbd9de;
    box-shadow: none;
}

.tab-content {
    background: #fff;
    box-shadow: none;
    padding: 5px;
}

.tab-container>ul.nav-tabs>li {
    background-color: #cbd9de !important;
    border-right: 1px solid #b9c6cb;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background-color: #fff;
    box-shadow: none !important;
    font-weight: 600;
    margin-top: 0;
    border: none;
    border-bottom: 2px solid #fbbc05;
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus {
    background-color: #fff;
}

/*Form control*/
.form-control,
select {
    background-color: #fff;
    color: #000;
    border-radius: 0;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    background-color: #fff;
    color: #000;
}

.btn.shiny,
.btn-default.shiny {
    background: #fff;
    box-shadow: none;
}

.btn.shiny[disabled],
.btn-default.shiny[disabled] {
    background: #fbfbfb;
    box-shadow: none;
}

.input-group .input-group-addon {
    background: #fff;
}

/*=====================*/
/*Justified tab*/
.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus {
    border: 0;
    border-bottom: 2px solid #9fb5bd;
    box-shadow: none;
    padding: 6px;
    color: #999 !important;
}

.nav-tabs>li>a {
    font-size: 14px;
    color: #55788c !important;
}

.nav-tabs.nav-justified>li>a {
    font-size: 14px;
    color: #777 !important;
}

.nav-tabs.nav-justified>li>a:hover {
    background-color: #fff;
    color: #262626 !important;
}

.nav-justified {
    box-shadow: 1px 0 10px 1px rgba(0, 0, 0, .3);
}

/* Tab Left  */
.tabs-left.tabbable>.nav.nav.nav-tabs {
    background-color: #f0f0f0;
    min-height: 100vh;
    width: 220px;
    box-shadow: none;
    padding-bottom: 30px;
}

.tabs-left.tabbable>.tab-content {
    padding: 0;
}

.tabs-left.tabbable>.nav-tabs>li.active>a,
.tabs-left.tabbable>.nav-tabs>li.active>a:hover,
.tabs-left.tabbable>.nav-tabs>li.active>a:focus,
.tabs-left.tabbable>.nav-tabs>li.active>a:active {
    border-left: 3px solid #fbbc05 !important;
    color: #fff !important;
    background-color: #4385f5;
    line-height: 16px;
    font-size: 14px;
}

.navbar .navbar-inner {
    background: #fff;
    color: black;
    border-bottom: 1px solid #d71921;
}

.navbar .navbar-inner .navbar-header .navbar-account .account-area .open .login-area section h2 span {
    color: #1f1f1f;
}

.navbar .navbar-inner .navbar-header .navbar-account .account-area .login-area section h2 span {
    color: #1f1f1f;
}

.navbar .navbar-inner .navbar-header .navbar-account .account-area>li.open>a {
    background: #fff;
}

.navbar .navbar-inner .navbar-header .navbar-account .account-area>li .dropdown-menu.dropdown-login-area>li.dropdown-footer {
    border-top: 1px solid rgba(215, 25, 33, 1);
}

.navbar .navbar-inner .navbar-header .navbar-account .account-area>li .dropdown-menu.dropdown-login-area>li.email,
.navbar .navbar-inner .navbar-header .navbar-account .account-area>li .dropdown-menu.dropdown-login-area>li.email a {
    color: #444;
}

.page-sidebar.menu-compact .sidebar-menu>li>a:hover {
    background-color: #3e4b5c;
}

.page-sidebar.menu-compact .sidebar-menu>li>a .menu-text {
    background-color: #3e4b5c;
    color: #f4f4f4;
}

.page-sidebar.menu-compact~.page-content {
    margin-left: 47px;
}

.page-sidebar.menu-compact .sidebar-menu>li>.submenu>li>a {
    background-color: #3e4b5c;
    color: #f4f4f4;
}

.page-sidebar .sidebar-header-wrapper .searchicon {
    color: #aaa;
}
