<div class="clearfix pt-10 mb-50">
    <div class="widget-main">
        <div class="customrows">
            <!-- <div class="col-lg-6 col-md-4 col-sm-6">
                <div class="row">
                    <div class="col-lg-12 pr-0">
                        <div class="eaxis-div-box height-auto-600">
                            <div class="eaxis-header">
                                <span>Order <a class="eaxis-edit-2" href="javascript:void(0);" ng-click="OrgWarehouseCtrl.ePage.Masters.OpenEditForm(OrgWarehouseCtrl.ePage.Entities.Header.Data.OrgMiscServ, 'picking', false)"><i class="fa fa-pencil"></i></a></span>
                            </div>                            
                            <div class="rows mt-10">
                                    <div class="clearfix mb-10">
                                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                            <div class="eaxis-label">Pick option</div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                            <div class="eaxis-value" data-ng-bind="OrgWarehouseCtrl.ePage.Entities.Header.Data.OrgMiscServ.IMDefaultWarehousePickOption"></div>
                                        </div>
                                    </div>
                                    <div class="clearfix mb-10">
                                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                            <div class="eaxis-label">Fulfilment Rule</div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                            <div class="eaxis-value" data-ng-bind="OrgWarehouseCtrl.ePage.Entities.Header.Data.OrgMiscServ.WmsOrderFulfillmentRule "></div>
                                        </div>
                                    </div>
                                    <div class="clearfix mb-10">
                                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                            <div class="eaxis-label">Default Pick Priority</div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                            <div class="eaxis-value" data-ng-bind="OrgWarehouseCtrl.ePage.Entities.Header.Data.OrgMiscServ.WmsOrderDefaultPickPriority"></div>
                                        </div>
                                    </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-12 border-l">
                        <div class="eaxis-div-box clearfix">
                            <div class="clearfix mb-10">
                                <div class="eaxis-header bt-0">
                                    <span>Picking Sequence<a class="eaxis-edit-2" href="javascript:void(0);" ng-click="OrgWarehouseCtrl.ePage.Masters.OpenEditForm(OrgWarehouseCtrl.ePage.Entities.Header.Data.OrgMiscServ, 'picking', false)"><i class="fa fa-pencil"></i></a></span>
                                </div>
                                <div class="rows mt-10">
                                    <div class="clearfix mb-10">
                                    <span class="col-lg-12"><b>Algorithms</b></span>
                                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="eaxis-label">FIFO Fallback</div>
                                    </div>
                                    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="eaxis-value" data-ng-bind="OrgWarehouseCtrl.ePage.Entities.Header.Data.OrgMiscServ.WmsPickFromDefaultFIFO "></div>
                                    </div>
                                    <!--<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="eaxis-label">Full Pallets</div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="eaxis-value" data-ng-bind="OrgWarehouseCtrl.ePage.Entities.Header.Data.OrgMiscServ.WmsPickFromFullPallets "></div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="eaxis-label">Consolidated Pallets</div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="eaxis-value" data-ng-bind="OrgWarehouseCtrl.ePage.Entities.Header.Data.OrgMiscServ.WmsPickFromConsolidatedFullPallets "></div>
                                    </div> -->
                                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="eaxis-label">Expiry Date</div>
                                    </div>
                                    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="eaxis-value" data-ng-bind="OrgWarehouseCtrl.ePage.Entities.Header.Data.OrgMiscServ.WmsPickSortExpiryDate "></div>
                                    </div>
                                    <!-- <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="eaxis-label">Pick Faces</div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="eaxis-value" data-ng-bind="OrgWarehouseCtrl.ePage.Entities.Header.Data.OrgMiscServ.WmsPickFromPickFaces "></div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="eaxis-label">Pallet Overflow</div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="eaxis-value" data-ng-bind="OrgWarehouseCtrl.ePage.Entities.Header.Data.OrgMiscServ.WmsPickFromPalletOverflow "></div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="eaxis-label">Broken Pallets</div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="eaxis-value" data-ng-bind="OrgWarehouseCtrl.ePage.Entities.Header.Data.OrgMiscServ.WmsPickFromBrokenPallets "></div>
                                    </div> -->
                                    <!-- <span class="col-lg-12"><b>Location Sort</b></span>
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="eaxis-label">Row</div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="eaxis-value" data-ng-bind="OrgWarehouseCtrl.ePage.Entities.Header.Data.OrgMiscServ.WmsPickSortLocationRow "></div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="eaxis-label">Column</div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="eaxis-value" data-ng-bind="OrgWarehouseCtrl.ePage.Entities.Header.Data.OrgMiscServ.WmsPickSortLocationColumn "></div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="eaxis-label">Level</div>    
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="eaxis-value" data-ng-bind="OrgWarehouseCtrl.ePage.Entities.Header.Data.OrgMiscServ.WmsPickSortLocationLevel "></div>
                                    </div>     -->
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="customrows">    
            <div class="col-lg-12 col-md-4 col-sm-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="clearfix mb-10">
                            <div class="eaxis-header bt-0">
                                <span>Picking Params. by Warehouse <a class="eaxis-edit-2" href="javascript:void(0);" ng-click="OrgWarehouseCtrl.ePage.Masters.OpenEditForm(undefined, 'Pickingparamsbywh', true)"><i class="fa fa-plus-circle"></i></a>    </span>
                            </div>
                            <div class="col-lg-12 margin-top-10" style="margin-left: 0px";>
                                <div style=" overflow-x: scroll; width: 100%;height:150px;">
                                    <ul class="bulk-action1" style="width: 110%;">    
                                       <li class="border-bottom1 padding-top-5 padding-bottom-5">
                                        <div  class="bulk-top-title" style="width: 100px;"><span>Action</span></div>
                                        <div  class="bulk-top-title" style="width: 300px;"><span>Warehouse</span></div>
                                        <div  class="bulk-top-title" style="width: 100px;"><span>PickandPack</span></div>
                                        <div  class="bulk-top-title" style="width: 100px;"><span>RFPack Type</span></div>
                                        <div  class="bulk-top-title" style="width: 160px;"><span>No. Of Labels on New</span></div>
                                        <div  class="bulk-top-title" style="width: 160px;"><span>No. Of Labels on Close</span></div>
                                        <div  class="bulk-top-title" style="width: 120px;"><span>Cartonised Area</span></div>
                                       </li>         
                                        <li  ng-repeat="x in OrgWarehouseCtrl.ePage.Entities.Header.Data.WmsClientPickPackParamsByWms track by $index" class="companies-box cursor-pointer" ng-class="{selectedBg : x.PK === OrgWarehouseCtrl.ePage.Masters.SelectedCompany.PK}" ng-dblclick="OrgWarehouseCtrl.ePage.Masters.onClick($index,x)" ng-click="OrgWarehouseCtrl.ePage.Masters.OnCompanySelect(x, $index)">
                                        <span ng-if="OrgWarehouseCtrl.ePage.Masters.hideIndex!=$index?true:false" style= "font-size: 11px;">
                                            <div class="bulk-top-title" style="width: 100px; display: inline-block;font-size: 11px;">
                                                <a class="org-edit-icon marign-right-5" href="javascript:void(0);" data-ng-click="OrgWarehouseCtrl.ePage.Masters.OpenEditForm(x, 'Pickingparamsbywh', false)" style="font-size: 11px;"><i class="fa fa-pencil"></i></a>
                                                <a class="org-delete-icon" href="javascript:void(0);" style="font-size: 11px;" data-ng-click="OrgWarehouseCtrl.ePage.Masters.RemoveRow(x,'WmsClientPickPackParamsByWms')"><i class="fa fa-trash-o"></i></a>
                                            </div>
                                            <div style="width: 300px;display:inline-block;font-size: 11px;">
                                                {{x.WarehouseCode}} - {{x.WarehouseName}}
                                            </div>
                                            <div style="width: 100px;display:inline-block;font-size: 11px;">
                                                {{x.IsPickAndPackEnabled}}
                                            </div>
                                            <div style="width: 100px;display:inline-block;font-size: 11px;">
                                                {{x.F3_NKPackType}}
                                            </div>
                                            <div style="width: 160px;display:inline-block;font-size: 11px;">
                                                {{x.NumberOfLabelsToPrintOnNew}}
                                            </div>
                                            <div style="width: 160px;display:inline-block;font-size: 11px;">
                                                {{x.NumberOfLabelsToPrintOnClose}}
                                            </div>
                                            <div style="width: 120px;display:inline-block;font-size: 11px;">
                                                {{x.CartoniseByArea}}
                                            </div>                 
                                        </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
