.dropbox {
    /* margin-top: 10px; */
    /* height: 5.7em; */
    /* border: 2px solid #DDD; */
    /* border-radius: 8px; */
    background-color: #FEFFEC;
    text-align: center;
    color: #BBB;
    font-size: 30px;
    font-family: Arial, sans-serif;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.file-upload {
    padding: 71px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    -moz-box-shadow: 0 1px 1px 0px #ddd;
    -webkit-box-shadow: 0 1px 1px 0px #ddd;
    box-shadow: 0 1px 1px 0px #ddd;
    border-radius: 4px;
}

.table-file-upload {
    margin-left: 0px;
    width: 100%;
    overflow-y: auto;
    min-height: 150px;
}

.error-sli {
    bottom: 44px;
}

.sli-table {
    width: 100%;
    overflow: auto;
    height: 200px;
}
