<div class="clearfix p-10 mb-50">
	<div class="org-header clearfix">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 pl-0 border-right">
			<span>Company</span>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 col-xl-7 pr-0">
			<span>Employee</span>
			<button class="btn btn-xs btn-primary pull-right" data-ng-click="OrganizationEmployeeCtrl.ePage.Masters.AddNewEmployee()"
			 data-ng-if="OrganizationEmployeeCtrl.ePage.Masters.ActiveCompany">Add
				New</button>
		</div>
	</div>
	<div class="org-cmp-emp-container clearfix mt-10">
		<!-- Company List -->
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 pl-0 border-right">
			<div class="text-center p-20 font-160" data-ng-if="!OrganizationEmployeeCtrl.ePage.Entities.Header.Data.OrgCompanyData">
				<i class="fa fa-spin fa-spinner"></i>
			</div>
			<div class="text-center p-20" data-ng-if="OrganizationEmployeeCtrl.ePage.Entities.Header.Data.OrgCompanyData && OrganizationEmployeeCtrl.ePage.Entities.Header.Data.OrgCompanyData.length === 0">
				<i>No Records...!</i>
			</div>
			<div data-ng-if="OrganizationEmployeeCtrl.ePage.Entities.Header.Data.OrgCompanyData && OrganizationEmployeeCtrl.ePage.Entities.Header.Data.OrgCompanyData.length > 0"
			 class="company-list cursor-pointer clearfix p-5 border-bottom" data-ng-class="{ 'active' : x.PK === OrganizationEmployeeCtrl.ePage.Masters.ActiveCompany.PK}"
			 data-ng-repeat="x in OrganizationEmployeeCtrl.ePage.Entities.Header.Data.OrgCompanyData" data-ng-click="OrganizationEmployeeCtrl.ePage.Masters.OnCompanySelect(x, $index)">
				<div class="cmp-code col-sm-2 pt-8 text-center bold">
					<span class="text-single-line">{{x.CMP_Code || OrganizationEmployeeCtrl.ePage.Masters.EmptyText}}</span>
				</div>
				<div class="cmp-title col-sm-10">
					<div class="cmp-name text-single-line">{{x.CMP_Name || OrganizationEmployeeCtrl.ePage.Masters.EmptyText}}</div>
					<div class="branch-name text-single-line">{{x.BRN_Code ||
						OrganizationEmployeeCtrl.ePage.Masters.EmptyText}} | {{x.BRN_BranchName ||
						OrganizationEmployeeCtrl.ePage.Masters.EmptyText}}</div>
				</div>
			</div>
		</div>
		<!-- Employee List -->
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 col-xl-7">
			<div class="text-center p-20 font-160" data-ng-if="!OrganizationEmployeeCtrl.ePage.Entities.Header.Data.OrgStaffAssignments">
				<i class="fa fa-spin fa-spinner"></i>
			</div>
			<div class="text-center p-20" data-ng-if="OrganizationEmployeeCtrl.ePage.Masters.ActiveCompany && OrganizationEmployeeCtrl.ePage.Entities.Header.Data.OrgStaffAssignments && (OrganizationEmployeeCtrl.ePage.Entities.Header.Data.OrgStaffAssignments  | filter: {'CompanyPK': OrganizationEmployeeCtrl.ePage.Masters.ActiveCompany.CMP_FK}: true).length === 0">
				<i>No Records...!</i>
			</div>
			<div data-ng-if="OrganizationEmployeeCtrl.ePage.Masters.ActiveCompany && OrganizationEmployeeCtrl.ePage.Entities.Header.Data.OrgStaffAssignments && OrganizationEmployeeCtrl.ePage.Entities.Header.Data.OrgStaffAssignments.length > 0"
			 class="employee-list clearfix p-5 border-bottom position-relative" data-ng-repeat="x in OrganizationEmployeeCtrl.ePage.Entities.Header.Data.OrgStaffAssignments | filter: {'CompanyPK': OrganizationEmployeeCtrl.ePage.Masters.ActiveCompany.CMP_FK}: true">
				<div class="emp-code col-sm-3 p-0 pt-8 bold">
					<span class="text-single-line">{{x.EmployeeCode || OrganizationEmployeeCtrl.ePage.Masters.EmptyText}}</span>
				</div>
				<div class="col-sm-9 pr-20">
					<div class="emp-name text-single-line">{{x.EmployeeName || OrganizationEmployeeCtrl.ePage.Masters.EmptyText}}</div>
					<div class="emp-role text-single-line">{{x.RoleCode || OrganizationEmployeeCtrl.ePage.Masters.EmptyText}} -
						{{x.RoleName || OrganizationEmployeeCtrl.ePage.Masters.EmptyText}}</div>
				</div>
				<span class="vertical-menu" uib-dropdown>
					<i class="fa fa-ellipsis-v" uib-dropdown-toggle></i>
					<ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
						<!-- Edit -->
						<li class="clearfix cursor-pointer text-single-line dropdown-list" data-ng-click="OrganizationEmployeeCtrl.ePage.Masters.EditEmployee(x)">
							<span class="	glyphicon glyphicon-pencil mr-5 doc-menu-icon"></span>
							<span data-ng-bind="'Edit'"></span>
						</li>
						<!-- Delete -->
						<li class="clearfix cursor-pointer text-single-line dropdown-list" data-ng-click="OrganizationEmployeeCtrl.ePage.Masters.DeleteEmployee(x)">
							<span class="glyphicons glyphicons-bin mr-5 doc-menu-icon"></span>
							<span data-ng-bind="'Delete'"></span>
						</li>
						<!-- Generate Script-->
						<li class="clearfix cursor-pointer text-single-line dropdown-list" title="Generate Script" generate-db-script
						 input="x.GenerateScriptInput" config="x.GenerateScriptConfig" data-ng-if="x.GenerateScriptInput.ObjectName && x.GenerateScriptInput.ObjectId && x.PK">
							<i class="fa fa-file-code-o mr-5 doc-menu-icon"></i>
							<span data-ng-bind="'Generate Script'"></span>
						</li>
					</ul>
				</span>
			</div>
		</div>
	</div>
</div>
