.org-tenent-container .form-group label.control-label {
    text-align: left !important;
    font-weight: 600;
}

.org-tenant-view-mode .form-group div.control-label {
    text-align: left !important;
}

.org-user-container .form-group label.control-label {
    text-align: left !important;
    font-weight: 600;
}
