.organization-menu>.nav-tabs.nav-justified>.show-address-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 34px;
    margin: 0;
    padding: 0;
    width: 25px;
    min-width: 25px;
    z-index: 15;
    max-width: 25px;
    outline: none;
    cursor: pointer;
}

.organization-menu>.nav-tabs.nav-justified {
    padding-right: 27px;
}
