.dynamic-list-page-container {
    position: relative;
    overflow: hidden;
    min-height: calc(100vh - 110px);
}

/* #region Header */
.dynamic-list-page-container>.header {
    border: 1px solid #ddd;
    min-height: 34px;
}

.dynamic-list-page-container .header .dropdown,
.dynamic-list-page-container .header .selected-favorite-list {
    border-right: 1px solid #ddd;
}

.dynamic-list-page-container .header .dropdown>span {
    padding: 7px 10px;
    cursor: pointer;
    background-color: #f7f7f7;
}

.dynamic-list-page-container .header .dropdown>span:hover {
    background-color: #d5eaee;
}

.dynamic-list-page-container .header .dropdown.open>.dropdown-menu .inner-section {
    max-height: calc(100vh - 253px);
    max-height: -webkit-calc(100vh - 253px);
    max-height: -moz-calc(100vh - 253px);
    overflow-y: auto;
}

.dynamic-list-page-container .header .dropdown.open>.dropdown-menu.static-width {
    width: 550px;
}

.dynamic-list-page-container .header .dropdown.open>.dropdown-menu .input-search {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
}

.dynamic-list-page-container .header .entity-search-wrapper {
    width: 265px;
}

/* #region DND */
.column-list[dnd-list] .dndDraggingSource {
    display: none;
}

.column-list[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 30px;
}

.column-list .col-list {
    padding: 5px 0;
}

.column-list[dnd-list] .col-list.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

.column-list .col-list .drag-icon {
    cursor: move;
    font-size: 16px;
}

/* #endregion */


/* #endregion */

/* #region Filter */
.dynamic-filter-sidebar-wrapper {
    position: absolute;
    top: 5px;
    border: 1px solid #ccc;
    border-right: 0;
    background-color: #fff;
    -webkit-transition: 250ms cubic-bezier(0.1, .57, .1, 1);
    -moz-transition: 250ms cubic-bezier(0.1, .57, .1, 1);
    -ms-transition: 250ms cubic-bezier(0.1, .57, .1, 1);
    -o-transition: 250ms cubic-bezier(0.1, .57, .1, 1);
    transition: 250ms cubic-bezier(0.1, .57, .1, 1);
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dynamic-filter-sidebar-wrapper.single-column-view {
    width: 350px;
    right: -356px;
}

.dynamic-filter-sidebar-wrapper.multi-column-view {
    width: 700px;
    right: -706px;
}

.dynamic-filter-sidebar-wrapper.open {
    right: 0;
}

.dynamic-filter-sidebar-wrapper .header {
    background-color: rgb(159, 181, 189);
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(204, 204, 204);
}

.dynamic-filter-sidebar-wrapper .header .fltr-button {
    padding: 4px 10px;
    border-left: 1px solid #c0c4c5;
    cursor: pointer;
}

.dynamic-filter-sidebar-wrapper .header span i {
    font-size: 16px;
    padding: 3px 0;
}

.dynamic-filter-sidebar-wrapper .filter-set-height {
    height: calc(100vh - 185px);
    height: -webkit-calc(100vh - 185px);
    height: -moz-calc(100vh - 185px);
    overflow-y: auto;
}

.dynamic-filter-sidebar-wrapper .footer {
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
}

.dynamic-filter-sidebar-wrapper .customize-filter-set-height {
    height: calc(100vh - 152px);
    height: -webkit-calc(100vh - 152px);
    height: -moz-calc(100vh - 152px);
    overflow-y: auto;
}

/* #endregion */
