.inward-menu>.nav-tabs.nav-justified>.show-address-sidebar {
    position: absolute;
    top: -2px;
    right: 0;
    height: 28px;
    margin: 0;
    padding: 0;
    width: 25px;
    min-width: 25px;
    z-index: 15;
    max-width: 25px;
    outline: none;
}


 /* Finance CSS  */
.custombilling_inward li a:hover{
    color:red;
}

.custombilling_inward li a i{
   position: absolute;
   margin-left:38px;
   margin-top:5px;
   color:#3a3333;
}

.custombilling_inward li a span{
    position: absolute;
    margin-top: 17px;
    color:#3a3333;
 }


