.ex-line-font label {
    color: gray;
    font-weight: 600;
    font-size: 12px;
}

.ex-line-font1 label {
    color: gray;
    font-weight: 600;
    font-size: 14px;
}

.ex-line-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.ex-line-box1 {
    width: 109%;
    height: 176px;
    float: left;
    border: 1px solid #eeeded;
}

.ex-line-box11 {
    width: 100%;
    height: 65px;
    float: left;
    border: 1px solid #eeeeee;
}

.ex-line-box2 {
    width: 100%;
    height: 127px;
    float: left;
    border: 1px solid #eeeded;
    border-radius: 4px;
}

.pack-alignment {
    border-top: 1px solid #cdcaca;
    position: relative;
    bottom: 0px;
    border-bottom: 1px solid #cdcaca;
    left: 0;
    width: 100%;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 404 css start */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

#notfound {
    position: relative;
    height: 20vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 410px;
    width: 100%;
    text-align: center;
}

.notfound h2 {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
}

.notfound p {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0px;
}

.notfound a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: #0046d5;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 40px;
    color: #fff;
    font-weight: 700;
    -webkit-box-shadow: 0px 4px 15px -5px #0046d5;
    box-shadow: 0px 4px 15px -5px #0046d5;
}

/* 404 end */
.error-modal-hide {
    overflow: hidden;
    position: relative;
}

.confrim-hgt {
    min-height: 100%;
}