<div class="clearfix p-10 mb-50">
	<div class="org-header clearfix">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pl-0">
			<span>Company</span>
			<button class="btn btn-xs btn-primary pull-right" data-ng-click="OrganizationCompanyCtrl.ePage.Masters.AddNewCompany()">Add
				New</button>
		</div>
		<!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 border-left border-right" data-ng-if="OrganizationCompanyCtrl.ePage.Masters.ActiveCompany">
			<span>AR Details</span>
			<button class="btn btn-xs btn-primary pull-right" data-ng-click="OrganizationCompanyCtrl.ePage.Masters.EditARDetails()"
			 data-ng-if="OrganizationCompanyCtrl.ePage.Masters.ActiveCompany">Edit</button>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 pr-0" data-ng-if="OrganizationCompanyCtrl.ePage.Masters.ActiveCompany">
			<span>AP Details</span>
			<button class="btn btn-xs btn-primary pull-right" data-ng-click="OrganizationCompanyCtrl.ePage.Masters.EditAPDetails()"
			 data-ng-if="OrganizationCompanyCtrl.ePage.Masters.ActiveCompany">Edit</button>
		</div> -->
	</div>
	<div class="org-cmp-container clearfix mt-10">
		<!-- Company List -->
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 pl-0">
			<div class="text-center p-20 font-160" data-ng-if="!OrganizationCompanyCtrl.ePage.Entities.Header.Data.OrgCompanyData">
				<i class="fa fa-spin fa-spinner"></i>
			</div>
			<div class="text-center p-20" data-ng-if="OrganizationCompanyCtrl.ePage.Entities.Header.Data.OrgCompanyData && OrganizationCompanyCtrl.ePage.Entities.Header.Data.OrgCompanyData.length === 0">
				<i>No Records...!</i>
			</div>
			<div data-ng-if="OrganizationCompanyCtrl.ePage.Entities.Header.Data.OrgCompanyData && OrganizationCompanyCtrl.ePage.Entities.Header.Data.OrgCompanyData.length > 0"
			 class="company-list cursor-pointer clearfix p-5 border-bottom position-relative" data-ng-class="{ 'active' : x.PK === OrganizationCompanyCtrl.ePage.Masters.ActiveCompany.PK}"
			 data-ng-repeat="x in OrganizationCompanyCtrl.ePage.Entities.Header.Data.OrgCompanyData" data-ng-click="OrganizationCompanyCtrl.ePage.Masters.OnCompanySelect(x, $index)">
				<div class="cmp-code col-sm-2 pt-8 text-center ">
					<span class="text-single-line bold">{{x.CMP_Code || OrganizationCompanyCtrl.ePage.Masters.EmptyText}}</span>
				</div>
				<div class="cmp-title col-sm-10">
					<div class="cmp-name text-single-line">{{x.CMP_Name || OrganizationCompanyCtrl.ePage.Masters.EmptyText}}</div>
					<div class="branch-name text-single-line">{{x.BRN_Code ||
						OrganizationCompanyCtrl.ePage.Masters.EmptyText}} | {{x.BRN_BranchName ||
						OrganizationCompanyCtrl.ePage.Masters.EmptyText}}</div>
				</div>
				<span class="vertical-menu" uib-dropdown>
					<i class="fa fa-ellipsis-v" uib-dropdown-toggle></i>
					<ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
						<!-- Edit -->
						<li class="clearfix cursor-pointer text-single-line dropdown-list" data-ng-click="OrganizationCompanyCtrl.ePage.Masters.EditCompany(x)">
							<span class="	glyphicon glyphicon-pencil mr-5 doc-menu-icon"></span>
							<span data-ng-bind="'Edit'"></span>
						</li>
						<!-- Delete -->
						<li class="clearfix cursor-pointer text-single-line dropdown-list" data-ng-click="OrganizationCompanyCtrl.ePage.Masters.DeleteCompany(x)">
							<span class="glyphicons glyphicons-bin mr-5 doc-menu-icon"></span>
							<span data-ng-bind="'Delete'"></span>
						</li>
						<!-- Generate Script -->
						<li class="clearfix cursor-pointer text-single-line dropdown-list" title="Generate Script" generate-db-script
						 input="x.GenerateScriptInput" config="x.GenerateScriptConfig" data-ng-if="x.GenerateScriptInput.ObjectName && x.GenerateScriptInput.ObjectId && x.PK">
							<i class="fa fa-file-code-o mr-5 doc-menu-icon"></i>
							<span data-ng-bind="'Generate Script'"></span>
						</li>
					</ul>
				</span>
			</div>
		</div>
		<!-- AR Details -->
		<!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 border-left border-right" data-ng-if="OrganizationCompanyCtrl.ePage.Masters.ActiveCompany">
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">Account Group</label>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
						<div class="text-single-line" data-ng-bind="OrganizationCompanyCtrl.ePage.Masters.ActiveCompany.MDG_Code || OrganizationCompanyCtrl.ePage.Masters.EmptyText"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">Default Currency</label>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
						<div class="text-single-line" data-ng-bind="OrganizationCompanyCtrl.ePage.Masters.ActiveCompany.MYC_NKARDDefltCurrency || OrganizationCompanyCtrl.ePage.Masters.EmptyText"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">Tax-SER Recognition and reporting Basis
						Override</label>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
						<div class="text-single-line" data-ng-bind="OrganizationCompanyCtrl.ePage.Masters.ActiveCompany.ARVATConfig || OrganizationCompanyCtrl.ePage.Masters.EmptyText"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">Withholding Tax Is Applicable</label>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
						<div class="text-single-line" data-ng-bind="OrganizationCompanyCtrl.ePage.Masters.ActiveCompany.ARWHTApplicable || OrganizationCompanyCtrl.ePage.Masters.EmptyText"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">Dont Show Tax On Documents</label>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
						<div class="text-single-line" data-ng-bind="OrganizationCompanyCtrl.ePage.Masters.ActiveCompany.ARDontShowTaxOnDocs || OrganizationCompanyCtrl.ePage.Masters.EmptyText"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">Credit Rating</label>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
						<div class="text-single-line" data-ng-bind="OrganizationCompanyCtrl.ePage.Masters.ActiveCompany.ARCreditRating || OrganizationCompanyCtrl.ePage.Masters.EmptyText"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">Credit Limit</label>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
						<div class="text-single-line" data-ng-bind="OrganizationCompanyCtrl.ePage.Masters.ActiveCompany.ARCreditLimit || OrganizationCompanyCtrl.ePage.Masters.EmptyText"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">Use System Default Percentage</label>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
						<div class="text-single-line" data-ng-bind="OrganizationCompanyCtrl.ePage.Masters.ActiveCompany.ARUseSystemDefaultUplifts || OrganizationCompanyCtrl.ePage.Masters.EmptyText"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">Use System Default Minimums</label>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
						<div class="text-single-line" data-ng-bind="OrganizationCompanyCtrl.ePage.Masters.ActiveCompany.ARUseSystemDefaultUpliftsMinimums || OrganizationCompanyCtrl.ePage.Masters.EmptyText"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">Air Import</label>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
						<div class="text-single-line" data-ng-bind="OrganizationCompanyCtrl.ePage.Masters.ActiveCompany.ARImportAirCollectUplift || OrganizationCompanyCtrl.ePage.Masters.EmptyText"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">Air Export</label>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
						<div class="text-single-line" data-ng-bind="OrganizationCompanyCtrl.ePage.Masters.ActiveCompany.ARExportAirCollectUplift || OrganizationCompanyCtrl.ePage.Masters.EmptyText"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">Ocean Import</label>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
						<div class="text-single-line" data-ng-bind="OrganizationCompanyCtrl.ePage.Masters.ActiveCompany.ARImportSeaCollectUplift || OrganizationCompanyCtrl.ePage.Masters.EmptyText"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">Ocean Export</label>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
						<div class="text-single-line" data-ng-bind="OrganizationCompanyCtrl.ePage.Masters.ActiveCompany.ARExportSeaCollectUplift || OrganizationCompanyCtrl.ePage.Masters.EmptyText"></div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- AP Details -->
		<!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" data-ng-if="OrganizationCompanyCtrl.ePage.Masters.ActiveCompany">
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">Account Group</label>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
						<div class="text-single-line" data-ng-bind="OrganizationCompanyCtrl.ePage.Masters.ActiveCompany.MCG_Code || OrganizationCompanyCtrl.ePage.Masters.EmptyText"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">Default Currency</label>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
						<div class="text-single-line" data-ng-bind="OrganizationCompanyCtrl.ePage.Masters.ActiveCompany.MYC_NKAPDefltCurrency || OrganizationCompanyCtrl.ePage.Masters.EmptyText"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">Tax-SER Recognition and reporting Basis Override</label>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
						<div class="text-single-line" data-ng-bind="OrganizationCompanyCtrl.ePage.Masters.ActiveCompany.APVATConfig || OrganizationCompanyCtrl.ePage.Masters.EmptyText"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">WithholdingTax Is Applicable</label>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
						<div class="text-single-line" data-ng-bind="OrganizationCompanyCtrl.ePage.Masters.ActiveCompany.APWHTApplicable || OrganizationCompanyCtrl.ePage.Masters.EmptyText"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">Credit Limit</label>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
						<div class="text-single-line" data-ng-bind="OrganizationCompanyCtrl.ePage.Masters.ActiveCompany.APCreditLimit || OrganizationCompanyCtrl.ePage.Masters.EmptyText"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">Advance Payment Method</label>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
						<div class="text-single-line" data-ng-bind="OrganizationCompanyCtrl.ePage.Masters.ActiveCompany.APCreditAgreedPaymentMethod || OrganizationCompanyCtrl.ePage.Masters.EmptyText"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">Payment Terms</label>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
						<div class="text-single-line" data-ng-bind="OrganizationCompanyCtrl.ePage.Masters.ActiveCompany.APPaymentTerms || OrganizationCompanyCtrl.ePage.Masters.EmptyText"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">Payment Days</label>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-0">
						<div class="text-single-line" data-ng-bind="OrganizationCompanyCtrl.ePage.Masters.ActiveCompany.APPaymentTermDays || OrganizationCompanyCtrl.ePage.Masters.EmptyText"></div>
					</div>
				</div>
			</div>
		</div> -->
	</div>
</div>
