    .routing-box {
        background: #F6F6F6;
        border: 1px solid #dfdddd;
        margin: 0px 15px 0px 15px;
    }
    .text-single-line-label1 {
        font-size: 15px;
    }
    .routing-box-line { 
        margin: 0px 15px 0px 15px; 
        border: 1px solid #dfdddd; 
        border-top: none;
    }
    .center-alignment {
        text-align:center
    }

    .txtarea-height-45 {
        height: 40px !important;
    }
    
    .dropdownWrapLeft {
        position: absolute;
        z-index: 999999;
        width: 978px;
        background: #f0f0f0;
        box-shadow: 1px 1px 5px #999;
        left: 0px;
        /* top: 41px; */
    }
    
    .dropdownWrapMiddle {
        position: absolute;
        z-index: 999999;
        width: 978px;
        background: #f0f0f0;
        box-shadow: 1px 1px 5px #999;
        right: -342px;
        /* top: 41px; */
    }
    
    .dropdownWrapLast {
        position: absolute;
        z-index: 999999;
        width: 978px;
        background: #f0f0f0;
        box-shadow: 1px 1px 5px #999;
        right: 0px;
    }
    .dropdownWrapBig{
        top: 41px;
    }
    .dropdownWrapSmall{
        top: 31px;
    }
    .address-panel {
        background-color: #f9f9f9; 
        border: 1px solid #eee;
    }
    .address-design {
        border-right: 1px solid #eee;
    }
    .address-consignee {
        border-right: 1px solid #eee;
    }