.border-box {
    border: 1px solid #ddd;
}

.color-aaa {
    color: #aaa;
}

/* .text-ellipsis {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.urgent {
    color: #d71921;
    padding: 0px 5px 1px;
    background-color: #fff;
    border: 1px solid #d71921;
    font-size: 9px;
    border-radius: 4px;
    font-weight: bold;
}