.inner-dashboard-box{
    width: 100%;
    float: left;
    border: 1px solid #d4cdcd;
    position: relative;
    border-radius: 3px;
    padding: 3px;
}
.padding-left-right-5{
    padding-left: 30px;
    padding-right: 30px;
}
.font-12{
    font-size: 12px;
}
.inner-dashboard-box, .dashboard-manifest-icon-box{
 border-radius:3px;
}
.general-edit.address>.modal-dialog {
    width: 575px !important;
}
.inner-dashboard-box{
    width:100%;
    float: left;
    border:1px solid #f5f5f5;
    position:relative;
}
.dashboard-manifest-icon-box i{
 font-size:16px;
}
.dashboard-manifest-icon-box span{
 font-size:12px;
}
.border-right{
    border-right: 1px solid #f5f5f5;
}
.border-bottom{
    border-bottom: 1px solid #f5f5f5;
}
.ml15{
    margin-left: -15px;
}
.btn-text{
    padding: 8px;
    background-color: #a0d468;
    color: #fff;
    float: right;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.width-76{
    width: 76% !important;
}
.width-94{
    width: 94% !important;
}
.bg-fbfbfb{
    background: #fbfbfb;
}
.border-radius-2{
    border-radius: 2px;
}

.border-box{
    border: 1px solid #eee;
}
.border-right{
    border-right: 1px solid #f5f5f5;
}

.border-left{
    border-left: 1px solid #f5f5f5;
}