.tc-user-role-app-tenant .form-group .dropdown-menu {
    display: block !important;
    left: 15px;
}

.tc-user-role-app-tenant .dropdown-menu .auto-complete-no-result {
    padding: 0 10px;
    font-size: 12px;
}

.json-disabled{
    width: 100%;
    /* height: 200px; */
    background-color: #f9f9f9;
    border: 1px solid #eee;
    padding: 7px;
    white-space: pre-wrap;
}
