/* Organization Menu */
.organization-menu>.nav-tabs.nav-justified>.show-address-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 34px;
    margin: 0;
    padding: 0;
    width: 25px;
    min-width: 25px;
    z-index: 15;
    max-width: 25px;
    outline: none;
    cursor: pointer;
}

.organization-menu>.nav-tabs.nav-justified {
    padding-right: 27px;
}

/* Inside Tab Content */
.org-header {
    font-size: 20px;
    position: relative;
    padding: 5px;
    font-weight: 600;
    color: #1f497d;
    border-bottom: 1px solid #ddd;
}

/* Vertical Menu Icon */
.vertical-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 16px;
    color: gray;
}

.vertical-menu .doc-menu-icon {
    line-height: 1.42857143;
    color: gray;
}

.vertical-menu ul li.dropdown-list {
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
    color: #000;
    font-size: 12px;
}

.vertical-menu ul li.dropdown-list:last-child {
    border-bottom: 0;
}

/* Address & Contact Box */
.org-address-contact-box {
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 0 10px 0 10px;
    position: relative;
}

.org-address-contact-box.active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.org-address-contact-box .org-address-icon {
    width: 20px;
    color: #ccc;
}

/* Modal Popup Width */
.org-edit-modal.general>.modal-dialog {
    width: 700px !important;
}

.org-edit-modal.address>.modal-dialog {
    width: 900px !important;
}

.org-edit-modal.contact>.modal-dialog,
.org-edit-modal-employee>.modal-dialog,
.org-edit-modal-company>.modal-dialog,
.org-edit-modal-reference>.modal-dialog {
    width: 500px !important;
}

.org-edit-modal-ardetails>.modal-dialog,
.org-edit-modal-apdetails>.modal-dialog {
    width: 650px !important;
}

.org-party-role-mapping-modal .modal-dialog {
    width: 600px !important;
}

.org-edit-modal-warehouse>.modal-dialog {
    width: 800px !important;
}

.org-email-config-edit-modal .modal-dialog {
    width: 600px !important;
}

.org-email-config-edit-modal .modal-dialog .modal-body .form-group .control-label {
    font-weight: 600;
    text-align: left !important;
}

/* Employee Page */
.org-cmp-emp-container .company-list.active {
    background: #f7f7f7;
}

.org-cmp-emp-container .cmp-title .branch-name,
.org-cmp-emp-container .employee-list .emp-role {
    color: #999;
    font-size: 12px;
}

/* Company Page */
.org-cmp-container .company-list.active {
    background: #f7f7f7;
}

.org-cmp-container .cmp-title .branch-name {
    color: #999;
    font-size: 12px;
}

/* ============== Address Modal ============== */
.org-address-type {
    border: 1px solid #ddd;
}

.org-address-type .heading {
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
}

.org-address-type .border-bottom {
    border-bottom: 1px solid #ddd;
}

.org-address-type .is-mapped {
    padding: 10px 5px 8px 10px;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
}

.org-address-type .is-main-address {
    padding: 7px 10px 7px 10px;
    background-color: #f4f4f4;
    border-left: 1px solid #ddd;
}

.org-address-type .is-main-address input[type="checkbox"] {
    position: relative;
}

.org-address-type .is-main-address input[type="checkbox"]~.text:before {
    content: "\2606";
    position: absolute;
    visibility: visible;
    border: 0;
    font-size: 24px;
    background-color: transparent;
    box-shadow: none;
    color: #ccc;
    left: 0;
    top: 0;
    opacity: 1;
}

.org-address-type .is-main-address input[type="checkbox"][disabled]~.text {
    cursor: default;
}

.org-address-type .is-main-address input[type="checkbox"][disabled]~.text:before {
    opacity: 0.5;
}

.org-address-type .is-main-address input[type="checkbox"]:checked~.text:before {
    content: "\2605";
    position: absolute;
    visibility: visible;
    border: 0;
    font-size: 24px;
    background-color: transparent;
    box-shadow: none;
    color: #ccc;
    left: 0;
    top: 0;
    color: #f6c12a;
    opacity: 1;
}

.org-address-type .is-main-address input[type="checkbox"][disabled]:checked~.text:before {
    opacity: 0.5;
}

.org-address-type .address-type-desc {
    width: 400px;
}

/* ============== Visibility Tab ============== */
.org-tenent-container .form-group label.control-label {
    text-align: left !important;
    font-weight: 600;
}

.org-tenant-view-mode .form-group div.control-label {
    text-align: left !important;
}

.org-user-container .form-group label.control-label {
    text-align: left !important;
    font-weight: 600;
}
