<div class="clearfix organization-container">
    <uib-tabset id="chromeTab" class="tab-container chrometab-box" active="OrganizationCtrl.ePage.Masters.ActiveTabIndex">
        <uib-tab>
            <uib-tab-heading title="Grid">
                <span data-ng-bind="'Organization'"></span>
            </uib-tab-heading>
            <div class="no-padding tab-list-view-wrapper">
                <dynamic-list dataentry-name="OrganizationCtrl.ePage.Masters.dataEntryName" mode="1" selected-grid-row="OrganizationCtrl.ePage.Masters.SelectedGridRow($item)"
                    dataentry-object="OrganizationCtrl.ePage.Masters.DataEntryObject"></dynamic-list>
                <div class="tab-loading" data-ng-show="OrganizationCtrl.ePage.Masters.IsTabClick"></div>
            </div>
        </uib-tab>
        <uib-tab active="OrganizationCtrl.ePage.Masters.ActiveTabIndex == $index" data-ng-repeat="tab in OrganizationCtrl.ePage.Masters.TabList"
            data-ng-click="OrganizationCtrl.ePage.Masters.CurrentActiveTab(tab.label)">
            <uib-tab-heading title="{{tab.label}}">
                <span data-ng-bind="tab.label"></span>
                <i class="glyphicon glyphicon-remove" data-ng-click="OrganizationCtrl.ePage.Masters.RemoveTab($event, $index, tab)"></i>
            </uib-tab-heading>
            <div class="padding-bottom-10 clearfix">
                <organization-menu current-tab="tab"></organization-menu>
            </div>
        </uib-tab>
        <button class="btn btn-default" data-ng-click="OrganizationCtrl.ePage.Masters.CreateNew()" data-ng-disabled="OrganizationCtrl.ePage.Masters.IsNewOrgClicked">+</button>
    </uib-tabset>
</div>
