.eaxis-tab-box {
    width: 100%;
    background: #313949;
}

.eaxis-tab-box>.nav-tabs {
    background-color: #313949 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.eaxis-tab-box>.nav-tabs>li {
    margin-bottom: 0px;
}

.eaxis-tab-box>.nav-tabs>li>a {
    padding: 15px 20px;
    border: 0 !important;
    background: transparent !important;
    border-right: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.eaxis-tab-box>.nav-tabs>li:first-child>a {
    border-left: 0;
}

.eaxis-tab-box>.nav-tabs>li>a,
.eaxis-tab-box>.nav-tabs>li>a:focus {
    line-height: 18px;
    margin: 0;
    color: #fff !important;
}

.eaxis-tab-box>.nav-tabs>li>a:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
}

.eaxis-tab-box>.nav-tabs>li.active>a,
.eaxis-tab-box>.nav-tabs>li.active>a:hover,
.eaxis-tab-box>.nav-tabs>li.active>a:focus {
    color: #fff !important;
    border: 0;
    border-top: 0;
    border-bottom-color: transparent;
    background-color: rgba(255, 255, 255, 0.2) !important;
    margin: 0;
    box-shadow: none !important;
    line-height: 18px;
}

.eaxis-tab-box>.tab-content {
    padding: 0;
    background-color: #fff;
    box-shadow: none;
}

.mail-container .mail-body {
    margin-left: 0 !important;
}

.eaxis-record,
.eaxis-label,
.eaxis-value {
    width: 100%;
    float: left;
}

.eaxis-record {
    margin-top: 10px;
    margin-bottom: 20px;
}

.eaxis-label {
    color: #999;
}

.eaxis-value {
    font-weight: bold;
    color: #666;
}
