.finance-dashboard-box{
    background-color: #f9f9f9;
    border: 1px solid #f5f5f5;
    position:relative;
}

/* =========== Exchange Rate Table ========= */
.exchange-table .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding: 6px !important;
}

/* =========== Charge Details Table ========= */
/* .fixedheader{
    margin-top: 10px;
    margin-bottom: 40px;
    border: 1px solid #cacad6;
    overflow-x: auto;
} 

.fixedheader table{
    display: block;
    width: 100%;
    border-collapse: separate;
    font-weight: 400;
} 

 .fixedheader table thead{
    height: 35px;
    border-bottom: #ddd 1px solid;
    border-top: #ddd 1px solid;
    background: #f8f8f8;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 12px;
    border-right: 1px solid #ddd;
    white-space: nowrap;
} 

 .fixedheader table thead .header {
    height: 35px;
    border-bottom: #ddd 1px solid;
    border-top: #ddd 1px solid;
    background: #f8f8f8;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 12px;
    border-right: 1px solid #ddd;
    white-space: nowrap;
}  
*/

.fixedheader{
border: 1px solid #cacad6;
overflow-x: auto;
}

.fixedheader>table {
    position: relative;
    width: 100%;
    display: block;
    overflow: auto;
    border-collapse: collapse;
}

.fixedheader>table>thead {
    position: relative;
    overflow: visible;
    border-bottom: 1px solid #dce4d4;
}

.fixedheader> table>thead> tr ,.fixedheader> table>tbody> tr {
    border-right: 1px solid #ddd;
}

#tableHeader,#tableBody{
    display: flex;
    display: -webkit-flex;
}

#tableHeader> th {
    border-right: none;
    border-bottom: 1px solid #ddd;
    border-top: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fixedheader>table>thead>tr>th {
    position: relative;
    background-color: #F8F8F8;
    min-height: 30px;
    border: 1px solid #ddd;
    border-right: none;
    border-bottom: none;
    border-top: none;
    padding: 5px;
    font-weight: 700;
    font-size: 12px;
    z-index: 13;
}

.fixedheader>table> tbody>tr>td {
    min-height: 25px;
    border: 1px solid #ddd;
    font-size: 11px;
    padding: 3px;
  }

.fixedheader> table > tbody > tr:last-child > td {
    border-bottom: 2px solid #ddd !important;
}

.fixedheader>table> tbody> tr> td:nth-child(1) { 
     /*the first cell in each tr*/
     position: relative;
     z-index: 12;
     border-right: 1px solid #ddd !important;
     background-color: #fff;
}

.fixedheader  #ccheckbox {
position: sticky;
left: 0px;
z-index: 15;
border: 1px solid #ddd;
}

.customcheckbox input[type=checkbox]~.text:before, .customcheckbox input[type=radio]~.text:before{
    height: 14px;
    line-height: 12px;
    min-width: 14px;
    margin-right: 5px;
    margin-bottom: 0px;
    font-size: 8px;
    color: black;
}

.height-22{
    height: 22px !important;
    font-size: 11px !important;
}
  
.height-22 .btn{
    height: 22px !important;
    padding: 2px 6px !important;
    font-size: 11px !important;
    line-height: 0.5 !important;
}
  
.height-22 .input-sm{
    height: 22px !important;
    padding: 2px 6px !important;
    font-size: 11px !important;
    line-height: 0.5 !important;
}

.gray-background{
    background-color: #cccfd1;
}
  
/* .fixedheader table thead .charge{
    background-color: #b3c6ff !important;
}

.fixedheader table thead .cost{
    background-color: #E1FED6;
}

.fixedheader table thead .revenue{
    background-color: #FFEDCA;
}   */

/* .checkbox{
    margin-bottom:0px !important;
}
 */
/* .costRevenue_scroll .table {
    display: table;
    width: 100%;
    border-collapse: separate;
    font-weight: 400;
} 

 .costRevenue_scroll .table .table_header {
    height: 35px;
    display: table-cell;
    border-bottom: #ddd 1px solid;
    border-top: #ddd 1px solid;
    background: #f8f8f8;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 12px;
    border-right: 1px solid #ddd;
    white-space: nowrap;
} 

.costRevenue_scroll .table .table_charge{
    background-color: #b3c6ff !important;
}

.costRevenue_scroll .table .table_cost{
    background-color: #E1FED6;
}

.costRevenue_scroll .table .table_revenue{
    background-color: #FFEDCA;
}  */
                                                           /* boostrap.min.css checkbox override */




