.page-sidebar .sidebar-menu a .menu-icon.icomoon {
    font-size: 16px;
}

#sidebar ul.nav.sidebar-menu {
    padding-bottom: 50px;
}

/* #sidebar {
    overflow: auto;
    height: calc(100vh - 65px);
    background-color: #364150;
}

.page-sidebar:before {
    width: 202px !important;
} */
