<div class="clearfix padding-top-10" data-ng-if="ExportSeaConsolLinerInvGlbCtrl.currentConsol">
    <div class="clearfix">
        <fieldset disabled>
            <!-- SIFiling Reference -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="form-group">
                    <label class="control-label">SI Reference Number</label>
                    <input disabled="true" type="text" maxlength="30" ng-model="ExportSeaConsolLinerInvGlbCtrl.ePage.Entities.Header.Data.UIConsolExtendedInfo.SIFilingRefNo"
                        maxlength="12" class="form-control input-sm" placeholder="SI Ref. #">
                </div>
            </div>
            <!-- SIFilingDate -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="form-group">
                    <label class="control-label">SI Filing Date</label>
                    <div>
                        <div>
                            <div class="input-group input-group-sm con-dt-value">
                                <input disabled="true" type="text" class="form-control" placeholder="{{ExportSeaConsolLinerInvGlbCtrl.ePage.Masters.DatePicker.Options.dateFormat}}"
                                    data-ng-model="ExportSeaConsolLinerInvGlbCtrl.ePage.Entities.Header.Data.UIConsolExtendedInfo.SIFilingDate"
                                    datetime-picker="{{ExportSeaConsolLinerInvGlbCtrl.ePage.Masters.DatePicker.Options.dateFormat}}"
                                    datepicker-options="ExportSeaConsolLinerInvGlbCtrl.ePage.Masters.DatePicker.Options" datepicker-append-to-body="false"
                                    close-on-selection="false" enable-time="false" enable-date="true" default-date="" default-time=""
                                    save-as="ExportSeaConsolLinerInvGlbCtrl.ePage.Masters.DatePicker.Options.saveFormat" is-open="ExportSeaConsolLinerInvGlbCtrl.ePage.Masters.DatePicker.isOpen['isSIFilingDate']"
                                    when-closed="" data-ng-click="" data-ng-change="ExportSeaConsolLinerInvGlbCtrl.ePage.Masters.ErrorWarningConfig.OnFieldValueChange('MyTask',ExportSeaConsolLinerInvGlbCtrl.taskObj.PSI_InstanceNo,ExportSeaConsolLinerInvGlbCtrl.ePage.Entities.Header.Data.UIConsolExtendedInfo,'E11072',false)"
                                    custom-date-time-format />
                                <span class="input-group-btn">
                                    <button class="btn btn-default shiny" data-ng-click="ExportSeaConsolLinerInvGlbCtrl.ePage.Masters.DatePicker.OpenDatePicker($event, 'isSIFilingDate')">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SIFilingType -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="form-group">
                    <label class="control-label">SI Filing Type</label>
                    <div class="con-dt-value">
                        <select disabled="true" chosen ng-options="x.Key as x.Description for x in ExportSeaConsolLinerInvGlbCtrl.ePage.Masters.DropDownMasterList.CON_SI_FILING_TYPE.ListSource"
                            ng-model="ExportSeaConsolLinerInvGlbCtrl.ePage.Entities.Header.Data.UIConsolExtendedInfo.SIFilingType"
                            class="form-control">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- HBL Approval -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="form-group">
                    <label class="control-label text-single-line">Is HBL Approval Required</label>
                    <div class="checkbox">
                        <label>
                            <input disabled="true" type="checkbox" data-ng-model="ExportSeaConsolLinerInvGlbCtrl.ePage.Entities.Header.Data.UIConsolExtendedInfo.IsHBLRequired"
                                data-ng-checked="ExportSeaConsolLinerInvGlbCtrl.ePage.Entities.Header.Data.UIConsolExtendedInfo.IsHBLRequired"
                                class="colored-blue">
                            <span class="text"></span>
                        </label>
                    </div>
                </div>
            </div>
            <!-- MBL Approval -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="form-group">
                    <label class="control-label text-single-line">Is MBL Approval Required</label>
                    <div class="checkbox">
                        <label>
                            <input disabled="true" type="checkbox" data-ng-model="ExportSeaConsolLinerInvGlbCtrl.ePage.Entities.Header.Data.UIConsolExtendedInfo.IsMBLRequired"
                                data-ng-checked="ExportSeaConsolLinerInvGlbCtrl.ePage.Entities.Header.Data.UIConsolExtendedInfo.IsMBLRequired"
                                class="colored-blue">
                            <span class="text"></span>
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>