.contact-edit.contact>.modal-dialog {
    width: 500px !important;
}

.org-edit-delete {
    top: 5px;
}

.org-contact-header {
    font-size: 16px;
    position: relative;
    padding: 9px 0px;
    color: #1f497d;
    border-bottom: 1px solid #ddd;
}

.fs-28 {
    font-size: 28px;
}
