/*chart*/

#transport .page-body {
  background: #f5f5f5;
}

.chart {
  margin: 0;
}

.widget.pending-widget>h4 {
  background: #fbfbfb;
  font-weight: 600 !important;
}

.set-bg-dc-header {
  background: rgba(67, 133, 245, 0.2);
  padding: 9px;
  margin-left: 16px;
  margin-right: 15px;
}

.dc-header {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}

.dc-dashboard-icon {
  position: absolute;
  top: 0;
  right: 0;
  color: #002b74;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.5);
}

.card {
  display: inline-block;
  position: relative;
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
}

svg:not(:root) {
  overflow: hidden;
}

.card-chart {
  padding: 0;
  min-height: 160px;
}

.card [data-background-color] {
  color: #FFFFFF;
}

.card [data-background-color="rose"] {
  background-color: #f5f7fa !important;
}

.card [data-background-color] {
  padding: 15px;
  background-color: #999999;
  position: relative;
}

.card .card-title {
  margin-top: 0;
}

.card [data-background-color="green"] {
  background: #f5f7fa !important;
}

.card [data-background-color="blue"] {
  background: linear-gradient(60deg, #26c6da, #00acc1);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
}

.card [data-background-color="orange"] {
  background: linear-gradient(60deg, #ffa726, #fb8c00);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}

.pending-widget {
  border: 1px solid #eee;
  overflow-y: overlay;
}

.font-bold {
  font-weight: bold;
}

.border-right {
  border-right: 1px solid #eee;
}

.border-f5f5f5 {
  border: 1px solid #f5f5f5;
}

.border-bottom-eee {
  border-bottom: 1px solid #eee;
}

.tickets-container {
  padding: 0px 0px;
  background-color: transparent;
}

.tickets-container .tickets-list .ticket-item .ticket-user {
  height: auto;
}

/*.btn {
  text-align: left;
}*/

.bg_g_blue {
  background: linear-gradient(#e2e7e9, #cbd9de);
}

.bg_g_light_white {
  background: linear-gradient(#fafafa, #eee);
}

#man-int, #con-int, #item-int, #man-arr, #con-arr, #item-arr, #man-pend, #con-pend, #item-pend, #man-rec, #con-rec, #item-rec, #item-stok, #man-arrived, #con-arrived, #item-arrived, #rec-man, #rec-con, #rec-item {
  position: absolute;
  width: 92%;
  top: 0;
  overflow-y: auto;
  height: 215px;
}

#man-int ul, #con-int ul, #item-int ul, #man-arr ul, #con-arr ul, #item-arr ul, #man-pend ul, #con-pend ul, #item-pend ul,  #man-rec ul, #con-rec ul, #item-rec ul, #item-stok ul, #man-arrived ul, #con-arrived ul, #item-arrived ul, #rec-man ul, #rec-con ul, #rec-item ul{
  width: 100%;
  float: left;
  padding: 0;
}
  
#man-int li, #con-int li, #item-int li, #man-arr li, #con-arr li, #item-arr li,  #man-pend li, #con-pend li, #item-pend li,  #man-rec li, #con-rec li, #item-rec li, #item-stok li, #man-arrived li, #con-arrived li, #item-arrived li, #rec-man li, #rec-con li, #rec-item li{
  list-style: none;
  width: 100%;
  list-style: none;
  float: left;
}

#man-int li>span, #con-int li>span, #item-int li>span, #man-arr li>span , #con-arr li>span, #item-arr li>span, #man-pend li>span, #con-pend li>span, #item-pend li>span, #man-rec li>span, #con-rec li>span, #item-rec li>span, #item-stok li>span, #man-arrived li>span, #con-arrived li>span, #item-arrived li>span, #rec-man li>span, #rec-con li>span, #rec-item li>span{
  width: 15px;
  height: 15px;
  float: left;
  text-align: center;
  line-height: 1;
}

#man-int li>p, #con-int li>p, #item-int li>p,#man-arr li>p, #con-arr li>p, #item-arr li>p, #man-pend li>p, #con-pend li>p, #item-pend li>p, #man-rec li>p, #con-rec li>p, #item-rec li>p, #item-stok li>p, #man-arrived li>p, #con-arrived li>p, #item-arrived li>p,  #rec-man li>p, #rec-con li>p, #rec-item li>p {
  float: left;
  padding: 0;
  padding-left: 10px;
  line-height: 1;
  white-space: nowrap;
  width: 89%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.well.with-header {
    padding-top: 50px !important;
}
.well.with-footer {
    padding-bottom: 30px !important;
}
.no-rec1{
    padding: 0px 0px 0px 220px;
    color: crimson;
}
.yellowlite{
  background-color: #efb40e !important;
}
.yellowlight{
  border-color: #efb40e !important;
}
.white{
  color : white;
}
   
.row{
    margin-right: -15px;
    margin-left: -15px;
}
.tickets-container .tickets-list .ticket-item {
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
    margin-bottom: 5px;
    padding: 0 15px;
    vertical-align: top;
    height: auto;
}
.widget-header{
  position: relative;
  min-height: 35px;
  background: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.3);
  -moz-box-shadow: 0 0 4px rgba(0,0,0,.3);
  box-shadow: 0 0 4px rgba(0,0,0,.3);
  color: #555;
  padding-left: 12px;
}
.liheader {
    padding-top: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 3px;
    text-align: center;
    background-color: #f5f5f5;
}
.tickets-container .tickets-list .ticket-item .ticket-user {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.tickets-container .tickets-list .ticket-item .ticket-time, .tickets-container .tickets-list .ticket-item .ticket-user, .tickets-container .tickets-list .ticket-item .ticket-type {
    line-height: 17px;
    height: auto;
    padding: 3px;
}

.tickets-container .tickets-list .ticket-item .divider {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 1px;
    background-color: #eee;
    display: inline-block;
}
.no-rec{
    text-align: center;
    color: crimson;
    margin-top: 60px;
    font-size: 14px;
    padding-bottom: 100px;
}
.tickets-container .tickets-list .ticket-item .ticket-time .time {
    color: #999;
    font-size: 11px;
    text-transform: unset !important;
    font-weight : 700;    
}
.bgwhite{
  background-color: white;
}


.node {
    font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    fill: #bbb;
}

.node:hover {
    fill: #000;
}

.link {
    stroke: steelblue;
    stroke-opacity: 0.4;
    fill: none;
    pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
    font-weight: 700;
}

.node--source {
    fill: #2ca02c;
}

.node--target {
    fill: #d62728;
}

.link--source,
.link--target {
    stroke-opacity: 1;
    stroke-width: 2px;
}

.link--source {
    stroke: #d62728;
}

.link--target {
    stroke: #2ca02c;
}

.mytooltip {
  position:absolute;
  text-align: center;
  width: 200px;
  height:auto;
  background-color: #000;
  border-radius: 10px;
  color: #787777;
  padding: 6px 12px;
  z-index:3;
}

.mytooltip:after {
  box-sizing: border-box;
  display: inline;
  width: 100%;
  line-height: 1;
  color: #000;
  content: "\25BC";
  position: absolute;
  text-align: center;
  margin: -3px 0 0 0;
  top: 100%;
  left: 0;
}

.mytooltip span {
    display: block;
    text-align: center;
    width: 200px;
    height: auto;
    margin: 5px auto;
  }

#thumbnail {
    width: 200px;
    height: auto;
    margin: 0 auto;
    color: #FFF;
    text-align: center;
  }


.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus {
    /* background-color: #fff !important; */
    border: 0;
    border-bottom: 2px solid #D6171F;
    box-shadow: none;
    padding: 6px;
    color: #999 !important;
    background-color: white;
    border-bottom: 2px solid #4385f5;
}
.dashboard-represent{
  position: absolute;
  top: 25px;
  right: 25px;
}
