

.border-box{
    border: 1px solid #eee;
}

.border-radius-2{
    border-radius: 2px;
}

.bg-fbfbfb{
    background: #fbfbfb;
}

.tab-profile-title{
    font-weight: bold;
}

.tab-profile-sub-title{
    font-weight: bold;
    color: #999;
}

.border-right{
    border-right: 1px solid #f5f5f5;
}

.border-left{
    border-left: 1px solid #f5f5f5;
}

.color-999{
    color: #999;
}

.height-100{
    min-height: 100px;
}
