<!--Order Details-->
<div class="clearfix margin-top-5" ng-if="!ConsignmentManifestCtrl.currentConsignment.isNew">
    <!-- Saving Your Data -->
    <div class="grid-loading-norecord-container ng-scope" style='z-index: 4;' data-ng-if="ConsignmentManifestCtrl.ePage.Masters.IsLoadingToSave">
        <div class="grid-no-record">Saving your Data...</div>
    </div>
    <div class="col-lg-12 margin-top-5">
        <!--Order Details-->
        <div class="">
            <div>
                <span><button type="button" class="btn btn-sm btn-outline-primary" style="font-size:11px" title="Add New"  data-ng-click="ConsignmentManifestCtrl.ePage.Masters.AddNew()"><span class="fa fa-external-link-square"></span>&nbsp;&nbsp;AddNew</button>
                </span>
                <!--<span><button dynamic-list-modal obj="ConsignmentManifestCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader" field-name="'AttachManifest'" 
                        selected-data="ConsignmentManifestCtrl.ePage.Masters.Attach($item)" prefix-data="'TransportsManifest'" mode="3"
                        grid-refresh-fun-name="" grid-refresh-fun="" class="btn btn-sm btn-outline-primary" 
                        type="button">
                    <i class="fa fa-plus-circle"></i> Attach</button>
                </span>-->
                <span ng-hide='ConsignmentManifestCtrl.ePage.Masters.selectedRow==-1'><button type="button" class="btn btn-sm btn-outline-primary" style="font-size:11px" title="Edit"  data-ng-click="ConsignmentManifestCtrl.ePage.Masters.Edit(ConsignmentManifestCtrl.ePage.Entities.Header.Data.TmsConsignmentManifest[ConsignmentManifestCtrl.ePage.Masters.selectedRow])"><span class="fa fa-pencil"></span>&nbsp;&nbsp;Edit</button>
                </span>
                <!--<span ng-hide='ConsignmentManifestCtrl.ePage.Masters.selectedRow==-1'><button type="button" class="btn btn-sm btn-outline-primary" style="font-size:11px" title="Delete"  data-ng-click="ConsignmentManifestCtrl.ePage.Masters.RemoveRow()"><i class="fa fa-minus-circle"></i>&nbsp;&nbsp;Detach</button>
                </span>-->
            </div>
            <div class="wmstable_scroll" id="ConsignmentManifestCtrl.ePage.Masters.your_div" style="height:310px; padding-top: 2px;">
                <div class="table" id="results">
                    <div class='theader'>
                        <div class='table_header'>Manifest Number</div>
                        <div class='table_header'>Manifest Status</div>
                        <div class='table_header'>Manifest Type</div>
                        <!-- <div class='table_header'>Shipment No</div>
                        <div class='table_header'>Consol No</div>
                        <div class='table_header'>Seal No</div>
                        <div class='table_header'>Vessal Name</div>
                        <div class='table_header'>Voyage No</div> -->
                        <div class='table_header'>Shipment Arrival Date</div>
                        <div class='table_header'>Driver Name</div>
                        <div class='table_header'>Driver Contact No</div>
                        <div class='table_header'>Vehicle No</div>
                        <div class='table_header'>Vehicle Type</div>
                        <div class='table_header'>Total Amount</div>
                        <div class='table_header'>Total Volume</div>
                        <div class='table_header'>Total Weight</div>
                        <div class='table_header'>Manifest UTC</div>
                        <div class='table_header'>Actual Delivery Date</div>
                        <div class='table_header'>Actual Dispatch Date</div>
                        <div class='table_header'>Estimated Delivery Date</div>
                        <div class='table_header'>Estimated Dispatch Date</div>
                    </div>

                    <!-- List Empty Response -->
                    <div data-ng-if="ConsignmentManifestCtrl.ePage.Entities.Header.Data.TmsConsignmentManifest.length==0">
                        <div class="grid-no-record grid-width" style="bottom:38px">No Record Found</div>
                    </div>

                    <div class='table_row' ng-repeat="x in ConsignmentManifestCtrl.ePage.Entities.Header.Data.TmsConsignmentManifest | filter:{IsDeleted:'false'}  track by $index"
                        ng-click="ConsignmentManifestCtrl.ePage.Masters.setSelectedRow($index)" ng-class="{row_active: ConsignmentManifestCtrl.ePage.Masters.selectedRow==$index}"
                        style="font-size: 11px;">
                        <div class='table_small'>
                            <div class='table_cell'>Manifest Number</div>
                            <div class='table_cell'>{{x.TMM_ManifestNumber || ConsignmentManifestCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Manifest Status</div>
                            <div class='table_cell'>{{x.TMM_ManifestStatusDesc || ConsignmentManifestCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Manifest Type</div>
                            <div class='table_cell'>{{x.TMM_ManifestType || ConsignmentManifestCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <!-- <div class='table_small'>
                            <div class='table_cell'>Shipment No</div>
                            <div class='table_cell'>{{x.TMM_ShipmentNo || ConsignmentManifestCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Consol No</div>
                            <div class='table_cell'>{{x.TMM_ConsolNo || ConsignmentManifestCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Seal No</div>
                            <div class='table_cell'>{{x.TMM_SealNo || ConsignmentManifestCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Vessal Name</div>
                            <div class='table_cell'>{{x.TMM_VesselName || ConsignmentManifestCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Voyage No</div>
                            <div class='table_cell'>{{x.TMM_VoyageNo || ConsignmentManifestCtrl.ePage.Masters.emptyText}}</div>
                        </div> -->
                        <div class='table_small'>
                            <div class='table_cell'>Shipment Arrival Date</div>
                            <div class='table_cell'>{{x.TMM_ShipmentArrivalDate | dateFormat}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Driver Name</div>
                            <div class='table_cell'>{{x.TMM_DriveName || ConsignmentManifestCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Driver Contact No</div>
                            <div class='table_cell'>{{x.TMM_DriverContactNo || ConsignmentManifestCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Vehicle No</div>
                            <div class='table_cell'>{{x.TMM_VehicleNo || ConsignmentManifestCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Vehicle Type</div>
                            <div class='table_cell'>{{x.TMM_VehicleType || ConsignmentManifestCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Total Amount</div>
                            <div class='table_cell'>{{x.TMM_TotalAmount || ConsignmentManifestCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Total Volume </div>
                            <div class='table_cell'>{{x.TMM_TotalVolume || ConsignmentManifestCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Total Weight</div>
                            <div class='table_cell'>{{x.TMM_TotalWeight || ConsignmentManifestCtrl.ePage.Masters.emptyText}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Manifest UTC</div>
                            <div class='table_cell'>{{x.TMM_ManifestUTC | dateFormat}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Actual Delivery Date</div>
                            <div class='table_cell'>{{x.TMM_ActualDeliveryDate | dateFormat}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Actual Dispatch Date</div>
                            <div class='table_cell'>{{x.TMM_ActualDispatchDate | dateFormat}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Estimated Delivery Date </div>
                            <div class='table_cell'>{{x.TMM_EstimatedDeliveryDate | dateFormat}}</div>
                        </div>
                        <div class='table_small'>
                            <div class='table_cell'>Estimated Dispatch Date </div>
                            <div class='table_cell'>{{x.TMM_EstimatedDispatchDate | dateFormat}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>