.plan-vgm{
    height:100%;
    position: relative;
    overflow: hidden;
    min-height: 550px;
}
.decision{
    background-color:#f0f0f0;
    padding:5px;
}
.commentbody{
    height: 300px;
    overflow-y: auto;    
}
.commentheader{
    border-bottom: 1px solid #ddd;
    font-weight:bold;
}
