<div class="clearfix pull-right fs-25 mb-10 pr-10">
    <button class="btn btn-default set-br-yellow set-bg-yellow-light fs-12" data-ng-disabled="ShipmentActivationCtrl.ePage.Masters.SelectedOrder.length == 0 || ShipmentActivationCtrl.ePage.Masters.IsDisabledInActiveBtn"
        data-ng-click="ShipmentActivationCtrl.ePage.Masters.Active('inactive', 'InActiveBtn');">
        {{ShipmentActivationCtrl.ePage.Masters.InActiveBtn}}
    </button>
    <button class="btn btn-default set-br-blue set-bg-blue-light fs-12" data-ng-disabled="ShipmentActivationCtrl.ePage.Masters.SelectedOrder.length == 0 || ShipmentActivationCtrl.ePage.Masters.IsDisabledActiveBtn"
        data-ng-click="ShipmentActivationCtrl.ePage.Masters.Active('active', 'ActiveBtn');">
        {{ShipmentActivationCtrl.ePage.Masters.ActiveBtn}}
    </button>
</div>
<div class="clearfix common_table_scroll mt-20 pl-10 pr-10 common_table_hgt" data-ng-if="ShipmentActivationCtrl.ePage.Masters.ActivationList">
    <order-confirm-directive mode="2" list="ShipmentActivationCtrl.ePage.Masters.ActivationList" grid-change="ShipmentActivationCtrl.ePage.Masters.DataChanges({ item: item })"></order-confirm-directive>
</div>