 .tc-edit-modal-mapping-vertical .form-group .dropdown-menu {
     display: block !important;
     left: 15px;
 }

 .tc-edit-modal-mapping-vertical .dropdown-menu .auto-complete-no-result {
     padding: 0 10px;
     font-size: 12px;
 }
