<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 sider-bar-wrapper">
    <!--Compose Button-->   
    <button class="btn btn-danger btn-compose hidden-md hidden-sm" data-ng-click="SupportCtrl.ePage.Masters.OnComposeClick()" data-ng-disabled="SupportCtrl.ePage.Entities.SupportHeader.Meta.TeamTypeMaster.ListSource.length === 0">Compose
    </button>

    <!--</li>-->

    <!--User list-->
    <div>
        <div class="text-center grid-view-loader padding-20" data-ng-if="!SupportCtrl.ePage.Entities.SupportHeader.Meta.User.ListSource">
            <i class="fa fa-spin fa-spinner font-160">
      </i>
        </div>
        <div class="text-center grid-view-loader padding-20" data-ng-if="SupportCtrl.ePage.Entities.SupportHeader.Meta.User.ListSource.length === 0">
            <i class="">No Users
      </i>
        </div>
        <div class="form-group no-margin" data-ng-repeat="x in SupportCtrl.ePage.Entities.SupportHeader.Meta.User.ListSource" data-ng-if="SupportCtrl.ePage.Entities.SupportHeader.Meta.User.ListSource && SupportCtrl.ePage.Entities.SupportHeader.Meta.User.ListSource.length !== 0">
            <div class="checkbox">
                <label>
          <input type="checkbox" class="colored-blue" data-ng-click="SupportCtrl.ePage.Masters.FilterUser($event, x)">
          <span class="text text-single-line" data-ng-bind="x.USR_UserName" title="{{x.USR_UserName}}">
          </span>
        </label>
            </div>
        </div>
    </div>
    <hr>
    <!--Record Type List-->
    <div>
        <div class="text-center grid-view-loader padding-20" data-ng-if="!SupportCtrl.ePage.Entities.SupportHeader.Meta.TeamTypeMaster.ListSource">
            <i class="fa fa-spin fa-spinner font-160">
      </i>
        </div>
        <div class="text-center grid-view-loader padding-20" data-ng-if="SupportCtrl.ePage.Entities.SupportHeader.Meta.TeamTypeMaster.ListSource.length === 0">
            <i class="">No Record Type
      </i>
        </div>
        <div class="form-group no-margin" data-ng-repeat="x in SupportCtrl.ePage.Entities.SupportHeader.Meta.TeamTypeMaster.ListSource | filter:  {TypeCode: 'RecordType'}">
            <div class="checkbox">
                <label>
          <input type="checkbox" class="colored-blue" data-ng-click="SupportCtrl.ePage.Masters.FilterRecordType($event, x)">
          <span class="text text-single-line" data-ng-bind="x.Key" title="{{x.Key}}">
          </span>
        </label>
            </div>
        </div>
    </div>
    <hr>
    <!--Task Type List-->
    <div>
        <div class="text-center grid-view-loader padding-20" data-ng-if="!SupportCtrl.ePage.Entities.SupportHeader.Meta.TeamTypeMaster.ListSource">
            <i class="fa fa-spin fa-spinner font-160"></i>
        </div>
        <div class="text-center grid-view-loader padding-20" data-ng-if="SupportCtrl.ePage.Entities.SupportHeader.Meta.TeamTypeMaster.ListSource.length === 0">
            <i class="">No Task Type</i>
        </div>
        <div class="form-group no-margin" data-ng-repeat="x in SupportCtrl.ePage.Entities.SupportHeader.Meta.TeamTypeMaster.ListSource | filter:  {TypeCode: 'TaskType'}">
            <div class="checkbox">
                <label>
                <input type="checkbox" class="colored-blue" data-ng-click="SupportCtrl.ePage.Masters.FilterTaskType($event, x)">
                <span class="text text-single-line" data-ng-bind="x.Key" title="{{x.Key}}">
                </span>
              </label>
            </div>
        </div>
    </div>
</div>
