<div class="clearfix">
    <div class="clearfix text-center p-50">
        <i class="font-160 warning">Coming Soon...!</i>
    </div>

    <!-- <button class="btn btn-xs btn-primary" data-ng-click="EAxisDashboardCtrl.ePage.Masters.PreviewDocument()">Preview</button> -->

    <!-- <div class="clearfix">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" data-ng-repeat="x in EAxisDashboardCtrl.ePage.Masters.FavouriteAndBasicFilterList">
            <a class="dashboard-stat dashboard-stat-v2 cubered" href="javascript:void(0);" data-ng-style="{'background-color': x.Value.CSS.color}">
                <div class="visual">
                    <i class="{{x.Value.CSS.icon}}"></i>
                </div>
                <div class="entity" data-ng-bind="x.SourceEntityRefKey"></div>
                <div class="details">
                    <div class="number">
                        <span data-counter="counterup" data-ng-if="x.Value.ShowCount" data-value="{{x.Count}}" data-ng-bind="x.Count"></span>
                    </div>
                    <div class="desc" data-ng-bind="x.Key"></div>
                </div>
            </a>
        </div>
    </div> -->

    <!-- <a class="" href="javascript:void(0);" data-ng-click="EAxisDashboardCtrl.ePage.Masters.GetSingleRecordDetail()">Chennai Air Export</a>
    <div data-ng-repeat="x in EAxisDashboardCtrl.ePage.Masters.ShipmentNoList">
        <button class="btn btn-link" data-ng-click="EAxisDashboardCtrl.ePage.Masters.TestSingleRecordView(x)" data-ng-bind="x.Code"></button>
    </div> -->

    <!-- <div data-ng-repeat="x in EAxisDashboardCtrl.ePage.Masters.OrganizationList">
        <button class="btn btn-link" data-ng-click="EAxisDashboardCtrl.ePage.Masters.TestSingleRecordView(x)"
            data-ng-bind="x.Code"></button>
    </div> -->

    <!-- <button class="btn btn-link" data-ng-click="EAxisDashboardCtrl.ePage.Masters.GoToMyTask();">MyTask</button> -->
</div>
