.border-f5f5f5 {
    border: 1px solid #f5f5f5;
}

.consolidated-dashboard-icon{
  position: absolute;
  top: 0;
  right: 0;
  color: #002b74;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.5);
}