.consol-menu>.nav-tabs.nav-justified>li>a {
    /*border-right: 1px dotted !important;*/
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
}


/*.consol-menu>.nav-tabs.nav-justified>li>a:last-child {
    border: none !important;
}

.consol-menu>.nav-tabs.nav-justified>li {
    padding: 2px 0;
}

.consol-menu>.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus {
    background-color: #808080;
    color: white;
}
*/

.consol-menu>.nav-tabs.nav-justified>.show-address-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 34px;
    margin: 0;
    padding: 0;
    width: 25px;
    min-width: 25px;
    z-index: 15;
    max-width: 25px;
    outline: none;
}

.consol-menu>.nav-tabs.nav-justified {
    padding-right: 27px;
    /*overflow: hidden;*/
}
