.ship-action,
.ship-action li,
.ship-action-label-value {
    width: 100%;
    float: left;
}

.ship-action {
    padding: 0;
}

.ship-action li {
    list-style: none;
    padding: 5px 0;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    margin-top: 7px;
}

.ship-action-label-value,
.org,
.org1 {
    margin-bottom: 1px;
}

.ship-action-label {
    width: 25%;
    float: left;
    color: #999;
}

.ship-action-value {
    width: 75%;
    float: left;
}

.org {
    font-size: 11px;
}

.org1 {
    font-size: 12px;
}

.trash {
    color: #d71921;
    font-size: 24px;
    cursor: pointer;
}

.calculation-activity {
    background: #fbfbfb;
    border-top: 1px solid #d71921;
    border-bottom: 1px solid #d71921;
}

.ship-empty-top {
    top: 25px;
    left: 180%;
}

