<div class="col-lg-12 mt-15">
    <div class="rows border-box border-radius-2 bg-fbfbfb">
        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 col-xl-2 pt-10 pb-10">
            <div class="tab-profile-title text-single-line fs-16"
                data-ng-bind="ApproveManifestCtrl.ePage.Entities.Header.Data.TmsManifestHeader.ManifestNumber"></div>
        </div>

        <!--Sender-->
        <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8 col-xl-8 border-left border-right pt-10 pb-10 ">
            <div class="fs-14">
                <span>
                    {{ApproveManifestCtrl.ePage.Entities.Header.Data.OrgSender.FullName}}
                </span>
                <span class="ml-15 mr-15">
                    <i class="fa fa-arrow-circle-right"></i>
                </span>
                <span>
                    {{ApproveManifestCtrl.ePage.Entities.Header.Data.OrgReceiver.FullName}}
                </span>
            </div>
        </div>
        <div class="col-lg-2 mt-10">
            <div class="tab-profile-sub-title text-single-line fs-14"
                title="{{ApproveManifestCtrl.ePage.Entities.Header.Data.TmsManifestHeader.ManifestStatus}} - {{ApproveManifestCtrl.ePage.Entities.Header.Data.TmsManifestHeader.ManifestStatusDesc}}"
                data-ng-bind="ApproveManifestCtrl.ePage.Entities.Header.Data.TmsManifestHeader.ManifestStatusDesc">
            </div>
        </div>
    </div>
</div>
<div class="clearfix col-lg-12 mt-10">
    <div class="rows border-box border-radius-2 pt-15 height-60">
        <div class="col-lg-12 p-0">

            <div class="col-lg-3">
                <div class="form-group">
                    <div class="color-999 fs-11">Carrier</div>
                    <div class="text-single-line">
                        <span>{{ApproveManifestCtrl.ePage.Entities.Header.Data.TmsManifestHeader.TransporterName||ApproveManifestCtrl.ePage.Masters.Empty}}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <div class="color-999 fs-11">Manifest Type</div>
                    <span>{{ApproveManifestCtrl.ePage.Entities.Header.Data.TmsManifestHeader.ManifestType||ApproveManifestCtrl.ePage.Masters.Empty}}</span>
                </div>
            </div>
            <div class="col-lg-3" data-ng-if="ApproveManifestCtrl.ePage.Masters.Config.TransporterTypeValue == 'Transportation' || ApproveManifestCtrl.ePage.Masters.Config.TransporterTypeValue == 'LastMileDelivery'">
                <div class="form-group">
                    <div class="color-999 fs-11">Vehicle Type</div>
                    <span>{{ApproveManifestCtrl.ePage.Entities.Header.Data.TmsManifestHeader.VehicleTypeDescription||ApproveManifestCtrl.ePage.Masters.Empty}}</span>
                </div>
            </div>
            <div class="col-lg-3" data-ng-if="ApproveManifestCtrl.ePage.Masters.Config.TransporterTypeValue == 'Transportation' || ApproveManifestCtrl.ePage.Masters.Config.TransporterTypeValue == 'LastMileDelivery'">
                <div class="form-group">
                    <div class="color-999 fs-11">Load Type</div>
                    <span>{{ApproveManifestCtrl.ePage.Entities.Header.Data.TmsManifestHeader.LoadType | dateFormat}}</span>
                </div>
            </div>


            <div class="col-lg-3">
                <div class="form-group">
                    <div class="color-999 fs-11">Est Delivery Date</div>
                    <span>{{ApproveManifestCtrl.ePage.Entities.Header.Data.TmsManifestHeader.EstimatedDeliveryDate | date:"dd-MMM-yyyy h:mm a"}}</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <div class="color-999 fs-11">Est Dispatch Date</div>
                    <span>{{ApproveManifestCtrl.ePage.Entities.Header.Data.TmsManifestHeader.EstimatedDispatchDate | date:"dd-MMM-yyyy h:mm a"}}</span>
                </div>
            </div>
            <!-- <div class="col-lg-3">
                    <div class="form-group">
                        <label class="color-999 fs-11">Transportation Cost</label>
                        <div class="">
                            <input type="text"  class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched" placeholder="Transportation Cost"
                                data-ng-model="ApproveManifestCtrl.ePage.Entities.Header.Data.TmsManifestHeader.TransportationCost" ng-disabled = "ApproveManifestCtrl.ePage.Entities.Header.Data.TmsManifestHeader.ManifestCompleteDatetime">
                        </div>
                    </div>
                </div> -->
            <!-- <div class="col-lg-3">
                    <div class="form-group">
                        <label class="color-999 fs-11">Currency</label>
                        <select chosen class="form-control" ng-model="ApproveManifestCtrl.ePage.Entities.Header.Data.TmsManifestHeader.CostCurrency" ng-options="x.Key as x.Key+' - '+x.Value for x in ApproveManifestCtrl.ePage.Masters.DropDownMasterList.Currency.ListSource"
                            search-contains="true" ng-disabled = "ApproveManifestCtrl.ePage.Entities.Header.Data.TmsManifestHeader.ManifestCompleteDatetime">
                                <option value="">--Select--</option>
                        </select>
                    </div>
                </div>      -->


        </div>


    </div>
</div>
<div class="clearfix col-lg-12 mt-10">
    <div class="dmstable_scroll" id='ApproveManifestCtrl.ePage.Masters.your_div'
        style="height:145px; padding-top: 2px;">
        <div class="table" id="results">
            <div class='theader'>
                <div class='table_header'>Consignment Number</div>
                <div class='table_header'>Sender</div>
                <div class='table_header'>Receiver</div>
                <div class='table_header'>Client</div>
                <div class='table_header'>Service Type</div>
                <div class='table_header'>Status</div>
                <div class='table_header'>Sender Reference</div>
                <div class='table_header'>Receiver Reference</div>
                <div class='table_header'>Expected Pickup Date Time</div>
                <div class='table_header'>Expected Delivery Date Time</div>
                <!-- <div class='table_header'>Billable Amount</div> -->
                <!-- <div class='table_header pr-30 pl-30'>Currency</div> -->
            </div>

            <!-- List Empty Response -->
            <div data-ng-if="ApproveManifestCtrl.ePage.Entities.Header.Data.TmsManifestConsignment.length==0">
                <div class="text-no-record grid-width" style="bottom:38px">No Record Found</div>
            </div>

            <div class='table_row'
                ng-repeat="x in ApproveManifestCtrl.ePage.Entities.Header.Data.TmsManifestConsignment | filter:{IsDeleted:'false'}  track by $index"
                ng-click="ApproveManifestCtrl.ePage.Masters.setSelectedRow($index)"
                ng-class="{row_active: ApproveManifestCtrl.ePage.Masters.selectedRow==$index}" style="font-size: 11px;">
                <div class='table_small'>
                    <div class='table_cell'>Consignment Number</div>
                    <div class='table_cell'>{{x.TMC_ConsignmentNumber || ApproveManifestCtrl.ePage.Masters.emptyText}}
                    </div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Sender</div>
                    <div class='table_cell'>{{x.TMC_SenderCode || ApproveManifestCtrl.ePage.Masters.emptyText}} -
                        {{x.TMC_SenderName || ApproveManifestCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Receiver</div>
                    <div class='table_cell'>{{x.TMC_ReceiverCode || ApproveManifestCtrl.ePage.Masters.emptyText}} -
                        {{x.TMC_ReceiverName || ApproveManifestCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Client</div>
                    <div class='table_cell'>{{x.TMC_ClientId || ApproveManifestCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Service Type</div>
                    <div class='table_cell'>{{x.TMC_ServiceType || ApproveManifestCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Status</div>
                    <div class='table_cell'>{{x.TMC_Status || ApproveManifestCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Sender Reference</div>
                    <div class='table_cell'>{{x.TMC_SenderRef || ApproveManifestCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Receiver Reference </div>
                    <div class='table_cell'>{{x.TMC_ReceiverRef || ApproveManifestCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Expected Pickup Date Time</div>
                    <div class='table_cell'>{{x.TMC_ExpectedPickupDateTime | date:"dd-MMM-yyyy h:mm a"}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Expected Delivery Date Time</div>
                    <div class='table_cell'>{{x.TMC_ExpectedDeliveryDateTime | date:"dd-MMM-yyyy h:mm a"}}</div>
                </div>
                <!-- <div class='table_small'>
                    <div class='table_cell'>Billable Amount</div>
                    <div class='table_cell'>
                        <div class="">
                            <input type="text"  class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched" placeholder="Billable Amount" 
                            data-ng-model="x.TMC_BillableAmount" ng-disabled = "ApproveManifestCtrl.ePage.Entities.Header.Data.TmsManifestHeader.ManifestCompleteDatetime">
                        </div>
                    </div>
                </div> -->
                <!-- <div class='table_small'>
                    <div class='table_cell'>Currency</div>
                    <div class='table_cell'>
                        <div class="">
                                <select chosen class="form-control" ng-model="x.TMC_BillableCurrency" ng-options="x.Key as x.Key+' - '+x.Value for x in ApproveManifestCtrl.ePage.Masters.DropDownMasterList.Currency.ListSource"
                                search-contains="true" ng-disabled = "ApproveManifestCtrl.ePage.Entities.Header.Data.TmsManifestHeader.ManifestCompleteDatetime">
                                    <option value="">--Select--</option>
                            </select>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>
    </div>
</div>
<div class="clearfix col-lg-12 mt-10">
    <div class="dmstable_scroll" id='ApproveManifestCtrl.ePage.Masters.your_div'
        style="height:145px; padding-top: 2px; padding-bottom: 40px">
        <div class="table" id="results">
            <div class='theader'>
                <div class='table_header'>Item</div>
                <div class='table_header'>MHU Type</div>
                <div class='table_header'>Quantity</div>
                <div class='table_header'>Sender</div>
                <div class='table_header'>Receiver</div>
                <div class='table_header'>Status</div>
                <div class='table_header'>Consignment Number</div>
                <div class='table_header'>UDF 1</div>
                <div class='table_header'>UDF 2</div>
                <div class='table_header'>UDF 3</div>
                <div class='table_header'>Packing Date</div>
                <div class='table_header'>Expiry Date</div>
            </div>

            <!-- List Empty Response -->
            <div data-ng-if="ApproveManifestCtrl.ePage.Entities.Header.Data.TmsManifestItem.length==0">
                <div class="text-no-record grid-width" style="bottom:38px">No Record Found</div>
            </div>

            <div class='table_row'
                ng-repeat="x in ApproveManifestCtrl.ePage.Entities.Header.Data.TmsManifestItem | filter:{IsDeleted:'false'}  track by $index"
                ng-click="ApproveManifestCtrl.ePage.Masters.setSelectedRow($index)"
                ng-class="{row_active: ApproveManifestCtrl.ePage.Masters.selectedRow==$index}" style="font-size: 11px;">
                <div class='table_small'>
                    <div class='table_cell'>Item</div>
                    <div class='table_cell'>{{x.TIT_ItemCode || ApproveManifestCtrl.ePage.Masters.emptyText}} -
                        {{x.TIT_ItemDesc || ApproveManifestCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>MHU Type</div>
                    <div class='table_cell'>{{x.TIT_ItemRef_ID || ApproveManifestCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Quantity</div>
                    <div class='table_cell'>{{x.Quantity || ApproveManifestCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Sender</div>
                    <div class='table_cell'>{{x.TIT_SenderCode || ApproveManifestCtrl.ePage.Masters.emptyText}} -
                        {{x.TIT_SenderName || ApproveManifestCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Receiver</div>
                    <div class='table_cell'>{{x.TIT_ReceiverCode || ApproveManifestCtrl.ePage.Masters.emptyText}} -
                        {{x.TIT_ReceiverName || ApproveManifestCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Status</div>
                    <div class='table_cell'>{{x.TIT_ItemStatusDesc || ApproveManifestCtrl.ePage.Masters.emptyText}}
                    </div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Consignment Number</div>
                    <div class='table_cell'> {{x.TMC_ConsignmentNumber || ApproveManifestCtrl.ePage.Masters.emptyText}}
                    </div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>UDF 1</div>
                    <div class='table_cell'>{{x.WOM_PartAttrib1 || ApproveManifestCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>UDF 2</div>
                    <div class='table_cell'>{{x.WOM_PartAttrib2 || ApproveManifestCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>UDF 3</div>
                    <div class='table_cell'>{{x.WOM_PartAttrib3 || ApproveManifestCtrl.ePage.Masters.emptyText}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Packing Date</div>
                    <div class='table_cell'>{{x.WOM_PackingDate | dateFormat}}</div>
                </div>
                <div class='table_small'>
                    <div class='table_cell'>Expiry Date</div>
                    <div class='table_cell'>{{x.WOM_ExpiryDate | dateFormat}}</div>
                </div>
            </div>
        </div>
    </div>
</div>