<uib-tabset id="chromeTab" class="tab-container chrometab-box" active="CurrencyCtrl.ePage.Masters.ActiveTabIndex"
    class="tab-container chrometab-box">
    <uib-tab>
        <uib-tab-heading title="CurrencyCtrl.ePage.Masters.Title">
            <span data-ng-bind="CurrencyCtrl.ePage.Masters.Title"></span>
            <i class="fa fa-thumb-tack pinned-tab ml-10"></i>
        </uib-tab-heading>
        <div class="no-padding tab-list-view-wrapper">
            <!-- Dynamic Grid Page-->
            <dynamic-list mode="1" dataentry-name="CurrencyCtrl.ePage.Masters.DataentryName"
                dataentry-object="CurrencyCtrl.ePage.Masters.DataEntryObject"
                selected-grid-row="CurrencyCtrl.ePage.Masters.SelectedGridRow($item)"
                default-filter="CurrencyCtrl.ePage.Masters.DefaultFilter"></dynamic-list>
            <div class="tab-loading" data-ng-show="CurrencyCtrl.ePage.Masters.IsTabClick"></div>
        </div>
    </uib-tab>
    <uib-tab active="CurrencyCtrl.ePage.Masters.ActiveTabIndex == $index"
        ng-repeat="tab in CurrencyCtrl.ePage.Masters.TabList"
        ng-click="CurrencyCtrl.ePage.Masters.CurrentActiveTab(tab.label)" class="tab-container chrometab-box">
        <uib-tab-heading title="{{tab.label}}">
            <span data-ng-bind="tab.label" class="mr-5"></span>
            <i class="glyphicon glyphicon-remove"
                ng-click="CurrencyCtrl.ePage.Masters.RemoveTab($event, $index, tab)"></i>
                <span class="error-warning-container-common" data-ng-if="tab[tab.code].ePage.Entities.Header.Meta.ErrorWarning.GlobalErrorWarningList.length > 0">
                        <span class="custom-warning-container" data-ng-if="(tab[tab.code].ePage.Entities.Header.Meta.ErrorWarning.GlobalErrorWarningList | listCount: 'MessageType': 'W') > 0 && (tab[tab.label].ePage.Entities.Header.Meta.ErrorWarning.GlobalErrorWarningList | listCount: 'MessageType': 'E') == 0">
                            <button class="btn-warning" data-ng-click="CurrencyCtrl.ePage.Masters.Config.ShowErrorWarningModal(tab)">
                                <i class="fa fa-warning"></i>
                            </button>
                            <span class="custom-warning-count">{{tab[tab.code].ePage.Entities.Header.Meta.ErrorWarning.GlobalErrorWarningList | listCount:
                                'MessageType': 'W'}}</span>
                        </span>
                        <span class="custom-error-container" data-ng-if="(tab[tab.code].ePage.Entities.Header.Meta.ErrorWarning.GlobalErrorWarningList | listCount: 'MessageType': 'E') > 0">
                            <button class="btn-error" data-ng-click="CurrencyCtrl.ePage.Masters.Config.ShowErrorWarningModal(tab)">
                                <i class="fa fa-warning"></i>
                            </button>
                            <span class="custom-error-count">{{tab[tab.code].ePage.Entities.Header.Meta.ErrorWarning.GlobalErrorWarningList | listCount:
                                'MessageType': 'E'}}</span>
                        </span>
                    </span>
        </uib-tab-heading>
        <div class="padding-bottom-10 clearfix">
            <!--Inward Menu Directive-->
            <currency-menu current-currency="tab"></currency-menu>
                <div class="horizontal-space"></div>
        </div>
        <!-- <span ng-if="CurrencyCtrl.ePage.Masters.Config.SaveAndClose"
            ng-init="CurrencyCtrl.ePage.Masters.SaveandClose(CurrencyCtrl.ePage.Masters.activeTabIndex, tab)"></span> -->
    </uib-tab>
    <button class="btn btn-default" ng-click="CurrencyCtrl.ePage.Masters.CreateNewCurrency()"
        data-ng-disabled="CurrencyCtrl.ePage.Masters.isNewClicked">+</button>
</uib-tabset>