<div class="clearfix my-task-activity-page-warpper">
    <div class="clearfix edit-activity-body pb-50">
        <dynamic-tab-left data-ng-if="OrdBuyerSupplierViewTemplateCtrl.currentOrder" list-source="OrdBuyerSupplierViewTemplateCtrl.ePage.Masters.MenuListSource"
            obj="OrdBuyerSupplierViewTemplateCtrl.ePage.Masters.MenuObj"></dynamic-tab-left>
    </div>
    <!--Standard Menu Directive-->
    <div class="eaxis-footer-strip">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <standard-menu input="OrdBuyerSupplierViewTemplateCtrl.currentOrder" dataentry-object="OrdBuyerSupplierViewTemplateCtrl.dataentryObject"
                data-ng-if="!OrdBuyerSupplierViewTemplateCtrl.currentOrder.isNew && OrdBuyerSupplierViewTemplateCtrl.currentOrder[OrdBuyerSupplierViewTemplateCtrl.currentOrder.label].ePage.Entities.Header.Data.UIOrder_Buyer_Supplier.PAR_AccessCode=='1_2'"></standard-menu>
        </div>
    </div>
</div>