<div class="clearfix tc-app-trust-app-tenant">
    <!-- Breadcrumb -->
    <div class="clearfix tc-breadcrumb" data-ng-if="TCAppTrustAppTenantCtrl.ePage.Masters.ActiveApplication == 'TC'">
        <i class="fa fa-home home-icon"></i>
        <div class="breadcrumb-list-wrapper">
            <ol class="breadcrumb">
                <li data-ng-repeat="x in TCAppTrustAppTenantCtrl.ePage.Masters.Breadcrumb.ListSource" data-ng-if="!x.IsActive">
                    <a href="javascript:void(0);" data-ng-bind="x.Description" data-ng-click="TCAppTrustAppTenantCtrl.ePage.Masters.Breadcrumb.OnBreadcrumbClick(x)"></a>
                </li>
                <li data-ng-repeat="x in TCAppTrustAppTenantCtrl.ePage.Masters.Breadcrumb.ListSource" data-ng-if="x.IsActive"
                    data-ng-bind="x.Description" class="active"></li>
            </ol>
        </div>
        <span class="tc-breadcrumb-app-name" data-ng-if="TCAppTrustAppTenantCtrl.ePage.Masters.QueryString.AppName"
            data-ng-bind="TCAppTrustAppTenantCtrl.ePage.Masters.QueryString.AppName"></span>
    </div>
    <!-- Header -->
    <div class="clearfix tc-header-container">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-0">
            <div class="tc-header with-add-new">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 p-5">
                    <div class="text-single-line" data-ng-bind="'App Trust App Tenant'"></div>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 p-5 pt-4 text-right">
                    <button class="btn btn-xs btn-info" data-ng-click="TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.AddNew()">New</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 p-0">
            <div class="tc-header edit-view">
                <span data-ng-bind="'Details'"></span>
                <button class="btn btn-default tc-btn-edit btn-xs pull-right ml-10" data-ng-click="TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.Edit()"
                    data-ng-disabled="!TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.ActiveAppTrustAppTenant.PK">Edit</button>
                <button class="btn btn-default tc-btn-delete btn-xs pull-right ml-10" data-ng-click="TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.DeleteConfirmation()"
                    data-ng-bind="TCAppTrustAppTenantCtrl.ePage.Masters.DeleteBtnText" data-ng-disabled="TCAppTrustAppTenantCtrl.ePage.Masters.IsDisableDeleteBtn || !TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.ActiveAppTrustAppTenant.PK"
                    data-ng-if="TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.UIControlList && TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.UIControlList.length > 0 && TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.CheckUIControl('TC_MAP_DEL')"></button>
                    <button class="btn btn-primary btn-xs pull-right ml-10" generate-db-script input="TCAppTrustAppTenantCtrl.ePage.Masters.GenerateScriptInput"
                    config="TCAppTrustAppTenantCtrl.ePage.Masters.GenerateScriptConfig" data-ng-disabled="!TCAppTrustAppTenantCtrl.ePage.Masters.GenerateScriptInput.ObjectName || !TCAppTrustAppTenantCtrl.ePage.Masters.GenerateScriptInput.ObjectId ||!TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.ActiveAppTrustAppTenant.PK">Generate
                    Script</button>
            </div>
        </div>
    </div>
    <!-- Body -->
    <div class="clearfix">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 p-0">
            <div class="tc-list-search">
                <input type="text" class="form-control input-sm" placeholder="Search..." data-ng-model="TCAppTrustAppTenantCtrl.ePage.Masters.Search">
            </div>
            <div class="tc-list-container tc-page-height-fixed left">
                <ul class="tc-list-ul">
                    <div class="p-15 text-center tc-loading" data-ng-if="!TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.AppTrustAppTenantList">
                        <i class="fa fa-spin fa-spinner"></i>
                    </div>
                    <div data-ng-if="TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.AppTrustAppTenantList && (TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.AppTrustAppTenantList | filter: TCAppTrustAppTenantCtrl.ePage.Masters.Search).length===0"
                        class="p-15 text-center">
                        <i>No Records...</i>
                    </div>
                    <li data-ng-if="TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.AppTrustAppTenantList && (TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.AppTrustAppTenantList | filter: TCAppTrustAppTenantCtrl.ePage.Masters.Search).length > 0"
                        data-ng-repeat="x in TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.AppTrustAppTenantList | filter: TCAppTrustAppTenantCtrl.ePage.Masters.Search"
                        data-ng-click="TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.ActiveAppTrustAppTenant.PK != x.PK &&  TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.OnAppTrustAppTenantClick(x)"
                        data-ng-class="{'active': TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.ActiveAppTrustAppTenant.PK == x.PK}">
                        <div class="clearfix tc-list">
                            <div class="tc-list-name">
                                <i class="fa fa-circle-o mr-10"></i>
                                <span class="text-single-line" data-ng-bind="x.AccessCode"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 p-0 tc-page-height-fixed">
            <div class="pt-10 pb-10 tc-details-view clearfix">
                <div class="clearfix form-group">
                    <label class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">Role</label>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                        <div data-ng-bind="TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.ActiveAppTrustAppTenant.AccessCode || TCAppTrustAppTenantCtrl.ePage.Masters.emptyText"></div>
                    </div>
                </div>
                <div class="clearfix form-group">
                    <label class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">Tenant</label>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                        <div data-ng-bind="TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.ActiveAppTrustAppTenant.TenantCode || TCAppTrustAppTenantCtrl.ePage.Masters.emptyText"></div>
                    </div>
                </div>
                <div class="clearfix form-group">
                    <label class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">Application</label>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                        <div data-ng-bind="TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.ActiveAppTrustAppTenant.SAP_Code || TCAppTrustAppTenantCtrl.ePage.Masters.emptyText"></div>
                    </div>
                </div>
            </div>
            <div class="tc-section-divider" data-ng-if="TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.ActiveAppTrustAppTenant.PK"></div>
        </div>
    </div>

    <!-- Edit Template -->
    <script type="text/ng-template" id="appTrustAppTenantEdit">
        <div class="modal-header">
                <button type="button" class="close" ng-click="TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.Cancel()">&times;</button>
                <h5 class="modal-title" id="modal-title">
                    <strong>Edit</strong>
                </h5>
            </div>
            <div class="modal-body pt-10" id="modal-body">
                <div class="clearfix">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-5 pb-5">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">Role</label>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                                    <input type="text" placeholder="Role" class="form-control input-sm" data-ng-model="TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.ActiveAppTrustAppTenant.AccessCode
                                                            "
                                        uib-typeahead="x.RoleName as x.RoleName + ' - ' + x.RoleDescription  for x in TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.GetRolesList($viewValue)"
                                        typeahead-loading="TCAppTrustAppTenantCtrl.ePage.Masters.IsSecRoleNoResults"
                                        typeahead-no-results="TCAppTrustAppTenantCtrl.ePage.Masters.IsSecRoleLoading"
                                        typeahead-editable="false" typeahead-append-to-body='true' typeahead-on-select="  TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.OnSelectAutoCompleteList($item, $model, $label, $event)"
                                        ng-blur="TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.OnBlurAutoCompleteList($event)"
                                        typeahead-min-length="TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.ActiveAppTrustAppTenant.AccessCode.MinLength">
                                    <div class="clearfix dropdown-menu" ng-if="TCAppTrustAppTenantCtrl.ePage.Masters.IsSecRoleNoResults">
                                        <div class="auto-complete-no-result">No Results Found!</div>
                                    </div>
                                    <div class="clearfix dropdown-menu" ng-if="TCAppTrustAppTenantCtrl.ePage.Masters.IsSecRoleLoading">
                                        <div class="auto-complete-no-result">
                                            <i class="fa fa-spin fa-spinner"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            
                <div class="tc-section-divider-small"></div>
                <div class="clearfix p-10">
                    <button class="btn btn-default tc-btn-save btn-xs pull-right ml-10" data-ng-click="TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.Save()"
                        data-ng-bind="TCAppTrustAppTenantCtrl.ePage.Masters.SaveBtnText" data-ng-disabled="TCAppTrustAppTenantCtrl.ePage.Masters.IsDisableSaveBtn"></button>
                    <button class="btn btn-default tc-btn-cancel btn-xs pull-right ml-10" data-ng-click="TCAppTrustAppTenantCtrl.ePage.Masters.AppTrustAppTenant.Cancel()">Cancel</button>
                </div>
                <div class="tc-section-divider-small mb-20"></div>
            </div>
    </script>
</div>
