.routing-details-heading i {
    font-size: 30px;
}

.routing-details-heading i:hover {
    text-decoration: none;
}

.rout-sub-title,
.rout-main-title,
.rout-actions,
.rout-actions li{
    width: 100%;
    float: left;
}

.rout-main-title {
    font-size: 20px;
    font-weight: bold;
}

.rout-actions li {
    list-style: none;
    padding: 5px 5px 5px 5px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    margin-top: 7px;
}