.routing-details-heading .heading {
    font-size: 18px;
}

.routing-details-heading i {
    font-size: 30px;
}

.routing-details-heading i:hover {
    text-decoration: none;
}

.rout-sub-title,
.rout-main-title {
    width: 100%;
    float: left;
}

.rout-main-title {
    font-size: 20px;
    font-weight: bold;
}

.rout-actions {
    width: 100%;
    float: left;
    padding: 0;
    /* border: 1px solid #e5e5e5;*/
}

.rout-actions li {
    width: 100%;
    float: left;
    list-style: none;
    padding: 5px 5px 5px 5px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    margin-top: 7px;
}

.border-bottom {
    border-bottom: 2px solid #d71921 !important;
}

.rout-top-title {
    width: 100%;
    float: left;
    font-weight: bold;
    padding: 8px 0 0;
}

.rout-title {
    width: 100%;
    float: left;
    font-weight: bold;
}

.rout-label {
    float: left;
    font-size: 12px;
    color: #999;
}

.rout-label span {
    padding: 0px 5px;
    border-radius: 2px;
}

.rout-date {
    width: 100%;
    float: left;
    padding: 14px 0 0;
}

.rout-actions-label {
    width: 25%;
    float: left;
    color: #999;
}

.rout-action-label-value {
    width: 100%;
    float: left;
    margin-bottom: 1px;
}

.fontSizeColor {
    font-size: 16px;
    font-weight: bold;
    color: #5c3a81;
}

.rout-actions-value {
    width: 75%;
    float: left;
}

.comments-height {
    height: 35px;
}

.btn-gray {
    background-color: #a1a1a1 !important;
    color: #fff !important;
}

.label-follow {
    color: #5c3a81;
    font-size: 18px;
    font-weight: bold;
}

a:focus,
a:hover {
    /* cursor: pointer !important; */
}

.edit {
    color: green;
    font-size: 13px;
    border: 1px solid gray;
    margin: 0px 10px 0px 10px;
}

.delete {
    color: red;
    font-size: 13px;
    border: 1px solid gray;
    margin: 0px 10px 0px 10px;
}

.rout-line {
    border-top: 1px solid #eee;
}

.rout-box {
    background-color: #f9f9f9;
    border: 1px solid #eee;
}

.rout-box1 {
    border-left: 1px solid #eee;
}
