<div class="col-lg-12 mt-15">
    <div class="rows border-box border-radius-2 bg-fbfbfb">
        <div class="col-lg-2 pt-10 pb-10 p-30">
            <div class="tab-profile-title text-single-line fs-20 mt-40" data-ng-bind="ItemReadOnlyCtrl.currentItem.label"></div>
            <div class="tab-profile-sub-title text-single-line fs-14" title="{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.TmsItemHeader.ItemStatus}} - {{ItemReadOnlyCtrl.ePage.Entities.Header.Data.TmsItemHeader.ItemStatusDesc}}"
                data-ng-bind="ItemReadOnlyCtrl.ePage.Entities.Header.Data.TmsItemHeader.ItemStatusDesc">
            </div>
        </div>

        <!--Sender-->
        <div class="col-lg-5 border-left border-right pt-10 pb-10 p-30">
            <div class="fs-20 color-999">From</div>

            <div class="fs-14">
                <b>{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.OrgSender.FullName}}</b> -
                <b ng-bind="ItemReadOnlyCtrl.ePage.Entities.Header.Data.OrgSender.Code"></b>
            </div>

            <div class="color-999 mt-5" ng-show="ItemReadOnlyCtrl.ePage.Masters.Sender">
                <div class="text-single-line" title='{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.OrgSender.OAD_Address1}}'>{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.OrgSender.OAD_Address1 || ItemReadOnlyCtrl.ePage.Masters.Empty
                    }}
                </div>

                <div class="text-single-line" title='{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.OrgSender.OAD_Address2}}'>{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.OrgSender.OAD_Address2 || ItemReadOnlyCtrl.ePage.Masters.Empty
                    }}
                </div>
                <div class="text-single-line">
                    <span title="{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.OrgSender.OAD_City}}">{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.OrgSender.OAD_City || ItemReadOnlyCtrl.ePage.Masters.Empty}}
                    </span>
                </div>

                <div class="text-single-line mt-10">
                    <span title='{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.OrgSender.OAD_State}}'>
                        <b>{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.OrgSender.OAD_State || ItemReadOnlyCtrl.ePage.Masters.Empty}}</b>
                    </span>
                    <span class="pl-100" title="{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.OrgSender.OAD_PostCode}}">{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.OrgSender.OAD_PostCode || ItemReadOnlyCtrl.ePage.Masters.Empty}}</span>
                </div>
            </div>

        </div>

        <!--Receiver-->
        <div class="col-lg-5 pt-10 pb-10 p-30">
            <div class="fs-20 color-999">To</div>

            <div class="fs-14">
                <b ng-bind="ItemReadOnlyCtrl.ePage.Entities.Header.Data.OrgReceiver.FullName"></b> -
                <b ng-bind="ItemReadOnlyCtrl.ePage.Entities.Header.Data.OrgReceiver.Code"></b>
            </div>
            <div class="color-999 mt-5" ng-show="ItemReadOnlyCtrl.ePage.Masters.Receiver">
                <div class="text-single-line" title='{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.OrgReceiver.OAD_Address1}}'>{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.OrgReceiver.OAD_Address1 || ItemReadOnlyCtrl.ePage.Masters.Empty
                    }}
                </div>
                <div class="text-single-line" title='{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.OrgReceiver.OAD_Address2}}'>{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.OrgReceiver.OAD_Address2 || ItemReadOnlyCtrl.ePage.Masters.Empty
                    }}
                </div>
                <div class="text-single-line">
                    <span title="{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.OrgReceiver.OAD_City}}">{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.OrgReceiver.OAD_City || ItemReadOnlyCtrl.ePage.Masters.Empty}}
                    </span>
                </div>

                <div class="text-single-line mt-10">
                    <span title='{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.OrgReceiver.OAD_State}}'>
                        <b>{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.OrgReceiver.OAD_State || ItemReadOnlyCtrl.ePage.Masters.Empty}}</b>
                    </span>
                    <span class="pl-100" title="{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.OrgReceiver.OAD_PostCode}}">{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.OrgReceiver.OAD_PostCode || ItemReadOnlyCtrl.ePage.Masters.Empty}}</span>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="rows mt-15">
    <div class="col-lg-12 pl-15">
        <div class="rows border-box border-radius-2 pt-15 height-115">
            <div class="col-lg-3">
                <div class="form-group">
                    <div class="color-999 fs-11">MHU Type</div>
                    <div class="text-single-line">
                        <span>{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.TmsItemHeader.ItemRef_ID||ItemReadOnlyCtrl.ePage.Masters.Empty}}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <div class="color-999 fs-11">Item Description</div>
                    <div class="text-single-line">
                        <span>{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.TmsItemHeader.ItemDesc||ItemReadOnlyCtrl.ePage.Masters.Empty}}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <div class="color-999 fs-11">Height</div>
                    <div class="text-single-line">
                        <span>{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.TmsItemHeader.Height||ItemReadOnlyCtrl.ePage.Masters.Empty}}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <div class="color-999 fs-11">Length</div>
                    <div class="text-single-line">
                        <span>{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.TmsItemHeader.Length||ItemReadOnlyCtrl.ePage.Masters.Empty}}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <div class="color-999 fs-11">Width</div>
                    <div class="text-single-line">
                        <span>{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.TmsItemHeader.Width || ItemReadOnlyCtrl.ePage.Masters.Empty}}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <div class="color-999 fs-11">Weight</div>
                    <div class="text-single-line">
                        <span>{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.TmsItemHeader.Weight || ItemReadOnlyCtrl.ePage.Masters.Empty}}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <div class="color-999 fs-11">Volume</div>
                    <div class="text-single-line">
                        <span>{{ItemReadOnlyCtrl.ePage.Entities.Header.Data.TmsItemHeader.Volumn || ItemReadOnlyCtrl.ePage.Masters.Empty}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rows p-15">
    <div class="rows border-box border-radius-2">
        <div class="tms-table-title fs-5 p-10">Consignment</div>
        <table id="customers">
            <tr>
                <th>Consignment Number</th>
                <th>Status</th>
                <!-- <th>Client Id</th> -->
                <th>Receiver</th>
                <th>Sender</th>
                <th>Total Quantity</th>
                <th>Total Volume</th>
                <th>Total Weight</th>
                <th>Actual Delivery</th>
                <th>Actual Pickup</th>
                <th>Expected Delivery</th>
                <th>Expected Pickup</th>
            </tr>
            <tr ng-repeat="x in ItemReadOnlyCtrl.ePage.Entities.Header.Data.TmsConsignmentItem | filter:{IsDeleted:'false'}  track by $index">
                <td>{{x.TMC_ConsignmentNumber}}</td>
                <td>{{x.TMC_ConsignmentStatusDesc}}</td>
                <!-- <td>{{x.TMC_ClientId}}</td> -->
                <td>{{x.TIT_ReceiverCode}}-{{x.TIT_ReceiverName}}</td>
                <td>{{x.TIT_SenderCode}}-{{x.TIT_SenderName}}</td>
                <td>{{x.TMC_TotalQuantity}}</td>
                <td>{{x.TMC_TotalVolume}}</td>
                <td>{{x.TMC_TotalWeight}}</td>
                <td>{{x.TMC_ActualDeliveryDateTime | dateFormat}}</td>
                <td>{{x.TMC_ActualPickupDateTime | dateFormat}}</td>
                <td>{{x.TMC_ExpectedDeliveryDateTime | dateFormat}}</td>
                <td>{{x.TMC_ExpectedPickupDateTime | dateFormat}}</td>
            </tr>
        </table>
    </div>
</div>

<div class="rows p-15 mb-50">
    <div class="rows border-box border-radius-2">
        <div class="tms-table-title fs-5 p-10">Manifest Details</div>
        <table id="customers">
            <tr>
                <th>Manifest Number</th>
                <th>Manifest Status</th>
                <th>Manifest Type</th>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Arrival Date</th>
                <th>Actual Delivery Date</th>
                <th>Actual Dispatch Date</th>
                <th>Estimated Delivery Date</th>
                <th>Estimated Dispatch Date</th>
            </tr>
            <tr ng-repeat="x in ItemReadOnlyCtrl.ePage.Entities.Header.Data.TmsManifestItem | filter:{IsDeleted:'false'}  track by $index">
                <td>{{x.TMM_ManifestNumber}}</td>
                <td>{{x.TMM_ManifestStatusDesc}}</td>
                <td>{{x.TMM_ManifestType}}</td>
                <td>{{x.TMM_SenderCode}}-{{x.TMM_SenderName}}</td>
                <td>{{x.TMM_ReceiverCode}}-{{x.TMM_ReceiverName}}</td>
                <td>{{x.TMM_ShipmentArrivalDate | dateFormat}}</td>
                <td>{{x.TMM_ActualDeliveryDate | dateFormat}}</td>
                <td>{{x.TMM_ActualDispatchDate | dateFormat}}</td>
                <td>{{x.TMM_EstimatedDeliveryDate | dateFormat}}</td>
                <td>{{x.TMM_EstimatedDispatchDate | dateFormat}}</td>
            </tr>
        </table>
    </div>
</div>
