.backGroundStyle{
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 50px;
    background-color: #f9f9f9;
     border: 1px solid #eee;
}

.borderColor{
    border-right: 1px solid gray;
}

.aligntext{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.general-edit.locationbarcode>.modal-dialog {
    width: 100% !important;
    height: 100% !important;
    margin : 0px !important;
}