<div class="row p-5">
    <div class="p-10">
        <div id='' class="common_table_scroll common_table_hgt pt-2">
            <div class="table tab-position" id="results">
                <div class='theader'>
                    <div class='table_header'>Order #</div>
                    <div class='table_header'>Part #</div>
                    <div class='table_header'>Description</div>
                    <div class='table_header'>Case #</div>
                    <div class='table_header'>Iteam #</div>
                    <div class='table_header'>Quantity</div>
                </div>

                <div class='table_row' style="font-size: 11px;" data-ng-repeat="x in cntBuyerViewOrderCtrl.ePage.Entities.OrderLine">
                    <div class='table_small'>
                        <div class='table_cell'>Order #</div>
                        <div class='table_cell'>
                            <span data-ng-bind="x.POH_OrderNo || cntBuyerViewOrderCtrl.ePage.Masters.EmptyText"></span>
                        </div>
                    </div>
                    <div class='table_small'>
                        <div class='table_cell'>Part #</div>
                        <div class='table_cell'>
                            <span data-ng-bind="x.PartNo || cntBuyerViewOrderCtrl.ePage.Masters.EmptyText"></span>
                        </div>
                    </div>
                    <div class='table_small'>
                        <div class='table_cell'>Description</div>
                        <div class='table_cell'>
                            <span data-ng-bind="x.LineDescription || cntBuyerViewOrderCtrl.ePage.Masters.EmptyText"></span>
                        </div>
                    </div>
                    <div class='table_small'>
                        <div class='table_cell'>Case #</div>
                        <div class='table_cell'>
                            <span data-ng-bind="x.JCT_CustomVarI || cntBuyerViewOrderCtrl.ePage.Masters.EmptyText"></span>
                        </div>
                    </div>
                    <div class='table_small'>
                        <div class='table_cell'>  Iteam #</div>
                        <div class='table_cell'>
                            <span data-ng-bind="x.JCT_CustomVarII || cntBuyerViewOrderCtrl.ePage.Masters.EmptyText"></span>
                        </div>
                    </div>
                    <div class='table_small'>
                        <div class='table_cell'>Quantity</div>
                        <div class='table_cell'>
                            <span data-ng-bind="x.Quantity || cntBuyerViewOrderCtrl.ePage.Masters.EmptyText"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- List Empty Response -->
            <div>
                <div class="grid-no-record-common_table" data-ng-if="cntBuyerViewOrderCtrl.ePage.Entities.OrderLine.length==0">No
                    records found...</div>
            </div>
        </div>
    </div>
</div>