<div class="grid-loading-norecord-container ng-scope" style='z-index: 15;' data-ng-if="GatepassMenuCtrl.ePage.Entities.Header.GlobalVariables.Loading"></div>

<div class="clearfix wms-menu-wraper">
    <div id="wmsMenuWrapper{{GatepassMenuCtrl.currentGatepass.label}}" class="col-sm-12 no-padding-left no-padding-right">
        <uib-tabset class="wms-menu tabs-left tabbable" active="GatepassMenuCtrl.ePage.Masters.active">
            <div class="tab-profile">
                <div class="tab-profile-title text-single-line text-center" style="color: rgb(66, 50, 50);font-weight: 600;"
                    data-ng-bind="GatepassMenuCtrl.currentGatepass.label" title="{{GatepassMenuCtrl.currentGatepass.label}}"></div>
                <div class="wocstatusmenu text-single-line text-center" title="{{GatepassMenuCtrl.ePage.Entities.Header.Data.TMSGatepassHeader.Status + ' - '+ GatepassMenuCtrl.ePage.Entities.Header.Data.TMSGatepassHeader.StatusDesc}}"
                    data-ng-bind="GatepassMenuCtrl.ePage.Entities.Header.Data.TMSGatepassHeader.StatusDesc"></div>
            </div>
            <uib-tab ng-repeat="x in GatepassMenuCtrl.ePage.Masters.GatepassMenu.ListSource" index="$index" deselect="GatepassMenuCtrl.ePage.Masters.tabSelected(x,$selectedIndex,$event)"
                data-ng-if="!x.IsDisabled" data-ng-click="GatepassMenuCtrl.ePage.Masters.OnMenuClick(x)">
                <uib-tab-heading title="{{x.DisplayName}}">
                    <i class="{{x.Icon}} mr-5"></i>
                    <span class="text-single-line" data-ng-bind="x.DisplayName"></span>
                    <error-warning-directive data-ng-if="GatepassMenuCtrl.ePage.Masters.Config.GetErrorWarningCountParent(x.GParentRef, GatepassMenuCtrl.currentGatepass.label, 'W', 'GParent').length > 0 && GatepassMenuCtrl.ePage.Masters.Config.GetErrorWarningCountParent(x.GParentRef, GatepassMenuCtrl.currentGatepass.label, 'E', 'GParent').length == 0"
                        list="GatepassMenuCtrl.ePage.Entities.Header.Meta.ErrorWarning.GlobalErrorWarningList" type="'warning'"
                        icon="fa fa-warning" parent-type="'GParent'" parent-ref="" g-parent-ref="x.GParentRef"></error-warning-directive>
                    <error-warning-directive data-ng-if="GatepassMenuCtrl.ePage.Masters.Config.GetErrorWarningCountParent(x.GParentRef, GatepassMenuCtrl.currentGatepass.label, 'E', 'GParent').length > 0"
                        list="GatepassMenuCtrl.ePage.Entities.Header.Meta.ErrorWarning.GlobalErrorWarningList" type="'error'"
                        icon="fa fa-warning" parent-type="'GParent'" parent-ref="" g-parent-ref="x.GParentRef"></error-warning-directive>
                </uib-tab-heading>

                <div>
                    <div ng-switch="x.Value">
                        <!--Menu directives-->
                        <div ng-switch-when="MyTask" gatepass-my-task data-ng-if="GatepassMenuCtrl.ePage.Masters.MyTask.ListSource"
                            list-source="GatepassMenuCtrl.ePage.Masters.MyTask.ListSource" current-gatepass="GatepassMenuCtrl.currentGatepass"></div>
                        <div ng-switch-when="General" gatepass-general current-gatepass="GatepassMenuCtrl.currentGatepass"></div>
                        <div ng-switch-when="Manifest" manifest-details current-gatepass="GatepassMenuCtrl.currentGatepass"></div>
                        <div ng-switch-when="Inward" inward-details current-gatepass="GatepassMenuCtrl.currentGatepass"></div>
                        <div ng-switch-when="Outward" outward-details current-gatepass="GatepassMenuCtrl.currentGatepass"></div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <!--Footer-->
    <div class="eaxis-footer-strip" data-ng-show="GatepassMenuCtrl.ePage.Masters.ActiveMenuTab.Value != 'MyTask'">
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9"></div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="pull-right">
                <button class="btn btn-primary manifest-btn-width-100 btn-sm mt-6" data-ng-click="GatepassMenuCtrl.ePage.Masters.Validation(GatepassMenuCtrl.currentGatepass)"
                    data-ng-bind="GatepassMenuCtrl.ePage.Masters.SaveButtonText"></button>
            </div>
        </div>
    </div>
    <div class="error-warning-container right" id="errorWarningContainer{{GatepassMenuCtrl.ePage.Masters.str}}">
        <div class="error-warning-header clearfix">
            <span class="title pull-left">
                <!-- <i class="fa fa-warning"></i>  -->
                Errors & Warnings
            </span>
            <span class="error-warning-toggle-icon pull-right" data-ng-click="GatepassMenuCtrl.ePage.Masters.Config.ShowErrorWarningModal(GatepassMenuCtrl.currentGatepass)">
                <i class="fa fa-arrow-right"></i>
            </span>
        </div>
        <div class="error-warning-body">
            <div class="clearfix" data-ng-if="GatepassMenuCtrl.ePage.Masters.ErrorWarningConfig.Modules.Gatepass.Entity[GatepassMenuCtrl.currentGatepass.code].GlobalErrorWarningList.length>0">
                <div class="clearfix">
                    <div class="p-5 error-warnig-list clearfix" data-ng-repeat="x in GatepassMenuCtrl.ePage.Masters.ErrorWarningConfig.Modules.Gatepass.Entity[GatepassMenuCtrl.currentGatepass.code].GlobalErrorWarningList">
                        <div class="clearfix">
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 p-0 text-center">
                                <span class=" fa fa-warning" data-ng-style="{color: {'W':'#FFAD33', 'E':'#ED4337'}[x.MessageType]}"></span>
                            </div>
                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 pr-0">
                                <div class="message" data-ng-bind="x.Code + ' - ' + x.Message"></div>
                                <div class="meta-object" data-ng-bind="x.MetaObject"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>