.related-action li {
    width: 100%;
    float: left;
    list-style: none;
    padding: 10px 0;
    border: 1px solid #eee;
    margin-top: 10px;
}

.Shipment-title {
    font-size: 16px;
    font-weight: bold;
    color: #4385f5;
}

.related-action-label-value {
    width: 100%;
    float: left;
    margin-bottom: 1px;
}

.related-action-label {
    width: 25%;
    float: left;
    color: #999;
}

.related-action-value {
    width: 75%;
    float: left;
}

.org {
    font-size: 11px;
    margin-bottom: 1px;
}

.org1 {
    font-size: 12px;
    margin-bottom: 1px;
}

.trash {
    color: #d71921;
    font-size: 24px;
    cursor: pointer;
}