<uib-tabset id="chromeTab" active="TrackdamagedSKUCtrl.ePage.Masters.activeTabIndex" class="tab-container chrometab-box">
    <uib-tab>
        <uib-tab-heading title="Track Damaged SKU">
            <span data-ng-bind="'Track Damaged SKU'" class="ng-binding"> Track Damaged SKU</span>
            <i class="fa fa-thumb-tack pinned-tab"></i>
        </uib-tab-heading>
        <div class="no-padding tab-list-view-wrapper">
            <dynamic-list dataentry-name="TrackdamagedSKUCtrl.ePage.Masters.dataentryName" task-name="TrackdamagedSKUCtrl.ePage.Masters.taskName"
                grid-config-type="0" selected-grid-row="TrackdamagedSKUCtrl.ePage.Masters.SelectedGridRow($item)"
                mode="1" dataentry-object="TrackdamagedSKUCtrl.ePage.Masters.DataEntryObject"></dynamic-list>
            <div class="tab-loading" data-ng-show="TrackdamagedSKUCtrl.ePage.Masters.IsTabClick"></div>
        </div>
    </uib-tab>
    <uib-tab active="TrackdamagedSKUCtrl.ePage.Masters.activeTabIndex == $index" ng-repeat="tab in TrackdamagedSKUCtrl.ePage.Masters.TabList"
        ng-click="TrackdamagedSKUCtrl.ePage.Masters.CurrentActiveTab(tab.label)">
        <uib-tab-heading title="{{tab.label}}">
            <span data-ng-bind="tab.label" class="mr-5"></span>
            <i class="glyphicon glyphicon-remove" ng-click="TrackdamagedSKUCtrl.ePage.Masters.RemoveTab($event, $index, tab)"></i>
            <span class="error-warning-container-common" data-ng-if="tab[tab.label].ePage.Entities.Header.Meta.ErrorWarning.GlobalErrorWarningList.length > 0">
                <span class="custom-warning-container" data-ng-if="(tab[tab.label].ePage.Entities.Header.Meta.ErrorWarning.GlobalErrorWarningList | listCount: 'MessageType': 'W') > 0 && (tab[tab.label].ePage.Entities.Header.Meta.ErrorWarning.GlobalErrorWarningList | listCount: 'MessageType': 'E') == 0">
                    <button class="btn-warning" data-ng-click="TrackdamagedSKUCtrl.ePage.Masters.Config.ShowErrorWarningModal(tab)">
                        <i class="fa fa-warning"></i>
                    </button>
                    <span class="custom-warning-count">{{tab[tab.label].ePage.Entities.Header.Meta.ErrorWarning.GlobalErrorWarningList
                        | listCount:
                        'MessageType': 'W'}}</span>
                </span>
                <span class="custom-error-container" data-ng-if="(tab[tab.label].ePage.Entities.Header.Meta.ErrorWarning.GlobalErrorWarningList | listCount: 'MessageType': 'E') > 0">
                    <button class="btn-error" data-ng-click="TrackdamagedSKUCtrl.ePage.Masters.Config.ShowErrorWarningModal(tab)">
                        <i class="fa fa-warning"></i>
                    </button>
                    <span class="custom-error-count">{{tab[tab.label].ePage.Entities.Header.Meta.ErrorWarning.GlobalErrorWarningList
                        | listCount:
                        'MessageType': 'E'}}</span>
                </span>
            </span>
        </uib-tab-heading>
        <div class="padding-bottom-10 clearfix">
            <!--Damage Menu Directive-->
            <track-damage-menu current-track-damage="tab" dataentry-object="TrackdamagedSKUCtrl.ePage.Masters.DataEntryObject"></track-damage-menu>
            <div class="horizontal-space"></div>
        </div>
        <span ng-if="TrackdamagedSKUCtrl.ePage.Masters.Config.SaveAndClose" ng-init="TrackdamagedSKUCtrl.ePage.Masters.SaveandClose(TrackdamagedSKUCtrl.ePage.Masters.activeTabIndex, tab)"></span>
    </uib-tab>
</uib-tabset>