<!-- General -->
<div class="clearfix">
    <!--Rate Type-->
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 mt-10">
        <div class="form-group">
            <label class="control-label text-single-line">Rate Type
            </label>
            <select chosen class="form-control" ng-model="RateHeaderGeneralCtrl.ePage.Entities.Header.Data.RateType"
                ng-options="x.Value as x.Value + ' - '  + x.Key for x in RateHeaderGeneralCtrl.ePage.Masters.DropDownMasterList.RATE_TYPE.ListSource"
                search-contains="true"
                ng-change='RateHeaderGeneralCtrl.ePage.Masters.OnChangeRateType(RateHeaderGeneralCtrl.ePage.Entities.Header.Data.RateType)'>
                <option value="">--Select--</option>
            </select>
        </div>
    </div>
    <!--Organization-->
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 mt-10">
        <div class="form-group">
            <label class="ml-5 control-label text-single-line"><b>Organization</b></label>
            <div class="input-group input-group-sm">
                <!-- Dynamic look up Search in textbox -->
                <div dynamic-lookup placeholder="Organization"
                    my-ng-model="RateHeaderGeneralCtrl.ePage.Masters.Organization"
                    auto-complete-on-select="RateHeaderGeneralCtrl.ePage.Masters.SelectedLookupOrganization($item)"
                    obj="RateHeaderGeneralCtrl.ePage.Entities.Header.Data" page-name="'OrganizationList'"
                    control-id="'Organization'" control-key="'Sender_3017'"
                    is-disabled="RateHeaderGeneralCtrl.ePage.Masters.IsDisabledOrganization"
                    title="{{RateHeaderGeneralCtrl.ePage.Masters.Organization}}">
                </div>

                <!-- Look Up page opens when button clicks -->
                <span class="input-group-btn">
                    <button dynamic-list-modal obj="RateHeaderGeneralCtrl.ePage.Entities.Header.Data"
                        control-id="'Organization'" control-key="'Sender_3017'"
                        selected-data="RateHeaderGeneralCtrl.ePage.Masters.SelectedLookupOrganization($item.data.entity)"
                        page-name="'OrganizationList'" mode="2" grid-refresh-fun-name="" grid-refresh-fun=""
                        class="btn btn-default shiny" type="button">
                        <i class="fa fa-ellipsis-h"></i></button>
                </span>
            </div>
        </div>
    </div>
    <!--Valid From-->
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 mt-10">
        <div class="form-group">
            <label class="control-label text-single-line">Valid From
            </label>
            <div class="input-group input-group-sm">
                <input type="text" class="form-control"
                    placeholder="{{RateHeaderGeneralCtrl.ePage.Masters.DatePicker.Options.dateTimeFormat}}"
                    datetime-picker="{{RateHeaderGeneralCtrl.ePage.Masters.DatePicker.Options.dateTimeFormat}}"
                    ng-model="RateHeaderGeneralCtrl.ePage.Entities.Header.Data.ValidFrom"
                    is-open="RateHeaderGeneralCtrl.ePage.Masters.DatePicker.isOpen['isValidFrom']"
                    datepicker-options="RateHeaderGeneralCtrl.ePage.Masters.DatePicker.Options"
                    datepicker-append-to-body="false" close-on-selection="false" enable-date="true" enable-time="true"
                    default-date="" default-time="" when-closed=""
                    save-as="RateHeaderGeneralCtrl.ePage.Masters.DatePicker.Options.saveFormat"
                    popup-placement="bottom-right"
                    data-ng-click="RateHeaderGeneralCtrl.ePage.Masters.DatePicker.OpenDatePicker($event, 'isValidFrom')"
                    ng-change='RateHeaderGeneralCtrl.ePage.Masters.ValidFromDate()' custom-date-time-format />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                        data-ng-click="RateHeaderGeneralCtrl.ePage.Masters.DatePicker.OpenDatePicker($event, 'isValidFrom')">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <!--Valid To-->
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 mt-10">
        <div class="form-group">
            <label class="control-label text-single-line">Valid To
            </label>
            <div class="input-group input-group-sm">
                <input type="text" class="form-control"
                    placeholder="{{RateHeaderGeneralCtrl.ePage.Masters.DatePicker.Optionsdel.dateTimeFormat}}"
                    datetime-picker="{{RateHeaderGeneralCtrl.ePage.Masters.DatePicker.Optionsdel.dateTimeFormat}}"
                    ng-model="RateHeaderGeneralCtrl.ePage.Entities.Header.Data.ValidTo"
                    is-open="RateHeaderGeneralCtrl.ePage.Masters.DatePicker.isOpen['isValidTo']"
                    datepicker-options="RateHeaderGeneralCtrl.ePage.Masters.DatePicker.Optionsdel"
                    datepicker-append-to-body="false" close-on-selection="false" enable-date="true" enable-time="true"
                    default-date="" default-time=""
                    save-as="RateHeaderGeneralCtrl.ePage.Masters.DatePicker.Optionsdel.saveFormat"
                    popup-placement="bottom-right"
                    data-ng-click="RateHeaderGeneralCtrl.ePage.Masters.DatePicker.OpenDatePicker($event, 'isValidTo')"
                    ng-change='RateHeaderGeneralCtrl.ePage.Masters.ValidToDate()' custom-date-time-format />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                        data-ng-click="RateHeaderGeneralCtrl.ePage.Masters.DatePicker.OpenDatePicker($event, 'isValidTo')">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="clearfix">
    <!-- <div class="inner-dashboard-box" style="height: 100px;"> -->
    <!--Rate Description-->
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 mt-5">
        <div class="form-group">
            <label class="control-label text-single-line">Rate Description</label>
            <div class="">
                <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                    placeholder="Rate Description"
                    data-ng-model="RateHeaderGeneralCtrl.ePage.Entities.Header.Data.RateDescription">
            </div>
        </div>
    </div>
    <!-- IsCancelled -->
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 mt-5">
        <div class="form-group">
            <label class="control-label text-single-line">IsCancelled</label>
            <div>
                <select chosen class="form-control" style="height: 30px;"
                    ng-model="RateHeaderGeneralCtrl.ePage.Masters.Iscancelled"
                    ng-change="RateHeaderGeneralCtrl.ePage.Masters.cancelled(RateHeaderGeneralCtrl.ePage.Masters.Iscancelled)"
                    ng-options="x for x in RateHeaderGeneralCtrl.ePage.Masters.IscancelledValue" search-contains="true">
                    <option value="">--Select--</option>
                </select>
            </div>
        </div>
    </div>
    <!-- Rate Reference Number -->
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 mt-5">
        <div class="form-group">
            <label class="control-label text-single-line">Rate Reference Number</label>
            <div ng-if="!RateHeaderGeneralCtrl.currentRateHeader.isNew">
                <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                    placeholder="Rate Reference Number"
                    data-ng-model="RateHeaderGeneralCtrl.ePage.Entities.Header.Data.RateRefNo" disabled>
            </div>
            <div ng-if="RateHeaderGeneralCtrl.currentRateHeader.isNew">
                <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                    placeholder="Rate Reference Number"
                    data-ng-model="RateHeaderGeneralCtrl.ePage.Masters.RefNo" disabled>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>