/* =========== Charge Details Table ========= */
.gray-background{
    background-color: #cccfd1 !important;
}

.customcheckbox input[type=checkbox]~.text:before{
    color:black;
}

.profit {
    color: green;
}

.loss {
    color: red;
}



