.ik-box {
    margin-left: 0px !important;
    width: 100.1%;
    height: 33px;
    float: left;
    border-bottom: 1px solid #cccccc;
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}
.ik-title {
    float: left;
    padding-bottom: 5px;
    position: relative;
    font-size: 12px;
    cursor: pointer;
    padding: 7px 10px;
	font-size: 14px;
    font-weight: 600;
}
.chrometab-box {
    border: 1px solid #bcbbd0;
}
/*menu icon*/

.notification-icon {
    float: left;
}
.notification-icon i {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 32px;
    margin-right: 10px;
    margin-left: 6px;
    font-size: 24px;
    border-radius: 50%;
}
.white {
    color: #fff !important;
}

/* Panel css */
.databox.radius-bordered {
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
}

.report-databox {
    display: inline-block;
    width: 90%;
    height: 65px;
    padding: 0;
    font-size: 0;
    margin-bottom: 30px;
    vertical-align: top;
    min-width: 130px;
}

.bg-white {
    background-color: #fff !important;
}

.databox.radius-bordered .databox-left {
    -webkit-border-radius: 3px 0 0 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px 0 0 3px;
    -moz-background-clip: padding;
    border-radius: 3px 0 0 3px;
    background-clip: padding-box;
}

.report-databox .databox-left[class*="bg-"] {
    color: #fff;
}

.report-databox .databox-left {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 0;
    width: 65px;
    height: 65px;
    padding: 10px;
    /* color: #f96c50; */
    color:  #2dc3e8;
}

.bg-themeprimary {
    background-color:#2dc3e8 !important;
}

.report-databox .databox-piechart {
    padding-top: 0;
    margin: 0 auto;
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.dashboard-setting-edit.address>.modal-dialog {
    width: 95% !important;
}

.modalheader {
    font-size: 15px;
    font-weight: 700;
}

.report-databox .databox-right {
    border: 1px solid #eee;
    border-radius: 0 3px 3px 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    -lh-property: 0;
    width: -webkit-calc(100% - 65px);
    width: -moz-calc(100% - 65px);
    width: calc(100% - 65px);
    height: 65px;
    color: #555;
    padding: 5px 10px;
}

.report-databox .databox-text {
    display: block;
    font-size: 11px;
    font-weight: 600;
    margin: 2px 0 2px;
    position: relative;
}
.report-databox .databox-title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin: 0px 0 0px;
    position: relative;
    color: #555555cf;
}

.bg-color{
    background-color: #f7f7f7;
}
