.inventory-label{
    margin-top: 13px;
    font-size: 14px !important;
}
.selectedBg {
    background: #f5ecec;
}
.companies-box:hover {
    background: #e6edfd;
}

.ex-line-box {
    margin-left: 5px;
    width: 100%;
    height: 70px;
    border: 1px solid #867fa0;
}
.wms-icon {
    color: #aaa;
    font-size: 11px;
    margin-left: 5px;
}
.wms-icon-large {
    color: #aaa;
    font-size: 15px;
    margin-left: 5px;
}
.bulk-action {
    width: 100%;
    float: left;
    border: 1px solid #eee;
}
.bulk-action li {
        width: 100%;
        float: left;
        list-style: none;
        padding: 10px 0;
        border-bottom: 1px solid #eee;
        
    }

.inward-menu>.nav-tabs.nav-justified>.show-address-sidebar {
    position: absolute;
    top: -2px;
    right: 0;
    height: 28px;
    margin: 0;
    padding: 0;
    width: 25px;
    min-width: 25px;
    z-index: 15;
    max-width: 25px;
    outline: none;
}
    .bulk-action1 {
        width: 215%;
        float: left;
        padding: 0;
        border: 1px solid #eee;
    }
    
    .bulk-action1 li {
            width: auto;
            float: left;
            list-style: none;
            padding: 10px 3px;
            border-bottom: 1px solid #eee;
    }
    .bulk-main-title {
        float: left;
    }
    
    .bulk-top-title {
        display: inline-block !important;
        font-weight: bold;
        padding: 8px 3px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
    }
    
.attach{
    margin-top: 10px;
    margin-right: 15px;
    float: right;
    padding: 4px 7px;
}

    .selected {
        border-left: 3px solid #ff9090;
    }
    
    .InlineLabel {
        font-size: 11px !important;
        color: #060606 !important;
    }
    
    .inlineBox {
       box-shadow: inset 0px 0px 20px rgb(168, 173, 179);
        -webkit-box-shadow: inset 0px 0px 20px rgb(168, 173, 179);
        -moz-box-shadow: inset 0px 0px 20px rgb(168, 173, 179);
        background-color: rgb(240, 240, 240);
    }
    .done{
    margin-top: 10px;
    font-size: 12px;
    padding: 4px 9px;
    line-height: 1.39;
    font-weight: 400;
    float: right;
}

.height-19{
    height: 19px !important;
    font-size:9px;
}