<div class="clearfix tc-dashboard">
    <!-- Breadcrumb -->
    <div class="clearfix tc-breadcrumb" data-ng-if="TCDashboardCtrl.ePage.Masters.ActiveApplication == 'TC'">
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 p-0">
            <i class="fa fa-home home-icon"></i>
            <div class="breadcrumb-list-wrapper">
                <ol class="breadcrumb">
                    <li data-ng-repeat="x in TCDashboardCtrl.ePage.Masters.Breadcrumb.ListSource" data-ng-if="!x.IsActive">
                        <a href="javascript:void(0);" data-ng-bind="x.Description" data-ng-click="TCDashboardCtrl.ePage.Masters.Breadcrumb.OnBreadcrumbClick(x)"></a>
                    </li>
                    <li data-ng-repeat="x in TCDashboardCtrl.ePage.Masters.Breadcrumb.ListSource" data-ng-if="x.IsActive"
                        data-ng-bind="x.Description" class="active">
                    </li>
                </ol>
            </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12 pt-4">
            <tc-application-dropdown query-string="TCDashboardCtrl.ePage.Masters.QueryString" on-application-change="TCDashboardCtrl.ePage.Masters.Application.OnApplicationChange($item)"></tc-application-dropdown>
        </div>
    </div>
    <!-- Body -->
    <div class="clearfix">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 p-0 tc-page-height-fixed without-header">
            <div class="tc-list-container clearfix">
                <div class="clearfix" data-ng-repeat="x in TCDashboardCtrl.ePage.Masters.DashboardMenuList.Column1">
                    <div class="tc-list-header" data-ng-bind="x.Title"></div>
                    <ul class="tc-list-ul">
                        <li data-ng-repeat="y in x.List" data-ng-click="TCDashboardCtrl.ePage.Masters.Dashboard.OnMenuClick(y)" data-ng-if="!y.IsDisable">
                            <div class="clearfix tc-list">
                                <div class="tc-list-name">
                                    <i class="{{y.Icon}} mr-10" data-ng-style="{'color': y.Color}"></i>
                                    <span class="text-single-line" data-ng-bind="y.Description"></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="tc-section-divider" data-ng-if="$index !== (TCDashboardCtrl.ePage.Masters.Dashboard.SystemPageListSource.length-1)"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 p-0 tc-page-height-fixed without-header">
            <div class="tc-list-container clearfix">
                <div class="clearfix" data-ng-repeat="x in TCDashboardCtrl.ePage.Masters.DashboardMenuList.Column2">
                    <div class="tc-list-header" data-ng-bind="x.Title"></div>
                    <ul class="tc-list-ul">
                        <li data-ng-repeat="y in x.List" data-ng-click="TCDashboardCtrl.ePage.Masters.Dashboard.OnMenuClick(y)">
                            <div class="clearfix tc-list">
                                <div class="tc-list-name">
                                    <i class="{{y.Icon}} mr-10" data-ng-style="{'color': y.Color}"></i>
                                    <span class="text-single-line" data-ng-bind="y.Description"></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="tc-section-divider" data-ng-if="$index !== (TCDashboardCtrl.ePage.Masters.Dashboard.ConfigurationPageListSource.length-1)"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 p-0 tc-page-height-fixed without-header">
            <div class="tc-list-container clearfix">
                <div class="clearfix" data-ng-repeat="x in TCDashboardCtrl.ePage.Masters.DashboardMenuList.Column3">
                    <div class="tc-list-header" data-ng-bind="x.Title"></div>
                    <ul class="tc-list-ul">
                        <li data-ng-repeat="y in x.List" data-ng-click="TCDashboardCtrl.ePage.Masters.Dashboard.OnMenuClick(y)">
                            <div class="clearfix tc-list">
                                <div class="tc-list-name">
                                    <i class="{{y.Icon}} mr-10" data-ng-style="{'color': y.Color}"></i>
                                    <span class="text-single-line" data-ng-bind="y.Description"></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="tc-section-divider" data-ng-if="$index !== (TCDashboardCtrl.ePage.Masters.Dashboard.DynamicPageAndDataExtractionPageListSource.length-1)"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 p-0 tc-page-height-fixed without-header">
            <div class="tc-list-container clearfix">
                <div class="clearfix" data-ng-repeat="x in TCDashboardCtrl.ePage.Masters.DashboardMenuList.Column4">
                    <div class="tc-list-header" data-ng-bind="x.Title"></div>
                    <ul class="tc-list-ul">
                        <li data-ng-repeat="y in x.List" data-ng-click="TCDashboardCtrl.ePage.Masters.Dashboard.OnMenuClick(y)">
                            <div class="clearfix tc-list">
                                <div class="tc-list-name">
                                    <i class="{{y.Icon}} mr-10" data-ng-style="{'color': y.Color}"></i>
                                    <span class="text-single-line" data-ng-bind="y.Description"></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="tc-section-divider" data-ng-if="$index !== (TCDashboardCtrl.ePage.Masters.Dashboard.DynamicPageAndDataExtractionPageListSource.length-1)"></div>
                </div>
            </div>
        </div>
    </div>
</div>
