<div class="clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 custompadding">
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 p-0">
            <span><button type="button" class="btn btn-sm btn-outline-secondary font-10"  title="Add New"  data-ng-click="ProductWarehouseCtrl.ePage.Masters.AddNewRow()"><span class="fa fa-plus"></span>&nbsp;&nbsp;Add New</button></span>
            <span><button type="button" class="btn btn-sm btn-outline-primary font-10"  title="Copy"  data-ng-click="ProductWarehouseCtrl.ePage.Masters.CopyRow()" ng-disabled="!ProductWarehouseCtrl.ePage.Masters.EnableDeleteButton"><span class="fa fa-copy"></span>&nbsp;&nbsp;Copy</button></span>
            <span><button type="button" class="btn btn-sm btn-outline-primary font-10"  title="Delete"  data-ng-click="ProductWarehouseCtrl.ePage.Masters.RemoveRow()" ng-disabled="!ProductWarehouseCtrl.ePage.Masters.EnableDeleteButton"><span class="fa fa-trash"></span>&nbsp;&nbsp;Delete</button></span>
            <span><button type="button" class="btn btn-sm btn-outline-primary font-10"  title="Customize"  data-ng-click="ProductWarehouseCtrl.ePage.Masters.EditTableColumns = true"><span class="fa fa-filter"></span>&nbsp;&nbsp;Customize</button></span>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5 p-0">
            <div class="input-group">
                <div class="input-group-addon font-10"><i class="fa fa-search font-10"></i></div>
                <input type="text" class="form-control height-25 font-10" placeholder="Search" ng-model="ProductWarehouseCtrl.ePage.Masters.SearchTable">
            </div>      
        </div>
    </div>
    <div id="ProdWareTable{{ProductWarehouseCtrl.ePage.Entities.Header.Data.PK}}" class="fixedheader" key-events table-object='ProductWarehouseCtrl.ePage.Entities.Header.Data.UIWarehouse' enable='ProductWarehouseCtrl.ePage.Masters.Enable' selected-row='ProductWarehouseCtrl.ePage.Masters.selectedRow' unique-id='ProdWareTable{{ProductWarehouseCtrl.ePage.Entities.Header.Data.PK}}'>
        <table id="ProductWarehouseCtrl.ePage.Masters.AddScroll"  ng-style="{ 'height': ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.TableHeight.height + 'px' }">
            <thead>
                <tr id="tableHeader">
                    <th id="warehousecheckbox" data-ng-if="ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.warehousecheckbox.isenabled" ng-style="{ 'width': ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.warehousecheckbox.width + 'px' }">
                        <label class="customcheckbox">
                            <input type="checkbox" ng-change="ProductWarehouseCtrl.ePage.Masters.SelectAllCheckBox()" ng-checked="ProductWarehouseCtrl.ePage.Masters.SelectAll"
                                ng-model="ProductWarehouseCtrl.ePage.Masters.SelectAll">
                            <span class="text"></span>
                        </label>
                    </th>
                    <th id="warehousesno" data-ng-if="ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.warehousesno.isenabled" ng-style="{ 'width': ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.warehousesno.width + 'px' }" title="S.No">S.No</th>
                    <th id="warehouseclient" data-ng-if="ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.warehouseclient.isenabled" ng-style="{ 'width': ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.warehouseclient.width + 'px' }" title="Client">Client</th>
                    <th id="warehouse" data-ng-if="ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.warehouse.isenabled" ng-style="{ 'width': ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.warehouse.width + 'px' }" title="Warehouse">Warehouse</th>
                    <th id="putawayarea"data-ng-if="ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.putawayarea.isenabled" ng-style="{ 'width': ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.putawayarea.width + 'px' }" title="Putaway Area">Putaway Area</th>
                    <th id="bomarea"data-ng-if="ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.bomarea.isenabled" ng-style="{ 'width': ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.bomarea.width + 'px' }" title="BOM Area">BOM Area</th>
                    <th id="receiveuq"data-ng-if="ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.receiveuq.isenabled" ng-style="{ 'width': ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.receiveuq.width + 'px' }" title="Receive UQ">Receive UQ</th>
                    <th id="releaseuq"data-ng-if="ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.releaseuq.isenabled" ng-style="{ 'width': ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.releaseuq.width + 'px' }" title="Release UQ">Release UQ</th>
                    <th id="stocktakecycle"data-ng-if="ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.stocktakecycle.isenabled" ng-style="{ 'width': ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.stocktakecycle.width + 'px' }" title="StockTake Cycle">Stocktake Cycle</th>
                    <th id="expiryperiod"data-ng-if="ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.expiryperiod.isenabled" ng-style="{ 'width': ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.expiryperiod.width + 'px' }" title="Expiry Period (In Days)">Expiry Period (In Days)</th>
                    <th id="warehousereplenishmentminimum" data-ng-if="ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.warehousereplenishmentminimum.isenabled" ng-style="{ 'width': ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.warehousereplenishmentminimum.width + 'px' }" title="Replenishment Minimum">Replenishment Minimum</th>
                    <th id="warehousereplenishmentmultiple"data-ng-if="ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.warehousereplenishmentmultiple.isenabled" ng-style="{ 'width': ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.warehousereplenishmentmultiple.width + 'px' }" title="Replenishment Multiple">Replenishment Multiple</th>
                </tr>
            </thead>
            <tbody id="ProdWareCustomTable{{ProductWarehouseCtrl.ePage.Entities.Header.Data.PK}}">
                <tr id="tableBody" ng-repeat="x in ProductWarehouseCtrl.ePage.Entities.Header.Data.UIWarehouse | filter:ProductWarehouseCtrl.ePage.Masters.SearchTable"  ng-click="ProductWarehouseCtrl.ePage.Masters.setSelectedRow($index);" ng-class="{row_active: (ProductWarehouseCtrl.ePage.Masters.selectedRow==$index),copy_row_active :(x.IsCopied==true)}" 
                    watch-table table-properties="ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse"  unique-id="ProdWareCustomTable{{ProductWarehouseCtrl.ePage.Entities.Header.Data.PK}}" row-position="$index">
                    <td id="warehousecheckbox" data-ng-show='ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.warehousecheckbox.isenabled' ng-style="{ 'width': ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.warehousecheckbox.width + 'px' ,'padding-top':'0px' }" >
                        <label class="mb-0 customcheckbox">
                            <input type="checkbox" ng-checked="x.SingleSelect" ng-change="ProductWarehouseCtrl.ePage.Masters.SingleSelectCheckBox()"
                                ng-model="x.SingleSelect"> </input>
                            <span class="text"></span>
                        </label>
                        <span class="list-error-warning" data-ng-if="ProductWarehouseCtrl.ePage.Entities.Header.Meta.ErrorWarning.UIWarehouse.ERROR | listCount: 'RowIndex': $index">
                            <error-warning-directive 
                                list="ProductWarehouseCtrl.ePage.Entities.Header.Meta.ErrorWarning.UIWarehouse.ERROR"
                                type="'error'" icon="fa fa-warning" parent-type="'arrayObjectRow'" parent-ref=""
                                g-parent-ref="" row-index="$index"
                                col-index="">
                            </error-warning-directive>
                        </span>
                    </td>
                    <td id="warehousesno"   data-ng-show='ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.warehousesno.isenabled' ng-style="{ 'width': ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.warehousesno.width + 'px' }" ng-click="ProductWarehouseCtrl.ePage.Masters.Enable = true">
                        {{$index+1}}
                    </td>
                    <td id="warehouseclient"   data-ng-show='ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.warehouseclient.isenabled' ng-style="{ 'width': ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.warehouseclient.width + 'px' }" ng-click="ProductWarehouseCtrl.ePage.Masters.Enable = true" >
                        <div data-ng-if="$index!=ProductWarehouseCtrl.ePage.Masters.selectedRow" class="overflow-text">
                            {{x.Client || ProductWarehouseCtrl.ePage.Masters.emptyText}}
                        </div>
                        <div data-ng-if="$index==ProductWarehouseCtrl.ePage.Masters.selectedRow">
                            <div class="height-22 col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 p-0">
                                <div  class="input-group input-group-sm height-22">
                                    <!-- Dynamic look up Search in textbox -->
                                    <div dynamic-lookup placeholder="Client" my-ng-model="x.Client" auto-complete-on-select="ProductWarehouseCtrl.ePage.Masters.SelectedLookupDataClient($item,$index)"
                                        obj="x" page-name="'OrganizationList'"  control-id="'Client'" control-key="'Client_3015'">
                                    </div>
    
                                    <!-- Look Up page opens when button clicks -->
                                    <span class="input-group-btn">
                                        <button dynamic-list-modal obj="x" page-name="'OrganizationList'"  control-id="'Client'" control-key="'Client_3015'" selected-data="ProductWarehouseCtrl.ePage.Masters.SelectedLookupDataClient($item.data.entity,$index)" mode ="2" grid-refresh-fun-name="" grid-refresh-fun=""  class="btn btn-default shiny" type="button"><i class="fa fa-ellipsis-h"></i></button>
                                    </span>
    
                                    <span ng-if='!x.Client && x.PK  && (ProductWarehouseCtrl.ePage.Entities.Header.Meta.ErrorWarning.UIWarehouse.ERROR | filter: {RowIndex: $index} | filter: {ColIndex: 1}).length==0'>
                                        <span ng-init="ProductWarehouseCtrl.ePage.Masters.OnChangeValues(x.Client,'E7025',true,$index)"></span>
                                    </span>
                                </div>                                         
                            </div>
                            <div class="list-error-warning col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 p-0 pl-5" data-ng-if="ProductWarehouseCtrl.ePage.Entities.Header.Meta.ErrorWarning.UIWarehouse.ERROR | filter:{RowIndex: $index}:true | listCount: 'ColIndex':1">
                                <error-warning-directive  list="ProductWarehouseCtrl.ePage.Entities.Header.Meta.ErrorWarning.UIWarehouse.ERROR"
                                    type="'error'" icon="fa fa-warning" parent-type="'arrayObjectCol'" parent-ref="" g-parent-ref=""
                                    row-index="ProductWarehouseCtrl.ePage.Masters.selectedRow" col-index="1">
                                </error-warning-directive>
                            </div>
                        </div>
                    </td>
                    <td id="warehouse"   data-ng-show='ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.warehouse.isenabled' ng-style="{ 'width': ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.warehouse.width + 'px' }" ng-click="ProductWarehouseCtrl.ePage.Masters.Enable = true" >
                        <div data-ng-if="$index!=ProductWarehouseCtrl.ePage.Masters.selectedRow" class="overflow-text">
                            {{x.Warehouse || ProductWarehouseCtrl.ePage.Masters.emptyText}}
                        </div>
                        <div data-ng-if="$index==ProductWarehouseCtrl.ePage.Masters.selectedRow">
                            <div class="height-22 col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 p-0">
                                <div  class="input-group input-group-sm height-22">
                                    <!-- Dynamic look up Search in textbox -->
                                    <div dynamic-lookup placeholder="Warehouse" my-ng-model="x.Warehouse" auto-complete-on-select="ProductWarehouseCtrl.ePage.Masters.SelectedLookupDataWarehouse($item,$index)"
                                        obj="x" page-name="'Warehouse'"  control-id="'Warehouse'" control-key="'Warehouse_3067'">
                                    </div>

                                    <!-- Look Up page opens when button clicks -->
                                    <span class="input-group-btn">
                                        <button dynamic-list-modal obj="x" page-name="'Warehouse'"  control-id="'Warehouse'" control-key="'Warehouse_3067'" selected-data="ProductWarehouseCtrl.ePage.Masters.SelectedLookupDataWarehouse($item.data.entity,$index)" mode ="2" grid-refresh-fun-name="" grid-refresh-fun=""  class="btn btn-default shiny" type="button"><i class="fa fa-ellipsis-h"></i></button>
                                    </span>
    
                                    <span ng-if='!x.Warehouse && x.PK  && (ProductWarehouseCtrl.ePage.Entities.Header.Meta.ErrorWarning.UIWarehouse.ERROR | filter: {RowIndex: $index} | filter: {ColIndex: 2}).length==0'>
                                        <span ng-init="ProductWarehouseCtrl.ePage.Masters.OnChangeValues(x.Client,'E7026',true,$index)"></span>
                                    </span>
                                </div>                                         
                            </div>
                            <div class="list-error-warning col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 p-0 pl-5" data-ng-if="ProductWarehouseCtrl.ePage.Entities.Header.Meta.ErrorWarning.UIWarehouse.ERROR | filter:{RowIndex: $index}:true | listCount: 'ColIndex':2">
                                <error-warning-directive  list="ProductWarehouseCtrl.ePage.Entities.Header.Meta.ErrorWarning.UIWarehouse.ERROR"
                                    type="'error'" icon="fa fa-warning" parent-type="'arrayObjectCol'" parent-ref="" g-parent-ref=""
                                    row-index="ProductWarehouseCtrl.ePage.Masters.selectedRow" col-index="2">
                                </error-warning-directive>
                            </div>
                        </div>
                    </td>
                    <td id="putawayarea"   data-ng-show='ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.putawayarea.isenabled' ng-style="{ 'width': ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.putawayarea.width + 'px' }"ng-click="ProductWarehouseCtrl.ePage.Masters.Enable = true" >
                        <div data-ng-if="$index!=ProductWarehouseCtrl.ePage.Masters.selectedRow" class="overflow-text">
                            {{x.WAA_PutAwayAreaName || ProductWarehouseCtrl.ePage.Masters.emptyText}}
                        </div>
                        <div data-ng-if="$index==ProductWarehouseCtrl.ePage.Masters.selectedRow">
                            <div class="height-22 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0">
                                <div  class="input-group input-group-sm height-22">
                                    <!-- Dynamic look up Search in textbox -->
                                    <div dynamic-lookup placeholder="Putaway Area" my-ng-model="x.WAA_PutAwayAreaName" 
                                        obj="x" page-name="'WarehouseArea'"  control-id="'PutawayArea'" is-disabled='!x.Warehouse' control-key="'PutawayArea_3220'">
                                    </div>

                                    <!-- Look Up page opens when button clicks -->
                                    <span class="input-group-btn">
                                        <button is-disabled='!x.Warehouse' dynamic-list-modal obj="x" page-name="'WarehouseArea'"  control-id="'PutawayArea'" control-key="'PutawayArea_3220'" mode ="2" grid-refresh-fun-name="" grid-refresh-fun=""  class="btn btn-default shiny" type="button"><i class="fa fa-ellipsis-h"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td id="bomarea"   data-ng-show='ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.bomarea.isenabled' ng-style="{ 'width': ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.bomarea.width + 'px' }"ng-click="ProductWarehouseCtrl.ePage.Masters.Enable = true" >
                        <div data-ng-if="$index!=ProductWarehouseCtrl.ePage.Masters.selectedRow" class="overflow-text">
                            {{x.WAA_StagingAreaBOMName || ProductWarehouseCtrl.ePage.Masters.emptyText}}
                        </div>
                        <div data-ng-if="$index==ProductWarehouseCtrl.ePage.Masters.selectedRow">
                            <div class="height-22 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0">
                                <div  class="input-group input-group-sm height-22">
                                    <!-- Dynamic look up Search in textbox -->
                                    <div dynamic-lookup placeholder="BOM Area" my-ng-model="x.WAA_StagingAreaBOMName" 
                                        obj="x" page-name="'WarehouseArea'"  control-id="'BOMArea'" is-disabled='!x.Warehouse' control-key="'BOMArea_3221'">
                                    </div>

                                    <!-- Look Up page opens when button clicks -->
                                    <span class="input-group-btn">
                                        <button is-disabled='!x.Warehouse' dynamic-list-modal obj="x" page-name="'WarehouseArea'"  control-id="'BOMArea'" control-key="'BOMArea_3221'" mode ="2" grid-refresh-fun-name="" grid-refresh-fun=""  class="btn btn-default shiny" type="button"><i class="fa fa-ellipsis-h"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td id="receiveuq"   data-ng-show='ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.receiveuq.isenabled' ng-style="{ 'width': ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.receiveuq.width + 'px' }">
                        <div data-ng-if="$index!=ProductWarehouseCtrl.ePage.Masters.selectedRow" class="overflow-text">
                            {{x.PAC_NKReceivedPackType || ProductWarehouseCtrl.ePage.Masters.emptyText}}
                        </div>
                        <div data-ng-if="$index==ProductWarehouseCtrl.ePage.Masters.selectedRow">
                            <div class="height-22 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0" ng-click="ProductWarehouseCtrl.ePage.Masters.Enable = false" >
                                <select chosen class="form-control" ng-model="x.PAC_NKReceivedPackType" ng-options="x.Key as x.Key + ' - '  + x.Value for x in ProductWarehouseCtrl.ePage.Masters.DropDownMasterList.INW_LINE_UQ.ListSource" search-contains="true">
                                    <option value="">--Select--</option>
                                </select>
                            </div>
                        </div>
                    </td>
                    <td id="releaseuq"   data-ng-show='ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.releaseuq.isenabled' ng-style="{ 'width': ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.releaseuq.width + 'px' }">
                        <div data-ng-if="$index!=ProductWarehouseCtrl.ePage.Masters.selectedRow" class="overflow-text">
                            {{x.PAC_NKReleasedPackType || ProductWarehouseCtrl.ePage.Masters.emptyText}}
                        </div>
                        <div data-ng-if="$index==ProductWarehouseCtrl.ePage.Masters.selectedRow">
                            <div class="height-22 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0" ng-click="ProductWarehouseCtrl.ePage.Masters.Enable = false" >
                                <select chosen class="form-control" ng-model="x.PAC_NKReleasedPackType" ng-options="x.Key as x.Key + ' - '  + x.Value for x in ProductWarehouseCtrl.ePage.Masters.DropDownMasterList.INW_LINE_UQ.ListSource" search-contains="true">
                                    <option value="">--Select--</option>
                                </select>
                            </div>
                        </div>
                    </td>
                    <td id="stocktakecycle"   data-ng-show='ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.stocktakecycle.isenabled' ng-style="{ 'width': ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.stocktakecycle.width + 'px' }">
                        <div data-ng-if="$index!=ProductWarehouseCtrl.ePage.Masters.selectedRow" class="overflow-text">
                            {{x.StockTakeCycle || ProductWarehouseCtrl.ePage.Masters.emptyText}}
                        </div>
                        <div data-ng-if="$index==ProductWarehouseCtrl.ePage.Masters.selectedRow">
                            <div class="height-22 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0" ng-click="ProductWarehouseCtrl.ePage.Masters.Enable = false" >
                                <select chosen class="form-control" ng-model="x.StockTakeCycle" ng-options="x.Key as x.Key + ' - '  + x.Value for x in ProductWarehouseCtrl.ePage.Masters.DropDownMasterList.StockTakeCycle.ListSource" search-contains="true">
                                    <option value="">--Select--</option>
                                </select>
                            </div>
                        </div>
                    </td>
                    <td id="expiryperiod"   data-ng-show='ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.expiryperiod.isenabled' ng-style="{ 'width': ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.expiryperiod.width + 'px' }" ng-click="ProductWarehouseCtrl.ePage.Masters.Enable = true">
                        <div data-ng-if="$index!=ProductWarehouseCtrl.ePage.Masters.selectedRow" class="overflow-text">
                            {{x.ExpiryNotificationPeriod || ProductWarehouseCtrl.ePage.Masters.emptyText}}
                        </div>
                        <div data-ng-if="$index==ProductWarehouseCtrl.ePage.Masters.selectedRow">
                            <div class="height-22 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0" >
                                <input type="text" maxlength="4" numbers-only-dot  class="form-control input-sm" placeholder="Expiry Period" data-ng-model="x.ExpiryNotificationPeriod"/>
                            </div>
                        </div>
                    </td>
                    <td id="warehousereplenishmentminimum"  data-ng-show='ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.warehousereplenishmentminimum.isenabled'  ng-style="{ 'width': ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.warehousereplenishmentminimum.width + 'px' }"ng-click="ProductWarehouseCtrl.ePage.Masters.Enable = true" >
                        <div data-ng-if="$index!=ProductWarehouseCtrl.ePage.Masters.selectedRow" class="overflow-text">
                            {{ x.ReplenishmentMinimum || ProductWarehouseCtrl.ePage.Masters.emptyText}}
                        </div>
                        <div data-ng-if="$index==ProductWarehouseCtrl.ePage.Masters.selectedRow">
                            <div class="height-22 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0" >
                                <input type="text" maxlength="5" numbers-only-dot  class="form-control input-sm" placeholder="Replenishment Minimum" data-ng-model="x.ReplenishmentMinimum"/>
                            </div>
                        </div>
                    </td>
                    <td id="warehousereplenishmentmultiple"  data-ng-show='ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.warehousereplenishmentmultiple.isenabled'  ng-style="{ 'width': ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse.warehousereplenishmentmultiple.width + 'px' }" ng-click="ProductWarehouseCtrl.ePage.Masters.Enable = true">
                        <div data-ng-if="$index!=ProductWarehouseCtrl.ePage.Masters.selectedRow" class="overflow-text">
                            {{ x.ReplenishmentMultiple || ProductWarehouseCtrl.ePage.Masters.emptyText}}
                        </div>
                        <div data-ng-if="$index==ProductWarehouseCtrl.ePage.Masters.selectedRow">
                            <div class="height-22 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0" >
                                <input type="text" maxlength="5" numbers-only-dot  class="form-control input-sm" placeholder="Replenishment Multiple" data-ng-model="x.ReplenishmentMultiple"/>              
                            </div>
                        </div>
                    </td>         
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 norecordfound" style="top:350px"  ng-if="ProductWarehouseCtrl.ePage.Entities.Header.Data.UIWarehouse.length==0">No Record Found...</div>
</div>
<!-- To show Customize Modal -->
<div ng-if='ProductWarehouseCtrl.ePage.Masters.EditTableColumns'>
    <customize-table table-properties="ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse" enable="ProductWarehouseCtrl.ePage.Masters.EditTableColumns" unique-id="ProdWareCustomTable{{ProductWarehouseCtrl.ePage.Entities.Header.Data.PK}}" user-value='ProductWarehouseCtrl.ePage.Masters.UserValue' entity-source='WMS_PRODUCTWAREHOUSE'></customize-table>
</div>
<!-- Call Directive If user has value -->
<div ng-if='ProductWarehouseCtrl.ePage.Masters.UserHasValue' ng-init="ProductWarehouseCtrl.ePage.Masters.UserHasValue=false">
    <watch-table table-properties="ProductWarehouseCtrl.ePage.Entities.Header.TableProperties.UIWarehouse"  unique-id="ProdWareCustomTable{{ProductWarehouseCtrl.ePage.Entities.Header.Data.PK}}" ></watch-table>
</div>