<div class="clearfix margin-top-10">
    <div class="clearfix">
        <!--Sender-->
        <div class="col-lg-4">
            <div class="inner-dashboard-box">
                <div class="rows border-bottom">
                    <div class="col-lg-4 height-40  border-right pt-10 pb-10">
                        <span class="dashboard-item-icon-box">
                            <i class="icomoon icon-supplier"></i>
                        </span>
                        <label class="ml-5 control-label">Sender</label>
                        <span class="error-warning-container">
                            <error-warning-directive data-ng-if="ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.SenderCode.IsWarning && !ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.SenderCode.IsError"
                                list="ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.SenderCode.WARNING" type="'warning'"
                                icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                            <error-warning-directive data-ng-if="ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.SenderCode.IsError" list="ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.SenderCode.ERROR"
                                type="'error'" icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                        </span>
                    </div>
                    <div class="col-lg-8 height-40  p-5">
                        <div class="input-group input-group-sm">
                            <!-- Dynamic look up Search in textbox -->
                            <div dynamic-lookup placeholder="Sender" is-disabled="ConsignmentGeneralCtrl.ePage.Masters.IsDisabledSender" title="{{ConsignmentGeneralCtrl.ePage.Masters.Sender}}"
                                my-ng-model="ConsignmentGeneralCtrl.ePage.Masters.Sender" auto-complete-on-select="ConsignmentGeneralCtrl.ePage.Masters.SelectedLookupSender($item)"
                                obj="ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader" prefix-data="'OrganizationList'"
                                config="'MappingSender'">
                            </div>

                            <!-- Look Up page opens when button clicks -->
                            <span class="input-group-btn">
                                <button dynamic-list-modal is-disabled="ConsignmentGeneralCtrl.ePage.Masters.IsDisabledSender" obj="ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader"
                                    field-name="'SenderCon'" selected-data="ConsignmentGeneralCtrl.ePage.Masters.SelectedLookupSender($item)"
                                    prefix-data="'OrganizationList'" mode="2" grid-refresh-fun-name="" grid-refresh-fun="" class="btn btn-default shiny"
                                    type="button">
                                    <i class="fa fa-ellipsis-h"></i>
                                </button>
                            </span>
                            <span class="input-group-btn" ng-show="ConsignmentGeneralCtrl.ePage.Masters.Sender && ConsignmentGeneralCtrl.ePage.Masters.IsVisibleSenderAddress">
                                <button class="btn btn-default shiny" type="button" ng-click="ConsignmentGeneralCtrl.ePage.Masters.OtherAddresses(ConsignmentGeneralCtrl.ePage.Masters.OrgSenderAddress,'Sender')">
                                    <i class="fa fa-address-card-o"></i>
                                </button>
                            </span>
                            <span ng-if="!ConsignmentGeneralCtrl.ePage.Masters.Sender">
                                <span data-ng-init="ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.SenderCode=''"></span>
                                <span data-ng-init="ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.SenderName=''"></span>
                            </span>
                            <span ng-if='!ConsignmentGeneralCtrl.ePage.Masters.Sender && !ConsignmentGeneralCtrl.currentManifest.isNew'>
                                <div ng-init="ConsignmentGeneralCtrl.ePage.Masters.OnChangeValues(ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.SenderCode,'E5501')"></div>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="rows p-5 height-93">
                    <div ng-show="ConsignmentGeneralCtrl.ePage.Masters.Sender" ng-repeat="x in ConsignmentGeneralCtrl.ePage.Entities.Header.Data.JobAddress | filter: {AddressType:'SND'}">
                        <div class="col-lg-8 addressstyle">
                            <div class="text-single-line font-12" title='{{x.Address1}}'>{{x.Address1 }}</div>
                            <div class="text-single-line" title='{{x.Address2}}'>{{x.Address2 }}</div>
                            <div class="text-single-line" title='{{x.State}}'>{{x.State}}</div>
                            <div class="text-single-line">
                                <span ng-show="x.City" title="{{x.City}}">{{x.City}} -</span>
                                <span ng-show="x.Postcode" title="{{x.Postcode}}">{{x.Postcode}}</span>
                            </div>
                        </div>
                        <div class="col-lg-4 p-0 mt-60">
                            <div class="pull-right addressstyle1 font-12" ng-show="x.Mobile" title="{{x.Mobile}}">{{x.Mobile}}
                                <i class="fa fa-phone ml-5 mr-5"></i>
                            </div>
                            <div class="pull-right addressstyle1 font-12" ng-show="x.Email" title="{{x.Email}}">{{x.Email}}
                                <i class="fa fa-envelope-o ml-5 mr-5"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Receiver-->
        <div class="col-lg-5">
            <div class="inner-dashboard-box">
                <div class="rows border-bottom">
                    <div class="col-lg-4 height-40  border-right pt-10 pb-10">
                        <span class="dashboard-item-icon-box">
                            <i class="icomoon icon-supplier"></i>
                        </span>
                        <label class="ml-5 control-label">Receiver</label>
                        <span class="error-warning-container">
                            <error-warning-directive data-ng-if="ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ReceiverCode.IsWarning && !ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ReceiverCode.IsError"
                                list="ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ReceiverCode.WARNING" type="'warning'"
                                icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                            <error-warning-directive data-ng-if="ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ReceiverCode.IsError"
                                list="ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ReceiverCode.ERROR" type="'error'"
                                icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                        </span>
                    </div>
                    <div class="col-lg-7 height-40 pt-5">
                        <select ng-if="ConsignmentGeneralCtrl.ePage.Masters.SenderDetail.IsRoadFreightDepot || ConsignmentGeneralCtrl.ePage.Masters.SenderDetail.IsConsignor"
                            chosen class="form-control" style="height: 30px;" ng-model="ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.ReceiverCode"
                            ng-options="x.ORG_MappingToCode as x.ORG_MappingToCode+' - '+ x.ORG_MappingToName for x in ConsignmentGeneralCtrl.ePage.Masters.ReceiverList | unique:'ORG_MappingToCode'"
                            title="{{ConsignmentGeneralCtrl.ePage.Masters.Receiver}}" ng-change='ConsignmentGeneralCtrl.ePage.Masters.OnChangeReceiver(ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.ReceiverCode)'
                            search-contains="true">
                            <option value="">--Select--</option>
                        </select>
                        <input type="text" ng-if="!ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.SenderCode" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched"
                            readonly="" placeholder="Receiver " data-ng-model="ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.ReceiverCode"
                        />

                        <select ng-if="ConsignmentGeneralCtrl.ePage.Masters.SenderDetail.IsDistributionCentre" chosen class="form-control" style="height: 30px;"
                            ng-model="ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.ReceiverCode" ng-options="x.ORG_BasedOnCode as x.ORG_BasedOnCode+' - '+ x.ORG_BasedOnName for x in ConsignmentGeneralCtrl.ePage.Masters.ReceiverList | unique:'ORG_BasedOnCode'"
                            title="{{ConsignmentGeneralCtrl.ePage.Masters.Receiver}}" ng-change='ConsignmentGeneralCtrl.ePage.Masters.OnChangeReceiver(ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.ReceiverCode)'
                            search-contains="true">
                            <option value="">--Select--</option>
                        </select>
                        <select ng-if="ConsignmentGeneralCtrl.ePage.Masters.SenderDetail.IsStore" chosen class="form-control" style="height: 30px;"
                            ng-model="ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.ReceiverCode" ng-options="x.Code as x.Code+' - '+ x.FullName for x in ConsignmentGeneralCtrl.ePage.Masters.ReceiverList | unique:'Code'"
                            title="{{ConsignmentGeneralCtrl.ePage.Masters.Receiver}}" ng-change='ConsignmentGeneralCtrl.ePage.Masters.OnChangeReceiver(ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.ReceiverCode)'
                            search-contains="true">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                    <div class="col-lg-1 height-40  p-5" style="margin-left: -20px;">
                        <div class="input-group input-group-sm">
                            <span class="input-group-btn" ng-show="ConsignmentGeneralCtrl.ePage.Masters.Receiver">
                                <button class="btn btn-default shiny" type="button" ng-click="ConsignmentGeneralCtrl.ePage.Masters.OtherAddresses(ConsignmentGeneralCtrl.ePage.Masters.OrgReceiverAddress,'Receiver')">
                                    <i class="fa fa-address-card-o"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="rows p-5 height-93">
                    <div ng-show="ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.ReceiverCode" ng-repeat="x in ConsignmentGeneralCtrl.ePage.Entities.Header.Data.JobAddress | filter: {AddressType:'REC'}">
                        <div class="col-lg-8 addressstyle">
                            <div class="text-single-line font-12" title='{{x.Address1}}'>{{x.Address1 }}</div>
                            <div class="text-single-line" title='{{x.Address2}}'>{{x.Address2 }}</div>
                            <div class="text-single-line" title='{{x.State}}'>{{x.State}}</div>
                            <div class="text-single-line">
                                <span ng-show="x.City" title="{{x.City}}">{{x.City}} -</span>
                                <span ng-show="x.Postcode" title="{{x.Postcode}}">{{x.Postcode}}</span>
                            </div>
                        </div>
                        <div class="col-lg-4 p-0 mt-60">
                            <div class="pull-right addressstyle1 font-12" ng-show="x.Mobile" title="{{x.Mobile}}">{{x.Mobile}}
                                <i class="fa fa-phone ml-5 mr-5"></i>
                            </div>
                            <div class="pull-right addressstyle1 font-12" ng-show="x.Email" title="{{x.Email}}">{{x.Email}}
                                <i class="fa fa-envelope-o ml-5 mr-5"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--ServiceType& Status-->
        <div class="col-lg-3">
            <div class="inner-dashboard-box">
                <div class="col-lg-12">
                    <span class="error-warning-container">
                        <error-warning-directive data-ng-if="ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ServiceType.IsWarning && !ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ServiceType.IsError"
                            list="ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ServiceType.WARNING" type="'warning'"
                            icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                        <error-warning-directive data-ng-if="ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ServiceType.IsError"
                            list="ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ServiceType.ERROR" type="'error'"
                            icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                    </span>
                    <div class="clearfix form-group">
                        <label class="control-label text-single-line">Service Type</label>
                        <!-- <select chosen class="form-control" style="height: 30px;" ng-model="ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.ServiceType"
                            ng-options="x.AddRef1Code as x.AddRef1Code+' - '+ x.TYP_Value for x in ConsignmentGeneralCtrl.ePage.Masters.servicetypelistSource"
                            title="{{ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.ServiceType}}" ng-change='ConsignmentGeneralCtrl.ePage.Masters.OnChangeServiceType(ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.ServiceType)'
                            search-contains="true">
                            <option value="">--Select--</option>
                        </select> -->
                        <select chosen class="form-control" style="height: 30px;" ng-model="ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.ServiceType"
                            ng-options="x.Key as x.Key+' - '+ x.Value for x in ConsignmentGeneralCtrl.ePage.Masters.DropDownMasterList.servicetypes.ListSource"
                            title="{{ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.ServiceType}}" ng-change='ConsignmentGeneralCtrl.ePage.Masters.OnChangeServiceType(ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.ServiceType)'
                            search-contains="true">
                            <option value="">--Select--</option>
                        </select>
                        <!-- <div class="">
                            <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched" readonly="" placeholder="Service Type"
                                data-ng-model="ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.ServiceTypeDescription">
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="clearfix form-group" ng-if="!ConsignmentGeneralCtrl.ePage.Masters.IsViewStatus">
                        <label class="control-label text-single-line">Status</label>
                        <div class="">
                            <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched" title="{{ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.Status}}"
                                readonly="" placeholder="Status" data-ng-model="ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.ConsignmentStatusDesc">
                        </div>
                    </div>
                    <div class="clearfix form-group" ng-if="ConsignmentGeneralCtrl.ePage.Masters.IsViewStatus">
                        <label class="control-label text-single-line">Status</label>
                        <div class="">
                            <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched" readonly="" placeholder="Status"
                                data-ng-model="ConsignmentGeneralCtrl.ePage.Masters.NewStatus">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix mt-5">
        <div class="col-lg-8">
            <div class="inner-dashboard-box">
                <div class="col-lg-4 mt-5 mb-20">
                    <span class="error-warning-container">
                        <error-warning-directive data-ng-if="ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.SenderCarrierCode.IsWarning && !ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.SenderCarrierCode.IsError"
                            list="ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.SenderCarrierCode.WARNING" type="'warning'"
                            icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                        <error-warning-directive data-ng-if="ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.SenderCarrierCode.IsError"
                            list="ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.SenderCarrierCode.ERROR" type="'error'"
                            icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                    </span>
                    <div class="form-group">
                        <label class="control-label text-single-line">Pickup Carrier</label>
                        <select chosen class="form-control" style="height: 30px;" ng-model="ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.SenderCarrierCode"
                            ng-options="x.ORG_MappingToCode as x.ORG_MappingToCode+' - '+ x.ORG_MappingToName for x in ConsignmentGeneralCtrl.ePage.Masters.SenderCarrierlistSource | unique:'ORG_MappingToCode'"
                            title="{{ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.SenderCarrierCode}}"
                            ng-change='ConsignmentGeneralCtrl.ePage.Masters.OnChangeSenderCarrier(ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.SenderCarrierCode)'
                            search-contains="true">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 mt-5 mb-20">
                    <div class="form-group">
                        <label class="control-label text-single-line">Delivery Carrier</label>
                        <select chosen class="form-control" style="height: 30px;" ng-model="ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.DeliveryCarrierCode"
                            title="{{ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.DeliveryCarrierCode}}"
                            ng-options="x.ORG_BasedOnCode as x.ORG_BasedOnCode+' - '+ x.ORG_BasedOnName for x in ConsignmentGeneralCtrl.ePage.Masters.DispatchHublistSource | unique:'ORG_BasedOnCode'"
                            ng-change='ConsignmentGeneralCtrl.ePage.Masters.OnChangeDeliveryCarrier(ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.DeliveryCarrierCode)'
                            search-contains="true">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 mt-5 mb-20">
                    <div class="form-group">
                        <label class="control-label text-single-line">Dispatch Hub</label>
                        <div class="">
                            <input type="text" class="form-control input-sm" title="{{ConsignmentGeneralCtrl.ePage.Masters.DispatchHub}}" placeholder="Dispatch Hub"
                                ng-disabled="!ConsignmentGeneralCtrl.ePage.Masters.SenderDetail.IsDistributionCentre" data-ng-model="ConsignmentGeneralCtrl.ePage.Masters.DispatchHub">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- <span class="error-warning-container">
                        <error-warning-directive data-ng-if="ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.JourneyTitle.IsWarning && !ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.JourneyTitle.IsError"
                            list="ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.JourneyTitle.WARNING" type="'warning'"
                            icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                        <error-warning-directive data-ng-if="ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.JourneyTitle.IsError"
                            list="ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.JourneyTitle.ERROR" type="'error'"
                            icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                    </span> -->
                    <div class="form-group" ng-if="ConsignmentGeneralCtrl.currentConsignment.isNew">
                        <label class="control-label text-single-line">Journey Title</label>
                        <select chosen class="form-control" style="height: 30px;" ng-model="ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.JourneyTitle"
                            title="{{ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.JourneyTitle}}" ng-options="x.Title as x.Title for x in ConsignmentGeneralCtrl.ePage.Masters.JourneyTitlelistSource"
                            ng-change='ConsignmentGeneralCtrl.ePage.Masters.OnChangeJourneyTitle(ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.JourneyTitle)'
                            search-contains="true">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                    <div class="form-group" ng-if="!ConsignmentGeneralCtrl.currentConsignment.isNew">
                        <label class="control-label text-single-line">Journey Title</label>
                        <div class="">
                            <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched" readonly="" placeholder="Journey Title"
                                data-ng-model="ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.JourneyTitle">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <span class="error-warning-container">
                        <error-warning-directive data-ng-if="ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ExpectedPickupDateTime.IsWarning && !ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ExpectedPickupDateTime.IsError"
                            list="ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ExpectedPickupDateTime.WARNING"
                            type="'warning'" icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                        <error-warning-directive data-ng-if="ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ExpectedPickupDateTime.IsError"
                            list="ConsignmentGeneralCtrl.ePage.Entities.Header.Meta.ErrorWarning.ExpectedPickupDateTime.ERROR"
                            type="'error'" icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                    </span>
                    <div class="form-group">
                        <label class="control-label text-single-line">Expected Pickup Date</label>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" placeholder="{{ConsignmentGeneralCtrl.ePage.Masters.DatePicker.OptionsDel.dateFormat}}"
                                datetime-picker="{{ConsignmentGeneralCtrl.ePage.Masters.DatePicker.OptionsDel.dateFormat}}" ng-model="ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.ExpectedPickupDateTime"
                                is-open="ConsignmentGeneralCtrl.ePage.Masters.DatePicker.isOpen['isExpectedPickupDateTime']"
                                datepicker-options="ConsignmentGeneralCtrl.ePage.Masters.DatePicker.OptionsDel" datepicker-append-to-body="true"
                                close-on-selection="false" enable-date="true" enable-time="false"default-date="" default-time=""
                                when-closed="ConsignmentGeneralCtrl.ePage.Masters.GetDeliverydate()"
                                save-as="ConsignmentGeneralCtrl.ePage.Masters.DatePicker.OptionsDel.saveFormat" popup-placement="bottom-right"
                                data-ng-click="ConsignmentGeneralCtrl.ePage.Masters.DatePicker.OpenDatePicker($event, 'isExpectedPickupDateTime')"
                                ng-change='ConsignmentGeneralCtrl.ePage.Masters.OnChangeValues(ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.ExpectedPickupDateTime,"E5546",false,undefined)'
                                custom-date-time-format/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" data-ng-click="ConsignmentGeneralCtrl.ePage.Masters.DatePicker.OpenDatePicker($event, 'isExpectedPickupDateTime')">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label text-single-line">Transit Days</label>
                        <div class="">
                            <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched" readonly="" placeholder="Transit Days"
                                data-ng-model="ConsignmentGeneralCtrl.ePage.Masters.TransitDays">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label text-single-line">Expected Delivery Date</label>
                        <div class="">
                            <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched" readonly="" placeholder="Expected Delivery Date"
                                data-ng-model="ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.ExpectedDeliveryDateTime"
                                ng-bind="ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.ExpectedDeliveryDateTime | dateFormat">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label text-single-line">Sender Zone</label>
                        <div class="">
                            <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched" readonly="" placeholder="SenderZone"
                                data-ng-model="ConsignmentGeneralCtrl.ePage.Masters.SenderZone">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="control-label text-single-line">Receiver Zone</label>
                        <div class="">
                            <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched" readonly="" placeholder="Receiver Zone"
                                data-ng-model="ConsignmentGeneralCtrl.ePage.Masters.ReceiverZone">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" ng-if="ConsignmentGeneralCtrl.ePage.Masters.ARvisible">
                    <div class="form-group">
                        <label class="control-label text-single-line">Approval Number</label>
                        <div class="">
                            <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched" placeholder="AR Number" data-ng-model="ConsignmentGeneralCtrl.ePage.Masters.ARnumber">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="inner-dashboard-box">
                <div class="col-lg-12">
                    <div class="form-group height-275">
                        <label class="control-label text-single-line">Special Instructions</label>
                        <div class="">
                            <textarea rows="8" type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched" placeholder="Special Instructions"
                                data-ng-model="ConsignmentGeneralCtrl.ePage.Entities.Header.Data.TmsConsignmentHeader.Instructions"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mt-5 mb-40 ml-50" ng-show="ConsignmentGeneralCtrl.currentConsignment.isNew">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4" ng-if="!ConsignmentGeneralCtrl.ePage.Masters.isActive">
                <button class="btn btn-primary" data-ng-click="ConsignmentGeneralCtrl.ePage.Masters.AddNewItemSave(ConsignmentGeneralCtrl.currentConsignment)">Save and Add New Item</button>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
    </div>
</div>