.related-action li,
.related-action-label,
.related-action-value {
    float: left;
}

.related-action li {
    width: 100%;
    padding: 10px 0;
    border: 1px solid #eee;
    margin-top: 10px;
}

.related-action-label {
    width: 40%;
    color: #999;
}

.related-action-value {
    width: 60%;
}