<div class="clearfix excel-template-menu-excel-template-container pb-100 pt-10">
    <form class="clearfix" novalidate>
        <div class="clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="form-group">
                    <label class="control-label">Sub Module Name </label>
                    <input type="text" class="form-control input-sm"
                        data-ng-model="ExcelTemplateMenuCtrl.ePage.Masters.ExcelTemplate.FormView.SourceEntityRefKey"
                        placeholder="Code" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="form-group">
                    <label class="control-label">Key </label>
                    <input type="text" class="form-control input-sm"
                        data-ng-model="ExcelTemplateMenuCtrl.ePage.Masters.ExcelTemplate.FormView.Key"
                        placeholder="EntitySource" />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">&nbsp;</label>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                    data-ng-model="ExcelTemplateMenuCtrl.ePage.Masters.ExcelTemplate.FormView.IsJSON"
                                    class="colored-blue">
                                <span class="text">Is Active</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="form-group">
                    <label class="control-label">
                        Notification Config
                        <i class="fa fa-pencil cursor-pointer ml-5"
                            data-ng-click="ExcelTemplateMenuCtrl.ePage.Masters.ExcelTemplate.OpenNotificationTemplateModal()"></i>
                    </label>
                    <textarea class="form-control input-sm no-resize" rows="8"
                        data-ng-model="ExcelTemplateMenuCtrl.ePage.Masters.ExcelTemplate.FormView.Value"
                        placeholder="Notification Config"></textarea>
                </div>
            </div>
        </div>
        <div class="section-divider-small mb-10"></div>
        <div class="clearfix">
            <button class="btn btn-primary btn-xs pull-right mr-10"
                data-ng-click="ExcelTemplateMenuCtrl.ePage.Masters.ExcelTemplate.SaveExcelTemplate()" data-ng-bind="ExcelTemplateMenuCtrl.ePage.Masters.ExcelTemplate.SaveButtonText" data-ng-disabled="ExcelTemplateMenuCtrl.ePage.Masters.ExcelTemplate.IsDisableSave"></button>
            <button class="btn btn-default btn-xs pull-right mr-10" data-ng-click="ExcelTemplateMenuCtrl.ePage.Masters.TestTemplate.OnTestTemplateBtnClick()">Test Template</button>
        </div>
        <div class="section-divider-small mb-20 mt-10"></div>
    </form>

    <div class="clearfix"
        data-ng-if="ExcelTemplateMenuCtrl.ePage.Masters.TestTemplate.SearchKeywords && ExcelTemplateMenuCtrl.ePage.Masters.TestTemplate.IsToggleTestTemplate">
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th class="th-fieldname">Field Name</th>
                    <th class="th-value">Value</th>
                    <th class="th-action">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-if="!ExcelTemplateMenuCtrl.ePage.Masters.TestTemplate.SearchKeywords">
                    <td colspan="2" class="text-center p-10">
                        <i class="fa fa-spin fa-spinner" style="font-size:18px;"></i>
                    </td>
                </tr>
                <tr data-ng-if="ExcelTemplateMenuCtrl.ePage.Masters.TestTemplate.SearchKeywords.length==0">
                    <td colspan="3" class="text-center p-10">
                        <i>No Records...!</i>
                    </td>
                </tr>
                <tr data-ng-repeat="x in ExcelTemplateMenuCtrl.ePage.Masters.TestTemplate.SearchKeywords">
                    <td>
                        <input class="set-tabel-text form-control" type="text" data-ng-model="x.FieldName"
                            placeholder="Field Name">
                    </td>
                    <td>
                        <input class="set-tabel-text form-control" type="text" data-ng-model="x.Value"
                            placeholder="Value">
                    </td>
                    <td class="text-center">
                        <span class="text-danger"
                            data-ng-click="ExcelTemplateMenuCtrl.ePage.Masters.TestTemplate.RemoveRecord($index)">
                            <i class="glyphicon glyphicon-trash text-danger cursor-pointer"></i>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <a class="p-10 pull-left" href="javascript:(0);"
                            data-ng-click="ExcelTemplateMenuCtrl.ePage.Masters.TestTemplate.AddNewRow()">Add
                            new Record…</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="section-divider-small mb-20"></div>
        <div class="clearfix form-horizontal">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 p-0">
                <div class="form-group">
                    <label class="control-label col-sm-4">Download As</label>
                    <div class="col-sm-8">
                        <select chosen class="form-control"
                            data-ng-options="x.Code as x.Desc for x in ExcelTemplateMenuCtrl.ePage.Masters.TestTemplate.FileTypeList"
                            data-ng-model="ExcelTemplateMenuCtrl.ePage.Masters.TestTemplate.FileType" search-contains="true">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 p-0"
                data-ng-if="ExcelTemplateMenuCtrl.ePage.Masters.TestTemplate.FileType">
                <button class="btn btn-default tc-btn-save btn-xs ml-10 mt-4" data-ng-click="ExcelTemplateMenuCtrl.ePage.Masters.TestTemplate.OnExecuteTestTemplate()" data-ng-bind="ExcelTemplateMenuCtrl.ePage.Masters.TestTemplate.ExecuteBtnTxt" data-ng-disabled="ExcelTemplateMenuCtrl.ePage.Masters.TestTemplate.IsDisableExecuteBtn"></button>
            </div>
        </div>
    </div>
</div>

<!-- Notification Template -->
<script type="text/ng-template" id="ExceltemplateEditNotification">
    <div class="modal-header">
        <h5 class="modal-title" id="modal-title">
            <strong>Notification Template</strong>
            <button class="btn btn-xs btn-primary pull-right ml-10" data-ng-click="ExcelTemplateMenuCtrl.ePage.Masters.ExcelTemplate.PrepareNotificationTemplate()">OK</button>
            <button class="btn btn-xs btn-default pull-right ml-10" data-ng-click="ExcelTemplateMenuCtrl.ePage.Masters.ExcelTemplate.CloseNotificationTemplateModal()">Close</button>
        </h5>
    </div>
    <div class="modal-body p-10" id="modal-body">
        <notification-template-formatter input="ExcelTemplateMenuCtrl.ePage.Masters.ExcelTemplate.FormView.NotificationObject"></notification-template-formatter>
    </div>
</script>
