<div class="clearfix" style="margin-left: -14px;">
    <div class="widget-main ">
        <uib-tabset id="OrderLine">
            <!--Order Details-->
            <uib-tab>
                <uib-tab-heading title="Outward">
                    <i class="fa fa-th-list margin-right-5" ></i> <span class="text-single-line" data-ng-bind="'Outward'"></span>
                </uib-tab-heading>
                <!--<outward-general current-outward="OutwardFormCtrl.ePage.Masters.OutwardDetails"></outward-general>-->
                <div class="OrderLineForm">
                    <div class="clearfix padding-top-20">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                            <div class="form-group">
                                <div class="error-warning-container">
                                    <error-warning-directive data-ng-if="OutwardFormCtrl.ePage.Masters.Meta.ErrorWarning.ClientCode.IsWarning && !OutwardFormCtrl.ePage.Masters.Meta.ErrorWarning.ClientCode.IsError"
                                        list="OutwardFormCtrl.ePage.Masters.Meta.ErrorWarning.ClientCode.WARNING" type="'warning'"
                                        icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                                    <error-warning-directive data-ng-if="OutwardFormCtrl.ePage.Masters.Meta.ErrorWarning.ClientCode.IsError" list="OutwardFormCtrl.ePage.Masters.Meta.ErrorWarning.ClientCode.ERROR"
                                        type="'error'" icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                                </div>
                                <label class="control-label text-single-line">Client</label>
                                <div class="input-group input-group-sm">

                                    <!-- Dynamic look up Search in textbox -->
                                    <div dynamic-lookup placeholder="Client Code And Name" my-ng-model="OutwardFormCtrl.ePage.Masters.ClientCode" auto-complete-on-select="OutwardFormCtrl.ePage.Masters.SelectedLookupDataClient($item)"
                                        obj="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader" prefix-data="'OrganizationList'"
                                        config="'WarehouseClient'">
                                    </div>

                                    <!-- Look Up page opens when button clicks -->
                                    <span class="input-group-btn">
                                            <button dynamic-list-modal obj="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader" field-name="'WarehouseClient'" selected-data="OutwardFormCtrl.ePage.Masters.SelectedLookupDataClient($item)"  prefix-data="'OrganizationList'" mode ="2" grid-refresh-fun-name="" grid-refresh-fun=""  class="btn btn-default shiny" type="button"><i class="fa fa-ellipsis-h"></i></button>
                                    </span>
                                    <span ng-if="!OutwardFormCtrl.ePage.Masters.ClientCode">
                                        <span data-ng-init="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader.ClientCode=''"></span>
                                        <span data-ng-init="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader.ClientName=''"></span>
                                    </span>
                                    <span ng-if='!OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader.ClientCode'>
                                        <div ng-init="OutwardFormCtrl.ePage.Masters.OnChangeValues(OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader.ClientCode,'E8502')"></div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                            <div class="form-group">
                                <label class="control-label text-single-line">Consignee</label>
                                <div class="input-group input-group-sm">

                                    <!-- Dynamic look up Search in textbox -->
                                    <div dynamic-lookup placeholder="Consignee" my-ng-model="OutwardFormCtrl.ePage.Masters.Consignee" auto-complete-on-select="OutwardFormCtrl.ePage.Masters.SelectedLookupDataConsignee($item)"
                                        obj="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader" prefix-data="'OrganizationList'"
                                        config="'WarehouseConsignee'">
                                    </div>

                                    <!-- Look Up page opens when button clicks -->
                                    <span class="input-group-btn">
                                            <button dynamic-list-modal obj="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader" field-name="'WarehouseConsignee'" selected-data="OutwardFormCtrl.ePage.Masters.SelectedLookupDataConsignee($item)"  prefix-data="'OrganizationList'" mode ="2" grid-refresh-fun-name="" grid-refresh-fun=""  class="btn btn-default shiny" type="button"><i class="fa fa-ellipsis-h"></i></button>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                            <div class="form-group">
                                <div class="error-warning-container">
                                    <error-warning-directive data-ng-if="OutwardFormCtrl.ePage.Masters.Meta.ErrorWarning.WarehouseCode.IsWarning && !OutwardFormCtrl.ePage.Masters.Meta.ErrorWarning.WarehouseCode.IsError"
                                        list="OutwardFormCtrl.ePage.Masters.Meta.ErrorWarning.WarehouseCode.WARNING"
                                        type="'warning'" icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                                    <error-warning-directive data-ng-if="OutwardFormCtrl.ePage.Masters.Meta.ErrorWarning.WarehouseCode.IsError" list="OutwardFormCtrl.ePage.Masters.Meta.ErrorWarning.WarehouseCode.ERROR"
                                        type="'error'" icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                                </div>
                                <label class="control-label text-single-line">Warehouse</label>
                                <div class="input-group input-group-sm">

                                    <!-- Dynamic look up Search in textbox -->
                                    <div dynamic-lookup placeholder="Warehouse" my-ng-model="OutwardFormCtrl.ePage.Masters.WarehouseCode" auto-complete-on-select="OutwardFormCtrl.ePage.Masters.SelectedLookupDataWarehouse($item)"
                                        obj="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader" prefix-data="'Warehouse'"
                                        config="'WarhouseCode'">
                                    </div>

                                    <!-- Look Up page opens when button clicks -->
                                    <span class="input-group-btn">
                                        <button dynamic-list-modal obj="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader" field-name="'WarhouseCode'" 
                                            selected-data="OutwardFormCtrl.ePage.Masters.SelectedLookupDataWarehouse($item)"  prefix-data="'Warehouse'" mode ="2" grid-refresh-fun-name="" grid-refresh-fun=""  class="btn btn-default shiny" type="button"><i class="fa fa-ellipsis-h"></i></button>
                                    </span>
                                    <span ng-if="!OutwardFormCtrl.ePage.Masters.WarehouseCode">
                                        <span data-ng-init="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader.WarehouseCode=''"></span>
                                        <span data-ng-init="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader.WarehouseName=''"></span>
                                    </span>
                                    <span ng-if='!OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader.WarehouseCode'>
                                        <div ng-init="OutwardFormCtrl.ePage.Masters.OnChangeValues(OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader.Warehouse,'E8501')"></div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!--Order Number-->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                            <div class="form-group">
                                <label class="control-label text-single-line">Order Number</label>
                                <div class="">
                                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched" placeholder="Order Number"
                                        data-ng-model="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader.CustomerReference">
                                </div>
                            </div>
                        </div>

                        <!--Customer Reference-->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                            <div class="form-group">
                                <label class="control-label text-single-line">Customer Reference</label>
                                <div class="">
                                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched" placeholder="Customer Reference"
                                        data-ng-model="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader.ExternalReference">
                                </div>
                            </div>
                        </div>

                        <!--Required Date-->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                            <div class="form-group">
                                <div class="error-warning-container">
                                    <error-warning-directive data-ng-if="OutwardFormCtrl.ePage.Masters.Meta.ErrorWarning.RequiredDate.IsWarning && !OutwardFormCtrl.ePage.Masters.Meta.ErrorWarning.RequiredDate.IsError"
                                        list="OutwardFormCtrl.ePage.Masters.Meta.ErrorWarning.RequiredDate.WARNING" type="'warning'"
                                        icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                                    <error-warning-directive data-ng-if="OutwardFormCtrl.ePage.Masters.Meta.ErrorWarning.RequiredDate.IsError" list="OutwardFormCtrl.ePage.Masters.Meta.ErrorWarning.RequiredDate.ERROR"
                                        type="'error'" icon="fa fa-warning" parent-type="'null'" parent-ref="" g-parent-ref=""></error-warning-directive>
                                </div>
                                <label class="control-label text-single-line">RequiredDate</label>
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" placeholder="{{OutwardFormCtrl.ePage.Masters.DatePicker.Options.format}}" data-ng-model="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader.RequiredDate"
                                        data-ng-click="OutwardFormCtrl.ePage.Masters.DatePicker.OpenDatePicker($event, 'isRequiredDate')"
                                        uib-datepicker-popup="{{OutwardFormCtrl.ePage.Masters.DatePicker.Options.format}}" datepicker-options="OutwardFormCtrl.ePage.Masters.DatePicker.Options"
                                        is-open="OutwardFormCtrl.ePage.Masters.DatePicker.isOpen['isRequiredDate']" ng-change="OutwardFormCtrl.ePage.Masters.OnChangeValues(OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader.RequiredDate,'E8503')"
                                    />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default shiny" data-ng-click="OutwardFormCtrl.ePage.Masters.DatePicker.OpenDatePicker($event, 'isRequiredDate')"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                            <div class="form-group">
                                <label class="control-label text-single-line">Service Level</label>
                                <div class="input-group input-group-sm">

                                    <!-- Dynamic look up Search in textbox -->
                                    <div dynamic-lookup placeholder="Service Level Code And Description" my-ng-model="OutwardFormCtrl.ePage.Masters.ServiceCode_Desc"
                                        obj="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader" prefix-data="'MstServiceLevel'"
                                        config="'ServiceLevelCode'" auto-complete-on-select="OutwardFormCtrl.ePage.Masters.SelectedLookupCode_Desc($item)">
                                    </div>

                                    <!-- Look Up page opens when button clicks -->
                                    <span class="input-group-btn">
                                <button dynamic-list-modal obj="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader" field-name="'ServiceLevelCode'" selected-data="OutwardFormCtrl.ePage.Masters.SelectedLookupCode_Desc($item)"  prefix-data="'MstServiceLevel'" mode ="2" grid-refresh-fun-name="" grid-refresh-fun=""  class="btn btn-default shiny" type="button"><i class="fa fa-ellipsis-h"></i></button>
                        </span>

                                </div>
                            </div>
                        </div>

                        <!--Full Fillment Rule-->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                            <div class="form-group">
                                <label class="control-label text-single-line">Full Fillment Rule</label>
                                <div class="">
                                    <select chosen class="form-control" ng-model="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader.WmsOrderFulfillmentRule"
                                        ng-options="x.Key as x.Key + ' - '  + x.Value for x in OutwardFormCtrl.ePage.Masters.DropDownMasterList.WmsOrderFulfillmentRule.ListSource"
                                        search-contains="true">
                    <option value="">--Select--</option>
                    </select>
                                </div>
                            </div>
                        </div>

                        <!--Pick Options-->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                            <div class="form-group">
                                <label class="control-label text-single-line">Pick Options</label>
                                <div class="">
                                    <select chosen class="form-control" ng-model="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader.PickOption"
                                        ng-options="x.Key as x.Key + ' - '  + x.Value for x in OutwardFormCtrl.ePage.Masters.DropDownMasterList.PickOption.ListSource"
                                        search-contains="true">
                    <option value="">--Select--</option>
                    </select>
                                </div>
                            </div>
                        </div>
                        <!--Priority-->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                            <div class="form-group">
                                <label class="control-label text-single-line">Priority</label>
                                <div class="">
                                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched" placeholder="Priority" data-ng-model="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader.Priority">
                                </div>
                            </div>
                        </div>
                        <!--Vehicle No-->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                            <div class="form-group">
                                <label class="control-label text-single-line">Vehicle No</label>
                                <div class="">
                                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched" placeholder="Vehicle No" data-ng-model="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader.VehicleNo">
                                </div>
                            </div>
                        </div>


                        <!--Carrier Service Level-->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                            <div class="form-group">
                                <label class="control-label text-single-line">Carrier Service Level</label>
                                <div class="input-group input-group-sm">

                                    <!-- Dynamic look up Search in textbox -->
                                    <div dynamic-lookup="" placeholder="Carrier Service Level" my-ng-model="OutwardFormCtrl.ePage.Masters.CarrierCode_Desc" obj="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader"
                                        prefix-data="'CarrierServiceLevel'" config="'CarrierServiceLevelCode'" auto-complete-on-select="OutwardFormCtrl.ePage.Masters.SelectedLookupCarrier($item)">
                                    </div>

                                    <!-- Look Up page opens when button clicks -->
                                    <span class="input-group-btn">
                            <button dynamic-list-modal="" obj="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader" field-name="'CarrierServiceLevelCode'" selected-data="OutwardFormCtrl.ePage.Masters.SelectedLookupCarrier($item)"  prefix-data="'CarrierServiceLevel'" mode ="2" grid-refresh-fun-name="" grid-refresh-fun=""  class="btn btn-default shiny" type="button"><i class="fa fa-ellipsis-h"></i></button>
                    </span>

                                </div>
                            </div>
                        </div>

                        <!--Drop Mode-->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                            <div class="form-group">
                                <label class="control-label text-single-line">Drop Mode</label>
                                <div class="">
                                    <select chosen class="form-control" ng-model="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader.DropMode"
                                        ng-options="x.Key as x.Key + ' - '  + x.Value for x in OutwardFormCtrl.ePage.Masters.DropDownMasterList.DropMode.ListSource"
                                        search-contains="true">
                        <option value="">--Select--</option>
                    </select>
                                </div>
                            </div>
                        </div>

                        <!--Goods Description-->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
                            <div class="form-group">
                                <label class="control-label text-single-line">Goods Description</label>
                                <div class="">
                                    <input type="text" class="form-control input-sm ng-pristine ng-valid ng-not-empty ng-touched" placeholder="Goods Description"
                                        data-ng-model="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader.GoodsDescription">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <!--Order Line-->
            <uib-tab>
                <uib-tab-heading title="Outward Line">
                    <i class="fa fa-external-link margin-right-5"></i> <span class="text-single-line" data-ng-bind="'Outward Line'"></span>
                </uib-tab-heading>
                <!--<outward-line current-outward="OutwardFormCtrl.ePage.Masters.OutwardDetails"></outward-line>-->

                <div class="clearfix padding-top-20">
                    <div class="p-10">
                        <div class="wmstable_scroll" style="height:400px; padding-top: 2px;">
                            <div class="table" id="results">
                                <div class='theader'>
                                    <div class='table_header'>Product</div>
                                    <div class='table_header'>Commodity</div>
                                    <div class='table_header'>Pack</div>
                                    <div class='table_header'>Quantity</div>
                                    <div class='table_header'>Reserved Qty</div>
                                    <div class='table_header'>Shortfall Qty</div>
                                    <div class='table_header'>BOM Area</div>
                                    <div class='table_header'>Quantity Met</div>
                                    <div class='table_header' ng-show="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader.IMPartAttrib1Name">{{OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader.IMPartAttrib1Name}}</div>
                                    <div class='table_header' ng-show="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader.IMPartAttrib2Name">{{OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader.IMPartAttrib2Name}}</div>
                                    <div class='table_header' ng-show="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader.IMPartAttrib3Name">{{OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader.IMPartAttrib3Name}}</div>
                                    <div class='table_header' ng-show="!OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader.IMPartAttrib1Name">Part Attribute1</div>
                                    <div class='table_header' ng-show="!OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader.IMPartAttrib2Name">Part Attribute2</div>
                                    <div class='table_header' ng-show="!OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsOutwardHeader.IMPartAttrib3Name">Part Attribute3</div>
                                    <div class='table_header'>Comment</div>
                                    <div class='table_header'>Unit Price After Discount</div>
                                    <div class='table_header'>Extended Price</div>
                                    <div class='table_header'>Currency</div>
                                    <div class='table_header'>Pick Group</div>
                                </div>

                                <!-- List Empty Response -->
                                <div data-ng-if="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsWorkOrderLine.length==0">
                                    <div class="grid-no-record">No records found...</div>
                                </div>

                                <div class='table_row' ng-repeat="x in OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsWorkOrderLine  track by $index"
                                    ng-class="{row_active: OutwardFormCtrl.ePage.Masters.selectedRow==$index}" style="font-size: 11px;">
                                    <div class='table_small'>
                                        <div class='table_cell'>Product</div>
                                        <div class='table_cell'>{{x.ProductCode || "-"}} - {{x.ProductDescription || "-"}}</div>
                                    </div>
                                    <div class='table_small'>
                                        <div class='table_cell'>Commodity</div>
                                        <div class='table_cell'>{{x.Commodity || "-"}}</div>
                                    </div>
                                    <div class='table_small'>
                                        <div class='table_cell'>Pack</div>
                                        <div class='table_cell'>{{x.Units || OutwardFormCtrl.ePage.Masters.emptyText}}</div>
                                    </div>
                                    <div class='table_small'>
                                        <div class='table_cell'>Quantity</div>
                                        <div class='table_cell'>{{x.TotalUnits || OutwardFormCtrl.ePage.Masters.emptyText}}</div>
                                    </div>
                                    <div class='table_small'>
                                        <div class='table_cell'>Reserved Qty</div>
                                        <div class='table_cell'>{{x.ReservedUnit || OutwardFormCtrl.ePage.Masters.emptyText}}</div>
                                    </div>
                                    <div class='table_small'>
                                        <div class='table_cell'>Shortfall Qty</div>
                                        <div class='table_cell'>{{x.ShortQty || OutwardFormCtrl.ePage.Masters.emptyText}}</div>
                                    </div>
                                    <div class='table_small'>
                                        <div class='table_cell'>BOM Area</div>
                                        <div class='table_cell'>{{x.BOMArea || OutwardFormCtrl.ePage.Masters.emptyText}}</div>
                                    </div>
                                    <div class='table_small'>
                                        <div class='table_cell'>Quantity Met</div>
                                        <div class='table_cell'>{{x.QtyMet || OutwardFormCtrl.ePage.Masters.emptyText}}</div>
                                    </div>
                                    <div class='table_small' ng-show="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsInwardHeader.IMPartAttrib1Name">
                                        <div class='table_cell'>{{OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsInwardHeader.IMPartAttrib1Name}}</div>
                                        <div class='table_cell'>{{x.PartAttrib1 || OutwardFormCtrl.ePage.Masters.emptyText}}</div>
                                    </div>
                                    <div class='table_small' ng-show="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsInwardHeader.IMPartAttrib2Name">
                                        <div class='table_cell'>{{OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsInwardHeader.IMPartAttrib2Name}}</div>
                                        <div class='table_cell'>{{x.PartAttrib2 || OutwardFormCtrl.ePage.Masters.emptyText}}</div>
                                    </div>
                                    <div class='table_small' ng-show="OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsInwardHeader.IMPartAttrib3Name">
                                        <div class='table_cell'>{{OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsInwardHeader.IMPartAttrib3Name}}</div>
                                        <div class='table_cell'>{{x.PartAttrib3 || OutwardFormCtrl.ePage.Masters.emptyText}}</div>
                                    </div>
                                    <div class='table_small' ng-show="!OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsInwardHeader.IMPartAttrib1Name">
                                        <div class='table_cell'>Part Attribute1</div>
                                        <div class='table_cell'>{{x.PartAttrib1 || OutwardFormCtrl.ePage.Masters.emptyText}}</div>
                                    </div>
                                    <div class='table_small' ng-show="!OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsInwardHeader.IMPartAttrib2Name">
                                        <div class='table_cell'>Part Attribute2</div>
                                        <div class='table_cell'>{{x.PartAttrib2 || OutwardFormCtrl.ePage.Masters.emptyText}}</div>
                                    </div>
                                    <div class='table_small' ng-show="!OutwardFormCtrl.ePage.Masters.OutwardGeneralDetails.UIWmsInwardHeader.IMPartAttrib3Name">
                                        <div class='table_cell'>Part Attribute3</div>
                                        <div class='table_cell'>{{x.PartAttrib3 || OutwardFormCtrl.ePage.Masters.emptyText}}</div>
                                    </div>
                                    <div class='table_small'>
                                        <div class='table_cell'>Comment</div>
                                        <div class='table_cell'>{{x.LineComment || OutwardFormCtrl.ePage.Masters.emptyText}}</div>
                                    </div>
                                    <div class='table_small'>
                                        <div class='table_cell'>Unit Price After Discount</div>
                                        <div class='table_cell'>{{x.UnitPriceAfterDiscount || OutwardFormCtrl.ePage.Masters.emptyText}}</div>
                                    </div>
                                    <div class='table_small'>
                                        <div class='table_cell'>Extended Price</div>
                                        <div class='table_cell'>{{x.ExtendedLinePrice || OutwardFormCtrl.ePage.Masters.emptyText}}</div>
                                    </div>
                                    <div class='table_small'>
                                        <div class='table_cell'>Currency</div>
                                        <div class='table_cell'>{{x.CUR_UnitPriceCurrency || "-"}}</div>
                                    </div>
                                    <div class='table_small'>
                                        <div class='table_cell'>Pick Group</div>
                                        <div class='table_cell'>{{x.PickGroup || OutwardFormCtrl.ePage.Masters.emptyText}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>