<div data-ng-show="CrdUpdateBranchEditDirectiveCtrl.ePage.Masters.BulkUploadOpen">
    <div class="form-group">
        <div class="col-lg-5 p-0 pr-5">
            <div class="form-group">
                <label class="control-label text-single-line">Cargo Ready Date</label>
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" placeholder="{{CrdUpdateBranchEditDirectiveCtrl.ePage.Masters.DatePicker.Options.dateFormat}}"
                        data-ng-model="CrdUpdateBranchEditDirectiveCtrl.ePage.Masters.BulkInput.CargoReadyDate"
                        datetime-picker="{{CrdUpdateBranchEditDirectiveCtrl.ePage.Masters.DatePicker.Options.dateFormat}}"
                        datepicker-options="CrdUpdateBranchEditDirectiveCtrl.ePage.Masters.DatePicker.Options"
                        datepicker-append-to-body="false" close-on-selection="false" enable-time="false" enable-date="true"
                        default-date="" default-time="" save-as="CrdUpdateBranchEditDirectiveCtrl.ePage.Masters.DatePicker.Options.saveFormat"
                        is-open="CrdUpdateBranchEditDirectiveCtrl.ePage.Masters.DatePicker.isOpen['isCargoReadyDate']"
                        when-closed="" data-ng-click="CrdUpdateBranchEditDirectiveCtrl.ePage.Masters.DatePicker.OpenDatePicker($event, 'isCargoReadyDate')"
                        data-ng-change="" custom-date-time-format />
                    <span class="input-group-btn">
                        <button class="btn btn-default shiny" data-ng-click="CrdUpdateBranchEditDirectiveCtrl.ePage.Masters.DatePicker.OpenDatePicker($event, 'isCargoReadyDate')">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-7 p-0 pr-5">
            <div class="form-group">
                <label class="control-label text-single-line">Comments</label>
                <div class="input-group input-group-sm">
                    <textarea class="form-control no-resize" placeholder="Enter your comments" data-ng-model="CrdUpdateBranchEditDirectiveCtrl.ePage.Masters.BulkInput.Comments"
                        style="width: 220px;"> </textarea>
                </div>
            </div>
        </div>
        <div class="col-lg-12 p-0 pb-5">
            <div class="col-lg-3 pull-right">
                <button class="btn btn-blue btn-sm pull-right mt-6" title="Update" data-ng-disabled="CrdUpdateBranchEditDirectiveCtrl.ePage.Masters.IsDisableSave"
                    data-ng-click="CrdUpdateBranchEditDirectiveCtrl.ePage.Masters.BulkSave(CrdUpdateBranchEditDirectiveCtrl.ePage.Masters.BulkInput)">{{CrdUpdateBranchEditDirectiveCtrl.ePage.Masters.UpdateBtn}}</button>
            </div>
        </div>
    </div>
</div>