<div class="clearfix">
	<div class="col-lg-4">
		<div>Consingor :</div>
		<a class="my-task-content-shipper-link" href="javascript: void(0)">{{ReceiveAsnVnmDirectiveCtrl.ePage.Entities.Header.Data.UIShipmentHeader.ORG_Shipper_Code}}</a>
	</div>
	<div class="col-lg-4">
		<div>Consingee :</div>
		<a class="my-task-content-shipper-link" href="javascript: void(0)">{{ReceiveAsnVnmDirectiveCtrl.ePage.Entities.Header.Data.UIShipmentHeader.ORG_Consignee_Code}}</a>
	</div>
	<div class="col-lg-4 text-right pr-0 pl-28">
		<div class="row mt-10">
			<div class="col-lg-6">
				<button class="btn btn-primary btn-sm pull-right fs-12 mt-5 mb-5 ml-10" ata-ng-disabled="ReceiveAsnVnmDirectiveCtrl.ePage.Masters.IsMisMatch"
				 data-ng-click="ReceiveAsnVnmDirectiveCtrl.ePage.Masters.Approval('Yes')">{{ReceiveAsnVnmDirectiveCtrl.ePage.Masters.IsMisMatchBtn}}</button>
			</div>
			<div class="col-lg-6">
				<button class="btn btn-secondary btn-sm pull-right fs-12 mt-5 mb-5" data-ng-disabled="ReceiveAsnVnmDirectiveCtrl.ePage.Masters.IsNoMisMatch"
				 data-ng-click="ReceiveAsnVnmDirectiveCtrl.ePage.Masters.Approval('No')">{{ReceiveAsnVnmDirectiveCtrl.ePage.Masters.IsNoMisMatchBtn}}</button>
			</div>
		</div>
	</div>