.wocstatus2{
    font-size: 14px;
    color: green;
    font-weight: 700
}


.border{
    border: 1px solid #ccc;
}
.menu-desc{
    font-weight: 600; 
    font-size: 15px;
}

.font-style{
    font-size: 11px;
    font-style: oblique;
}

.headerstyle{
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid;
}

.hide-icon{
    cursor: not-allowed !important;
}