.patch-action {
  width: 100%;
  float: left;
  padding: 0;
  border: 1px solid #eee;
}

.patch-action li {
  width: 100%;
  float: left;
  list-style: none;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.patch-top-title {
  width: 100%;
  float: left;
  font-weight: bold;
  padding: 8px 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.alignment {
  margin-top: 8px !important;
}

.spa-spin {
  overflow: hidden;
  position: absolute;
  /* height: 100%; */
  z-index: 9999;
  background-color: rgba(176, 176, 176, 0.2);
}

.spa-spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spa-spinner>div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spa-spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spa-spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spa-spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spa-spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {

  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4)
  }

  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {

  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.dropbox {
  /* margin-top: 10px; */
  /* height: 5.7em; */
  /* border: 2px solid #DDD; */
  /* border-radius: 8px; */
  background-color: #FEFFEC;
  text-align: center;
  color: #BBB;
  font-size: 30px;
  font-family: Arial, sans-serif;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.file-upload {
  padding: 71px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  -moz-box-shadow: 0 1px 1px 0px #ddd;
  -webkit-box-shadow: 0 1px 1px 0px #ddd;
  box-shadow: 0 1px 1px 0px #ddd;
  border-radius: 4px;
}

.table-file-upload {
  margin-left: 0px;
  width: 100%;
  overflow-y: auto;
  min-height: 150px;
}