.full-page {
    background: #f5f7fa !important;
    min-height: 500px;
}

#style-1::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#style-1::-webkit-scrollbar {
    width: 6px;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.dashboard-border {
    padding: 0px 0px 1px 1px;
    border: 1px solid #eee;
}

.width-50 {
    width: 50px;
}

.dashboard-widget {
    height: 300px;
    display: block;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    background: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 12px 0 rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 12px 0 rgba(0, 0, 0, 0.09);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 12px 0 rgba(0, 0, 0, 0.09);
}

.dashboard-fixedheader {
    margin-left: 0px !important;
    margin-top: 1px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    border: 0px solid #cacad6;
    overflow-x: auto;
}

/* custom-widget */

.dashboard-widget-caption {
    line-height: 25px;
    padding: 0;
    margin-top: 7px;
    float: left;
    text-align: left;
    vertical-align: middle;
    font-weight: 500 !important;
    font-size: 15px !important;
}

.bordered-bottom {
    border-bottom: 2px solid #eee;
}

.dashboard-widget-header {
    position: relative;
    min-height: 40px;
    background-color: #1084ad;
    /* background-image: linear-gradient(#1084ad, #ffffff61); */
    background-image: radial-gradient(circle, #1084ad, #ffffff40);
    color: white;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    box-shadow: 0 0 4px rgba(0, 0, 0, .3);
    padding-left: 10px;
    text-align: right;
}

/* Customize components */

.dropdown i.icon {
    float: left;
    border-right: 1px solid #ddd;
    padding: 4px 10px;
    font-size: 16px;
    cursor: pointer;
    color: rgb(170, 170, 170);
}

.dropdown.open>.dropdown-menu.static-width {
    min-width: 215px;
    width: 550px;
}

.dropdown.open>.dropdown-menu {
    max-height: 545px;
}

.dropdown.open>.dropdown-menu .input-search {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
}

.dropdown.open>.dropdown-menu .inner-section {
    overflow-y: auto;
    max-height: 450px;
    width: 100%;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.filter-set-height {
    height: calc(100vh - 192px);
    height: -webkit-calc(100vh - 192px);
    height: -moz-calc(100vh - 192px);
    overflow-y: auto;
}

.dashboard-table {
    display: inline-table !important;
}

.dashboard-button-component {
    /* -webkit-box-shadow: 0 2px 0 #6f9a37;
    box-shadow: 0 2px 0 #6f9a37; */
    position: relative;
    font-size: 16px;
    padding: 10px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-weight: 600;
    /* background-color: #82b440; */
}

.dashboard-component {
    float: left;
    cursor: pointer;
    transition: all .4s ease;
    border: solid 2px transparent;
    text-align: center;
}

.height-310 {
    height: 310px;
}

.input-search {
    background-color: transparent !important;
    border: 0 !important;
    border-bottom: 1px solid #ddd !important;
    box-shadow: none !important;
}

.dashboard-filter .dynamic-filter-sidebar-wrapper.open {
    right: 0;
    top: 5px;
    left: -330px;
}

.dashboard-filter .dynamic-filter-sidebar-wrapper {
    left: 225px;
    position: absolute;
    top: 0;
    border: 1px solid #ccc;
    border-right: 0;
    background-color: #f9f9f9;
    -webkit-transition: 250ms cubic-bezier(0.1, .57, .1, 1);
    -moz-transition: 250ms cubic-bezier(0.1, .57, .1, 1);
    -ms-transition: 250ms cubic-bezier(0.1, .57, .1, 1);
    -o-transition: 250ms cubic-bezier(0.1, .57, .1, 1);
    transition: 250ms cubic-bezier(0.1, .57, .1, 1);
    z-index: 10;
}

/* button icon directive */

.label {
    position: absolute;
    color: white;
    font: 500 12px sans-serif;
    left: 56px;
    user-select: none;
}

.bottom {
    bottom: 5px;
}

.red {
    background: #df0024;
}

.blue {
    background: #00a9ec;
}

.orange {
    background: #ff9000;
}

.green {
    background: #0e5d30;
}

.purple {
    background: #8b0189;
}

div[class^="icon"] {
    width: 45px;
    height: 45px;
    margin: 20px auto;
    background-size: 45px 45px;
}

.dashboard-box {
    height: 95px;
    font-size: 4em;
    float: left;
    position: relative;
    cursor: pointer;
    transition: all .4s ease;
    border: solid 2px transparent;
    text-align: center;
    line-height: 76px;
    margin: 0 10px 10px 0;
    color: #FFFFFF;
}

/* Dashboard setting - box */

.databox.radius-bordered {
    -webkit-border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px;
    -moz-background-clip: padding;
    border-radius: 3px;
    background-clip: padding-box;
}

.dashboard-databox {
    display: inline-block;
    width: 90%;
    height: 65px;
    padding: 0;
    font-size: 0;
    margin-bottom: 30px;
    vertical-align: top;
    min-width: 130px;
}

.bg-white {
    background-color: #fff !important;
}

.databox.radius-bordered .databox-left {
    -webkit-border-radius: 3px 0 0 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 3px 0 0 3px;
    -moz-background-clip: padding;
    border-radius: 3px 0 0 3px;
    background-clip: padding-box;
}

.dashboard-databox .databox-left[class*="bg-"] {
    color: #fff;
}

.dashboard-databox .databox-left {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 0;
    width: 65px;
    height: 65px;
    padding: 10px;
    color: #2dc3e8;
}

.bg-themeprimary {
    background-color: #2dc3e8 !important;
}

.dashboard-databox .databox-piechart {
    padding-top: 0;
    margin: 0 auto;
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.dashboard-setting-edit.address>.modal-dialog {
    width: 90% !important;
}

.modalheader {
    font-size: 15px;
    font-weight: 700;
}

.dashboard-databox .databox-right {
    border: 1px solid #eee;
    border-radius: 0 3px 3px 0;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    -lh-property: 0;
    width: -webkit-calc(100% - 65px);
    width: -moz-calc(100% - 65px);
    width: calc(100% - 65px);
    height: 65px;
    color: #555;
    padding: 5px 10px;
}

.dashboard-databox .databox-stat {
    display: inline-block;
    position: absolute;
    right: 0px;
    /* top: 7px; */
    /* padding: 2px 5px; */
}

.dashboard-databox .databox-text {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin: 4px 0 2px;
    position: relative;
}

.dashboard-databox .databox-stat .stat-icon.icon-lg {
    font-size: 16px;
}

.dashboard-databox .databox-stat .stat-icon {
    display: inline-block;
    font-size: 13px;
}

.dashboard-setting-icon {
    padding: 4px 10px;
    font-size: 13px;
    cursor: pointer;
    color: rgb(170, 170, 170);
}