.shipment-menu>.nav-tabs.nav-justified>li>a {
    /*border-right: 1px dotted !important;*/
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
}


/*.shipment-menu>.nav-tabs.nav-justified>li>a:last-child {
    border: none !important;
}

.shipment-menu>.nav-tabs.nav-justified>li {
    padding: 2px 0;
}

.shipment-menu>.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:focus {
    background-color: #808080;
    color: white;
}
*/

.shipment-menu>.nav-tabs.nav-justified>.show-address-sidebar {
    position: absolute;
    top: -2px;
    right: 0;
    height: 28px;
    margin: 0;
    padding: 0;
    width: 25px;
    min-width: 25px;
    z-index: 15;
    max-width: 25px;
    outline: none;
}

.shipment-menu>.nav-tabs.nav-justified {
    /*padding-right: 24px;*/
    /*overflow: hidden;*/
}

.shipment-menu-wraper {
    margin-bottom: 40px;
}
